<div class="container mt-4">
    <c-card>
      <c-card-body>
        <form cForm #addLeaveForm="ngForm" (ngSubmit)="onSubmit()">
          <div cRow [gutter]="3">
            <h5 class="mb-3">Leave</h5>
              <c-col [md]="4">
                <label cLabel for="employeeId">Employee PMS</label>
                <input type="text" 
                name="empCardNo" 
                #Pms = "ngModel"
                [(ngModel)]="empCardNo" 
                cFormControl id="employeeId" 
                (input)="onEmpIdChange($event)"/>

                @if((Pms.invalid&&Pms.touched)||(isValidPMS==false&&Pms.touched)) {
                  <div class="text-left text-danger">Valid PMS is required</div>
                }
              </c-col>
              <c-col [md]="4">
                <label cLabel for="employeeName">Employee Name</label>
                <input type="text" readonly [(ngModel)]="employeeName" name="employeeName" cFormControl id="employeeName" />
              </c-col>
              <c-col [md]="4">
                <label cLabel for="leaveType">Leave Type</label>
                <select 
                required
                name="leaveTypeId"
                #leaveType = "ngModel"
                (change)="getLeaveAmount()"
                [(ngModel)]="this.addLeaveService.addLeaveModel.leaveTypeId"
                #leavType = "ngModel"
                cSelect 
                cFormControl id="leaveType">
                  <option [ngValue]="null" selected>Select Leave Type</option>
                  @for (leaveType of LeaveTypeOption; track $index) {
                    <option [ngValue]="leaveType.id">{{leaveType.name}}</option>
                  }
                </select>
                @if (leaveType.invalid&&leaveType.touched) {
                  <div class="text-left text-danger">Leave Type is required</div>
                }
              </c-col>

              <c-col [md]="4">
                <label cLabel for="startDate">Start Date</label>
                <input type="date" 
                required
                #startDate = "ngModel"
                (change)="getLeaveAmount()"
                name="fromDate"
                [(ngModel)]="this.addLeaveService.addLeaveModel.fromDate"
                cFormControl id="startDate" />
                @if(startDate.invalid && startDate.touched) {
                  <div class="text-left text-danger">Start Date is required</div>
                }
              </c-col>
              <c-col [md]="4">
                <label cLabel for="endDate">End Date</label>
                <input type="date" 
                required
                (change)="getLeaveAmount()"
                name="toDate"
                #endDate = "ngModel"
                [(ngModel)]="this.addLeaveService.addLeaveModel.toDate"
                cFormControl id="endDate" />

                @if(endDate.invalid&&endDate.touched) {
                  <div class="text-left text-danger">End Date is required</div>
                }
              </c-col>
              <c-col [md]="4">
                <label cLabel for="totalLeaveDue">Total Leave Due</label>
                <input 
                name="totalLeaveDue" 
                [(ngModel)]="totalDue"
                type="text" 
                readonly
                cFormControl id="totalLeaveDue" />
              </c-col>
              <c-col [md]="4">
                <label cLabel for="totalLeaveDays">Total Leave Days</label>
                <input type="text" 
                readonly
                [(ngModel)] = "totalLeave"
                name="totalLeaveDays" 
                cFormControl id="totalLeaveDays" />
              </c-col>
              <c-col [md]="4">
                <label cLabel for="leavePurpose">Leave Purpose</label>
                <input type="text" 
                required
                #leavePurpose = "ngModel"
                name="leavePurpose" 
                [(ngModel)]="this.addLeaveService.addLeaveModel.leavePurpose"
                cFormControl id="leavePurpose" />

                @if(leavePurpose.invalid&&leavePurpose.touched) {
                  <div class="text-left text-danger">Leave Purpose is required</div>
                }
              </c-col>
              <c-col [md]="4">
                <label cLabel for="remarks">Remarks</label>
                <input 
                type="text" 
                name="remark" 
                [(ngModel)]="this.addLeaveService.addLeaveModel.remark"
                cFormControl id="remarks" />
              </c-col>
            
          </div>
  
          <div class="mt-4">
            <h5 class="mb-3">Foreign Leave</h5>
            <c-row>
              <c-col [md]="4">
                <label cLabel for="country">Country</label>
                <select 
                name="countryId"
                [(ngModel)]="this.addLeaveService.addLeaveModel.countryId"
                cSelect 
                cFormControl id="country">
                  <option [ngValue]="null">Select Country</option>
                  @for (country of CountryOption; track $index) {
                    <option [ngValue]="country.id">{{country.name}}</option>
                  }
                </select>
              </c-col>
              <c-col [md]="4">
                <label cLabel for="purpose">Purpose</label>
                <input type="text"
                name="foreignLeavePurpose"
                [(ngModel)] = "this.addLeaveService.addLeaveModel.foreignLeavePurpose"
                cFormControl id="purpose" />
              </c-col>
              <c-col [md]="4">
                <label cLabel for="accompanyBy">Accompany by</label>
                <input 
                type="text" 
                name="accompanyBy"
                [(ngModel)]="this.addLeaveService.addLeaveModel.accompanyBy"
                cFormControl 
                id="accompanyBy" />
              </c-col>
            </c-row>
          </div>
  
          <div class="mt-4">
            <h5 class="mb-3">Leave Associate File Upload</h5>
            <c-row>
              <c-col class="mb-4" [md]="4">
                <input 
                type="file" 
                (change)="handleFile($event)"
                name="associatedFiles"
                cFormControl />
              </c-col>
            </c-row>
          </div>
  
          <div class="d-flex justify-content-end">
            <button 
            cButton 
            type="submit" 
            color="primary" 
            [disabled]="addLeaveForm.invalid||loading||!isValidPMS"
            class="me-2">
            <c-spinner [hidden]="loading == false" size="sm"></c-spinner>
            Submit</button>
            <button cButton color="dark" (click)="onReset()">Cancel</button>
          </div>
        </form>
      </c-card-body>
    </c-card>
  </div>
  