c-card-header {
    background-color:cadetblue;
}

.borderless td, .borderless th {
    border: none;
}

.border-left {
    border-left: 3px solid cadetblue;
}
.table_mergin_bottom {
    border-bottom: 2px solid gray;
}

