c-card-header, .modal-header {
    background-color:cadetblue;
    color: white;
}

.borderless td, .borderless th {
    border: none;
}

.border-left {
    border-left: 3px solid cadetblue;
}
.table_mergin_bottom {
    border-bottom: 2px solid gray;
}

.modal {
    display: block;
}
.scrollable-modal-body {
    max-height: 80vh; /* Adjust the height as needed */
    overflow-y: auto;
  }