<c-card>
    <c-card-header class="text-center">
        <h5>Report on Employee Management</h5>
    </c-card-header>
    <c-card-body>
        <div cRow [gutter]="2" class="mb-2">   

            <c-col [md]="3" >
              <label cLabel for="queryType">Query Type<span class="text-danger"></span></label>
              <select cSelect [(ngModel)]="queryTypeName" name="queryTypeName" #queryValue="ngModel" cFormControl (change)="onTypeChange()">
                  <option value="">Select Query Type</option>
                  <option value="Employee Type">Employee Type</option>
                  <option value="Gender">Gender</option>
                  <option value="Marital Status">Marital Status</option>
                  <option value="Blood Group">Blood Group</option>
                  <option value="Religion">Religion</option>
              </select>
            </c-col>

            <c-col [md]="3">
              <label cLabel for="Department">Department<span class="text-danger"></span></label>
              <div class="input-wrapper">
                <select (change)="onDepartmentSelect(departmentId)"
                    [(ngModel)]="departmentId" name="departmentId" #Department="ngModel"
                    cFormControl id="Department" aria-label="Default select example" cSelect>
                    <option [ngValue]=0>Select Department</option>
        
                    @for(department of departments; track department.id;let index=$index) {
                    <option [value]="department.id">
                    {{ department.name }}
                    </option>
                    }
                </select>
              </div>
          </c-col>
          
          <c-col [md]="3">
              <label cLabel for="sectionId">Section<span class="text-danger"></span></label>
              <div class="input-wrapper">
                <select [(ngModel)]="sectionId" name="sectionId" #Section="ngModel"
                    cFormControl id="sectionId" aria-label="Default select example" cSelect
                    (change)="onSectionSelect()">
                    <option [ngValue]=0>Select Section</option>
        
                    @for(section of sections; track section.id;let index=$index) {
                    <option [value]="section.id">
                    {{ section.name }}
                    </option>
                    }
                </select>
              </div>
          </c-col>
        </div>

        <div cRow class="d-flex justify-content-center" *ngIf="queryTypeName" [gutter]="2">
            <c-col [md]="4">
                <div class="ps-3 pe-3 text-light bg-success p-2 rounded" (click)="onTypeValueChange('All', 0)">
                    <h6 class="m-0">All {{queryTypeName}}<label *ngIf="queryCount.totalAssigned > 0">s</label></h6>
                    <p>{{queryCount.totalAssigned}} Employee<label *ngIf="queryCount.totalAssigned > 0">s</label></p>
                </div>
            </c-col>
            <c-col [md]="4">
                <div class="ps-3 pe-3 text-light bg-warning p-2 rounded" (click)="onTypeValueChange('Unassigned', 0)">
                    <h6 class="m-0">No {{queryTypeName}}<label *ngIf="queryCount.totalNull > 0">s</label></h6>
                    <p>{{queryCount.totalNull}} Employee<label *ngIf="queryCount.totalNull > 0">s</label></p>
                </div>
            </c-col>
        </div>
        
        <div cRow class="d-flex justify-content-center mt-0" *ngIf="queryTypeName" [gutter]="2">
          <c-col *ngFor="let info of queryCount.countReportingInfo; index as i" [md]="3">
            <div class="ps-3 pe-3 text-light bg-danger p-2 rounded"  (click)="onTypeValueChange(info.name, info.id)">
              <h6 class="m-0">{{info.name}}</h6>
              <p>{{info.count}} Employee<label *ngIf="info.count > 0">s</label></p>
            </div>
          </c-col>
        </div>

        <c-card class="mt-2" *ngIf="queryTypeName">
            <c-card-header>
                Employee List - <label class="text-danger fw-bold">{{typeName}}</label> {{queryTypeName}}
            </c-card-header>
            <c-card-body class="p-0">
                <div class="table-responsive">
                    <table mat-table [dataSource]="dataSource">
                      <!-- Position Column -->
                      <ng-container matColumnDef="slNo">
                        <th mat-header-cell *matHeaderCellDef>SL</th>
                        <td mat-cell *matCellDef="let element; let i = index">{{ i + 1 }}</td>
                      </ng-container>
                      
                      <ng-container matColumnDef="employee">
                        <th mat-header-cell *matHeaderCellDef>Employee</th>
                        <td mat-cell *matCellDef="let element">
                            {{ element.empName }} ({{ element.idCardNo }})
                        </td>
                      </ng-container>
            
                      <ng-container matColumnDef="department/section">
                        <th mat-header-cell *matHeaderCellDef>Department/Section</th>
                        <td mat-cell *matCellDef="let element">
                          {{ element.departmentName ?? "" }}<label *ngIf="element.sectionName">, {{ element.sectionName}}</label>
                        </td>
                      </ng-container>
                      
                      <ng-container matColumnDef="designation">
                        <th mat-header-cell *matHeaderCellDef>Designation</th>
                        <td mat-cell *matCellDef="let element">
                          {{ element.designationName }}
                        </td>
                      </ng-container>
                      
                      <ng-container matColumnDef="typeName">
                        <th mat-header-cell *matHeaderCellDef>{{queryTypeName}}</th>
                        <td mat-cell *matCellDef="let element">
                          <c-badge color="primary">{{ element.typeName }}</c-badge>
                        </td>
                      </ng-container>
                      
                      <ng-container matColumnDef="phone">
                        <th mat-header-cell *matHeaderCellDef>Contact Number</th>
                        <td mat-cell *matCellDef="let element">
                          {{ element.contactNumber }}
                        </td>
                      </ng-container>
                      
                      <ng-container matColumnDef="status">
                        <th mat-header-cell *matHeaderCellDef>Status</th>
                        <td mat-cell *matCellDef="let element">
                          <c-badge color="success" *ngIf="element.status">Active</c-badge>
                          <c-badge color="warning" *ngIf="!element.status">Inactive</c-badge>
                        </td>
                      </ng-container>
            
                      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                    </table>
                  </div>
            </c-card-body>
            <c-card-footer class="text-medium-emphasis p-0">
                <mat-paginator 
                  [length]="pagination.length"
                  [pageSize]="pagination.pageSize"
                  [pageSizeOptions]="pagination.pageSizeOptions"
                  [showFirstLastButtons]="true"
                  (page)="onPageChange($event)">
                </mat-paginator>    
            </c-card-footer>
        </c-card>
    </c-card-body>
</c-card>