<c-card>
    <c-card-body>
      <form #DeptReleaseInfoForm="ngForm" name="DeptReleaseInfoForm" name="EmployeeForm"
        (submit)="onSubmit(DeptReleaseInfoForm)" [gutter]="3" novalidate cForm cRow>
        <c-card-header>Departmental Release Information</c-card-header>
        <c-col [md]="3">
          <input type="hidden" [(ngModel)]="transferApproveInfoService.transferApproveInfos.empId" name="empId" />
          <label cLabel for="validationCustom05">Relese Type<span class="text-danger">*</span></label>
          <input [(ngModel)]="deptReleaseInfoService.deptReleaseInfo.releaseType" name="releaseType"
            #releaseType="ngModel" placeholder="Enter Release Type" cFormControl id="validationCustom05" required
            type="text" value="Mark" />
          @if(!releaseType.valid&&releaseType.touched){
          <div class="text-left text-danger">Release Type is required</div>
          }
        </c-col>
        <c-col [md]="3">
          <input type="hidden" [(ngModel)]="transferApproveInfoService.transferApproveInfos.postingOrderInfoId" name="postingOrderInfoId" />
          <label cLabel for="validationCustom06">Relese Date<span class="text-danger">*</span></label>
          <input [(ngModel)]="deptReleaseInfoService.deptReleaseInfo.releaseDate" name="releaseDate"
            #releaseDate="ngModel" placeholder="Enter Relese Date Status" cFormControl id="validationCustom06" required
            type="date" value="Mark" />
          @if(!releaseDate.valid&&releaseDate.touched){
          <div class="text-left text-danger">Relese Date is required</div>
          }
        </c-col>
        <c-col [md]="3">
            <input type="hidden" [(ngModel)]="transferApproveInfoService.transferApproveInfos.transferApproveInfoId" name="transferApproveInfoId" />
          <label cLabel for="validationCustom51">Approve By <span class="text-danger">*</span></label>
          <input (dblclick)="openApproveDepartmentRelease()"
            [(ngModel)]="deptReleaseInfoService.deptReleaseInfo.approveByName" name="approveByName" #approveBy="ngModel"
            placeholder="Enter Approve By " cFormControl id="validationCustom51" required type="text" value="Mark" />
          <input [(ngModel)]="deptReleaseInfoService.deptReleaseInfo.approveBy" name="approveBy" hidden />
          <div *ngIf="approveBy.touched && !approveBy.valid" class="text-left text-danger">Approve By value is
            required</div>
        </c-col>
        <c-col [md]="3">
          <label cLabel for="validationCustom09">Active Status</label>
          <select [(ngModel)]="deptReleaseInfoService.deptReleaseInfo.isActive" name="isActive" cSelect
            id="validationCustom09">
            <option value="true">Approve</option>
            <option value="false">Reject</option>
          </select>
        </c-col>

        <c-col [md]="3">
          <label cLabel for="validationCustom07">Referenc no <span class="text-danger">*</span></label>
          <input [(ngModel)]="deptReleaseInfoService.deptReleaseInfo.referenceNo" name="referenceNo"
            #referenceNo="ngModel" placeholder="Enter References Status" cFormControl id="validationCustom07" required
            type="text" value="Mark" />
          @if(!referenceNo.valid&&referenceNo.touched){
          <div class="text-left text-danger">References No is required</div>
          }
        </c-col>

        <c-col [md]="3">
          <label cLabel for="validationCustom08">Depertmental Clearance<span class="text-danger">*</span></label>
          <input [(ngModel)]="deptReleaseInfoService.deptReleaseInfo.depClearance" name="depClearance"
            #depClearance="ngModel" placeholder="Enter Departmental Clearance" cFormControl id="validationCustom08"
            required type="text" value="Mark" />
          @if(!depClearance.valid&&depClearance.touched){
          <div class="text-left text-danger">Departmental Clearance required</div>
          }
        </c-col>

        <c-col [md]="3">
          <label cLabel for="validationCustom09">Remarks<span class="text-danger">*</span></label>
          <input [(ngModel)]="deptReleaseInfoService.deptReleaseInfo.remarks" name="remarks" #remarks="ngModel"
            placeholder="Enter Remarks " cFormControl id="validationCustom09" required type="text" value="Mark" />
          @if(!remarks.valid&&remarks.touched){
          <div class="text-left text-danger">Remarks required</div>
          }
        </c-col>
        <c-col [xs]="12">
            <button [disabled]="DeptReleaseInfoForm.invalid" cButton class="me-1" color="primary" type="submit">
              {{ btnText }}
            </button>
            <button cButton color="secondary" (click)="resetdeptReleaseInfoForm()">Reset</button>
          </c-col>
      </form>

    </c-card-body>
  </c-card>
