<c-card >
    <c-card-body>
      <form #EmpTransferPostingJoinForm="ngForm" name="EmpTransferPostingJoinForm"
        (submit)="onSubmit(EmpTransferPostingJoinForm)" [gutter]="3" novalidate cForm cRow>
        <c-card-header>Employee Transfer/Posting Joining</c-card-header>
        <c-col [md]="3">
          <input type="hidden" [(ngModel)]="deptReleaseInfoService.deptReleaseInfo.empId" name="empId" />
          <label cLabel for="validationCustom01">Join Date<span class="text-danger">*</span></label>
          <input [(ngModel)]="empTnsferPostingJoinService.empTnsferPostingJoin.joinDate" name="joinDate"
            #joinDate="ngModel" placeholder="Enter Join Date" cFormControl id="validationCustom01" required type="date"
            value="Mark" />
          @if(!joinDate.valid&&joinDate.touched){
          <div class="text-left text-danger">Join Date is required</div>
          }
        </c-col>
        <c-col [md]="3">
          <label cLabel for="validationCustom1">Approve Status</label>
        <select [(ngModel)]="empTnsferPostingJoinService.empTnsferPostingJoin.approveStatus" name="approveStatus"
          cSelect id="validationCustom01">
          <option value="true">Approve</option>
          <option value="false">Reject</option>
        </select>
      </c-col>
        <c-col [md]="3">
          <input type="hidden" [(ngModel)]="postingOrderInfoService.postingOrderInfos.postingOrderInfoId" name="postingOrderInfoId" />
          <input type="hidden" [(ngModel)]="deptReleaseInfoService.deptReleaseInfo.depReleaseInfoId" name="depReleaseInfoId" />
          <input type="hidden" [(ngModel)]="deptReleaseInfoService.deptReleaseInfo.transferApproveInfoId" name="transferApproveInfoId" />

          <label cLabel for="validationCustom55">Approve By <span class="text-danger">*</span></label>
          <input (dblclick)="openApproveEmpTransferJoin()"
            [(ngModel)]="empTnsferPostingJoinService.empTnsferPostingJoin.approveByName" name="approveByName"
            #approveBy="ngModel" placeholder="Enter Approve By " cFormControl id="validationCustom55" required
            type="text" value="Mark" />
          <input [(ngModel)]="empTnsferPostingJoinService.empTnsferPostingJoin.approveBy" name="approveBy" hidden />
          <div *ngIf="approveBy.touched && !approveBy.valid" class="text-left text-danger">Approve By value is
            required</div>
        </c-col>
        
        <c-col [md]="3">
          <label cLabel for="validationCustom02">Remarks<span class="text-danger">*</span></label>
          <input type="hidden" [(ngModel)]="empTnsferPostingJoinService.empTnsferPostingJoin.empTnsferPostingJoinId" name="empTnsferPostingJoinId" />
          <input [(ngModel)]="empTnsferPostingJoinService.empTnsferPostingJoin.remarks" name="remarks"
            #remarks="ngModel" placeholder="Enter Remarks " cFormControl id="validationCustom02" required type="text"
            value="Mark" />
          @if(!remarks.valid&&remarks.touched){
          <div class="text-left text-danger">Remarks required</div>
          }
        </c-col>

        <c-col [xs]="12">
          <button [disabled]="EmpTransferPostingJoinForm.invalid" cButton class="me-1" color="primary" type="submit">
            {{ btnText }}
          </button>
          <button cButton color="secondary" (click)="resetFormEmpTnsferPostingJoin()">Reset</button>
        </c-col>
      </form>
    </c-card-body>
  </c-card>