/bin/
/Hrm.Api/appsettings.json
/Hrm.Api/obj
/Hrm.Api/bin
/Hrm.Api/wwwroot
/Hrm.Application/bin
/Hrm.Application/obj
/Hrm.Application.UnitTests/obj
/Hrm.Application.UnitTests/bin
/Hrm.Domain/obj
/Hrm.Domain/bin
/Hrm.Identity/bin
/Hrm.Identity/obj
/Hrm.Infrastructure/bin
/Hrm.Infrastructure/obj
/Hrm.Persistence/bin
/Hrm.Persistence/obj
/Hrm.Shared/bin
/Hrm.Shared/obj
/Hrm.TestModelgenerate
/testmodel
/Hrm.testdomain
/.vs

