<div class="container mt-4">
  <c-card>
    <c-card-header>ACR Staff Form</c-card-header>

    <c-card-body>
      <c-button-group aria-label="Basic example" role="group">
        <button cButton color="primary" [routerLink]="['/appraisal/staffForm']">Part-1</button>
        <button cButton color="primary" [active]="true">Part-2</button>
        <button cButton color="primary" [routerLink]="['/appraisal/staffForm3']">Part-3</button>
      </c-button-group>
    </c-card-body>

    <c-card>
      <c-card-body>
        <div class="mb-4">
          <h5>Appraisals should be recorded by signature in the appropriate box.</h5>
          <p>"A-1 Very Good", "A- Good", "B- Current level", "C-Below current level" & "D- Not satisfactory"</p>
        </div>
        <form cForm>
          <div class="table-responsive">
            <table cTable [striped]="true">
              <thead>
                <tr>
                  <th scope="col">SL No</th>
                  <th scope="col">Description</th>
                  <th scope="col">A</th>
                  <th scope="col">B</th>
                  <th scope="col">C</th>
                  <th scope="col">D</th>
                  <th scope="col">E</th>
                  <th scope="col">Remarks</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>Intelligence and human activity</td>
                  <td>
                    <c-form-check inline>
                      <input cFormCheckInput id="radio1-1" name="group1" type="radio" />
                      <label cFormCheckLabel for="radio1-1"></label>
                    </c-form-check>
                  </td>
                  <td>
                    <c-form-check inline>
                      <input cFormCheckInput id="radio1-2" name="group1" type="radio" />
                      <label cFormCheckLabel for="radio1-2"></label>
                    </c-form-check>
                  </td>
                  <td>
                    <c-form-check inline>
                      <input cFormCheckInput id="radio1-3" name="group1" type="radio" />
                      <label cFormCheckLabel for="radio1-3"></label>
                    </c-form-check>
                  </td>
                  <td>
                    <c-form-check inline>
                      <input cFormCheckInput id="radio1-4" name="group1" type="radio" />
                      <label cFormCheckLabel for="radio1-4"></label>
                    </c-form-check>
                  </td>
                  <td>
                    <c-form-check inline>
                      <input cFormCheckInput id="radio1-5" name="group1" type="radio" />
                      <label cFormCheckLabel for="radio1-5"></label>
                    </c-form-check>
                  </td>
                  <td><input type="text" cFormControl></td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>Professional Knowledge</td>
                  <td>
                    <c-form-check inline>
                      <input cFormCheckInput id="radio2-1" name="group2" type="radio" />
                      <label cFormCheckLabel for="radio2-1"></label>
                    </c-form-check>
                  </td>
                  <td>
                    <c-form-check inline>
                      <input cFormCheckInput id="radio2-2" name="group2" type="radio" />
                      <label cFormCheckLabel for="radio2-2"></label>
                    </c-form-check>
                  </td>
                  <td>
                    <c-form-check inline>
                      <input cFormCheckInput id="radio2-3" name="group2" type="radio" />
                      <label cFormCheckLabel for="radio2-3"></label>
                    </c-form-check>
                  </td>
                  <td>
                    <c-form-check inline>
                      <input cFormCheckInput id="radio2-4" name="group2" type="radio" />
                      <label cFormCheckLabel for="radio2-4"></label>
                    </c-form-check>
                  </td>
                  <td>
                    <c-form-check inline>
                      <input cFormCheckInput id="radio2-5" name="group2" type="radio" />
                      <label cFormCheckLabel for="radio2-5"></label>
                    </c-form-check>
                  </td>
                  <td><input type="text" cFormControl></td>
                </tr>
                <tr>
                  <td rowspan="3">3</td>
                  <td>Expressive Power</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td>&nbsp;&nbsp;&nbsp;A. Writing</td>
                  <td><input cFormCheckInput id="radio3a-1" name="group3a" type="radio" /></td>
                  <td><input cFormCheckInput id="radio3a-2" name="group3a" type="radio" /></td>
                  <td><input cFormCheckInput id="radio3a-3" name="group3a" type="radio" /></td>
                  <td><input cFormCheckInput id="radio3a-4" name="group3a" type="radio" /></td>
                  <td><input cFormCheckInput id="radio3a-5" name="group3a" type="radio" /></td>
                  <td><input type="text" cFormControl></td>
                </tr>
                <tr>
                  <td>&nbsp;&nbsp;&nbsp;B. Speaking</td>
                  <td><input cFormCheckInput id="radio3b-1" name="group3b" type="radio" /></td>
                  <td><input cFormCheckInput id="radio3b-2" name="group3b" type="radio" /></td>
                  <td><input cFormCheckInput id="radio3b-3" name="group3b" type="radio" /></td>
                  <td><input cFormCheckInput id="radio3b-4" name="group3b" type="radio" /></td>
                  <td><input cFormCheckInput id="radio3b-5" name="group3b" type="radio" /></td>
                  <td><input type="text" cFormControl></td>
                </tr>
                <tr>
                  <td>4</td>
                  <td>Initiative</td>
                  <td><input cFormCheckInput id="radio4-1" name="group4" type="radio" /></td>
                  <td><input cFormCheckInput id="radio4-2" name="group4" type="radio" /></td>
                  <td><input cFormCheckInput id="radio4-3" name="group4" type="radio" /></td>
                  <td><input cFormCheckInput id="radio4-4" name="group4" type="radio" /></td>
                  <td><input cFormCheckInput id="radio4-5" name="group4" type="radio" /></td>
                  <td><input type="text" cFormControl></td>
                </tr>
                <tr>
                  <td>4</td>
                  <td>Initiative</td>
                  <td>
                    <c-form-check inline>
                      <input cFormCheckInput id="radio4-1" name="group4" type="radio" />
                      <label cFormCheckLabel for="radio4-1"></label>
                    </c-form-check>
                  </td>
                  <td>
                    <c-form-check inline>
                      <input cFormCheckInput id="radio4-2" name="group4" type="radio" />
                      <label cFormCheckLabel for="radio4-2"></label>
                    </c-form-check>
                  </td>
                  <td>
                    <c-form-check inline>
                      <input cFormCheckInput id="radio4-3" name="group4" type="radio" />
                      <label cFormCheckLabel for="radio4-3"></label>
                    </c-form-check>
                  </td>
                  <td>
                    <c-form-check inline>
                      <input cFormCheckInput id="radio4-4" name="group4" type="radio" />
                      <label cFormCheckLabel for="radio4-4"></label>
                    </c-form-check>
                  </td>
                  <td>
                    <c-form-check inline>
                      <input cFormCheckInput id="radio4-5" name="group4" type="radio" />
                      <label cFormCheckLabel for="radio4-5"></label>
                    </c-form-check>
                  </td>
                  <td><input type="text" cFormControl></td>
                </tr>
                <tr>
                  <td>5</td>
                  <td>Quality and Quantity of work</td>
                  <td>
                    <c-form-check inline>
                      <input cFormCheckInput id="radio5-1" name="group5" type="radio" />
                      <label cFormCheckLabel for="radio5-1"></label>
                    </c-form-check>
                  </td>
                  <td>
                    <c-form-check inline>
                      <input cFormCheckInput id="radio5-2" name="group5" type="radio" />
                      <label cFormCheckLabel for="radio5-2"></label>
                    </c-form-check>
                  </td>
                  <td>
                    <c-form-check inline>
                      <input cFormCheckInput id="radio5-3" name="group5" type="radio" />
                      <label cFormCheckLabel for="radio5-3"></label>
                    </c-form-check>
                  </td>
                  <td>
                    <c-form-check inline>
                      <input cFormCheckInput id="radio5-4" name="group5" type="radio" />
                      <label cFormCheckLabel for="radio5-4"></label>
                    </c-form-check>
                  </td>
                  <td>
                    <c-form-check inline>
                      <input cFormCheckInput id="radio5-5" name="group5" type="radio" />
                      <label cFormCheckLabel for="radio5-5"></label>
                    </c-form-check>
                  </td>
                  <td><input type="text" cFormControl></td>
                </tr>
                <tr>
                  <td>6</td>
                  <td>Cooperation and prudence</td>
                  <td>
                    <c-form-check inline>
                      <input cFormCheckInput id="radio6-1" name="group6" type="radio" />
                      <label cFormCheckLabel for="radio6-1"></label>
                    </c-form-check>
                  </td>
                  <td>
                    <c-form-check inline>
                      <input cFormCheckInput id="radio6-2" name="group6" type="radio" />
                      <label cFormCheckLabel for="radio6-2"></label>
                    </c-form-check>
                  </td>
                  <td>
                    <c-form-check inline>
                      <input cFormCheckInput id="radio6-3" name="group6" type="radio" />
                      <label cFormCheckLabel for="radio6-3"></label>
                    </c-form-check>
                  </td>
                  <td>
                    <c-form-check inline>
                      <input cFormCheckInput id="radio6-4" name="group6" type="radio" />
                      <label cFormCheckLabel for="radio6-4"></label>
                    </c-form-check>
                  </td>
                  <td>
                    <c-form-check inline>
                      <input cFormCheckInput id="radio6-5" name="group6" type="radio" />
                      <label cFormCheckLabel for="radio6-5"></label>
                    </c-form-check>
                  </td>
                  <td><input type="text" cFormControl></td>
                </tr>
                <tr>
                  <td>7</td>
                  <td>Interest and hard work</td>
                  <td>
                    <c-form-check inline>
                      <input cFormCheckInput id="radio7-1" name="group7" type="radio" />
                      <label cFormCheckLabel for="radio7-1"></label>
                    </c-form-check>
                  </td>
                  <td>
                    <c-form-check inline>
                      <input cFormCheckInput id="radio7-2" name="group7" type="radio" />
                      <label cFormCheckLabel for="radio7-2"></label>
                    </c-form-check>
                  </td>
                  <td>
                    <c-form-check inline>
                      <input cFormCheckInput id="radio7-3" name="group7" type="radio" />
                      <label cFormCheckLabel for="radio7-3"></label>
                    </c-form-check>
                  </td>
                  <td>
                    <c-form-check inline>
                      <input cFormCheckInput id="radio7-4" name="group7" type="radio" />
                      <label cFormCheckLabel for="radio7-4"></label>
                    </c-form-check>
                  </td>
                  <td>
                    <c-form-check inline>
                      <input cFormCheckInput id="radio7-5" name="group7" type="radio" />
                      <label cFormCheckLabel for="radio7-5"></label>
                    </c-form-check>
                  </td>
                  <td><input type="text" cFormControl></td>
                </tr>
                <tr>
                  <td rowspan="3">8</td>
                  <td>Responsibility</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td>&nbsp;&nbsp;&nbsp;A. General</td>
                  <td><input cFormCheckInput id="radio8a-1" name="group8a" type="radio" /></td>
                  <td><input cFormCheckInput id="radio8a-2" name="group8a" type="radio" /></td>
                  <td><input cFormCheckInput id="radio8a-3" name="group8a" type="radio" /></td>
                  <td><input cFormCheckInput id="radio8a-4" name="group8a" type="radio" /></td>
                  <td><input cFormCheckInput id="radio8a-5" name="group8a" type="radio" /></td>
                  <td><input type="text" cFormControl></td>
                </tr>
                <tr>
                  <td>&nbsp;&nbsp;&nbsp;B. Financial Matters</td>
                  <td><input cFormCheckInput id="radio8b-1" name="group8b" type="radio" /></td>
                  <td><input cFormCheckInput id="radio8b-2" name="group8b" type="radio" /></td>
                  <td><input cFormCheckInput id="radio8b-3" name="group8b" type="radio" /></td>
                  <td><input cFormCheckInput id="radio8b-4" name="group8b" type="radio" /></td>
                  <td><input cFormCheckInput id="radio8b-5" name="group8b" type="radio" /></td>
                  <td><input type="text" cFormControl></td>
                </tr>
                

                <tr>
                  <td>9</td>
                  <td>Integrity and Reputation</td>
                  <td>
                    <c-form-check inline>
                      <input cFormCheckInput id="radio9-1" name="group9" type="radio" />
                      <label cFormCheckLabel for="radio9-1"></label>
                    </c-form-check>
                  </td>
                  <td>
                    <c-form-check inline>
                      <input cFormCheckInput id="radio9-2" name="group9" type="radio" />
                      <label cFormCheckLabel for="radio9-2"></label>
                    </c-form-check>
                  </td>
                  <td>
                    <c-form-check inline>
                      <input cFormCheckInput id="radio9-3" name="group9" type="radio" />
                      <label cFormCheckLabel for="radio9-3"></label>
                    </c-form-check>
                  </td>
                  <td>
                    <c-form-check inline>
                      <input cFormCheckInput id="radio9-4" name="group9" type="radio" />
                      <label cFormCheckLabel for="radio9-4"></label>
                    </c-form-check>
                  </td>
                  <td>
                    <c-form-check inline>
                      <input cFormCheckInput id="radio9-5" name="group9" type="radio" />
                      <label cFormCheckLabel for="radio9-5"></label>
                    </c-form-check>
                  </td>
                  <td><input type="text" cFormControl></td>
                </tr>
                <tr>
                  <td>10</td>
                  <td>Personality and Character</td>
                  <td>
                    <c-form-check inline>
                      <input cFormCheckInput id="radio10-1" name="group10" type="radio" />
                      <label cFormCheckLabel for="radio10-1"></label>
                    </c-form-check>
                  </td>
                  <td>
                    <c-form-check inline>
                      <input cFormCheckInput id="radio10-2" name="group10" type="radio" />
                      <label cFormCheckLabel for="radio10-2"></label>
                    </c-form-check>
                  </td>
                  <td>
                    <c-form-check inline>
                      <input cFormCheckInput id="radio10-3" name="group10" type="radio" />
                      <label cFormCheckLabel for="radio10-3"></label>
                    </c-form-check>
                  </td>
                  <td>
                    <c-form-check inline>
                      <input cFormCheckInput id="radio10-4" name="group10" type="radio" />
                      <label cFormCheckLabel for="radio10-4"></label>
                    </c-form-check>
                  </td>
                  <td>
                    <c-form-check inline>
                      <input cFormCheckInput id="radio10-5" name="group10" type="radio" />
                      <label cFormCheckLabel for="radio10-5"></label>
                    </c-form-check>
                  </td>
                  <td><input type="text" cFormControl></td>
                </tr>
                <tr>
                  <td>11</td>
                  <td>Health</td>
                  <td>
                    <c-form-check inline>
                      <input cFormCheckInput id="radio11-1" name="group11" type="radio" />
                      <label cFormCheckLabel for="radio11-1"></label>
                    </c-form-check>
                  </td>
                  <td>
                    <c-form-check inline>
                      <input cFormCheckInput id="radio11-2" name="group11" type="radio" />
                      <label cFormCheckLabel for="radio11-2"></label>
                    </c-form-check>
                  </td>
                  <td>
                    <c-form-check inline>
                      <input cFormCheckInput id="radio11-3" name="group11" type="radio" />
                      <label cFormCheckLabel for="radio11-3"></label>
                    </c-form-check>
                  </td>
                  <td>
                    <c-form-check inline>
                      <input cFormCheckInput id="radio11-4" name="group11" type="radio" />
                      <label cFormCheckLabel for="radio11-4"></label>
                    </c-form-check>
                  </td>
                  <td>
                    <c-form-check inline>
                      <input cFormCheckInput id="radio11-5" name="group11" type="radio" />
                      <label cFormCheckLabel for="radio11-5"></label>
                    </c-form-check>
                  </td>
                  <td><input type="text" cFormControl></td>
                </tr>
                <tr>
                  <td>12</td>
                  <td>Punctuality</td>
                  <td>
                    <c-form-check inline>
                      <input cFormCheckInput id="radio12-1" name="group12" type="radio" />
                      <label cFormCheckLabel for="radio12-1"></label>
                    </c-form-check>
                  </td>
                  <td>
                    <c-form-check inline>
                      <input cFormCheckInput id="radio12-2" name="group12" type="radio" />
                      <label cFormCheckLabel for="radio12-2"></label>
                    </c-form-check>
                  </td>
                  <td>
                    <c-form-check inline>
                      <input cFormCheckInput id="radio12-3" name="group12" type="radio" />
                      <label cFormCheckLabel for="radio12-3"></label>
                    </c-form-check>
                  </td>
                  <td>
                    <c-form-check inline>
                      <input cFormCheckInput id="radio12-4" name="group12" type="radio" />
                      <label cFormCheckLabel for="radio12-4"></label>
                    </c-form-check>
                  </td>
                  <td>
                    <c-form-check inline>
                      <input cFormCheckInput id="radio12-5" name="group12" type="radio" />
                      <label cFormCheckLabel for="radio12-5"></label>
                    </c-form-check>
                  </td>
                  <td><input type="text" cFormControl></td>
                </tr>
                <tr>
                  <td>13</td>
                  <td>Sense of Discipline</td>
                  <td>
                    <c-form-check inline>
                      <input cFormCheckInput id="radio13-1" name="group13" type="radio" />
                      <label cFormCheckLabel for="radio13-1"></label>
                    </c-form-check>
                  </td>
                  <td>
                    <c-form-check inline>
                      <input cFormCheckInput id="radio13-2" name="group13" type="radio" />
                      <label cFormCheckLabel for="radio13-2"></label>
                    </c-form-check>
                  </td>
                  <td>
                    <c-form-check inline>
                      <input cFormCheckInput id="radio13-3" name="group13" type="radio" />
                      <label cFormCheckLabel for="radio13-3"></label>
                    </c-form-check>
                  </td>
                  <td>
                    <c-form-check inline>
                      <input cFormCheckInput id="radio13-4" name="group13" type="radio" />
                      <label cFormCheckLabel for="radio13-4"></label>
                    </c-form-check>
                  </td>
                  <td>
                    <c-form-check inline>
                      <input cFormCheckInput id="radio13-5" name="group13" type="radio" />
                      <label cFormCheckLabel for="radio13-5"></label>
                    </c-form-check>
                  </td>
                  <td><input type="text" cFormControl></td>
                </tr>


              </tbody>
            </table>
          </div>
        </form>
      </c-card-body>
    </c-card>

    <c-card-footer>
      <div class="text-end">
        <button cButton color="primary" [routerLink]="[
        '/appraisal/staffForm3']">To be continue...</button>
      </div>
    </c-card-footer>
  </c-card>
</div>
