<div class="container mt-4">
  <c-card>
    <c-card-header>ACR Staff Form</c-card-header>

    <c-card-body>
      <c-button-group aria-label="Basic example" role="group">
        <button cButton color="primary" [routerLink]="['/appraisal/staffForm']">Part-1</button>
        <button cButton color="primary" [active]="true">Part-2</button>
        <button cButton color="primary" [routerLink]="['/appraisal/staffForm3']">Part-3</button>
      </c-button-group>
    </c-card-body>

    <c-card>
      <c-card-body>
        <div class="mb-4">
          <h5>Appraisals should be recorded by signature in the appropriate box.</h5>
          <p>"A-1 Very Good", "A- Good", "B- Current level", "C-Below current level" & "D- Not satisfactory"</p>
        </div>
        <form cForm
        #staffForm2="ngForm"
        (submit)="onSubmit(staffForm2)"
        novalidate>
          <div class="table-responsive">
            <table cTable [striped]="true">
              <thead>
                <tr>
                  <th scope="col">SL No</th>
                  <th scope="col">Description</th>
                  <th scope="col">A1</th>
                  <th scope="col">A</th>
                  <th scope="col">B</th>
                  <th scope="col">C</th>
                  <th scope="col">D</th>
                  <th scope="col" class="text-center"> Remarks</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>Intelligence and human activity</td>
                  <td>
                    <c-form-check inline>
                      <input cFormCheckInput type="radio" value="5"
                             [(ngModel)]="staffForm2Service.staffForm2module.intelligenceAndHumanActivityValue"
                             name="intelligenceAndHumanActivityValue"
                             #intelligenceAndHumanActivityValue="ngModel">
                    </c-form-check>
                  </td>
                  <td>
                    <c-form-check inline>
                      <input cFormCheckInput type="radio" value="4"
                             [(ngModel)]="staffForm2Service.staffForm2module.intelligenceAndHumanActivityValue"
                             name="intelligenceAndHumanActivityValue"
                             #intelligenceAndHumanActivityValue="ngModel">
                    </c-form-check>
                  </td>
                  <td>
                    <c-form-check inline>
                      <input cFormCheckInput type="radio" value="3"
                             [(ngModel)]="staffForm2Service.staffForm2module.intelligenceAndHumanActivityValue"
                             name="intelligenceAndHumanActivityValue"
                             #intelligenceAndHumanActivityValue="ngModel">
                    </c-form-check>
                  </td>
                  <td>
                    <c-form-check inline>
                      <input cFormCheckInput type="radio" value="2"
                             [(ngModel)]="staffForm2Service.staffForm2module.intelligenceAndHumanActivityValue"
                             name="intelligenceAndHumanActivityValue"
                             #intelligenceAndHumanActivityValue="ngModel">
                    </c-form-check>
                  </td>
                  <td>
                    <c-form-check inline>
                      <input cFormCheckInput type="radio" value="1"
                             [(ngModel)]="staffForm2Service.staffForm2module.intelligenceAndHumanActivityValue"
                             name="intelligenceAndHumanActivityValue"
                             #intelligenceAndHumanActivityValue="ngModel">
                    </c-form-check>
                  </td>
                  <td>
                    <input type="text" cFormControl
                           [(ngModel)]="staffForm2Service.staffForm2module.intelligenceAndHumanRemarks"
                           name="intelligenceAndHumanRemarks" 
                           #intelligenceAndHumanRemarks="ngModel">
                          @if (!intelligenceAndHumanRemarks.valid && intelligenceAndHumanRemarks.touched)
                          {
                            <div class="text-left text-danger">Intelligence and human activity is required</div>
                          }
                  </td>
                </tr>
                
                <tr>
                  <td>2</td>
                  <td>Professional Knowledge</td>
                  <td>
                    <c-form-check inline>
                      <input cFormCheckInput  type="radio" value="5" 
                      [(ngModel)]="staffForm2Service.staffForm2module.professionalKnowledgeValue"
                      name="professionalKnowledgeaValue"
                      #professionalKnowledgeaValue="ngModel">
                    </c-form-check>
                  </td>
                  <td>
                    <c-form-check inline>
                      <input cFormCheckInput  type="radio" value="4" 
                      [(ngModel)]="staffForm2Service.staffForm2module.professionalKnowledgeValue"
                      name="professionalKnowledgeValue"
                      #professionalKnowledgeValue="ngModel">
                    </c-form-check>
                  </td>
                  <td>
                    <c-form-check inline>
                      <input cFormCheckInput  type="radio" value="3" 
                      [(ngModel)]="staffForm2Service.staffForm2module.professionalKnowledgeValue"
                      name="professionalKnowledgeValue"
                      #professionalKnowledgeValue="ngModel">
                    </c-form-check>
                  </td>
                  <td>
                    <c-form-check inline>
                      <input cFormCheckInput  type="radio" value="2" 
                      [(ngModel)]="staffForm2Service.staffForm2module.professionalKnowledgeValue"
                      name="professionalKnowledgeValue"
                      #professionalKnowledgeValue="ngModel">
                    </c-form-check>
                  </td>
                  <td>
                    <c-form-check inline>
                      <input cFormCheckInput  type="radio" value="1" 
                      [(ngModel)]="staffForm2Service.staffForm2module.professionalKnowledgeValue"
                      name="professionalKnowledgeValue"
                      #professionalKnowledgeValue="ngModel">
                    </c-form-check>
                  </td>
                  <td>
                    <input type="text" cFormControl
                    [(ngModel)]="staffForm2Service.staffForm2module.professionalKnowledgeRemarks"
                    name="professionalKnowledgeRemarks" 
                    #professionalKnowledgeRemarks="ngModel">
                    @if(!professionalKnowledgeRemarks.valid && professionalKnowledgeRemarks.touched)
                    {
                      <div class="text-left text-danger">Professional Knowledge  is required </div>
                    } 
                  </td>
                </tr>
                <tr>
                  <td rowspan="3">3</td>
                  <td>Expressive Power</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td>&nbsp;&nbsp;&nbsp;A. Writing</td>
                  <td>
                    <input cFormCheckInput  type="radio" value="5"
                    [(ngModel)]="staffForm2Service.staffForm2module.expressivePowerWritingValue"
                    name="expressivePowerWritingValue"
                    #expressivePowerWritingValue="ngModel">
                  </td>
                  <td>
                    <input cFormCheckInput  type="radio" value="4"
                    [(ngModel)]="staffForm2Service.staffForm2module.expressivePowerWritingValue"
                    name="expressivePowerWritingValue"
                    #expressivePowerWritingValue="ngModel">
                  </td>
                  <td>
                    <input cFormCheckInput  type="radio" value="3"
                    [(ngModel)]="staffForm2Service.staffForm2module.expressivePowerWritingValue"
                    name="expressivePowerWritingValue"
                    #expressivePowerWritingValue="ngModel">
                  </td>
                  <td>
                    <input cFormCheckInput  type="radio" value="2"
                    [(ngModel)]="staffForm2Service.staffForm2module.expressivePowerWritingValue"
                    name="expressivePowerWritingValue"
                    #expressivePowerWritingValue="ngModel">
                  </td>
                  <td>
                    <input cFormCheckInput  type="radio" value="1"
                    [(ngModel)]="staffForm2Service.staffForm2module.expressivePowerWritingValue"
                    name="expressivePowerWritingValue"
                    #expressivePowerWritingValue="ngModel">
                  </td>
                  <td>
                    <input type="text" cFormControl
                    [(ngModel)]="staffForm2Service.staffForm2module.expressivePowerWritingRemarks"
                    name="expressivePowerWritingRemarks" 
                    #expressivePowerWritingRemarks="ngModel">
                    @if(!expressivePowerWritingRemarks.valid && expressivePowerWritingRemarks.touched)
                    {
                      <div class="text-left text-danger">Expressive Power Writing  is  </div>
                    } 
                  </td>
                </tr>
                <tr>
                  <td>&nbsp;&nbsp;&nbsp;B. Speaking</td>
                  <td>
                    <input cFormCheckInput  type="radio" value="1"
                    [(ngModel)]="staffForm2Service.staffForm2module.expressivePowerSpeakingValue"
                    name="expressivePowerSpeakingValue"
                    #expressivePowerSpeakingValue="ngModel">
                  </td>
                  <td>
                    <input cFormCheckInput  type="radio" value="4"
                    [(ngModel)]="staffForm2Service.staffForm2module.expressivePowerSpeakingValue"
                    name="expressivePowerSpeakingValue"
                    #expressivePowerSpeakingValue="ngModel">
                  </td>
                  <td>
                    <input cFormCheckInput  type="radio" value="3"
                    [(ngModel)]="staffForm2Service.staffForm2module.expressivePowerSpeakingValue"
                    name="expressivePowerSpeakingValue"
                    #expressivePowerSpeakingValue="ngModel">
                  </td>
                  <td>
                    <input cFormCheckInput  type="radio" value="2"
                    [(ngModel)]="staffForm2Service.staffForm2module.expressivePowerSpeakingValue"
                    name="expressivePowerSpeakingValue"
                    #expressivePowerSpeakingValue="ngModel">
                  </td>
                  <td>
                    <input cFormCheckInput  type="radio" value="1"
                    [(ngModel)]="staffForm2Service.staffForm2module.expressivePowerSpeakingValue"
                    name="expressivePowerSpeakingValue"
                    #expressivePowerSpeakingValue="ngModel">
                  </td>
                  <td>
                    <input type="text" cFormControl
                    [(ngModel)]="staffForm2Service.staffForm2module.expressivePowerSpeakingRemarks"
                    name="expressivePowerSpeakingRemarks" 
                    #expressivePowerSpeakingRemarks="ngModel">
                    @if(!expressivePowerSpeakingRemarks.valid && expressivePowerSpeakingRemarks.touched)
                    {
                      <div class="text-left text-danger">Expressive Power Speaking  is required </div>
                    } 
                  </td>
                </tr>
                <tr>
                  <td>4</td>
                  <td>Initiative</td>
                  <td>
                    <input cFormCheckInput  type="radio" value="5"
                    [(ngModel)]="staffForm2Service.staffForm2module.initiativeValue"
                    name="initiativeValue"
                    #initiativeValue="ngModel">
                  </td>
                  <td>
                    <input cFormCheckInput  type="radio" value="4"
                    [(ngModel)]="staffForm2Service.staffForm2module.initiativeValue"
                    name="initiativeValue"
                    #initiativeValue="ngModel">
                  </td>
                  <td>
                    <input cFormCheckInput  type="radio" value="3"
                    [(ngModel)]="staffForm2Service.staffForm2module.initiativeValue"
                    name="initiativeValue"
                    #initiativeValue="ngModel">
                  </td>
                  <td>
                    <input cFormCheckInput  type="radio" value="2"
                    [(ngModel)]="staffForm2Service.staffForm2module.initiativeValue"
                    name="initiativeValue"
                    #initiativeValue="ngModel">
                  </td>
                  <td>
                    <input cFormCheckInput  type="radio" value="1"
                    [(ngModel)]="staffForm2Service.staffForm2module.initiativeValue"
                    name="initiativeValue"
                    #initiativeValue="ngModel">
                  </td>
                  <td>
                    <input type="text" cFormControl
                    [(ngModel)]="staffForm2Service.staffForm2module.initiativeRemarks"
                    name="initiativeRemarks" 
                    #initiativeRemarks="ngModel">
                    @if(!initiativeRemarks.valid && initiativeRemarks.touched)
                    {
                      <div class="text-left text-danger">Initiative is required </div>
                    } 
                  </td>
                </tr>
               
                <tr>
                  <td>5</td>
                  <td>Quality and Quantity of work</td>
                  <td>
                    <c-form-check inline>
                      <input cFormCheckInput type="radio" value="5"
                      [(ngModel)]="staffForm2Service.staffForm2module.qualityAndQuantityOfWorkValue"
                      name="qualityAndQuantityOfWorkValue"
                      #qualityAndQuantityOfWorkValue="ngModel">
                    </c-form-check>
                  </td>
                  <td>
                    <c-form-check inline>
                      <input cFormCheckInput type="radio" value="4"
                      [(ngModel)]="staffForm2Service.staffForm2module.qualityAndQuantityOfWorkValue"
                      name="qualityAndQuantityOfWorkValue"
                      #qualityAndQuantityOfWorkValue="ngModel">
                    </c-form-check>
                  </td>
                  <td>
                    <c-form-check inline>
                      <input cFormCheckInput type="radio" value="3"
                      [(ngModel)]="staffForm2Service.staffForm2module.qualityAndQuantityOfWorkValue"
                      name="qualityAndQuantityOfWorkValue"
                      #qualityAndQuantityOfWorkValue="ngModel">
                    </c-form-check>
                  </td>
                  <td>
                    <c-form-check inline>
                      <input cFormCheckInput type="radio" value="2"
                      [(ngModel)]="staffForm2Service.staffForm2module.qualityAndQuantityOfWorkValue"
                      name="qualityAndQuantityOfWorkValue"
                      #qualityAndQuantityOfWorkValue="ngModel">
                    </c-form-check>
                  </td>
                  <td>
                    <c-form-check inline>
                      <input cFormCheckInput type="radio" value="1"
                      [(ngModel)]="staffForm2Service.staffForm2module.qualityAndQuantityOfWorkValue"
                      name="qualityAndQuantityOfWorkValue"
                      #qualityAndQuantityOfWorkValue="ngModel">
                    </c-form-check>
                  </td>
                  <td>
                    <input type="text" cFormControl
                    [(ngModel)]="staffForm2Service.staffForm2module.qualityAndQuantityOfWorkRemarks"
                    name="qualityAndQuantityOfWorkRemarks" 
                    #qualityAndQuantityOfWorkRemarks="ngModel">
                    @if(!qualityAndQuantityOfWorkRemarks.valid && qualityAndQuantityOfWorkRemarks.touched)
                    {
                      <div class="text-left text-danger">Quality And Quantity Of Work is required </div>
                    } 
                  </td>
                </tr>
                <tr>
                  <td>6</td>
                  <td>Cooperation and prudence</td>
                  <td>
                    <c-form-check inline>
                      <input cFormCheckInput type="radio" value="5"
                      [(ngModel)]="staffForm2Service.staffForm2module.cooperationAndPrudenceValue"
                      name="cooperationAndPrudenceValue"
                      #cooperationAndPrudenceValue="ngModel">
                    </c-form-check>
                  </td>
                  <td>
                    <c-form-check inline>
                      <input cFormCheckInput type="radio" value="4"
                      [(ngModel)]="staffForm2Service.staffForm2module.cooperationAndPrudenceValue"
                      name="cooperationAndPrudenceValue"
                      #cooperationAndPrudenceValue="ngModel">
                    </c-form-check>
                  </td>
                  <td>
                    <c-form-check inline>
                      <input cFormCheckInput type="radio" value="3"
                      [(ngModel)]="staffForm2Service.staffForm2module.cooperationAndPrudenceValue"
                      name="cooperationAndPrudenceValue"
                      #cooperationAndPrudenceValue="ngModel">
                    </c-form-check>
                  </td>
                  <td>
                    <c-form-check inline>
                      <input cFormCheckInput type="radio" value="2"
                      [(ngModel)]="staffForm2Service.staffForm2module.cooperationAndPrudenceValue"
                      name="cooperationAndPrudenceValue"
                      #cooperationAndPrudenceValue="ngModel">
                    </c-form-check>
                  </td>
                  <td>
                    <c-form-check inline>
                      <input cFormCheckInput type="radio" value="1"
                      [(ngModel)]="staffForm2Service.staffForm2module.cooperationAndPrudenceValue"
                      name="cooperationAndPrudenceValue"
                      #cooperationAndPrudenceValue="ngModel">
                    </c-form-check>
                  </td>
                  <td>
                    <input type="text" cFormControl
                    [(ngModel)]="staffForm2Service.staffForm2module.cooperationAndPrudenceRemarks"
                    name="cooperationAndPrudenceRemarks" 
                    #cooperationAndPrudenceRemarks="ngModel">
                    @if(!cooperationAndPrudenceRemarks.valid && cooperationAndPrudenceRemarks.touched)
                    {
                      <div class="text-left text-danger">Cooperation And Prudence is required </div>
                    } 
                  </td>
                </tr>
                <tr>
                  <td>7</td>
                  <td>Interest and hard work</td>
                  <td>
                    <c-form-check inline>
                      <input cFormCheckInput type="radio" value="5"
                      [(ngModel)]="staffForm2Service.staffForm2module.interestAndHardWorkValue"
                      name="interestAndHardWorkValue"
                      #interestAndHardWorkValue="ngModel">
                    </c-form-check>
                  </td>
                  <td>
                    <c-form-check inline>
                      <input cFormCheckInput type="radio" value="4"
                      [(ngModel)]="staffForm2Service.staffForm2module.interestAndHardWorkValue"
                      name="interestAndHardWorkValue"
                      #interestAndHardWorkValue="ngModel">
                    </c-form-check>
                  </td>
                  <td>
                    <c-form-check inline>
                      <input cFormCheckInput type="radio" value="3"
                      [(ngModel)]="staffForm2Service.staffForm2module.interestAndHardWorkValue"
                      name="interestAndHardWorkValue"
                      #interestAndHardWorkValue="ngModel">
                    </c-form-check>
                  </td>
                  <td>
                    <c-form-check inline>
                      <input cFormCheckInput type="radio" value="2"
                      [(ngModel)]="staffForm2Service.staffForm2module.interestAndHardWorkValue"
                      name="interestAndHardWorkValue"
                      #interestAndHardWorkValue="ngModel">
                    </c-form-check>
                  </td>
                  <td>
                    <c-form-check inline>
                      <input cFormCheckInput type="radio" value="1"
                      [(ngModel)]="staffForm2Service.staffForm2module.interestAndHardWorkValue"
                      name="interestAndHardWorkValue"
                      #interestAndHardWorkValue="ngModel">
                    </c-form-check>
                  </td>
                  <td>
                    <input type="text" cFormControl
                    [(ngModel)]="staffForm2Service.staffForm2module.interestAndHardWorkRemarks"
                    name="interestAndHardWorkRemarks" 
                    #interestAndHardWorkRemarks="ngModel">
                    @if(!interestAndHardWorkRemarks.valid && interestAndHardWorkRemarks.touched)
                    {
                      <div class="text-left text-danger">Interest and HardWork is required </div>
                    } 
                  </td>
                </tr>
                <tr>
                  <td rowspan="3">8</td>
                  <td>Responsibility</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td>&nbsp;&nbsp;&nbsp;A. General</td>
                  <td>
                    <input cFormCheckInput  type="radio"  value="5"
                    [(ngModel)]="staffForm2Service.staffForm2module.responsibilityGeneralValue"
                      name="responsibilityGeneralValue"
                    #responsibilityGeneralValue="ngModel">
                  </td>
                  <td>
                    <input cFormCheckInput  type="radio"  value="4"
                    [(ngModel)]="staffForm2Service.staffForm2module.responsibilityGeneralValue"
                      name="responsibilityGeneralValue"
                    #responsibilityGeneralValue="ngModel">
                  </td>
                  <td>
                    <input cFormCheckInput  type="radio"  value="3"
                    [(ngModel)]="staffForm2Service.staffForm2module.responsibilityGeneralValue"
                      name="responsibilityGeneralValue"
                    #responsibilityGeneralValue="ngModel">
                  </td>
                  <td>
                    <input cFormCheckInput  type="radio"  value="2"
                    [(ngModel)]="staffForm2Service.staffForm2module.responsibilityGeneralValue"
                      name="responsibilityGeneralValue"
                    #responsibilityGeneralValue="ngModel">
                  </td>
                  <td>
                    <input cFormCheckInput  type="radio"  value="1"
                    [(ngModel)]="staffForm2Service.staffForm2module.responsibilityGeneralValue"
                      name="responsibilityGeneralValue"
                    #responsibilityGeneralValue="ngModel">
                  </td>
                  <td>
                    <input type="text" cFormControl
                    [(ngModel)]="staffForm2Service.staffForm2module.responsibilityGeneralRemarks"
                    name="responsibilityGeneralRemarks" 
                    #responsibilityGeneralRemarks="ngModel">
                    @if(!responsibilityGeneralRemarks.valid && responsibilityGeneralRemarks.touched)
                    {
                      <div class="text-left text-danger">Responsibility General is required </div>
                    } 
                  </td>
                </tr>
                <tr>
                  <td>&nbsp;&nbsp;&nbsp;B. Financial Matters</td>
                  <td>
                    <input cFormCheckInput  type="radio"  value="5"
                    [(ngModel)]="staffForm2Service.staffForm2module.responsibilityFinancialMattersValue"
                      name="responsibilityFinancialMattersValue"
                    #responsibilityFinancialMattersValue="ngModel">
                  </td>
                  <td>
                    <input cFormCheckInput  type="radio"  value="4"
                    [(ngModel)]="staffForm2Service.staffForm2module.responsibilityFinancialMattersValue"
                      name="responsibilityFinancialMattersValue"
                    #responsibilityFinancialMattersValue="ngModel">
                  </td>
                  <td>
                    <input cFormCheckInput  type="radio"  value="3"
                    [(ngModel)]="staffForm2Service.staffForm2module.responsibilityFinancialMattersValue"
                      name="responsibilityFinancialMattersValue"
                    #responsibilityFinancialMattersValue="ngModel">
                  </td>
                  <td>
                    <input cFormCheckInput  type="radio"  value="2"
                    [(ngModel)]="staffForm2Service.staffForm2module.responsibilityFinancialMattersValue"
                      name="responsibilityFinancialMattersValue"
                    #responsibilityFinancialMattersValue="ngModel">
                  </td>
                  <td>
                    <input cFormCheckInput  type="radio"  value="1"
                    [(ngModel)]="staffForm2Service.staffForm2module.responsibilityFinancialMattersValue"
                      name="responsibilityFinancialMattersValue"
                    #responsibilityFinancialMattersValue="ngModel">
                  </td>
                  <td>
                    <input type="text" cFormControl
                    [(ngModel)]="staffForm2Service.staffForm2module.responsibilityFinancialMattersRemarks"
                    name="responsibilityFinancialMattersRemarks" 
                    #responsibilityFinancialMattersRemarks="ngModel">
                    @if(!responsibilityFinancialMattersRemarks.valid && responsibilityFinancialMattersRemarks.touched)
                    {
                      <div class="text-left text-danger">Responsibility Financial Matters is required </div>
                    } 
                  </td>
                </tr>
                

                <tr>
                  <td>9</td>
                  <td>Integrity and Reputation</td>
                  <td>
                    <c-form-check inline>
                      <input cFormCheckInput type="radio" value="5"
                      [(ngModel)]="staffForm2Service.staffForm2module.integrityAndReputationValue"
                      name="integrityAndReputationValue"
                      #integrityAndReputationValue="ngModel">
                    </c-form-check>
                  </td>
                  <td>
                    <c-form-check inline>
                      <input cFormCheckInput type="radio" value="4"
                      [(ngModel)]="staffForm2Service.staffForm2module.integrityAndReputationValue"
                      name="integrityAndReputationValue"
                      #integrityAndReputationValue="ngModel">
                    </c-form-check>
                  </td>
                  <td>
                    <c-form-check inline>
                      <input cFormCheckInput type="radio" value="3"
                      [(ngModel)]="staffForm2Service.staffForm2module.integrityAndReputationValue"
                      name="integrityAndReputationValue"
                      #integrityAndReputationValue="ngModel">
                    </c-form-check>
                  </td>
                  <td>
                    <c-form-check inline>
                      <input cFormCheckInput type="radio" value="2"
                      [(ngModel)]="staffForm2Service.staffForm2module.integrityAndReputationValue"
                      name="integrityAndReputationValue"
                      #integrityAndReputationValue="ngModel">
                    </c-form-check>
                  </td>
                  <td>
                    <c-form-check inline>
                      <input cFormCheckInput type="radio" value="1"
                      [(ngModel)]="staffForm2Service.staffForm2module.integrityAndReputationValue"
                      name="integrityAndReputationValue"
                      #integrityAndReputationValue="ngModel">
                    </c-form-check>
                  </td>
                  <td>
                    <input type="text" cFormControl
                    [(ngModel)]="staffForm2Service.staffForm2module.integrityAndReputationRemarks"
                    name="integrityAndReputationRemarks" 
                    #integrityAndReputationRemarks="ngModel">
                    @if(!integrityAndReputationRemarks.valid && integrityAndReputationRemarks.touched)
                    {
                      <div class="text-left text-danger">Integrity And Reputation is required </div>
                    } 
                  </td>
                </tr>
                <tr>
                  <td>10</td>
                  <td>Personality and Character</td>
                  <td>
                    <c-form-check inline>
                      <input cFormCheckInput type="radio" value="5"
                      [(ngModel)]="staffForm2Service.staffForm2module.personalityAndCharacterValue"
                      name="personalityAndCharacterValue"
                      #personalityAndCharacterValue="ngModel">
                    </c-form-check>
                  </td>
                  <td>
                    <c-form-check inline>
                      <input cFormCheckInput type="radio" value="4"
                      [(ngModel)]="staffForm2Service.staffForm2module.personalityAndCharacterValue"
                      name="personalityAndCharacterValue"
                      #personalityAndCharacterValue="ngModel">
                    </c-form-check>
                  </td>
                  <td>
                    <c-form-check inline>
                      <input cFormCheckInput type="radio" value="3"
                      [(ngModel)]="staffForm2Service.staffForm2module.personalityAndCharacterValue"
                      name="personalityAndCharacterValue"
                      #personalityAndCharacterValue="ngModel">
                    </c-form-check>
                  </td>
                  <td>
                    <c-form-check inline>
                      <input cFormCheckInput type="radio" value="2"
                      [(ngModel)]="staffForm2Service.staffForm2module.personalityAndCharacterValue"
                      name="personalityAndCharacterValue"
                      #personalityAndCharacterValue="ngModel">
                    </c-form-check>
                  </td>
                  <td>
                    <c-form-check inline>
                      <input cFormCheckInput type="radio" value="1"
                      [(ngModel)]="staffForm2Service.staffForm2module.personalityAndCharacterValue"
                      name="personalityAndCharacterValue"
                      #personalityAndCharacterValue="ngModel">
                    </c-form-check>
                  </td>
                  <td>
                    <input type="text" cFormControl
                    [(ngModel)]="staffForm2Service.staffForm2module.personalityAndCharacterRemarks"
                    name="personalityAndCharacterRemarks" 
                    #personalityAndCharacterRemarks="ngModel">
                    @if(!personalityAndCharacterRemarks.valid && personalityAndCharacterRemarks.touched)
                    {
                      <div class="text-left text-danger">Personality And Character is required </div>
                    } 
                  </td>
                </tr>
                <tr>
                  <td>11</td>
                  <td>Health</td>
                  <td>
                    <c-form-check inline>
                      <input cFormCheckInput type="radio" value="5"
                      [(ngModel)]="staffForm2Service.staffForm2module.healthValue"
                      name="healthValue"
                      #healthValue="ngModel">
                    </c-form-check>
                  </td>
                  <td>
                    <c-form-check inline>
                      <input cFormCheckInput type="radio" value="4"
                      [(ngModel)]="staffForm2Service.staffForm2module.healthValue"
                      name="healthValue"
                      #healthValue="ngModel">
                    </c-form-check>
                  </td>
                  <td>
                    <c-form-check inline>
                      <input cFormCheckInput type="radio" value="3"
                      [(ngModel)]="staffForm2Service.staffForm2module.healthValue"
                      name="healthValue"
                      #healthValue="ngModel">
                    </c-form-check>
                  </td>
                  <td>
                    <c-form-check inline>
                      <input cFormCheckInput type="radio" value="2"
                      [(ngModel)]="staffForm2Service.staffForm2module.healthValue"
                      name="healthValue"
                      #healthValue="ngModel">
                    </c-form-check>
                  </td>
                  <td>
                    <c-form-check inline>
                      <input cFormCheckInput type="radio" value="1"
                      [(ngModel)]="staffForm2Service.staffForm2module.healthValue"
                      name="healthValue"
                      #healthValue="ngModel">
                    </c-form-check>
                  </td>
                  <td>
                    <input type="text" cFormControl
                    [(ngModel)]="staffForm2Service.staffForm2module.healthRemarks"
                    name="healthRemarks" 
                    #healthRemarks="ngModel">
                    @if(!healthRemarks.valid && healthRemarks.touched)
                    {
                      <div class="text-left text-danger">Health is required </div>
                    } 
                  </td>
                </tr>
                <tr>
                  <td>12</td>
                  <td>Punctuality</td>
                  <td>
                    <c-form-check inline>
                      <input cFormCheckInput type="radio" value="5"
                      [(ngModel)]="staffForm2Service.staffForm2module.punctualityValue"
                      name="punctualityValue"
                      #punctualityValue="ngModel">
                    </c-form-check>
                  </td>
                  <td>
                    <c-form-check inline>
                      <input cFormCheckInput type="radio" value="4"
                      [(ngModel)]="staffForm2Service.staffForm2module.punctualityValue"
                      name="punctualityValue"
                      #punctualityValue="ngModel">
                    </c-form-check>
                  </td>
                  <td>
                    <c-form-check inline>
                      <input cFormCheckInput type="radio" value="3"
                      [(ngModel)]="staffForm2Service.staffForm2module.punctualityValue"
                      name="punctualityValue"
                      #punctualityValue="ngModel">
                    </c-form-check>
                  </td>
                  <td>
                    <c-form-check inline>
                      <input cFormCheckInput type="radio" value="2"
                      [(ngModel)]="staffForm2Service.staffForm2module.punctualityValue"
                      name="punctualityValue"
                      #punctualityValue="ngModel">
                    </c-form-check>
                  </td>
                  <td>
                    <c-form-check inline>
                      <input cFormCheckInput type="radio" value="1"
                      [(ngModel)]="staffForm2Service.staffForm2module.punctualityValue"
                      name="punctualityValue"
                      #punctualityValue="ngModel">
                    </c-form-check>
                  </td>
                  <td>
                    <input type="text" cFormControl
                    [(ngModel)]="staffForm2Service.staffForm2module.punctualityRemarks"
                    name="punctualityRemarks" 
                    #punctualityRemarks="ngModel">
                    @if(!punctualityRemarks.valid && punctualityRemarks.touched)
                    {
                      <div class="text-left text-danger">punctuality is required </div>
                    } 
                  </td>
                </tr>
                <tr>
                  <td>13</td>
                  <td>Sense of Discipline</td>
                  <td>
                    <c-form-check inline>
                      <input cFormCheckInput type="radio" value="5"
                      [(ngModel)]="staffForm2Service.staffForm2module.senseOfDisciplineValue"
                      name="senseOfDisciplineValue"
                      #senseOfDisciplineValue="ngModel">
                    </c-form-check>
                  </td>
                  <td>
                    <c-form-check inline>
                      <input cFormCheckInput type="radio" value="4"
                      [(ngModel)]="staffForm2Service.staffForm2module.senseOfDisciplineValue"
                      name="senseOfDisciplineValue"
                      #senseOfDisciplineValue="ngModel">
                    </c-form-check>
                  </td>
                  <td>
                    <c-form-check inline>
                      <input cFormCheckInput type="radio" value="3"
                      [(ngModel)]="staffForm2Service.staffForm2module.senseOfDisciplineValue"
                      name="senseOfDisciplineValue"
                      #senseOfDisciplineValue="ngModel">
                    </c-form-check>
                  </td>
                  <td>
                    <c-form-check inline>
                      <input cFormCheckInput type="radio" value="2"
                      [(ngModel)]="staffForm2Service.staffForm2module.senseOfDisciplineValue"
                      name="senseOfDisciplineValue"
                      #senseOfDisciplineValue="ngModel">
                    </c-form-check>
                  </td>
                  <td>
                    <c-form-check inline>
                      <input cFormCheckInput type="radio" value="1"
                      [(ngModel)]="staffForm2Service.staffForm2module.senseOfDisciplineValue"
                      name="senseOfDisciplineValue"
                      #senseOfDisciplineValue="ngModel">
                    </c-form-check>
                  </td>
                  <td>
                    <input type="text" cFormControl
                    [(ngModel)]="staffForm2Service.staffForm2module.senseOfDisciplineRemarks"
                    name="senseOfDisciplineRemarks" 
                    #senseOfDisciplineRemarks="ngModel">
                    @if(!senseOfDisciplineRemarks.valid && senseOfDisciplineRemarks.touched)
                    {
                      <div class="text-left text-danger">Sense Of Discipline is required </div>
                    } 
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="text-end mt-3">
            <button cButton type="submit" [disabled]="!staffForm2.valid" [disabled]="loading">
              <c-spinner [hidden]="!loading" size="sm"></c-spinner>
              Submit         
            </button>
          </div>
        </form>
      </c-card-body>
    </c-card>

    <c-card-footer>
      <div class="text-end">
        <button cButton color="primary" [routerLink]="[
        '/appraisal/staffForm3']">To be continue...</button>
      </div>

    </c-card-footer>
  </c-card>
</div>
