.toggle-icon {
    font-weight: bold;
    border: 1px solid black;
    padding: 0 5px;
}

.office-view {
    margin-bottom: 10px;
}

.office-text {
    color: #4CAF50;
    font-weight: bold;
}
.tree ul {
  list-style-type: none;
  position: relative;
  padding-left: 1em;
  transition: all 0.5s;
}
.tree ul ul {
  margin-left: 1em;
  padding-left: 1em;
  border-left: 1px dashed #929292;
}

.tree li {
  margin: 0.5em 0;
  padding-left: 1em;
  line-height: 2em;
  position: relative;
}

.designation-text {
  color: #8d6000;
}

.employeeName {
  color: #9C27B0;
}

.tree span {
  cursor: pointer;
}