<c-card class="mt-3">
    <c-card-header class="d-flex justify-content-between">
        <div>Organogram</div>
    </c-card-header>
    <c-card-body>
        <div class="tree">
            <ul>
                <li class="office-view" *ngFor="let office of departments">
                    <div class="office-header">
                        <label (click)="toggleOfficeExpand(office.departmentName)"><span class="toggle-icon" (click)="isOfficeExpanded(office.departmentName, office.departmentId)">{{toggleIcon}}</span>
                        <!-- <span class="toggle-icon">{{
                                isOfficeExpanded(office.departmentName, office.departmentId) ? '-' : '+' }}</span> -->
                            <span class="office-text">&nbsp;{{ office.departmentName }}</span></label>
                    </div>
                    <ul>
                        <li *ngIf="office.designationCount > 0">
                            <div class="designation-header">
                                <label (click)="toggleDesignationExpand(office.departmentName)">
                                    &nbsp;&nbsp;<span class="toggle-icon"></span>
                                    &nbsp;<span>Designation</span>
                                </label>
                            </div>
                            <ul *ngIf="isDesignationExpanded(office.name)">
                                <li *ngFor="let designation of office.designations" class="designation-text">
                                    {{ designation.name }}
                                <ul>
                                    <li class="employeeName" *ngIf="designation.employeeInfo" (click)="viewEmployeeProfile(designation.employeeInfo.empId)">{{designation.employeeInfo.employeeName}}</li>
                                </ul>
                                </li>
                            </ul>
                        </li>
                        <li *ngIf="office.departmentCount > 0">
                          
                            <div class="designation-header">
                                <label (click)="toggleDepartmentExpand(office.name)">
                                    &nbsp;&nbsp;<span class="toggle-icon" (click)="isDepartmentExpanded(office.departmentName, office.departmentId)">{{departmentToggleIcon}}</span>
                                    &nbsp;<span>Department</span>
                                </label>
                            </div>
                            <ul>
                                <app-organogram-department *ngFor="let department of office.subDepartments"
                                    [department]="department"></app-organogram-department>
                            </ul>
                        </li>
                        
                        <li *ngIf="office.sectionCount > 0">
                            <div class="designation-header">
                                <label (click)="toggleSectionExpand(office.name)">
                                    &nbsp;&nbsp;<span class="toggle-icon"></span>
                                    &nbsp;<span>Section</span>
                                </label>
                            </div>
                            <ul *ngIf="isSectionExpanded(office.name)">
                                <app-organogram-section *ngFor="let section of office.sections"
                                    [section]="section"></app-organogram-section>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </c-card-body>
</c-card>










<!-- ----------------------------- -->
<!-- 
<c-card class="mt-3">
    <c-card-header class="d-flex justify-content-between">
        <div>Organogram</div>
    </c-card-header>
    <c-card-body>
        <div class="tree">
            <ul>
                <li class="office-view" *ngFor="let office of departments">
                    <div class="office-header">
                        <label (click)="toggleOfficeExpand(office.name)"><span class="toggle-icon">{{
                                isOfficeExpanded(office.name) ? '-' : '+' }}</span>
                            <span class="office-text">&nbsp;{{ office.name }}</span></label>
                    </div>
                    <ul *ngIf="isOfficeExpanded(office.name)">
                        <li *ngIf="office.designations.length">
                            <div class="designation-header">
                                <label (click)="toggleDesignationExpand(office.name)">
                                    &nbsp;&nbsp;<span class="toggle-icon">{{ isDesignationExpanded(office.name) ? '-' : '+' }}</span>
                                    &nbsp;<span>Designation</span>
                                </label>
                            </div>
                            <ul *ngIf="isDesignationExpanded(office.name)">
                                <li *ngFor="let designation of office.designations" class="designation-text">
                                    {{ designation.name }}
                                <ul>
                                    <li class="employeeName" *ngIf="designation.employeeInfo" (click)="viewEmployeeProfile(designation.employeeInfo.empId)">{{designation.employeeInfo.employeeName}}</li>
                                </ul>
                                </li>
                            </ul>
                        </li>
                        <li *ngIf="office.subDepartments.length">
                            
                            <div class="designation-header">
                                <label (click)="toggleDepartmentExpand(office.name)">
                                    &nbsp;&nbsp;<span class="toggle-icon">{{ isDepartmentExpanded(office.name) ? '-' : '+' }}</span>
                                    &nbsp;<span>Department</span>
                                </label>
                            </div>
                            <ul *ngIf="isDepartmentExpanded(office.name)">
                                <app-organogram-department *ngFor="let department of office.subDepartments"
                                    [department]="department"></app-organogram-department>
                            </ul>
                        </li>
                        
                        <li *ngIf="office.sections?.length">
                            <div class="designation-header">
                                <label (click)="toggleSectionExpand(office.name)">
                                    &nbsp;&nbsp;<span class="toggle-icon">{{ isSectionExpanded(office.name) ? '-' : '+' }}</span>
                                    &nbsp;<span>Section</span>
                                </label>
                            </div>
                            <ul *ngIf="isSectionExpanded(office.name)">
                                <app-organogram-section *ngFor="let section of office.sections"
                                    [section]="section"></app-organogram-section>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </c-card-body>
</c-card> -->
