<div>
    <c-card>
        <c-card-header class="text-center">3rd part(Working Editor) <br>(Reporting officer duty to be Fulfilled)</c-card-header>
        <c-button-group aria-label="Basic example" role="group">
            <c-button-group aria-label="Basic example" role="group">
                <button cButton color="primary"  [routerLink]="[
                    '/appraisal/officerForm']" >Part-1</button>
                <button cButton color="primary" [routerLink]="[
                  '/appraisal/officerForm2']">Part-2</button>
                <button cButton color="primary" [active]="true">Part-3</button>
                <button cButton color="primary" [routerLink]="[
                    '/appraisal/officerFormPart4']" (click)="onSubmit(officerForm)">Part-4</button> 
                <button cButton color="primary" [routerLink]="[
                    '/appraisal/officerFormPart5'
                ]">Part-5</button>
                <button cButton color="primary" [routerLink]="[
                    '/appraisal/officerFormPart6'
                ]">Part-6</button>
                <button cButton color="primary" [routerLink]="[
                    '/appraisal/officerFormPart7'
                ]">Part-7</button>
              </c-button-group>
          </c-button-group> 
        <c-card-body>
            <form cForm cRow
            #officerForm="ngForm" 
            (ngSubmit)="onSubmit(officerForm)"
             novalidate>
                <div class="table-responsive">
                  <table cTable >
                    <thead>
                      <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Evaluation</th>
                        <th scope="col" class="text-center">Signature</th>
                        <th scope="col" class="text-center">Remarks</th>
                      </tr>
                      <tr>
                        <th colspan="3">
                          <p style="text-decoration: underline;">1.Professional Knowledge</p>
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <ng-container *ngFor="let row of professionalKnowledgeRows; let i = index;">
                        <tr>
                          <td>{{ row.name }}</td>
                          <td>
                            <c-form-check inline>
                              <input cFormCheckInput type="radio" [value]="row"
                                [(ngModel)]="formData.selectedRow"
                                name="professionalKnowledgeEvaluation"
                                (change)="toggleSignatureInput(i)"
                                (change)="calculateTotalMarksIn3rdpart()"
                                >
                              <label cFormCheckLabel>{{ row.evaluationValue }}</label>
                            </c-form-check>
                          </td>
                          <td>
                            <input type="file" cFormControl
                              [ngModel]="row.Signature"
                              (ngModelChange)="row.Signature = $event"
                              name="Signature{{i}}"                              
                              [disabled]="!row.signatureEnabled">
                            <div *ngIf="!row.Signature && row.signatureEnabled">
                              <div class="text-left text-danger">Professional Knowledge is required</div>
                            </div>
                          </td>
                          <td>
                            <input type="text" cFormControl
                            [ngModel]="row.professionalKnowledgeRemarks"
                            (ngModelChange)="row.professionalKnowledgeRemarks = $event"
                            name="professionalKnowledgeRemarks{{i}}"
                            [disabled]="!row.remarksEnabled">
                          </td>
                        </tr>
                      </ng-container>
                    </tbody>
                  </table>

                  <table cTable  >
                    <thead>
                      <tr>
                        <th colspan="3">
                          <p style="text-decoration: underline;">2. Quality Of Work</p>
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <ng-container *ngFor="let row of qualityOfWorkRows; let i = index;">
                        <tr>
                          <td>{{ row.name }}</td>
                          <td>
                            <c-form-check inline>
                              <input cFormCheckInput type="radio" [value]="row"
                                [(ngModel)]="formData.selectedQualityRow"
                                name="qualityOfWorkEvaluation"
                                (change)="toggleQualitySignatureInput(i); calculateTotalMarksIn3rdpart()">
                              <label cFormCheckLabel>{{ row.evaluationValue }}</label>
                            </c-form-check>
                          </td>
                          <td>
                            <input type="file" cFormControl
                              [ngModel]="row.qualityOfWorkSignature"
                              (ngModelChange)="row.qualityOfWorkSignature = $event"
                              name="qualityOfWorkSignature{{i}}"
                              [disabled]="!row.signatureEnabled">
                            <div *ngIf="!row.qualityOfWorkSignature && row.signatureEnabled">
                              <div class="text-left text-danger">Quality Of Work is required</div>
                            </div>
                          </td>
                          <td>
                            <input type="text" cFormControl
                            [ngModel]="row.qualityofworkRemarks"
                            (ngModelChange)="row.qualityofworkRemarks = $event"
                            name="qualityofworkRemarks{{i}}"
                            [disabled]="!row.remarksEnabled">
                          </td>
                        </tr>
                      </ng-container>
                    </tbody>
                  </table>

                  <table cTable >
                    <thead>
                      <tr>
                        <th colspan="3">
                          <p style="text-decoration: underline;">3. Amount of Work</p>
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let row of amountOfWorkRows; let i = index">
                        <td>{{ row.name }}</td>
                        <td>
                          <c-form-check inline>
                            <input cFormCheckInput type="radio" [value]="row"
                              [(ngModel)]="formData.selectedAmountRow"
                              name="amountOfWorkEvaluation"

                              (change)="toggleAmountSignatureInput(i); calculateTotalMarksIn3rdpart()">


                            <label cFormCheckLabel>{{ row.evaluationValue }}</label>
                          </c-form-check>
                        </td>
                        <td>
                          <input type="file" cFormControl
                              [ngModel]="row.amountOfWorkSignature"
                              (ngModelChange)="row.amountOfWorkSignature = $event"
                              name="amountOfWorkSignature{{i}}"
                              [disabled]="!row.signatureEnabled">
                            <div *ngIf="!row.amountOfWorkSignature && row.signatureEnabled">
                              <div class="text-left text-danger">Quality Of Work is required</div>
                            </div>
                        </td>
                        <td>
                          <input type="text" cFormControl
                          [ngModel]="row.amountofWorkRemarks"
                          (ngModelChange)="row.amountofWorkRemarks = $event"
                          name="amountofWorkRemarks{{i}}"
                          [disabled]="!row.remarksEnabled">
                        </td>
                      </tr>
                    </tbody>
                  </table>
             
                  <table cTable >
                    <thead>
                      <tr>
                        <th colspan="3">
                          <p style="text-decoration: underline;">4. Punctuality</p>
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let row of punctualityRows; let i = index">
                        <td>{{ row.name }}</td>
                        <td>
                          <c-form-check inline>
                            <input cFormCheckInput type="radio" [value]="row"
                                  [(ngModel)]="formData.selectedPunctualityRow"
                                   name="punctualityEvaluation"
                                   (change)="togglePunctualitySignatureInput(i); 
                                   calculateTotalMarksIn3rdpart()">
                            <label cFormCheckLabel>{{ row.evaluationValue }}</label>
                          </c-form-check>
                        </td>
                        <td>
                          <input type="file" cFormControl
                          [ngModel]="row.punctualitySignature"
                          (ngModelChange)="row.punctualitySignature = $event"
                          name="punctualitySignature{{i}}"
                          [disabled]="!row.signatureEnabled">
                        <div *ngIf="!row.punctualitySignature && row.signatureEnabled">
                          <div class="text-left text-danger">Punctuality is required</div>
                        </div>
                        </td>
                            <td>
                              <input type="text" cFormControl
                              [ngModel]="row.punctuilityRemarks"
                              (ngModelChange)="row.punctuilityRemarks = $event"
                              name="punctuilityRemarks{{i}}"
                              [disabled]="!row.remarksEnabled">
                            </td>
                      </tr>
                    </tbody>
                  </table>

                  <table cTable >
                    <thead>
                      <tr>
                        <th colspan="3">
                          <p style="text-decoration: underline;">5.Sense of Responsibility</p>
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let row of SenceOfResponsibilityRows; let i = index">
                        <td>{{ row.name }}</td>
                        <td>
                          <c-form-check inline>
                            <input cFormCheckInput type="radio" [value]="row"
                                   [(ngModel)]="formData.selectedSenseofResponsibilityRow"
                                   name="  senceOfResponsibilityAndCommitmentEvaluation"
                                   (change)="toggleSenseOfResponsibilitySignatureInput(i); calculateTotalMarksIn3rdpart()">
                            <label cFormCheckLabel>{{ row.evaluationValue }}</label>
                          </c-form-check>
                        </td>
                        <td>
                          <input type="file" cFormControl
                          [ngModel]="row.senceOfResponsibilityAndCommitmentSignature"
                          (ngModelChange)="row.senceOfResponsibilityAndCommitmentSignature = $event"
                          name="senceOfResponsibilityAndCommitmentSignature{{i}}"
                          [disabled]="!row.signatureEnabled">
                        <div *ngIf="!row.senceOfResponsibilityAndCommitmentSignature && row.signatureEnabled">
                          <div class="text-left text-danger">Sense of Responsibility is required</div>
                        </div>
                        </td>
                            <td>
                              <input type="text" cFormControl
                              [ngModel]="row.senseofResponsibilityRemarks"
                              (ngModelChange)="row.senseofResponsibilityRemarks = $event"
                              name="senseofResponsibilityRemarks{{i}}"
                              [disabled]="!row.remarksEnabled">
                            </td>
                      </tr>
                    </tbody>
                  </table>


                  <table cTable >
                    <thead>
                      <tr>
                        <th colspan="3">
                          <p style="text-decoration: underline;">6.Promptness in taking measures and following orders</p>
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let row of PromptnessTakingMeasuresRows; let i = index">
                        <td>{{ row.name }}</td>
                        <td>
                          <c-form-check inline>
                            <input cFormCheckInput type="radio" [value]="row"
                                   [(ngModel)]="formData.selectedPromtnessTakingRow"
                                   name="  promptnessTakingMeasuresAndFollowingOrdersEvaluation"
                                   (change)="togglePromptnessSignatureInput(i);calculateTotalMarksIn3rdpart()">
                            <label cFormCheckLabel>{{ row.evaluationValue }}</label>
                          </c-form-check>
                        </td>
                        <td>
                          <input type="file" cFormControl
                          [ngModel]="row.promptnessTakingMeasuresAndFollowingOrdersSignature"
                          (ngModelChange)="row.promptnessTakingMeasuresAndFollowingOrdersSignature = $event"
                          name="promptnessTakingMeasuresAndFollowingOrdersSignature{{i}}"
                          [disabled]="!row.signatureEnabled">
                        <div *ngIf="!row.promptnessTakingMeasuresAndFollowingOrdersSignature && row.signatureEnabled">
                          <div class="text-left text-danger">Promptness Taking Measure is required</div>
                        </div>
                        </td>                     
                            <td>
                              <input type="text" cFormControl
                              [ngModel]="row.promptnessRemarks"
                              (ngModelChange)="row.promptnessRemarks = $event"
                              name="promptnessRemarks{{i}}"
                              [disabled]="!row.remarksEnabled">
                            </td>
                      </tr>
                    </tbody>
                  </table>

                  <table cTable>
                    <thead>
                      <tr>
                        <th colspan="3">
                          <p style="text-decoration: underline;">7.Interest Of Work</p>
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let row of interestOfWorkRows; let i = index">
                        <td>{{ row.name }}</td>
                        <td>
                          <c-form-check inline>
                            <input cFormCheckInput type="radio" [value]="row"
                                   [(ngModel)]="formData.selectedinterstofworkRow"
                                   name="  interestOfWorkEvaluation"
                                   (change)="toggleinterestofWorkSignatureInput(i); calculateTotalMarksIn3rdpart()">
                                   <label cFormCheckLabel>{{ row.evaluationValue }}</label>
                          </c-form-check>
                        </td>
                        <td>
                          <input type="file" cFormControl
                          [ngModel]="row.interestOfWorkSignature"
                          (ngModelChange)="row.interestOfWorkSignature = $event"
                          name="interestOfWorkSignature{{i}}"
                          [disabled]="!row.signatureEnabled">
                        <div *ngIf="!row.interestOfWorkSignature && row.signatureEnabled">
                          <div class="text-left text-danger">Interest of Work is required</div>
                        </div>
                        </td>                    
                            <td>
                              <input type="text" cFormControl
                              [ngModel]="row.interestWorkRemarks"
                              (ngModelChange)="row.interestWorkRemarks = $event"
                              name="interestWorkRemarks{{i}}"
                              [disabled]="!row.remarksEnabled">
                            </td>
                      </tr>
                    </tbody>
                  </table>

                  
                  <table cTable >
                    <thead>
                      <tr>
                        <th colspan="3">
                          <p style="text-decoration: underline;">8.Supervise And Measure</p>
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let row of superviseandMeasureRows; let i = index">
                        <td>{{ row.name }}</td>
                        <td>
                          <c-form-check inline>
                            <input cFormCheckInput type="radio" [value]="row"
                                   [(ngModel)]="formData.selectedsuperviseAndMeasureRow"
                                   name="  superviseAndManageEvaluation"
                                   (change)="toggleSuperviseMeasureSignatureInput(i); calculateTotalMarksIn3rdpart()">
                                   <label cFormCheckLabel>{{ row.evaluationValue }}</label>
                          </c-form-check>
                        </td>
                        <td>
                          <input type="file" cFormControl
                          [ngModel]="row.superviseAndManageSignature"
                          (ngModelChange)="row.superviseAndManageSignature = $event"
                          name="superviseAndManageSignature{{i}}"
                          [disabled]="!row.signatureEnabled">
                        <div *ngIf="!row.superviseAndManageSignature && row.signatureEnabled">
                          <div class="text-left text-danger">Supervise and Measure is required</div>
                        </div>
                        </td>                       
                            <td>
                              <input type="text" cFormControl
                              [ngModel]="row.serviceRemarks"
                              (ngModelChange)="row.serviceRemarks = $event"
                              name="serviceRemarks{{i}}"
                              [disabled]="!row.remarksEnabled">
                            </td>
                      </tr>
                    </tbody>
                  </table>

                  <table cTable >
                    <thead>
                      <tr>
                        <th colspan="3">
                          <p style="text-decoration: underline;">9.Relation With Colleagues</p>
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let row of RelationWithColleaguesRows; let i = index">
                        <td>{{ row.name }}</td>
                        <td>
                          <c-form-check inline>
                            <input cFormCheckInput type="radio" [value]="row"
                                   [(ngModel)]="formData.selectedRelationColleaguesRow"
                                   name="  relationWithColleaguesEvaluation"
                                   (change)="toggleRelationColleaguesignatureInput(i); calculateTotalMarksIn3rdpart()">
                                   <label cFormCheckLabel>{{ row.evaluationValue }}</label>
                          </c-form-check>
                        </td>
                        <td>
                          <input type="file" cFormControl
                          [ngModel]="row.relationWithColleaguesSignature"
                          (ngModelChange)="row.relationWithColleaguesSignature = $event"
                          name="relationWithColleaguesSignature{{i}}"
                          [disabled]="!row.signatureEnabled">
                        <div *ngIf="!row.relationWithColleaguesSignature && row.signatureEnabled">
                          <div class="text-left text-danger">Relation With Colleague is required</div>
                        </div>
                        </td>
                            <td>
                              <input type="text" cFormControl
                              [ngModel]="row.RelationshipRemarks"
                              (ngModelChange)="row.RelationshipRemarks = $event"
                              name="RelationshipRemarks{{i}}"
                              [disabled]="!row.remarksEnabled">
                            </td>
                      </tr>
                    </tbody>
                  </table>
                
                  <table cTable >
                    <thead>
                      <tr>
                        <th colspan="3">
                          <p style="text-decoration: underline;">10.Ability To Implementation</p>
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let row of abilityToImplementRows; let i = index">
                        <td>{{ row.name }}</td>
                        <td>
                          <c-form-check inline>
                            <input cFormCheckInput type="radio" [value]="row"
                                   [(ngModel)]="formData.abilityWithImplementRow"
                                   name="  abilityImplementDecisionEvaluation"
                                   (change)="toggleAbilityWithImplementSignatureInput(i); calculateTotalMarksIn3rdpart()">
                                   <label cFormCheckLabel>{{ row.evaluationValue }}</label>
                          </c-form-check>
                        </td>
                        <td>
                          <input type="file" cFormControl
                          [ngModel]="row.abilityImplementDecisionSignature"
                          (ngModelChange)="row.abilityImplementDecisionSignature = $event"
                          name="abilityImplementDecisionSignature{{i}}"
                          [disabled]="!row.signatureEnabled">
                        <div *ngIf="!row.abilityImplementDecisionSignature && row.signatureEnabled">
                          <div class="text-left text-danger">Ability to Implementation is required</div>
                        </div>
                        </td>                       
                            <td>
                              <input type="text" cFormControl
                              [ngModel]="row.abilitytoImplentRemarks"
                              (ngModelChange)="row.abilitytoImplentRemarks = $event"
                              name="abilitytoImplentRemarks{{i}}"
                              [disabled]="!row.remarksEnabled">
                            </td>
                      </tr>
                    </tbody>
                  </table>

                  <table cTable >
                    <thead>
                      <tr>
                        <th colspan="3">
                          <p style="text-decoration: underline;">11.Expressive Power (writing)</p>
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let row of expressivePowerWritingRows; let i = index">
                        <td>{{ row.name }}</td>
                        <td>
                          <c-form-check inline>
                            <input cFormCheckInput type="radio" [value]="row"
                                   [(ngModel)]="formData.exessivePowerWritingRow"
                                   name="  expressivePowerWritingEvaluation"
                                   (change)="toggleExessivePowerWritingSignatureInput(i); calculateTotalMarksIn3rdpart()">
                                   <label cFormCheckLabel>{{ row.evaluationValue }}</label>
                          </c-form-check>
                        </td>
                        <td>
                          <input type="file" cFormControl
                          [ngModel]="row.expressivePowerWritingSignature"
                          (ngModelChange)="row.expressivePowerWritingSignature = $event"
                          name="expressivePowerWritingSignature{{i}}"
                          [disabled]="!row.signatureEnabled">
                        <div *ngIf="!row.expressivePowerWritingSignature && row.signatureEnabled">
                          <div class="text-left text-danger">Expressive Power (writing) is required</div>
                        </div>
                        </td>                      
                            <td>
                              <input type="text" cFormControl
                              [ngModel]="row.expressiveWritingRemarks"
                              (ngModelChange)="row.expressiveWritingRemarks = $event"
                              name="expressiveWritingRemarks{{i}}"
                              [disabled]="!row.remarksEnabled">
                            </td>
                      </tr>
                    </tbody>
                  </table>

                  <table cTable >
                    <thead>
                      <tr>
                        <th colspan="3">
                          <p style="text-decoration: underline;">12.Expressive Power (Speech)</p>
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let row of expressivePowerSpeechRows; let i = index">
                        <td>{{ row.name }}</td>
                        <td>
                          <c-form-check inline>
                            <input cFormCheckInput type="radio" [value]="row"
                                   [(ngModel)]="formData.exessivePowerSpeechRow"
                                   name="  expressivePowerSpeechEvaluation"
                                   (change)="toggleExessivePowerSpeechSignatureInput(i); calculateTotalMarksIn3rdpart()">
                                   <label cFormCheckLabel>{{ row.evaluationValue }}</label>
                          </c-form-check>
                        </td>
                        <td>
                          <input type="file" cFormControl
                          [ngModel]="row.expressivePowerSpeechSignature"
                          (ngModelChange)="row.expressivePowerSpeechSignature = $event"
                          name="expressivePowerSpeechSignature{{i}}"
                          [disabled]="!row.signatureEnabled">
                        <div *ngIf="!row.expressivePowerSpeechSignature && row.signatureEnabled">
                          <div class="text-left text-danger">Expressive Power (Speech) is required</div>
                        </div>
                        </td>                        
                            <td>
                              <input type="text" cFormControl
                              [ngModel]="row.expressiveSpeechRemarks"
                              (ngModelChange)="row.expressiveSpeechRemarks = $event"
                              name="expressiveSpeechRemarks{{i}}"
                              [disabled]="!row.remarksEnabled">
                            </td>
                      </tr>
                    </tbody>
                  </table>


                    <div class="container mt-4">
                        <div class="row justify-content-center">
                          <c-col [md]="4">
                            <label cLabel class="mt-2">13.Total marks obtain in 3rd part out of 60</label>
                          </c-col>
                          <c-col [md]="4">
                            <label cLabel class="mt-2">In Mathematices</label>
                            <input type="number" cFormControl
                            [(ngModel)]="totalMarksIn3rdPart"
                            name="totalMarksIn3rdPart" readonly>

                            <label cLabel class="mt-2">In Words</label>
                            <input type="text" cFormControl
                            [(ngModel)]="totalMarksIn3rdPartInwords"
                            name="totalMarksIn3rdPartInwords" readonly>
                          </c-col>
                          <c-col [md]="4">
                            <label cLabel class="mt-2">Signature</label>
                            <input type="file" cFormControl
                              [(ngModel)]="formData.totalMarksSignature3rdPart"
                              name="totalMarksSignature3rdPart" 
                              #totalMarksSignature3rdPart="ngModel" >
                              @if(!totalMarksSignature3rdPart.valid && totalMarksSignature3rdPart.touched)
                              {
                                <div class="text-left text-danger">Signature is Required</div>
                              }
                            <label cLabel class="mt-2">Signature</label>                          
                            <input type="file" cFormControl
                              [(ngModel)]="formData.totalMarksInWordsSignature3rdPart"
                              name="totalMarksInWordsSignature3rdPart" 
                              #totalMarksInWordsSignature3rdPart="ngModel" >
                              @if(!totalMarksInWordsSignature3rdPart.valid && totalMarksInWordsSignature3rdPart.touched)
                              {
                                <div class="text-left text-danger">Signature is Required</div>
                              }
                          </c-col>
                        </div>
                      </div>
                      <div class="container mt-4">
                        <div class="row justify-content-center">
                          <c-col [md]="4">
                            <label cLabel class="mt-2">14.Total marks obtain in 2nd part and 3rd part out of 100</label>
                          </c-col>
                          <c-col [md]="4">
                            <label cLabel class="mt-2">In Mathematices</label>
                            <input type="number" cFormControl
                              [(ngModel)]="formData.formDatalMarks2ndAnd3rdPart"
                              name="totalMarks2ndAnd3rdPart" 
                              #totalMarks2ndAnd3rdPart="ngModel" >
                              @if(!totalMarks2ndAnd3rdPart.valid && totalMarks2ndAnd3rdPart.touched)
                              {
                                <div class="text-left text-danger">Total Marks of 2nd and 3rd part is Requiered</div>
                              }
                            <label cLabel class="mt-2">In words</label>
                            <input type="number" cFormControl
                              [(ngModel)]="formData.totalMarksInWordstotalMarks2ndAnd3rdPart"
                              name="totalMarksInWordstotalMarks2ndAnd3rdPart" 
                              #totalMarksInWordstotalMarks2ndAnd3rdPart="ngModel" >
                              @if(!totalMarksInWordstotalMarks2ndAnd3rdPart.valid && totalMarksInWordstotalMarks2ndAnd3rdPart.touched)
                              {
                                <div class="text-left text-danger">Total Marks of 2nd and 3rd part in words is Requiered</div>
                              }
                          </c-col>
                          <c-col [md]="4">
                            <label cLabel class="mt-2">Signature</label>
                            <input type="file" cFormControl
                              [(ngModel)]="formData.totalMarksSignaturetotalMarks2ndAnd3rdPart"
                              name="totalMarksSignaturetotalMarks2ndAnd3rdPart" 
                              #totalMarksSignaturetotalMarks2ndAnd3rdPart="ngModel" >
                              @if(!totalMarksSignaturetotalMarks2ndAnd3rdPart.valid && totalMarksSignaturetotalMarks2ndAnd3rdPart.touched)
                              {
                                <div class="text-left text-danger">Signature is Required</div>
                              }
                            <label cLabel class="mt-2">Signature</label>
                            <input type="file" cFormControl
                              [(ngModel)]="formData.totalMarksInWordsSignaturetotalMarks2ndAnd3rdPart"
                              name="totalMarksInWordsSignaturetotalMarks2ndAnd3rdPart" 
                              #totalMarksInWordsSignaturetotalMarks2ndAnd3rdPart="ngModel" >
                              @if(!totalMarksInWordsSignaturetotalMarks2ndAnd3rdPart.valid && totalMarksInWordsSignaturetotalMarks2ndAnd3rdPart.touched)
                              {
                                <div class="text-left text-danger">Signature is Required</div>
                              }
                          </c-col>
                        </div>
                      </div>  
           
                      <table cTable >
                        <thead>
                          <tr>
                            <th colspan="3">
                              <p style="text-decoration: underline;">15.Overall Assessment</p>
                            </th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let row of overallAssessmentRows; let i = index">
                            <td>{{ row.name }}</td>
                            <td>
                              <c-form-check inline>
                                <input cFormCheckInput type="radio" [value]="row"
                                       [(ngModel)]="formData.overallAssessmentRow"
                                       name="  overallAssessmentEvaluation"
                                       (change)="toggleOverallAssessmentSignatureInput(i)">
                                       <label cFormCheckLabel>{{ row.evaluationValue }}</label>
                              </c-form-check>
                            </td>
                            <td>
                              <input type="file" cFormControl
                              [ngModel]="row.overallAssessmentSignature"
                              (ngModelChange)="row.overallAssessmentSignature = $event"
                              name="overallAssessmentSignature{{i}}"
                              [disabled]="!row.signatureEnabled">
                            <div *ngIf="!row.overallAssessmentSignature && row.signatureEnabled">
                              <div class="text-left text-danger">Overall Assessment is required</div>
                            </div>
                            </td>                          
                                <td>
                                  <input type="text" cFormControl
                                  [ngModel]="row.overallAssesmentRemarks"
                                  (ngModelChange)="row.overallAssesmentRemarks = $event"
                                  name="overallAssesmentRemarks{{i}}"
                                  [disabled]="!row.remarksEnabled">
                                </td>
                          </tr>
                        </tbody>
                      </table>

                </div>
                <c-col class="d-flex justify-content-between align-items-center mt-3">
                    <div class="text-center">
                      <input type="file" cFormControl
                      [(ngModel)]="formData.signature"
                      name="signature" 
                      #signature="ngModel" >
                      @if(!signature.valid && signature.touched)
                      {
                        <div class="text-left text-danger">Signature is Required </div>
                      }
                        <div>Signature of Reporting Officer</div>
                    </div>
                </c-col>
            </form>
        </c-card-body>
    </c-card>
    <c-card>      
    <c-card-footer>
      <div class="text-end">
        <button cButton color="primary" [routerLink]="[
        '/appraisal/officerFormPart4']" (click)="onSubmit(officerForm)">To be continue...</button>
      </div>
    </c-card-footer>
    </c-card>
</div>
