<c-card class="mt-3">
    <c-card-header class="d-flex justify-content-between">
            <div>Employee List</div>
            <div><button cButton color="primary" shape="rounded-pill" 
                [routerLink]="[
                  '/employee/create-new-employee']"><svg [cIcon]="icons.cilPlus"></svg> Add New Employee</button></div>
    </c-card-header>
    <c-card-body>
      <div class="example-header">

        <ng-container *ngIf="showUpdateUserInfo">
          <app-update-user-info [empId]="selectedEmpId" (cancel)="handleCancel()"></app-update-user-info>
        </ng-container>

        <mat-form-field>
          <input
            matInput
            #filter
            (keyup)="applyFilter(filter.value)"
            placeholder="Search Here.."
          />
          <button
            mat-icon-button
            matSuffix
            aria-label="clear"
            *ngIf="filter.value"
            (click)="filter.value = ''; applyFilter('')"
          ></button>
        </mat-form-field>
      </div>
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource">
          <!-- Position Column -->
          <ng-container matColumnDef="slNo">
            <th mat-header-cell *matHeaderCellDef>SL</th>
            <td mat-cell *matCellDef="let element; let i = index">{{ i + 1 }}</td>
          </ng-container>

          <ng-container matColumnDef="pNo">
            <th mat-header-cell *matHeaderCellDef>Id Card No</th>
            <td mat-cell *matCellDef="let element">
              {{ element.idCardNo }}
            </td>
          </ng-container>

          <ng-container matColumnDef="fullName">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let element">
              {{ element.firstName }} {{element.lastName}}
            </td>
          </ng-container>
          
          <ng-container matColumnDef="fullNameBangla">
            <th mat-header-cell *matHeaderCellDef>Name Bangla</th>
            <td mat-cell *matCellDef="let element">
                {{ element.firstNameBangla }} {{element.lastNameBangla}}
            </td>
          </ng-container>
          
          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef>Email</th>
            <td mat-cell *matCellDef="let element">
              {{ element.email }}
            </td>
          </ng-container>
          
          <ng-container matColumnDef="Action">
            <th mat-header-cell *matHeaderCellDef>Action</th>
            <td mat-cell *matCellDef="let element">
              <button [disabled]="loadingMap[element.id]" class="btn btn-dark" *ngIf="!element.userStatus" (click)="createUser(element.id)">
                <c-spinner *ngIf="loadingMap[element.id]" size="sm"></c-spinner>
                <svg *ngIf="!loadingMap[element.id]" [cIcon]="icons.cilUserPlus"></svg> Create User
              </button>
              <button class="btn btn-dark" *ngIf="element.userStatus" (click)="updateUser(element.id)">
                <svg [cIcon]="icons.cilUser"></svg> Update User
              </button> &nbsp;
              
              <button class="btn btn-dark" [routerLink]="['/employee/update-employee-information/', element.id]">
                <svg [cIcon]="icons.cilCloudUpload"></svg> Update Information
              </button>
            </td>
          </ng-container>
  
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </div>
    </c-card-body>
    <c-card-footer class="text-medium-emphasis">
      <mat-paginator
        appBubblePagination
        [length]="dataSource.data.length"
        [pageSize]="10"
        aria-label="Select page"
      >
      </mat-paginator>
    </c-card-footer>
  </c-card>