<div class="modal fade show">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Update Form</h5>
        <button class="custom-button" aria-label="Close" (click)="onHide()">
          <mat-icon>close</mat-icon>
        </button>
      </div>
      <div class="modal-body scrollable-modal-body" cRow [gutter]="3">
        @if (loading==true) {
        <div class="d-flex justify-content-center">Loading...</div>
        } @else {
        <form #officerForm="ngForm" (submit)="updateFormData()">

            <p-stepper>
              @for (item of formData.sections; track $index) {
              <p-stepperPanel>
                <ng-template pTemplate="content" let-prevCallback="prevCallback" let-nextCallback="nextCallback"
                  let-ind="index">
                  <c-card>
                    <c-card-body [gutter]="3">
                      <div class="d-flex justify-content-center">
                        <h5>Part {{item.sectionId}}</h5>
                      </div>
                      <hr>
                      @if (ind==0) {
                        <c-row class="mt-3" [gutter]="3">
                          <label><strong>Report Duration:</strong></label>
                          <p-calendar 
                          [style]="{height: '2.37rem'}"
                          name="dateRange"
                          [(ngModel)] ="reportDates"
                          selectionMode="range"
                          showIcon="true"
                          [touchUI]="true"
                          />
                        </c-row>
                      }
                      @for (field of item.fields; track $index) {
                      <app-field [(field)]="field.fieldValue" [fieldData]="field"
                        [fieldUniqueName]="field.fieldName+item.sectionId+field.fieldId"></app-field>
                      }

                      <hr>
                    </c-card-body>
                    <c-card-footer>
                      @if (ind==0) {
                      <div class="d-flex justify-content-end">
                        <button cButton (click)="nextCallback.emit()" color="primary">Next</button>
                      </div>
                      }
                      @if (ind==formData.sections.length-1){
                      <div class="d-flex justify-content-start">
                        <button cButton (click)="prevCallback.emit()" color="primary">Previous</button>
                      </div>
                      }

                      @if (ind>0&&ind<formData.sections.length-1) { 
                        <div class="d-flex justify-content-between">
                          <button cButton (click)="prevCallback.emit()" color="primary">Previous</button>
                          <button cButton (click)="nextCallback.emit()" color="primary">Next</button>
                        </div>
                      }
                </c-card-footer>
          </c-card>

          </ng-template>
          </p-stepperPanel>
          }
          </p-stepper>
      <div class="modal-footer">
        <div class="d-flex justify-content-end mt-3">
          <button cButton type="submit" class="me-3" [disabled]="updateLoading||!officerForm.valid">
            @if (updateLoading==true) {
            <c-spinner size="sm"></c-spinner>
            }
            Update</button>
          <button type="reset" color="secondary" cButton>Reset</button>
        </div>
      </div>
      </form>
      }
    </div>

  </div>
</div>
</div>