:host {
  ng-scrollbar {
    --scrollbar-thumb-color: var(--cui-border-color, #999);
    --scrollbar-track-color: var(--cui-body-color, #fff);
    --scrollbar-hover-size: calc(var(--scrollbar-size) * 1.5);
  }
}
.custom-sidebar {
  background-color: #f0f0f0; /* Change this to the desired background color */
}

.custom-nav {
  color: #333; /* Change this to the desired color for nav items */
}

// .sidebar  {
//   --cui-sidebar-bg: white;
//   --cui-sidebar-brand-bg: white;
//   --cui-sidebar-toggler-bg: white;
//   --cui-sidebar-toggler-hover-bg: gray;
//   --cui-sidebar-nav-link-color: black;
//   --cui-sidebar-nav-link-active-color: white;
//   --cui-sidebar-nav-link-active-bg: gray;
//   --cui-sidebar-nav-link-hover-color: white;
//   --cui-sidebar-nav-link-hover-bg: black;
//   --cui-sidebar-nav-link-icon-color: black;
//   --cui-sidebar-nav-link-hover-icon-color: white;
//   --cui-sidebar-nav-group-bg: rgb(170, 220, 243);
//   --cui-sidebar-nav-group-toggle-show-color: white;
//   --cui-sidebar-width: 30%;
// }