:host {
  ng-scrollbar {
    --scrollbar-thumb-color: var(--cui-border-color, #999);
    --scrollbar-track-color: var(--cui-body-color, #fff);
    --scrollbar-hover-size: calc(var(--scrollbar-size) * 1.5);
  }
}
.custom-sidebar {
  background-color: #f0f0f0; /* Change this to the desired background color */
}

.custom-nav {
  color: #333; /* Change this to the desired color for nav items */
}

// .sidebar  {
//   --cui-sidebar-bg: white;
//   --cui-sidebar-brand-color: black;
//   --cui-sidebar-brand-bg: rgb(136, 136, 136);
//   --cui-sidebar-toggler-bg: rgb(136, 136, 136);
//   --cui-sidebar-toggler-hover-bg: black;
//   --cui-sidebar-nav-link-color: black;
//   --cui-sidebar-nav-link-bg: white;
//   --cui-sidebar-nav-link-active-color: white;
//   --cui-sidebar-nav-link-active-bg: black;
//   --cui-sidebar-nav-link-active-icon-color: white;
//   --cui-sidebar-nav-link-hover-color: white;
//   --cui-sidebar-nav-link-hover-bg: black;
//   --cui-sidebar-nav-link-hover-icon-color: white;
//   --cui-sidebar-nav-link-icon-color: black;
  // --cui-sidebar-nav-group-bg: #{$sidebar-nav-group-bg};
  // --cui-sidebar-nav-group-items-padding-y: #{$sidebar-nav-group-items-padding-y};
  // --cui-sidebar-nav-group-items-padding-x: #{$sidebar-nav-group-items-padding-x};
  // --cui-sidebar-nav-group-indicator: #{escape-svg($sidebar-nav-group-indicator-icon)};
  // --cui-sidebar-nav-group-indicator-hover: #{escape-svg($sidebar-nav-group-indicator-hover-icon)};
  // --cui-sidebar-nav-group-toggle-show-color: #{$sidebar-nav-group-toggle-show-color};
// }