@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
    100% { transform: translateX(0); }
  }
  
  .shake {
    animation: shake 0.5s;
  }

  .modal {
    display: block;
  }
  
  .scrollable-modal-body {
    max-height: 70vh; /* Adjust the height as needed */
    overflow-y: auto;
  }

  mat-button-toggle-group {
    padding: 0;
    border-radius: 20px;
    border: 1px solid lightseagreen;
    width: 100%;
  }
  