<c-card>
    <c-card-header>
        <div class="text-center">User Role Assignment</div>
    </c-card-header>
    <c-card-body>
        <form #FeatureForm="ngForm" [gutter]="3" novalidate cForm cRow class="needs-validation">
            <c-col [md]="12">
                <label cLabel for="roleId">Role Name<span class="text-danger">*</span></label>
                <div class="input-wrapper">
                    <select [(ngModel)]="roleFeatureService.roleFeature.roleId" (change)="onRoleChange()"
                        name="roleId" #roleId="ngModel" cFormControl id="roleId"
                        aria-label="Default select example" cSelect>
                        <option [ngValue]="null">Select Role</option>

                        @for(role of roles; track role.id;let index=$index) {
                        <option [value]="role.id">
                            {{ role.name }}
                        </option>
                        }
                    </select>
                    @if(!roleId.valid && roleId.touched){
                    <div class="text-left text-danger">Module is required</div>
                    }
                </div>
            </c-col>
            <c-card>
                <c-card-body>
                    <table borderless cTable hover>
                        <thead>
                            <tr>
                                <th scope="col">Feature Name</th>
                                <th scope="col">Can View</th>
                                <th scope="col">Can Add</th>
                                <th scope="col">Can Edit</th>
                                <th scope="col">Can Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let feature of features">
                              <td>
                                {{ feature.featureName }}
                                <input type="hidden" [(ngModel)]="feature.featureKey" name="featureKey">
                              </td>
                              <td>
                                <input type="checkbox" [(ngModel)]="feature.viewStatus" [checked]="feature.viewStatus"  name="viewStatus">
                              </td>
                              <td>
                                <input type="checkbox" [(ngModel)]="feature.add" name="add">
                              </td>
                              <td>
                                <input type="checkbox" [(ngModel)]="feature.update" name="update">
                              </td>
                              <td>
                                <input type="checkbox" [(ngModel)]="feature.delete" name="delete">
                              </td>
                            </tr>
                          </tbody>
                      </table>
                </c-card-body>
            </c-card>
        </form>
    </c-card-body>
</c-card>