<c-card class="mt-3">
  <c-card-header>Employee </c-card-header>
  <c-card-body>
    <c-col [md]="4">
  </c-col>

  <form #PostingAndTrnsForm="ngForm" (submit)="onSubmit(PostingAndTrnsForm)" [gutter]="3" novalidate cForm cRow>  
    <c-col [md]="3">
      <input type="hidden" [(ngModel)]="employeeService.demoEmployee.employeePMSNo" name="Id" />
      <label cLabel for="validationCustom01">EmployeeName <span class="text-danger">*</span></label>
      <input (dblclick)="openModal()" [(ngModel)]="employeeService.demoEmployee.employeeName" name="employeeName"
        #employeeName="ngModel" placeholder="Enter Employee Name" cFormControl id="validationCustom01" required type="text"
        value="Mark" />
      <div *ngIf="employeeName.touched && !employeeName.valid" class="text-left text-danger">Employee Name value is required</div>
    </c-col>
  
    <c-col [md]="3">
      <label cLabel for="validationCustom01">Department <span class="text-danger">*</span></label>
      <input [(ngModel)]="employeeService.demoEmployee.department" name="department" #department="ngModel"
        placeholder="Enter Depertmental  " cFormControl id="validationCustom01" required type="text" value="Mark" />
      @if(!department.valid&&department.touched){
      <div class="text-left text-danger">Department value is required</div>
      }
    </c-col>
    <c-col [md]="3">
      <label cLabel for="validationCustom01">Designation <span class="text-danger">*</span></label>
      <input [(ngModel)]="employeeService.demoEmployee.designation" name="designation" #designation="ngModel"
        placeholder="Enter Designation  " cFormControl id="validationCustom01" required type="text" value="Mark" />
      @if(!designation.valid&&designation.touched){
      <div class="text-left text-danger">Designation value is required</div>
      }
    </c-col>
  
  </form>
  
  </c-card-body>
</c-card>

<c-card class="mt-3">
  <c-card-header>Posting and Transfer </c-card-header>
  <c-card-body>
    <form #PostingAndTrnsForm="ngForm" (submit)="onSubmit(PostingAndTrnsForm)" [gutter]="3" novalidate cForm cRow
      class="needs-validation">
      <c-col [md]="3">
        <label cLabel for="validationCustom01">Department<span class="text-danger">*</span></label>
        <div class="input-wrapper">
          <select
            (change)="onSubDepartmentNamesChangeByDepartmentId(postingOrderInfoService.postingOrderInfos.departmentId)"
            [(ngModel)]="postingOrderInfoService.postingOrderInfos.departmentId" name="departmentId"
            #departmentId="ngModel" cFormControl id="validationCustom01" required aria-label="Default select example"
            cSelect>
            <option [ngValue]="null">Select Department</option>

            @for(department of departments; track department.id;let index=$index) {
            <option [value]="department.id">
              {{ department.name }}
            </option>
            }
          </select>

          @if(!departmentId.valid && departmentId.touched){
          <div class="text-left text-danger">Department is required</div>
          }
        </div>
      </c-col>

      <c-col [md]="3">
        <label cLabel for="validationCustom01">Sub Department<span class="text-danger">*</span></label>
        <div class="input-wrapper">
          <select (change)="postingOrderInfoService.postingOrderInfos.subDepartmentId"
            [(ngModel)]="postingOrderInfoService.postingOrderInfos.subDepartmentId" name="subDepartmentId"
            #subDepartmentId="ngModel" cFormControl id="validationCustom01" required aria-label="Default select example"
            cSelect>
            <option [ngValue]="null">Select Sub Department</option>

            @for(subdepartment of subDepartments; track subdepartment.id;let index=$index) {
            <option [value]="subdepartment.id">
              {{ subdepartment.name }}
            </option>
            }
          </select>

          @if(!subDepartmentId.valid && subDepartmentId.touched){
          <div class="text-left text-danger">Sub Department is required</div>
          }
        </div>
      </c-col>

      <c-col [md]="3">
        <label cLabel for="validationCustom01">OfficeBranch<span class="text-danger">*</span></label>
        <div class="input-wrapper">
          <select
            (change)="onSubBranchNamesChangeByOfficeBranchId(postingOrderInfoService.postingOrderInfos.officeBranchId)"
            [(ngModel)]="postingOrderInfoService.postingOrderInfos.officeBranchId" name="officeBranchId"
            #officeBranchId="ngModel" cFormControl id="validationCustom01" required aria-label="Default select example"
            cSelect>
            <option [ngValue]="null">Select Office Branch</option>

            @for(officeBranch of officeBranchs; track officeBranch.id;let index=$index) {
            <option [value]="officeBranch.id">
              {{ officeBranch.name }}
            </option>
            }
          </select>
          @if(!officeBranchId.valid && officeBranchId.touched){
          <div class="text-left text-danger">Office Branch is required</div>
          }
        </div>
      </c-col>
      <c-col [md]="3">
        <label cLabel for="validationCustom01">Sub Branch<span class="text-danger">*</span></label>
        <div class="input-wrapper">
          <select (change)="postingOrderInfoService.postingOrderInfos.subBranchId"
            [(ngModel)]="postingOrderInfoService.postingOrderInfos.subBranchId" name="subBranchId"
            #subBranchId="ngModel" placeholder="Enter OfficeOrder No " cFormControl id="validationCustom01" required
            aria-label="Default select example" cSelect>
            <option [ngValue]="null">Select Sub Department</option>

            @for(subBranch of subBranchs; track subBranch.id;let index=$index) {
            <option [value]="subBranch.id">
              {{ subBranch.name }}
            </option>
            }
          </select>

          @if(!subBranchId.valid && subBranchId.touched){
          <div class="text-left text-danger">Sub Branch is required</div>
          }
        </div>
      </c-col>
      <c-col [md]="3">
        <input type="hidden" [(ngModel)]="postingOrderInfoService.postingOrderInfos.postingOrderInfoId"
          name="postingOrderInfoId" />
        <label cLabel for="validationCustom01">OfficeOrder No<span class="text-danger">*</span></label>
        <input [(ngModel)]="postingOrderInfoService.postingOrderInfos.officeOrderNo" name="officeOrderNo"
          #officeOrderNo="ngModel" placeholder="Enter OfficeOrder No " cFormControl id="validationCustom01" required
          type="text" value="Mark" />

        @if(!officeOrderNo.valid&&officeOrderNo.touched){
        <div class="text-left text-danger">OfficeOrder No is required</div>
        }
      </c-col>
      <c-col [md]="3">
        <label cLabel for="validationCustom01">EmployeeId<span class="text-danger">*</span></label>
        <input [(ngModel)]="postingOrderInfoService.postingOrderInfos.empId" name="empId" #empId="ngModel"
          placeholder="Enter Employee Id " cFormControl id="validationCustom01" required type="number" value="Mark" />
        @if(!empId.valid&&empId.touched){
        <div class="text-left text-danger">Employee Id is required</div>
        }
      </c-col>
      <c-col [md]="3">
        <label cLabel for="validationCustom01">OfficeOrderDate<span class="text-danger">*</span></label>
        <input [(ngModel)]="postingOrderInfoService.postingOrderInfos.officeOrderDate" name="officeOrderDate"
          #officeOrderDate="ngModel" placeholder="Enter OfficeOrder No " cFormControl id="validationCustom01" required
          type="date" value="Mark" />
        @if(!officeOrderDate.valid&&officeOrderDate.touched){
        <div class="text-left text-danger">officeOrderDate value is required</div>
        }
      </c-col>
      <c-col [md]="3">
        <label cLabel for="validationCustom01">OrderOffice By<span class="text-danger">*</span></label>
        <input [(ngModel)]="postingOrderInfoService.postingOrderInfos.orderOfficeBy" name="orderOfficeBy"
          #orderOfficeBy="ngModel" placeholder="Enter OrderOfficeBy" cFormControl id="validationCustom01" required
          type="text" value="Mark" />
        @if(!orderOfficeBy.valid&&orderOfficeBy.touched){
        <div class="text-left text-danger">OrderOfficeBy value is required</div>
        }
      </c-col>

      <c-col [md]="3">
        <label cLabel for="validationCustom01">Transfer Section<span class="text-danger">*</span></label>
        <input [(ngModel)]="postingOrderInfoService.postingOrderInfos.transferSection" name="transferSection"
          #transferSection="ngModel" placeholder="Enter transferSection  " cFormControl id="validationCustom01" required
          type="text" value="Mark" />
        @if(!transferSection.valid&&transferSection.touched){
        <div class="text-left text-danger">transferSection value is required</div>
        }
      </c-col>

      <c-col [md]="3">
        <label cLabel for="validationCustom01">Release Type<span class="text-danger">*</span></label>
        <input [(ngModel)]="postingOrderInfoService.postingOrderInfos.releaseType" name="releaseType"
          #releaseType="ngModel" placeholder="Enter releaseType  " cFormControl id="validationCustom01" required
          type="text" value="Mark" />
        @if(!releaseType.valid&&releaseType.touched){
        <div class="text-left text-danger">ReleaseType value is required</div>
        }
      </c-col>

      <c-col [md]="3">
        <label cLabel for="validationCustom02">Is Active </label>
        <input [(ngModel)]="postingOrderInfoService.postingOrderInfos.isActive" name="isActive" cFormControl
          id="validationCustom02" type="text" value="Otto" />
        <c-form-feedback [valid]="true">Looks good!</c-form-feedback>
      </c-col>

      <c-col [xs]="12">
        <button [disabled]="loading" [disabled]="PostingAndTrnsForm.invalid" cButton class="me-1" color="primary"
          type="submit">
          <c-spinner [hidden]="loading == false" size="sm"></c-spinner>
          {{ btnText }}
        </button>
        <button cButton color="secondary" (click)="resetForm()">Reset</button>
      </c-col>
    </form>

  </c-card-body>
</c-card>

<c-card class="mt-3">
  <c-card-header>Transfer Approve Information</c-card-header>
  <c-card-body>
    <mat-card-content>
      <form #PostingAndTrnsForm="ngForm" (submit)="onSubmit(PostingAndTrnsForm)" [gutter]="3" novalidate cForm cRow>
        <c-col [md]="3">
          <input type="hidden" [(ngModel)]="transferApproveInfoService.transferApproveInfos.transferApproveInfoId"
            name="transferApproveInfoId" />
          <!-- <input type="hidden" [(ngModel)]="bloodGroupService.bloodGroups.menuPosition" name="menuPosition"/> -->
          <label cLabel for="validationCustom01">Approve Status<span class="text-danger">*</span></label>
          <input [(ngModel)]="transferApproveInfoService.transferApproveInfos.approveStatus" name="approveStatus"
            #approveStatus="ngModel" placeholder="Enter Approve Status" cFormControl id="validationCustom01" required
            type="text" value="Mark" />
          @if(!approveStatus.valid&&approveStatus.touched){
          <div class="text-left text-danger">Approve Status is required</div>
          }
        </c-col>

        <c-col [md]="3">
          <label cLabel for="validationCustom01">Approve By<span class="text-danger">*</span></label>
          <input [(ngModel)]="transferApproveInfoService.transferApproveInfos.approveBy" name="approveBy"
            #approveBy="ngModel" placeholder="Enter Approve By Status" cFormControl id="validationCustom01" required
            type="text" value="Mark" />
          @if(!approveBy.valid&&approveBy.touched){
          <div class="text-left text-danger">Approve By is required</div>
          }
        </c-col>

        <c-col [md]="3">
          <label cLabel for="validationCustom01">Approve Date<span class="text-danger">*</span></label>
          <input [(ngModel)]="transferApproveInfoService.transferApproveInfos.approveDate" name="approveDate"
            #approveDate="ngModel" placeholder="Enter Approve Date Status" cFormControl id="validationCustom01" required
            type="date" value="Mark" />
          @if(!approveDate.valid&&approveDate.touched){
          <div class="text-left text-danger">Approve Date is required</div>
          }
        </c-col>

        <c-col [md]="3">
          <label cLabel for="validationCustom01">Remarks<span class="text-danger">*</span></label>
          <input [(ngModel)]="transferApproveInfoService.transferApproveInfos.remarks" name="remarks" #remarks="ngModel"
            placeholder="Enter Remarks" cFormControl id="validationCustom01" required type="text" value="Mark" />
          @if(!remarks.valid&&remarks.touched){
          <div class="text-left text-danger">Remarks is required</div>
          }
        </c-col>
      </form>
    </mat-card-content>
  </c-card-body>
</c-card>
<c-card-header class="d-flex justify-content-between">
  <div>{{userHeaderText}}</div>
  <div><button cButton color="primary" shape="rounded-pill" (click)="UserFormView()"><svg cIcon
        name={{buttonIcon}}></svg> {{userBtnText}}</button></div>
</c-card-header>
<c-card class="mt-3 shadow">
  <c-card-body [visible]="visible" cCollapse class="shadow">
    <form #PostingAndTrnsForm="ngForm" (submit)="onSubmit(PostingAndTrnsForm)" [gutter]="3" novalidate cForm cRow>

      <c-card-header>Departmental Release Information</c-card-header>

      <c-col [md]="3">
        <input type="hidden" [(ngModel)]="deptReleaseInfoService.deptReleaseInfo.depReleaseInfoId"
          name="depReleaseInfoId" />
        <label cLabel for="validationCustom01">Relese Type<span class="text-danger">*</span></label>
        <input [(ngModel)]="deptReleaseInfoService.deptReleaseInfo.releaseType" name="releaseType"
          #releaseType="ngModel" placeholder="Enter Release Type" cFormControl id="validationCustom01" required
          type="text" value="Mark" />
        @if(!releaseType.valid&&releaseType.touched){
        <div class="text-left text-danger">Release Type is required</div>
        }
      </c-col>

      <c-col [md]="3">
        <label cLabel for="validationCustom01">Relese Date<span class="text-danger">*</span></label>
        <input [(ngModel)]="deptReleaseInfoService.deptReleaseInfo.releaseDate" name="releaseDate"
          #releaseDate="ngModel" placeholder="Enter Relese Date Status" cFormControl id="validationCustom01" required
          type="date" value="Mark" />
        @if(!releaseDate.valid&&releaseDate.touched){
        <div class="text-left text-danger">Relese Date is required</div>
        }
      </c-col>

      <c-col [md]="3">
        <label cLabel for="validationCustom01">Referenc no <span class="text-danger">*</span></label>
        <input [(ngModel)]="deptReleaseInfoService.deptReleaseInfo.referenceNo" name="referenceNo"
          #referenceNo="ngModel" placeholder="Enter References Status" cFormControl id="validationCustom01" required
          type="text" value="Mark" />
        @if(!referenceNo.valid&&referenceNo.touched){
        <div class="text-left text-danger">References No is required</div>
        }
      </c-col>

      <c-col [md]="3">
        <label cLabel for="validationCustom01">Depertmental Clearance<span class="text-danger">*</span></label>
        <input [(ngModel)]="deptReleaseInfoService.deptReleaseInfo.depClearance" name="depClearance"
          #depClearance="ngModel" placeholder="Enter Departmental Clearance" cFormControl id="validationCustom01"
          required type="text" value="Mark" />
        @if(!depClearance.valid&&depClearance.touched){
        <div class="text-left text-danger">Departmental Clearance required</div>
        }
      </c-col>
      <c-col [md]="3">
        <label cLabel for="validationCustom01">Remarks<span class="text-danger">*</span></label>
        <input [(ngModel)]="deptReleaseInfoService.deptReleaseInfo.remarks" name="remarks" #remarks="ngModel"
          placeholder="Enter Remarks " cFormControl id="validationCustom01" required type="text" value="Mark" />
        @if(!remarks.valid&&remarks.touched){
        <div class="text-left text-danger">Remarks required</div>
        }
      </c-col>
    </form>
  </c-card-body>
</c-card>

<c-card class="mt-3 shadow">
  <c-card-body [visible]="visible" cCollapse class="shadow">
    <mat-card>
      <form #PostingAndTrnsForm="ngForm" (submit)="onSubmit(PostingAndTrnsForm)" [gutter]="3" novalidate cForm cRow>

        <c-card-header>Employee Transfer/Posting Joining</c-card-header>

        <c-col [md]="3">
          <input type="hidden" [(ngModel)]="empTnsferPostingJoinService.empTnsferPostingJoin.empTnsferPostingJoinId"
            name="depReleaseInfoId" />
          <label cLabel for="validationCustom01">Join Date<span class="text-danger">*</span></label>
          <input [(ngModel)]="empTnsferPostingJoinService.empTnsferPostingJoin.joinDate" name="joinDate"
            #joinDate="ngModel" placeholder="Enter Join Date" cFormControl id="validationCustom01" required type="date"
            value="Mark" />
          @if(!joinDate.valid&&joinDate.touched){
          <div class="text-left text-danger">Join Date is required</div>
          }
        </c-col>

        <c-col [md]="3">
          <label cLabel for="validationCustom01">Remarks<span class="text-danger">*</span></label>
          <input [(ngModel)]="empTnsferPostingJoinService.empTnsferPostingJoin.remarks" name="remarks"
            #remarks="ngModel" placeholder="Enter Remarks " cFormControl id="validationCustom01" required type="text"
            value="Mark" />
          @if(!remarks.valid&&remarks.touched){
          <div class="text-left text-danger">Remarks required</div>
          }
        </c-col>
        <!-- <c-col [xs]="12">
          <button [disabled]="loading" [disabled]="PostingAndTrnsForm.invalid" cButton class="me-1" color="primary"
            type="submit">
            <c-spinner [hidden]="loading == false" size="sm"></c-spinner>
            {{ btnText }}
          </button>
          <button cButton color="secondary" (click)="resetForm()">Reset</button>
        </c-col> -->
        
      </form>
    </mat-card>
  </c-card-body>
</c-card>
<!-- <button cButton color="primary" shape="rounded-pill" (click)="onSubmitAllForms()">
  Save All Data
</button> -->