<c-card class="mt-3 mb-3 shadow">
    <c-card-header class="d-flex justify-content-between">
        <div>{{headerText}}</div>
        <div><button cButton color="primary" shape="rounded-pill" (click)="UserFormView()">{{headerBtnText}}</button>
        </div>
    </c-card-header>
    <c-card-body [visible]="visible" cCollapse>
        <form [formGroup]="EmpSpouseInfoForm" (ngSubmit)="insertSpouse()">
            <ng-container formArrayName="empSpouseList">
                <ng-container *ngFor="let p of empSpouseListArray.controls; let i=index">
                    <c-card class="mt-3 mb-3 shadow">
                        <c-card-body>
                            <div [formGroupName]="i">
                                <div class="form-group mb-2" cRow [gutter]="3">
                                    <input type="hidden" formControlName="spouseName" />
                                    <input type="hidden" formControlName="spouseName" />
                                    <c-col [md]="4">
                                        <label class="col-form-label" for="spouseName{{i}}">Spouse NameBangla</label>
                                        <input type="text" formControlName="spouseName" class="form-control"
                                            id="spouseName{{i}}" placeholder="Enter Spouse Name" />
                                    </c-col>

                                    <c-col [md]="4">
                                        <label class="col-form-label" for="spouseNameBangla{{i}}">Spouse Bangla
                                            Name</label>
                                        <input type="text" formControlName="spouseNameBangla" class="form-control"
                                            id="spouseNameBangla{{i}}" placeholder="Enter Spouse Bangla Name" />
                                    </c-col>

                                    <c-col [md]="4">
                                        <label class="col-form-label" for="dateOfBirth{{i}}">Date of Birth</label>
                                        <input type="date" formControlName="dateOfBirth" class="form-control"
                                            id="dateOfBirth{{i}}" />
                                    </c-col>

                                    <c-col [md]="4">
                                        <label class="col-form-label" for="birthRegNo{{i}}">Birth Reg. No</label>
                                        <input type="number" formControlName="birthRegNo" class="form-control"
                                            id="birthRegNo{{i}}" placeholder="Enter Birth Reg. No" />
                                    </c-col>

                                    <c-col [md]="4">
                                        <label class="col-form-label" for="nid{{i}}">NID No</label>
                                        <input type="number" formControlName="nid" class="form-control" id="nid{{i}}"
                                            placeholder="NID No" />
                                    </c-col>

                                    <c-col [md]="4">
                                        <label class="col-form-label" for="occupationId{{i}}">Select Occupation</label>
                                        <select formControlName="occupationId" class="form-select">
                                            <option value="null" disabled>----Select-----</option>
                                            <option *ngFor="let item of occupations" value="{{item.id}}">{{item.name}}
                                            </option>
                                        </select>
                                    </c-col>

                                    <c-col [md]="12" class="d-flex justify-content-end">
                                        <button mat-icon-button class="bg-danger text-light"
                                            (click)="removeSkillList(i)"><mat-icon>delete</mat-icon></button>
                                    </c-col>
                                </div>
                            </div>
                        </c-card-body>
                    </c-card>
                </ng-container>
            </ng-container>
            <c-col [md]="12" class="d-flex justify-content-end">
                <button mat-icon-button class="bg-success text-light mb-3" type="button"
                    (click)="addSkill()"><mat-icon>add</mat-icon></button>
            </c-col>
            <div class="form-group">
                <c-col [xs]="12">
                    <div class="d-flex justify-content-between">
                        <div>
                            <button [disabled]="loading" [disabled]="EmpSpouseInfoForm.invalid" cButton class="me-1"
                                color="primary" type="submit">
                                <c-spinner [hidden]="loading == false" size="sm"></c-spinner>
                                {{ btnText }}
                            </button>
                        </div>
                        <div>
                            <button cButton color="danger" class="text-light" (click)="cancel()">Cancel</button>
                        </div>
                    </div>
                </c-col>
            </div>
        </form>

    </c-card-body>
</c-card>


<!-- 
<c-card class="mt-3 mb-3 shadow">
    <c-card-header class="d-flex justify-content-between">
        <div>{{headerText}}</div>
        <div><button cButton color="primary" shape="rounded-pill" (click)="UserFormView()">{{headerBtnText}}</button>
        </div>
    </c-card-header>
    <c-card-body [visible]="visible" cCollapse>
        <form #EmpSpouseInfoForm="ngForm" (submit)="onSubmit(EmpSpouseInfoForm)" novalidate cForm
            class="needs-validation">

            <div *ngFor="let info of empSpouseInfoList; let i = index">
                <c-card class="mt-3 mb-3 shadow empSpouseInformation">
                    <c-card-body cRow [gutter]="3">
                        <input type="hidden" [(ngModel)]="empSpouseInfoService.empSpouseInfo.id" name="id" />
                        <input type="hidden" [(ngModel)]="empSpouseInfoService.empSpouseInfo.empId" name="empId" />

                        <c-col [md]="4">
                            <label cLabel for="spouseName{{i}}">Spouse Name<span class="text-danger">*</span></label>
                            <input [(ngModel)]="info.spouseName" name="spouseName" #spouseName="ngModel"
                                placeholder="Enter Spouse Name" cFormControl id="spouseName{{i}}" required
                                type="text" />
                            <div *ngIf="!spouseName.valid && spouseName.touched" class="text-left text-danger">Spouse
                                Name is required</div>
                        </c-col>

                        <c-col [md]="4">
                            <label cLabel for="spouseNameBangla{{i}}">Spouse Name Bangla<span
                                    class="text-danger"></span></label>
                            <input [(ngModel)]="info.spouseNameBangla" name="spouseNameBangla"
                                #spouseNameBangla="ngModel" placeholder="Enter Spouse Name Bangla" cFormControl
                                id="spouseNameBangla{{i}}" type="text" />
                            <div *ngIf="!spouseNameBangla.valid && spouseNameBangla.touched"
                                class="text-left text-danger">Spouse Name Bangla is required</div>
                        </c-col>

                        <c-col [md]="4">
                            <label cLabel for="dateOfBirth{{i}}">Date of Birth<span class="text-danger"></span></label>
                            <input [(ngModel)]="info.dateOfBirth" name="dateOfBirth" #dateOfBirth="ngModel" cFormControl
                                id="dateOfBirth{{i}}" type="date" />
                            <div *ngIf="!dateOfBirth.value && dateOfBirth.touched" class="text-left text-danger">Date of
                                Birth is required</div>
                        </c-col>

                        <c-col [md]="4">
                            <label cLabel for="birthRegNo{{i}}">Birth Registration Number<span
                                    class="text-danger">*</span></label>
                            <input [(ngModel)]="info.birthRegNo" name="birthRegNo" #birthRegNo="ngModel"
                                placeholder="Enter Birth Registration Number" cFormControl id="birthRegNo{{i}}"
                                type="text" pattern="[0-9]*" />
                            <div *ngIf="!birthRegNo.valid && birthRegNo.touched && birthRegNo.value"
                                class="text-left text-danger">Invalid Birth Registration Number</div>
                        </c-col>

                        <c-col [md]="4">
                            <label cLabel for="nid{{i}}">NID Number<span class="text-danger"></span></label>
                            <input [(ngModel)]="info.nid" name="nid" #nid="ngModel" placeholder="Enter NID Number"
                                cFormControl id="nid{{i}}" type="text" pattern="[0-9]*" />
                            <div *ngIf="!nid.value && nid.touched" class="text-left text-danger">NID Number is required
                            </div>
                            <div *ngIf="!nid.valid && nid.touched && nid.value" class="text-left text-danger">Invalid
                                NID Number</div>
                        </c-col>

                        <c-col [md]="4">
                            <label cLabel for="occupationId{{i}}">Occupation</label>
                            <div class="input-wrapper">
                                <select [(ngModel)]="info.occupationId" name="occupationId" #occupationId="ngModel"
                                    cFormControl id="occupationId{{i}}" aria-label="Default select example" cSelect>
                                    <option [ngValue]="null">Select Occupation Type</option>
                                    <option *ngFor="let occupation of occupations" [value]="occupation.id">{{
                                        occupation.name }}</option>
                                </select>
                                <div *ngIf="!occupationId.valid && occupationId.touched" class="text-left text-danger">
                                    Occupation is required</div>
                            </div>
                        </c-col>

                        <c-col [md]="12" class="d-flex justify-content-end">
                            <button mat-icon-button (click)="removeSpouseInfo(i)" class="bg-danger text-light">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </c-col>
                    </c-card-body>
                </c-card>
            </div>

            <div class="d-flex justify-content-end plus_Icon">
                <button mat-icon-button (click)="addSpouseInfo()" class="bg-success text-light mb-3">
                    <mat-icon>add</mat-icon>
                </button>
            </div>

            <c-col [xs]="12">
                <div class="d-flex justify-content-between">
                    <div>
                        <button [disabled]="loading" [disabled]="EmpSpouseInfoForm.invalid" cButton class="me-1"
                            color="primary" type="submit">
                            <c-spinner [hidden]="loading == false" size="sm"></c-spinner>
                            {{ btnText }}
                        </button>
                        <button cButton color="secondary" (click)="resetForm()">Reset</button>
                    </div>
                    <div>
                        <button cButton color="danger" class="text-light" (click)="cancel()">Cancel</button>
                    </div>
                </div>
            </c-col>

        </form>
    </c-card-body>
</c-card> -->



<!-- 
<c-card class="mt-3 mb-3 shadow">
    <c-card-header class="d-flex justify-content-between">
        <div>{{headerText}}</div>
        <div><button cButton color="primary" shape="rounded-pill" (click)="UserFormView()">{{headerBtnText}}</button>
        </div>
    </c-card-header>
    <c-card-body [visible]="visible" cCollapse>
        
        <form #mainForm="ngForm" (ngSubmit)="onMainFormSubmit()" novalidate>
            <ng-container *ngFor="let info of empSpouseInfoList; let i = index">
                <div class="empSpouseInformation">
                    <c-card class="mt-3 mb-3 shadow">
                        <c-card-body cRow [gutter]="3">
                            <input type="hidden" [(ngModel)]="info.id" name="id" />
                            <input type="hidden" [(ngModel)]="info.empId" name="empId" />

                            <c-col [md]="4">
                                <label cLabel for="spouseName{{i}}">Spouse Name<span class="text-danger">*</span></label>
                                <input [(ngModel)]="info.spouseName" name="spouseName" #spouseName="ngModel" placeholder="Enter Spouse Name" cFormControl id="spouseName{{i}}" required type="text" />
                                <div *ngIf="!spouseName.valid && spouseName.touched" class="text-left text-danger">Spouse Name is required</div>
                            </c-col>
                            
                            <c-col [md]="4">
                                <label cLabel for="spouseNameBangla{{i}}">Spouse Name Bangla<span class="text-danger"></span></label>
                                <input [(ngModel)]="info.spouseNameBangla" name="spouseNameBangla" #spouseNameBangla="ngModel" placeholder="Enter Spouse Name Bangla" cFormControl id="spouseNameBangla{{i}}"  type="text" />
                                <div *ngIf="!spouseNameBangla.valid && spouseNameBangla.touched" class="text-left text-danger">Spouse Name Bangla is required</div>
                            </c-col>
                  
                              <c-col [md]="4">
                                <label cLabel for="dateOfBirth{{i}}">Date of Birth<span class="text-danger"></span></label>
                                <input [(ngModel)]="info.dateOfBirth" name="dateOfBirth" #dateOfBirth="ngModel" cFormControl id="dateOfBirth{{i}}"  type="date" />
                                <div *ngIf="!dateOfBirth.value && dateOfBirth.touched" class="text-left text-danger">Date of Birth is required</div>
                              </c-col>
                  
                              <c-col [md]="4">
                                <label cLabel for="birthRegNo{{i}}">Birth Registration Number<span class="text-danger">*</span></label>
                                <input [(ngModel)]="info.birthRegNo" name="birthRegNo" #birthRegNo="ngModel" placeholder="Enter Birth Registration Number" cFormControl id="birthRegNo{{i}}" type="text" pattern="[0-9]*" />
                                <div *ngIf="!birthRegNo.valid && birthRegNo.touched && birthRegNo.value" class="text-left text-danger">Invalid Birth Registration Number</div>
                              </c-col>
                  
                              <c-col [md]="4">
                                <label cLabel for="nid{{i}}">NID Number<span class="text-danger"></span></label>
                                <input [(ngModel)]="info.nid" name="nid" #nid="ngModel" placeholder="Enter NID Number" cFormControl id="nid{{i}}" type="text" pattern="[0-9]*" />
                                <div *ngIf="!nid.value && nid.touched" class="text-left text-danger">NID Number is required</div>
                                <div *ngIf="!nid.valid && nid.touched && nid.value" class="text-left text-danger">Invalid NID Number</div>
                              </c-col>
                  
                              <c-col [md]="4">
                                <label cLabel for="occupationId{{i}}">Occupation</label>
                                <div class="input-wrapper">
                                  <select [(ngModel)]="info.occupationId" name="occupationId" #occupationId="ngModel" cFormControl id="occupationId{{i}}" aria-label="Default select example" cSelect>
                                    <option [ngValue]="null">Select Occupation Type</option>
                                    <option *ngFor="let occupation of occupations" [value]="occupation.id">{{ occupation.name }}</option>
                                  </select>
                                  <div *ngIf="!occupationId.valid && occupationId.touched" class="text-left text-danger">Occupation is required</div>
                                </div>
                            </c-col>
    
                            <c-col [md]="12"  class="d-flex justify-content-end">
                                <button mat-icon-button (click)="removeSpouseInfo(i)" class="bg-danger text-light" type="button">
                                    <mat-icon>delete</mat-icon>
                                </button>
                            </c-col>
                        </c-card-body>
                    </c-card>
                </div>
                
            <div class="d-flex justify-content-end plus_Icon">
                <button mat-icon-button (click)="addSpouseInfo()" class="bg-success text-light mb-3" type="button">
                    <mat-icon>add</mat-icon>
                </button>
            </div>

            </ng-container>

            <c-col [xs]="12" class="d-flex justify-content-between mt-3">
                <div>
                    <button [disabled]="loading" cButton class="me-1" color="primary" type="submit">
                        <c-spinner [hidden]="loading == false" size="sm"></c-spinner>
                        {{ btnText }}
                    </button>
                </div>
                <div>
                    <button type="button" cButton color="danger" class="text-light" (click)="cancel()">Cancel</button>
                </div>
            </c-col>
        </form>
    </c-card-body>
</c-card> -->