<c-card class="mt-3 mb-3 shadow">
    <c-card-header class="d-flex justify-content-between">
        <div>{{headerText}}</div>
        <div><button cButton color="primary" shape="rounded-pill" (click)="UserFormView()">{{headerBtnText}}</button>
        </div>
    </c-card-header>
    <c-card-body [visible]="visible" cCollapse>
        <form [formGroup]="EmpSpouseInfoForm" (ngSubmit)="insertSpouse()">
            <ng-container formArrayName="empSpouseList">
                <ng-container *ngFor="let p of empSpouseListArray.controls; let i=index">
                    <c-card class="mt-3 mb-3 shadow">
                        <c-card-body>
                            <div [formGroupName]="i">
                                <div class="form-group mb-2" cRow [gutter]="3">
                                    <input type="hidden" formControlName="id" />
                                    <input type="hidden" formControlName="empId" />
                                    <c-col [md]="4">
                                        <label class="col-form-label" for="spouseName{{i}}">Spouse Name</label>
                                        <input type="text" formControlName="spouseName" class="form-control"
                                            id="spouseName{{i}}" placeholder="Enter Spouse Name" />
                                    </c-col>

                                    <c-col [md]="4">
                                        <label class="col-form-label" for="spouseNameBangla{{i}}">Spouse Bangla
                                            Name</label>
                                        <input type="text" formControlName="spouseNameBangla" class="form-control"
                                            id="spouseNameBangla{{i}}" placeholder="Enter Spouse Bangla Name" />
                                    </c-col>

                                    <c-col [md]="4">
                                        <label class="col-form-label" for="dateOfBirth{{i}}">Date of Birth</label>
                                        <input type="date" formControlName="dateOfBirth" class="form-control"
                                            id="dateOfBirth{{i}}" />
                                    </c-col>

                                    <c-col [md]="4">
                                        <label class="col-form-label" for="birthRegNo{{i}}">Birth Reg. No</label>
                                        <input type="text" formControlName="birthRegNo" class="form-control"
                                            id="birthRegNo{{i}}" placeholder="Enter Birth Reg. No" />
                                    </c-col>

                                    <c-col [md]="4">
                                        <label class="col-form-label" for="nid{{i}}">NID No</label>
                                        <input type="text" formControlName="nid" class="form-control" id="nid{{i}}"
                                            placeholder="NID No" />
                                    </c-col>

                                    <c-col [md]="4">
                                        <label class="col-form-label" for="occupationId{{i}}">Select Occupation</label>
                                        <select formControlName="occupationId" class="form-select">
                                            <option value="null" disabled>Select Occupation</option>
                                            <option *ngFor="let item of occupations" value="{{item.id}}">{{item.name}}
                                            </option>
                                        </select>
                                    </c-col>
                                    
                                    <c-col [md]="4">
                                        <label class="col-form-label" for="remark{{i}}">Remark</label>
                                        <input type="text" formControlName="remark" class="form-control"
                                            id="remark{{i}}" placeholder="Enter Remark" />
                                    </c-col>

                                    <c-col [md]="12" class="d-flex justify-content-end">
                                        <button cTooltip="Delete" cTooltipPlacement="bottom" mat-mini-fab color="warn" type="button"
                                            (click)="removeSpouselList(i, p.get('id')?.value ?? null)"><mat-icon>delete</mat-icon></button>
                                    </c-col>
                                </div>
                            </div>
                        </c-card-body>
                    </c-card>
                </ng-container>
            </ng-container>
            <c-col [md]="12" class="d-flex justify-content-end">
                <button cTooltip="Add" cTooltipPlacement="bottom" mat-mini-fab class="bg-success text-light mb-3" type="button"
                    (click)="addSpouse()"><mat-icon>add</mat-icon></button>
            </c-col>
            <div class="form-group">
                <c-col [xs]="12">
                    <div class="d-flex justify-content-between">
                        <div>
                            <button [disabled]="loading" [disabled]="EmpSpouseInfoForm.invalid" cButton class="me-1"
                                color="primary" type="submit">
                                <c-spinner [hidden]="loading == false" size="sm"></c-spinner>
                                {{ btnText }}
                            </button>
                        </div>
                        <div>
                            <button cButton color="danger" class="text-light" (click)="cancel()" type="button">Cancel</button>
                        </div>
                    </div>
                </c-col>
            </div>
        </form>

    </c-card-body>
</c-card>

