<c-card class="mt-3 mb-3 shadow">
    <c-card-header class="d-flex justify-content-between">
        <div>{{headerText}}</div>
        <div><button cButton color="primary" shape="rounded-pill" (click)="UserFormView()">{{headerBtnText}}</button>
        </div>
    </c-card-header>
    <c-card-body [visible]="visible" cCollapse>
        <form [formGroup]="EmpNomineeInfoForm" (ngSubmit)="saveNomineeSingle()">
            <ng-container formArrayName="empNomineeList">
                <ng-container *ngFor="let p of empNomineeListArray.controls; let i=index">
                    <c-card class="mt-3 mb-3 shadow">
                        <c-card-body>
                            <div [formGroupName]="i">
                                <div class="form-group mb-2" cRow [gutter]="3">
                                    <input type="hidden" formControlName="id" />
                                    <input type="hidden" formControlName="empId" />
                                    <input type="hidden" formControlName="pNo" />
                                    <c-col [md]="4">
                                        <label class="col-form-label" for="nomineeName{{i}}">Nominee Name</label>
                                        <input type="text" formControlName="nomineeName" class="form-control"
                                            id="nomineeName{{i}}" placeholder="Enter Nominee Name" />
                                    </c-col>

                                    <c-col [md]="4">
                                        <label class="col-form-label" for="dateOfBirth{{i}}">Date of Birth</label>
                                        <input type="date" formControlName="dateOfBirth" class="form-control"
                                            id="dateOfBirth{{i}}" />
                                    </c-col>

                                    <c-col [md]="4">
                                        <label class="col-form-label" for="birthRegNo{{i}}">Birth Reg. No</label>
                                        <input type="number" formControlName="birthRegNo" class="form-control"
                                            id="birthRegNo{{i}}" placeholder="Enter Birth Reg. No" />
                                    </c-col>

                                    <c-col [md]="4">
                                        <label class="col-form-label" for="nid{{i}}">NID No</label>
                                        <input type="number" formControlName="nid" class="form-control" id="nid{{i}}"
                                            placeholder="NID No" />
                                    </c-col>
                                    
                                    <c-col [md]="4">
                                        <label class="col-form-label" for="relationId{{i}}">Relation Type</label>
                                        <select formControlName="relationId" class="form-select">
                                            <option value="null" disabled>Select Relation</option>
                                            <option *ngFor="let item of relationType" value="{{item.id}}">{{item.name}}
                                            </option>
                                        </select>
                                    </c-col>
                                    
                                    <c-col [md]="4">
                                        <label class="col-form-label" for="percentage{{i}}">Percentage</label>
                                        <input type="number" formControlName="percentage" class="form-control" id="percentage{{i}}"
                                            placeholder="Percentage" />
                                    </c-col>
                                    
                                    <c-col [md]="4">
                                        <label class="col-form-label" for="address{{i}}">Address</label>
                                        <input type="text" formControlName="address" class="form-control" id="address{{i}}"
                                            placeholder="Enter Address" />
                                    </c-col>
                                    
                                    
                                    <c-col [md]="4">
                                        <img *ngIf="empNomineeListArray.controls[i].get('photoPreviewUrl')?.value" [src]="empNomineeListArray.controls[i].get('photoPreviewUrl')?.value" alt="Photo Preview" width="100"/>
                                        <label class="col-form-label" for="photoFile{{i}}">Photo</label>
                                        <input type="file" formControlName="photoFile" class="form-control" id="photoFile{{i}}" (change)="onPhotoSelected($event, i)"/>
  
                                    </c-col>
                                    
                                    <c-col [md]="4">
                                        <img *ngIf="empNomineeListArray.controls[i].get('signaturePreviewUrl')?.value" [src]="empNomineeListArray.controls[i].get('signaturePreviewUrl')?.value" alt="Signature Preview" width="100"/>
                                        <label class="col-form-label" for="signatureFile{{i}}">Signature</label>
                                        <input type="file" formControlName="signatureFile" class="form-control" id="signatureFile{{i}}" (change)="onSignatureSelected($event, i)"/>
  
                                    </c-col>
                                    
                                    <c-col [md]="4">
                                        <label class="col-form-label" for="uniqueIdentity{{i}}">Unique Identity</label>
                                        <input type="text" formControlName="uniqueIdentity" class="form-control" id="uniqueIdentity{{i}}"
                                            placeholder="Enter Unique Identity" />
                                    </c-col>

                                    <c-col [md]="4">
                                        <label class="col-form-label" for="remark{{i}}">Remark</label>
                                        <input type="text" formControlName="remark" class="form-control"
                                            id="remark{{i}}" placeholder="Enter Remark" />
                                    </c-col>
                                    
                                    <c-col [md]="4">
                                        <label class="col-form-label" for="isActive{{i}}">Active Status</label>
                                        <select formControlName="isActive" class="form-select">
                                            <option value="true">Active</option>
                                            <option value="true">De-Active</option>
                                        </select>
                                    </c-col>

                                    <c-col [md]="12" class="d-flex justify-content-end">
                                        <button mat-mini-fab color="warn" type="button"
                                            (click)="removeNomineeList(i, p.get('id')?.value ?? null)"><mat-icon>delete</mat-icon></button>
                                    </c-col>
                                </div>
                            </div>
                        </c-card-body>
                    </c-card>
                </ng-container>
            </ng-container>
            <c-col [md]="12" class="d-flex justify-content-end">
                <button mat-mini-fab class="bg-success text-light mb-3" type="button"
                    (click)="addNominee()"><mat-icon>add</mat-icon></button>
            </c-col>
            <div class="form-group">
                <c-col [xs]="12">
                    <div class="d-flex justify-content-between">
                        <div>
                            <button [disabled]="loading" [disabled]="EmpNomineeInfoForm.invalid" cButton class="me-1"
                                color="primary" type="submit">
                                <c-spinner [hidden]="loading == false" size="sm"></c-spinner>
                                {{ btnText }}
                            </button>
                        </div>
                        <div>
                            <button cButton color="danger" class="text-light" (click)="cancel()" type="button">Cancel</button>
                        </div>
                    </div>
                </c-col>
            </div>
        </form>

    </c-card-body>
</c-card>

