<c-card>
  <c-card-header>Transfer Approved  </c-card-header>
  <c-card-body>
    <c-card>
      <c-card-body>
        <form #TransferApproveInfoForm="ngForm" name="TransferApproveInfoForm"
          (submit)="onSubmit(TransferApproveInfoForm)" [gutter]="3" novalidate cForm cRow>
          <c-card-header>Transfer Approve Info</c-card-header>
          <c-col [md]="3">
            <input type="hidden" [(ngModel)]="postingOrderInfoService.postingOrderInfos.empId" name="empId" />
            <label cLabel for="validationCustom1">Approve Status</label>
            <select [(ngModel)]="transferApproveInfoService.transferApproveInfos.approveStatus" name="approveStatus"
              cSelect id="validationCustom01">
              <option value="true">Approve</option>
              <option value="false">Reject</option>
            </select>
          </c-col>
          <c-col [md]="3">
            <label cLabel for="validationCustom55">Approve By <span class="text-danger">*</span></label>
            <input (dblclick)="openApproveEmpTransferJoin()"
              [(ngModel)]="transferApproveInfoService.transferApproveInfos.approveByName" name="approveByName"
              #approveBy="ngModel" placeholder="Enter Approve By " cFormControl id="validationCustom55" required
              type="text" value="Mark" />
            <input [(ngModel)]="transferApproveInfoService.transferApproveInfos.approveBy" name="approveBy" hidden />
            <div *ngIf="approveBy.touched && !approveBy.valid" class="text-left text-danger">Approve By value is
              required</div>
          </c-col>
          
          <c-col [md]="3">
                 <input type="hidden" [(ngModel)]="postingOrderInfoService.postingOrderInfos.postingOrderInfoId" name="postingOrderInfoId" />
            <label cLabel for="validationCustom03">Approve Date<span class="text-danger">*</span></label>
            <input [(ngModel)]="transferApproveInfoService.transferApproveInfos.approveDate" name="formattedDate"
              #approveDate="ngModel" placeholder="Enter Approve Date Status" cFormControl id="validationCustom03" required
              type="date" value="Mark" />
            @if(!approveDate.valid&&approveDate.touched){
            <div class="text-left text-danger">Approve Date is required</div>
            }
          </c-col>
  
          <c-col [md]="3">
            <label cLabel for="validationCustom04">Remarks<span class="text-danger">*</span></label>
            <input [(ngModel)]="transferApproveInfoService.transferApproveInfos.remarks" name="remarks" #remarks="ngModel"
              placeholder="Enter Remarks" cFormControl id="validationCustom04" required type="text" value="Mark" />
            @if(!remarks.valid&&remarks.touched){
            <div class="text-left text-danger">Remarks is required</div>
            }
          </c-col>
          <c-col [xs]="12">
            <button [disabled]="TransferApproveInfoForm.invalid" cButton class="me-1" color="primary" type="submit">
              {{ btnText }}
            </button>
            <button cButton color="secondary" (click)="resetFormTransfer()">Reset</button>
          </c-col>
        </form>
      </c-card-body>
    </c-card>
  </c-card-body>
</c-card>

