<div>
    <c-card>
        <c-card-header class="text-center">4th part(Detailed Comment)</c-card-header>
        <c-button-group aria-label="Basic example" role="group">
            <c-button-group aria-label="Basic example" role="group">
                <button cButton color="primary" [routerLink]="['/appraisal/officerForm']">Part-1</button>
                <button cButton color="primary" [routerLink]="['/appraisal/officerForm2']">Part-2</button>
                <button cButton color="primary" [routerLink]="['/appraisal/officerFormPart3']">Part-3</button>
                <button cButton color="primary" [active]="true">Part-4</button>
                <button cButton color="primary" [routerLink]="['/appraisal/officerFormPart5']" (click)="onSubmit(officerForm)">Part-5</button>
                <button cButton color="primary" [routerLink]="['/appraisal/officerFormPart6']">Part-6</button>
                <button cButton color="primary" [routerLink]="['/appraisal/officerFormPart7']">Part-7</button>
            </c-button-group>
        </c-button-group>
        <c-card-body>
            <form cRow cForm 
            #officerForm="ngForm" 
            (ngSubmit)="onSubmit(officerForm)" 
            novalidate>
            <c-col [md]="6">
                <label cLabel class="mt-4">1.Personal Characteristics</label>
            </c-col>
            <c-col [md]="6">
            <input type="text" class="mt-4" cFormControl placeholder="Enter Your Comment" 
            [(ngModel)]="formData.personalCharacteristics"
            name="personalCharacteristics" required
            #personalCharacteristics="ngModel">
            @if(!personalCharacteristics.valid && personalCharacteristics.touched)
            {
              <div class="text-left text-danger"> Personal Characteristics is required</div>
            }
            </c-col>
            <c-col [md]="6">
                <label cLabel class="mt-4">2.Professional Skill</label>
            </c-col>
            <c-col [md]="6">
                <input type="text" class="mt-4" cFormControl placeholder="Enter Your Comment"
            [(ngModel)]="formData.professionalSkill"
            name="professionalSkill" required
            #professionalSkill="ngModel">
            @if(!professionalSkill.valid && professionalSkill.touched)
            {
              <div class="text-left text-danger"> Professional Skill is required</div>
            }
            </c-col>
            <c-col [md]="6">
                <label cLabel class="mt-4">3.Loyality and relaiability</label>
            </c-col>
            <c-col [md]="6">
                <input type="text" class="mt-4" cFormControl placeholder="Enter Your Comment" 
            [(ngModel)]="formData.loyalityAndRelaiability"
            name="loyalityAndRelaiability" required
            #loyalityAndRelaiability="ngModel">
            @if(!loyalityAndRelaiability.valid && loyalityAndRelaiability.touched)
            {
              <div class="text-left text-danger"> Loyality and relaiability is required</div>
            }
            </c-col>
           <c-col [md]="6">
                <label cLabel class="mt-4">4.Other Matters</label>
            </c-col>
            <c-col [md]="6">
                <input type="text" class="mt-4" cFormControl placeholder="Enter Your Comment" [(ngModel)]="formData.otherMatters"
                name="otherMatters" required
                #otherMatters="ngModel">
                @if(!otherMatters.valid && otherMatters.touched)
                {
                  <div class="text-left text-danger"> Other Matters is required</div>
                }
            </c-col>
            <c-col [md]="6">
                <label cLabel class="mt-4">5.Annual Confidential report writing & Countersigning Activates</label>
            </c-col>
            <c-col [md]="6">
                <input type="text" class="mt-4" cFormControl placeholder="Enter Your Comment"
            [(ngModel)]="formData.annualConfidentialReportWritingAndCountersigningActivates"
            name="annualConfidentialReportWritingAndCountersigningActivates" required
            #annualConfidentialReportWritingAndCountersigningActivates="ngModel">
            @if(!annualConfidentialReportWritingAndCountersigningActivates.valid && annualConfidentialReportWritingAndCountersigningActivates.touched)
            {
              <div class="text-left text-danger"> Annual Confidential report writing & Countersigning Activates is required</div>
            }
            </c-col>
            <c-col [md]="6">
                <label cLabel class="mt-4">6.Advice to Officers</label>
            </c-col>
            <c-col [md]="6">
                <input type="text" class="mt-4" cFormControl placeholder="Enter Your Comment"
            [(ngModel)]="formData.adviceToOfficers"
            name="adviceToOfficers" required
            #adviceToOfficers="ngModel">
            @if(!adviceToOfficers.valid && adviceToOfficers.touched)
            {
              <div class="text-left text-danger"> Advice to Officers is required</div>
            }
            </c-col>
            <c-col [md]="6">
                <label cLabel class="mt-4">7.Proficency and Interest in Bengali Language</label>
            </c-col>
            <c-col [md]="6">
                <input type="text" class="mt-4" cFormControl placeholder="Enter Your Comment"
            [(ngModel)]="formData.proficencyAndInterestBengaliLanguage"
            name="proficencyAndInterestBengaliLanguage" required
            #proficencyAndInterestBengaliLanguage="ngModel">
            @if(!proficencyAndInterestBengaliLanguage.valid && proficencyAndInterestBengaliLanguage.touched)
            {
              <div class="text-left text-danger"> Proficency and Interest in Bengali Language is required</div>
            }
            </c-col>
            <c-col class="d-flex justify-content-end align-items-center mt-3">           
                <div class="text-center">
                    <input type="file" cFormControl class="" 
                    [(ngModel)]="formData.signatureOfReportingOfficer"
                    name="signatureOfReportingOfficer" required
                    #signatureOfReportingOfficer="ngModel">
                    @if(!signatureOfReportingOfficer.valid && signatureOfReportingOfficer.touched)
                    {
                      <div class="text-left text-danger"> Signature is required</div>
                    }
                    <div>Signature of Reporting Officer</div>
                </div>
            </c-col>
            </form>         
        </c-card-body>
    </c-card>
    <c-card>      
        <c-card-footer>
          <div class="text-end">
            <button cButton color="primary" [routerLink]="[
            '/appraisal/officerFormPart5']" (click)="onSubmit(officerForm)">To be continue...</button>
          </div>
        </c-card-footer>
        </c-card>
</div>
