<c-card class="mt-3 mb-3 shadow">
    <c-card-header class="d-flex justify-content-between">
        <div>{{headerText}}</div>
        <div><button cButton color="primary" shape="rounded-pill" (click)="UserFormView()">{{headerBtnText}}</button>
        </div>
    </c-card-header>
    <c-card-body [visible]="visible" cCollapse>
        <form #EmpJobDetailsForm="ngForm" (submit)="onSubmit(EmpJobDetailsForm)" [gutter]="3" novalidate cForm cRow
            class="needs-validation">
            <input type="hidden" [(ngModel)]="empJobDetailsService.empJobDetails.id" name="id" />
            <input type="hidden" [(ngModel)]="empJobDetailsService.empJobDetails.empId" name="empId" />

            
            <!-- <c-col [md]="3">
                <label cLabel for="office">Office<span class="text-danger">*</span></label>
                <div class="input-wrapper">
                <select (change)="onOfficeSelect(empJobDetailsService.empJobDetails.officeId)" (change)="onOfficeSelectGetDesignation(empJobDetailsService.empJobDetails.officeId, empJobDetailsId)"
                (change)="onOfficeAndDepartmentSelect(empJobDetailsService.empJobDetails.officeId, 0)"
                    [(ngModel)]="empJobDetailsService.empJobDetails.officeId" name="officeId" #officeId="ngModel"
                    cFormControl id="office" required aria-label="Default select example" cSelect>
                    <option [ngValue]="null">Select Office</option>
        
                    @for(office of offices; track office.id;let index=$index) {
                    <option [value]="office.id">
                    {{ office.name }}
                    </option>
                    }
                </select>
        
                @if(!officeId.valid && officeId.touched){
                <div class="text-left text-danger">Office is required</div>
                }
                </div>
            </c-col> -->
            
            <c-col [md]="3">
                <label cLabel for="Department">Department<span class="text-danger"></span></label>
                <div class="input-wrapper">
                <select (change)="onDepartmentSelectGetDesignation(empJobDetailsService.empJobDetails.departmentId, empJobDetailsId)"
                (change)="onOfficeAndDepartmentSelect(empJobDetailsService.empJobDetails.departmentId)"
                    [(ngModel)]="empJobDetailsService.empJobDetails.departmentId" name="departmentId" #Department="ngModel"
                    cFormControl id="Department" aria-label="Default select example" cSelect>
                    <option [ngValue]="null">Select Department</option>
        
                    @for(department of departments; track department.id;let index=$index) {
                    <option [value]="department.id">
                    {{ department.name }}
                    </option>
                    }
                </select>
                @if(!Department.valid && Department.touched){
                <div class="text-left text-danger">Department is required</div>
                }
                </div>
            </c-col>
            
            <c-col [md]="3" [hidden]="sectionView == false">
                <label cLabel for="sectionId">Section<span class="text-danger"></span></label>
                <div class="input-wrapper">
                <select (change)="onSectionSelectGetDesignation(empJobDetailsService.empJobDetails.sectionId, empJobDetailsId)"
                    [(ngModel)]="empJobDetailsService.empJobDetails.sectionId" name="sectionId" #sectionId="ngModel"
                    cFormControl id="sectionId" aria-label="Default select example" cSelect>
                    <option [ngValue]="null">Select Section</option>
        
                    @for(section of sections; track section.id;let index=$index) {
                    <option [value]="section.id">
                    {{ section.name }}
                    </option>
                    }
                </select>
                @if(!sectionId.valid && sectionId.touched){
                <div class="text-left text-danger">Section is required</div>
                }
                </div>
            </c-col>
            
            <c-col [md]="3">
                <label cLabel for="Designation">Designation<span class="text-danger"></span></label>
                <div class="input-wrapper">
                <select
                    [(ngModel)]="empJobDetailsService.empJobDetails.designationId" name="designationId" #designationId="ngModel"
                    cFormControl id="Designation" aria-label="Default select example" cSelect>
                    <option [ngValue]="null">Select Designation</option>
        
                    @for(designation of designations; track designation.id;let index=$index) {
                    <option [value]="designation.id">
                    {{ designation.name }}
                    </option>
                    }
                </select>
                @if(!designationId.valid && designationId.touched){
                <div class="text-left text-danger">Designation is required</div>
                }
                </div>
            </c-col>
            
            
            <c-col [md]="3">
                <label cLabel for="presentGradeId"
                >Present Grade<span class="text-danger"></span></label
                >
                <select (change)="onChangeGradeGetScale(empJobDetailsService.empJobDetails.presentGradeId)"
                [(ngModel)]="empJobDetailsService.empJobDetails.presentGradeId"
                name="presentGradeId"
                #presentGradeId="ngModel"
                id="presentGradeId"
                aria-label="Default select example"
                cSelect
                >
                <option [ngValue]="null">Select Grade</option>
                @for(grade of grades; track grade.id;let index=$index) {
                <option [value]="grade.id">
                    {{ grade.name }}
                </option>
                }
                </select>

                @if(!presentGradeId.valid && presentGradeId.touched){
                <div class="text-left text-danger">Grade Type is required</div>
                }
            </c-col>
            
            <c-col [md]="3">
                <label cLabel for="presentScaleId">Present Scale<span class="text-danger"></span></label>
                <div class="input-wrapper">
                <select (change)="onChangeScaleGetBasicPay(empJobDetailsService.empJobDetails.presentScaleId)"
                [(ngModel)]="empJobDetailsService.empJobDetails.presentScaleId" name="presentScaleId" #presentScaleId="ngModel"
                    cFormControl id="presentScaleId" aria-label="Default select example" cSelect>
                    <option [ngValue]="null">Select Scale</option>
        
                    @for(scale of scales; track scale.id;let index=$index) {
                    <option [value]="scale.id">
                    {{ scale.name }}
                    </option>
                    }
                </select>
        
                @if(!presentScaleId.valid && presentScaleId.touched){
                <div class="text-left text-danger">Present Scale is required</div>
                }
                </div>
            </c-col>
            
            <c-col [md]="3">
                <label cLabel for="basicPay"
                >Basic Pay<span class="text-danger"></span></label>
                <input
                [(ngModel)]="empJobDetailsService.empJobDetails.basicPay"
                name="basicPay"
                #basicPay="ngModel"
                placeholder="Basic Pay"
                cFormControl
                id="basicPay"
                type="text"
                />
            </c-col>
            
            <c-col [md]="3">
                <label cLabel for="codeNo"
                >GPF Code<span class="text-danger"></span></label>
                <input
                [(ngModel)]="empJobDetailsService.empJobDetails.codeNo"
                name="codeNo"
                #codeNo="ngModel"
                placeholder="GPF Code"
                cFormControl
                id="codeNo"
                type="text"
                />
            </c-col>

            <c-col [md]="3">
                <label cLabel for="joiningDate"
                >Joining Date<span class="text-danger"></span></label
            >
            <input
                [(ngModel)]="empJobDetailsService.empJobDetails.joiningDate"
                name="joiningDate"
                #joiningDate="ngModel"
                cFormControl
                id="joiningDate"
                type="date"
            />
            @if(!joiningDate.valid&&joiningDate.touched){
            <div class="text-left text-danger">Joining Date is required</div>
            }
            </c-col>

            <c-col [md]="3">
                <label cLabel for="confirmationDate"
                >Confirmation Date<span class="text-danger"></span></label
            >
            <input
                [(ngModel)]="empJobDetailsService.empJobDetails.confirmationDate"
                name="confirmationDate"
                #confirmationDate="ngModel"
                cFormControl
                id="confirmationDate"
                type="date"
            />
            @if(!confirmationDate.valid&&confirmationDate.touched){
            <div class="text-left text-danger">Confirmation Date is required</div>
            }
            </c-col>

            <c-col [md]="3">
                <label cLabel for="firstDepartmentId">First Department<span class="text-danger"></span></label>
                <div class="input-wrapper">
                <select 
                    [(ngModel)]="empJobDetailsService.empJobDetails.firstDepartmentId" name="firstDepartmentId" #firstDepartmentId="ngModel"
                    (change)="onOfficeAndDepartmentSelectFirstSection(empJobDetailsService.empJobDetails.firstDepartmentId)"
                    (change)="getOldDesignationByDepartment(empJobDetailsService.empJobDetails.firstDepartmentId)"
                    cFormControl id="firstDepartmentId" aria-label="Default select example" cSelect>
                    <option [ngValue]="null">Select First Department</option>
        
                    @for(department of firstDepartments; track department.id;let index=$index) {
                    <option [value]="department.id">
                    {{ department.name }}
                    </option>
                    }
                </select>
                @if(!firstDepartmentId.valid && firstDepartmentId.touched){
                <div class="text-left text-danger">First Department is required</div>
                }
                </div>
            </c-col>

            
            <c-col [md]="3">
                <label cLabel for="firstDepartmentInput"
                >First Department<span class="text-danger"></span></label>
                <input
                    [(ngModel)]="empJobDetailsService.empJobDetails.firstDepartmentInput"
                    name="firstDepartmentInput" 
                    #firstDepartmentInput="ngModel"
                    placeholder="First Department"
                    cFormControl
                    id="firstDepartmentInput"
                    type="text"
                    [value]=""
                    [disabled]="firstDepartmentId.value"
                />
            </c-col>
            
            <c-col [md]="3">
                <label cLabel for="firstSectionInput"
                >First Section<span class="text-danger"></span></label>
                <input
                    [(ngModel)]="empJobDetailsService.empJobDetails.firstSectionInput"
                    name="firstSectionInput" 
                    #firstSectionInput="ngModel"
                    placeholder="First Section"
                    cFormControl
                    id="firstSectionInput"
                    type="text"
                    [disabled]="firstSectionId.value"
                />
            </c-col>
            
            <c-col [md]="3">
                <label cLabel for="firstDesignationInput"
                >First Designation<span class="text-danger"></span></label>
                <input
                    [(ngModel)]="empJobDetailsService.empJobDetails.firstDesignationInput"
                    name="firstDesignationInput" 
                    #firstDesignationInput="ngModel"
                    placeholder="First Designation"
                    cFormControl
                    id="firstDesignationInput"
                    type="text"
                    [disabled]="firstDesignationId.value"
                />
            </c-col>
            
            <c-col [md]="3" [hidden]="firstSectionView == false">
                <label cLabel for="firstSectionId">First Section<span class="text-danger"></span></label>
                <div class="input-wrapper">
                <select (change)="getOldDesignationBySection(empJobDetailsService.empJobDetails.firstSectionId)"
                    [(ngModel)]="empJobDetailsService.empJobDetails.firstSectionId" name="firstSectionId" #firstSectionId="ngModel"
                    cFormControl id="firstSectionId" aria-label="Default select example" cSelect>
                    <option [ngValue]="null">Select First Section</option>
        
                    @for(section of firstSections; track section.id;let index=$index) {
                    <option [value]="section.id">
                    {{ section.name }}
                    </option>
                    }
                </select>
                @if(!firstSectionId.valid && firstSectionId.touched){
                <div class="text-left text-danger">Section is required</div>
                }
                </div>
            </c-col>
            
            <c-col [md]="3">
                <label cLabel for="firstDesignationId">First Designation<span class="text-danger"></span></label>
                <div class="input-wrapper">
                <select
                    [(ngModel)]="empJobDetailsService.empJobDetails.firstDesignationId" name="firstDesignationId" #firstDesignationId="ngModel"
                    cFormControl id="firstDesignationId" aria-label="Default select example" cSelect>
                    <option [ngValue]="null">Select First Designation</option>
        
                    @for(designation of firstDesignations; track designation.id;let index=$index) {
                    <option [value]="designation.id">
                    {{ designation.name }}
                    </option>
                    }
                </select>
                @if(!firstDesignationId.valid && firstDesignationId.touched){
                <div class="text-left text-danger">Designation is required</div>
                }
                </div>
            </c-col>

            
            <c-col [md]="3">
                <label cLabel for="firstGradeId">First Grade<span class="text-danger"></span></label>
                <div class="input-wrapper">
                <select (change)="onChangeFirstGradeGetFirstScale(empJobDetailsService.empJobDetails.firstGradeId)"
                    [(ngModel)]="empJobDetailsService.empJobDetails.firstGradeId" name="firstGradeId" #firstGradeId="ngModel"
                    cFormControl id="firstGradeId" aria-label="Default select example" cSelect>
                    <option [ngValue]="null">Select First Grade</option>
        
                    @for(grade of grades; track grade.id;let index=$index) {
                        <option [value]="grade.id">
                            {{ grade.name }}
                        </option>
                        }
                </select>
                @if(!firstGradeId.valid && firstGradeId.touched){
                <div class="text-left text-danger">First Department is required</div>
                }
                </div>
            </c-col>
            
            <c-col [md]="3">
                <label cLabel for="firstScaleId">First Scale<span class="text-danger"></span></label>
                <div class="input-wrapper">
                <select 
                    [(ngModel)]="empJobDetailsService.empJobDetails.firstScaleId" name="firstScaleId" #firstScaleId="ngModel"
                    cFormControl id="firstScaleId" aria-label="Default select example" cSelect>
                    <option [ngValue]="null">Select First Scale</option>
        
                    @for(scale of firstScale; track scale.id;let index=$index) {
                    <option [value]="scale.id">
                    {{ scale.name }}
                    </option>
                    }
                </select>
                @if(!firstScaleId.valid && firstScaleId.touched){
                <div class="text-left text-danger">First Department is required</div>
                }
                </div>
            </c-col>
            
            <c-col [md]="3">
                <label cLabel for="prlDate"
                >PRL Date<span class="text-danger"></span></label
            >
            <input
                value="{{prlDate}}"
                cFormControl
                id="prlDate"
                type="text"
                disabled
            />
            </c-col>
            
            <c-col [md]="3">
                <label cLabel for="retirementDate"
                >Retirement Date<span class="text-danger"></span></label
            >
            <input
                value="{{retirementDate}}"
                cFormControl
                id="retirementDate"
                type="text"
                disabled
            />
            </c-col>
            
            <c-col [md]="3">
                <label cLabel for="serviceStatus">Service Status</label>
                <select [(ngModel)]="empJobDetailsService.empJobDetails.serviceStatus"
                name="serviceStatus"
                cSelect
                id="serviceStatus">
                  <option value="true">In Service</option>
                  <option value="false">Out of Service</option>
                </select>
            </c-col>
            
            <c-col [md]="3">
                <label cLabel for="remark"
                >Remark<span class="text-danger"></span></label>
                <input
                    [(ngModel)]="empJobDetailsService.empJobDetails.remark"
                    name="remark" 
                    #Remark="ngModel"
                    placeholder="Remark"
                    cFormControl
                    id="remark"
                    type="text"
                />
            </c-col>
            
            <c-col [xs]="12">
                <div class="d-flex justify-content-between">
                    <div>
                        <button [disabled]="loading" [disabled]="EmpJobDetailsForm.invalid" cButton class="me-1"
                            color="primary" type="submit">
                            <c-spinner [hidden]="loading == false" size="sm"></c-spinner>
                            {{ btnText }}
                        </button>
                        <button cButton color="secondary" (click)="resetForm()">Reset</button>
                    </div>
                    <div>
                        <button cButton color="danger" class="text-light" (click)="cancel()">Cancel</button>
                    </div>
                </div>
            </c-col>

        </form>
    </c-card-body>
</c-card>