<c-card>
    <c-card-header class="d-flex justify-content-between align-items-center">
        <div>Office Order List</div>
        <div>
            <button mat-raised-button class="me-1" color="primary" (click)="openOfficeOrderModal(0, 'Create')">
                <mat-icon>add</mat-icon> Add New Order
            </button>
        </div>
    </c-card-header>
    <c-card-body>
        <mat-tab-group (selectedIndexChange)="onTabChange($event)">
            <mat-tab>
                <ng-template mat-tab-label>All</ng-template>
            </mat-tab>
            <mat-tab *ngFor="let orderType of orderTypes" [label]="orderType.name || 'NULL'">
            </mat-tab>
        </mat-tab-group>

        <div [gutter]="3" cRow class="mt-2">
            
            <c-col [md]="3">
                <label cLabel for="selectedDeptId">Department<span class="text-danger"></span></label>
                <div class="input-wrapper">
                    <select [(ngModel)]="selectedDeptId" (change)="OnFilter()"
                        name="selectedDeptId" cFormControl id="selectedDeptId" cSelect>
                        <option [ngValue]="0">Select Department</option>

                        @for(department of departments; track department.id;let index=$index) {
                        <option [value]="department.id">
                            {{ department.name }}
                        </option>
                        }
                    </select>
                </div>
            </c-col>


            <c-col [md]="3">
                <label cLabel for="orderNo"
                >Order No<span class="text-danger"></span></label>
                <input [(ngModel)]="orderNo" name="orderNo" placeholder="Search Order No" cFormControl id="orderNo" type="text" (keyup)="OnFilter()"
                    />
            </c-col>

            <c-col [md]="3">
                <label cLabel for="fromDate"
                >From Date<span class="text-danger"></span></label>
              <input
                [(ngModel)]="fromDate"
                name="fromDate"
                cFormControl
                id="fromDate"
                type="date"
                (change)="OnFilter()"
              />
            </c-col>

            <c-col [md]="3">
                <label cLabel for="toDate"
                >To Date<span class="text-danger"></span></label>
              <input
                [(ngModel)]="toDate"
                name="toDate"
                cFormControl
                id="toDate"
                type="date"
                (change)="OnFilter()"
              />
            </c-col>
        </div>

        <div class="mt-2 table-responsive">
            <table mat-table [dataSource]="dataSource">
              <!-- Position Column -->
              <ng-container matColumnDef="slNo">
                <th mat-header-cell *matHeaderCellDef>SL</th>
                <td mat-cell *matCellDef="let element; let i = index">{{ i + 1 }}</td>
              </ng-container>
      
              <ng-container matColumnDef="designation">
                <th mat-header-cell *matHeaderCellDef>Designation</th>
                <td mat-cell *matCellDef="let element">
                  <label>{{ element.designationName }}</label>
                  <span>{{ element.orderTypeName }}</span>
                </td>
              </ng-container>
      
              <ng-container matColumnDef="orderDept">
                <th mat-header-cell *matHeaderCellDef>Order Department and Section</th>
                <td mat-cell *matCellDef="let element">
                    <label>{{ element.departmentName }}</label>
                    <span>{{ element.sectionName }}</span>
                </td>
              </ng-container>
      
              <ng-container matColumnDef="orderDate">
                <th mat-header-cell *matHeaderCellDef>Order Date and Order No</th>
                <td mat-cell *matCellDef="let element">
                    <label>{{ element.orderDate }}</label>
                    <span>{{ element.orderNo }}</span>
                </td>
              </ng-container>
      
              <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef>Action</th>
                <td mat-cell *matCellDef="let element">
                  
                </td>
              </ng-container>
      
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            </table>
          </div>
        </c-card-body>
        <c-card-footer class="text-medium-emphasis">
          <mat-paginator 
                    [length]="pagination.length"
                    [pageSize]="pagination.pageSize"
                    [pageSizeOptions]="pagination.pageSizeOptions"
                    [showFirstLastButtons]="true"
                    (page)="onPageChange($event)">
          </mat-paginator>
        </c-card-footer>
</c-card>