<c-card>
    <c-card-header class="d-flex justify-content-center">
        <div>{{headerText}}</div>
        <!-- <button cButton color="danger" [routerLink]="['/employee/manageEmployee']" class="text-light">
            <svg [cIcon]="icons.cilArrowLeft"></svg> Back
        </button> -->
    </c-card-header>
    <c-card-body>
        <form #EmpTransferPostingForm="ngForm" (submit)="onSubmit(EmpTransferPostingForm)" [gutter]="3" novalidate cForm class="needs-validation">
            <input type="hidden" [(ngModel)]="empTransferPostingService.empTransferPosting.id" name="id" />
            <input type="hidden" [(ngModel)]="empTransferPostingService.empTransferPosting.empId" name="empId" />
            <input type="hidden" [(ngModel)]="empTransferPostingService.empTransferPosting.applicationById" name="applicationById" />

            <!-- ************* Employee Information ************** -->
            <c-card class="mt-3 mb-3 shadow">
                <c-card-header class="text-center">
                    <div>Employee Information</div>
                </c-card-header>
                <c-card-body cRow [gutter]="3">
                    <input type="hidden" [(ngModel)]="empTransferPostingService.empTransferPosting.currentDepartmentId"
                        name="currentDepartmentId" />
                    <input type="hidden" [(ngModel)]="empTransferPostingService.empTransferPosting.currentDesignationId"
                        name="currentDesignationId" />
                    <input type="hidden" [(ngModel)]="empTransferPostingService.empTransferPosting.currentSectionId"
                        name="currentSectionId" />
                    <input type="hidden" [(ngModel)]="empTransferPostingService.empTransferPosting.currentOfficeId"
                        name="currentOfficeId" />
                    <c-col [md]="4">
                        <label cLabel for="idCardNo">Employee PMIS No<span class="text-danger">*</span></label>
                        <c-input-group>
                            <button cButton color="secondary" type="button" cTooltip="Search Employee" cTooltipPlacement="bottom" (click)="EmployeeListModal()">
                                <svg [cIcon]="icons.cilSearch"></svg>
                            </button>
                            <input aria-describedby="idCardNo" cFormControl
                                [(ngModel)]="empTransferPostingService.empTransferPosting.empIdCardNo" name="empIdCardNo"
                                #idCardNo="ngModel" required placeholder="Enter Employee PMIS No" id="idCardNo"
                                type="text" #idCardNoInput />
                            <button cButton color="primary" type="button"
                                (click)="getEmpInfoByIdCardNo(idCardNoInput.value)">
                                Select
                            </button>
                        </c-input-group>
                        @if(!idCardNo.valid&&idCardNo.touched){
                        <div class="text-left text-danger">PMIS No is required</div>
                        }
                    </c-col>

                    @if(isValidEmp) {
                    <c-col [md]="4">
                        <label cLabel for="empName">Employee Name<span class="text-danger"></span></label>
                        <input [(ngModel)]="empTransferPostingService.empTransferPosting.empName" name="empName"
                            #empName="ngModel" cFormControl id="empName" readonly />
                    </c-col>

                    @if(empTransferPostingService.empTransferPosting.sectionName) {
                    <c-col [md]="4">
                        <label cLabel for="sectionName">Section<span class="text-danger"></span></label>
                        <input [(ngModel)]="empTransferPostingService.empTransferPosting.sectionName" name="sectionName"
                            #sectionName="ngModel" cFormControl id="sectionName" readonly />
                    </c-col>
                    }

                    <c-col [md]="4">
                        <label cLabel for="departmentName">Department<span class="text-danger"></span></label>
                        <input [(ngModel)]="empTransferPostingService.empTransferPosting.departmentName"
                            name="departmentName" #departmentName="ngModel" cFormControl id="departmentName" readonly />
                    </c-col>

                    <c-col [md]="4">
                        <label cLabel for="designationName">Designation<span class="text-danger"></span></label>
                        <input [(ngModel)]="empTransferPostingService.empTransferPosting.designationName"
                            name="designationName" #designationName="ngModel" cFormControl id="designationName"
                            readonly />
                    </c-col>
                    }
                </c-card-body>
            </c-card>


            <!-- ************* Posting Order Information ************** -->
            <c-card class="mt-3 mb-3 shadow">
                <c-card-header class="text-center">
                    <div>Posting Order Information</div>
                </c-card-header>
                <c-card-body cRow [gutter]="3">

                    <c-col [md]="3">
                        <label cLabel for="officeOrderNo">Office Order No.<span class="text-danger"></span></label>
                        <input [(ngModel)]="empTransferPostingService.empTransferPosting.officeOrderNo"
                            name="officeOrderNo" #officeOrderNo="ngModel" cFormControl id="officeOrderNo"
                            placeholder="Enter Office Order No." type="text" />
                        @if(!officeOrderNo.valid&&officeOrderNo.touched){
                        <div class="text-left text-danger">Office Order No is required</div>
                        }
                    </c-col>

                    <c-col [md]="3">
                        <label cLabel for="officeOrderDate">Office Order Date<span class="text-danger"></span></label>
                        <input [(ngModel)]="empTransferPostingService.empTransferPosting.officeOrderDate"
                            name="officeOrderDate" #officeOrderDate="ngModel" cFormControl id="officeOrderDate"
                            type="date" />
                        @if(!officeOrderDate.valid&&officeOrderDate.touched){
                        <div class="text-left text-danger">Office Order No is required</div>
                        }
                    </c-col>

                    <c-col [md]="3">
                        <label cLabel for="orderOfficeById">Order Office/By<span
                                class="text-danger"></span></label>
                        <div class="input-wrapper">
                            <select [(ngModel)]="empTransferPostingService.empTransferPosting.orderOfficeById"
                                name="orderOfficeById" #orderOfficeById="ngModel" cFormControl id="orderOfficeById" aria-label="Default select example" cSelect>
                                <option [ngValue]="null">Select Order Office/By</option>

                                @for(department of departments; track department.id;let index=$index) {
                                <option [value]="department.id">
                                    {{ department.name }}
                                </option>
                                }
                            </select>
                            @if(!orderOfficeById.valid && orderOfficeById.touched){
                            <div class="text-left text-danger">Transfer Department is required</div>
                            }
                        </div>
                    </c-col>

                    <!-- <c-col [md]="4">
                        <input [(ngModel)]="empTransferPostingService.empTransferPosting.orderOfficeById"
                            name="orderOfficeById" type="hidden" />
                        <label cLabel for="orderByIdCardNo">Order By<span class="text-danger">*</span></label>
                        <c-input-group>
                            <input aria-describedby="orderByIdCardNo" cFormControl
                                [(ngModel)]="empTransferPostingService.empTransferPosting.orderByIdCardNo"
                                name="orderByIdCardNo" #orderByIdCardNo="ngModel" required
                                placeholder="Enter Employee PMS No" id="orderByIdCardNo" type="text"
                                #orderByIdCardNoInput />
                            <button cButton color="primary" type="button"
                                (click)="getOrderByInfoByIdCardNo(orderByIdCardNoInput.value)">
                                Select
                            </button>
                        </c-input-group>
                        @if(!orderByIdCardNo.valid&&orderByIdCardNo.touched){
                        <div class="text-left text-danger">Order By is required</div>
                        }
                    </c-col> -->

                    <!-- @if(isValidOrderByEmp) {
                    <c-col [md]="3">
                        <label cLabel for="orderByEmpName">Order By Name<span class="text-danger"></span></label>
                        <input [(ngModel)]="empTransferPostingService.empTransferPosting.orderByEmpName"
                            name="orderByEmpName" #orderByEmpName="ngModel" cFormControl id="orderByEmpName" readonly />
                    </c-col>

                    @if(empTransferPostingService.empTransferPosting.orderBySectionName) {
                    <c-col [md]="3">
                        <label cLabel for="orderBySectionName">Order By Section<span class="text-danger"></span></label>
                        <input [(ngModel)]="empTransferPostingService.empTransferPosting.orderBySectionName"
                            name="orderBySectionName" #orderBySectionName="ngModel" cFormControl id="orderBySectionName"
                            readonly />
                    </c-col>
                    }

                    <c-col [md]="3">
                        <label cLabel for="orderByDepartmentName">Order By Department<span
                                class="text-danger"></span></label>
                        <input [(ngModel)]="empTransferPostingService.empTransferPosting.orderByDepartmentName"
                            name="orderByDepartmentName" #orderByDepartmentName="ngModel" cFormControl
                            id="orderByDepartmentName" readonly />
                    </c-col>

                    <c-col [md]="3">
                        <label cLabel for="orderByDesignationName">Order By Designation<span
                                class="text-danger"></span></label>
                        <input [(ngModel)]="empTransferPostingService.empTransferPosting.orderByDesignationName"
                            name="orderByDesignationName" #orderByDesignationName="ngModel" cFormControl
                            id="orderByDesignationName" readonly />
                    </c-col>
                    } -->

                    
                    <c-col [md]="3">
                        <label cLabel for="releaseTypeId">Release Type<span class="text-danger"></span></label>
                        <div class="input-wrapper">
                            <select [(ngModel)]="empTransferPostingService.empTransferPosting.releaseTypeId"
                                name="releaseTypeId" #releaseTypeId="ngModel" cFormControl id="releaseTypeId"
                                aria-label="Default select example" cSelect
                                (change)="gerReleaseTypeInfo(empTransferPostingService.empTransferPosting.releaseTypeId ?? 0)">
                                <option [ngValue]="null" disabled>Select Release Type</option>

                                @for(releaseType of releaseTypes; track releaseType.id;let index=$index) {
                                <option [value]="releaseType.id">
                                    {{ releaseType.name }}
                                </option>
                                }
                            </select>
                            @if(!releaseTypeId.valid && releaseTypeId.touched){
                            <div class="text-left text-danger">Release Type is required</div>
                            }
                        </div>
                    </c-col>


                    <c-col [md]="3">
                        <label cLabel for="transferDepartmentId">Transfer Department<span
                                class="text-danger">*</span></label>
                        <div class="input-wrapper">
                            <select [(ngModel)]="empTransferPostingService.empTransferPosting.transferDepartmentId"
                                name="transferDepartmentId" #transferDepartmentId="ngModel" required
                                (change)="getTransferDesignationByDepartmentOnChange(empTransferPostingService.empTransferPosting.transferDepartmentId, empJobDetailsId)"
                                (change)="onOfficeAndDepartmentSelect(empTransferPostingService.empTransferPosting.transferDepartmentId)"
                                cFormControl id="transferDepartmentId" aria-label="Default select example" cSelect>
                                <option [ngValue]="null">Select Transfer Department</option>

                                @for(department of departments; track department.id;let index=$index) {
                                <option [value]="department.id">
                                    {{ department.name }}
                                </option>
                                }
                            </select>
                            @if(!transferDepartmentId.valid && transferDepartmentId.touched){
                            <div class="text-left text-danger">Transfer Department is required</div>
                            }
                        </div>
                    </c-col>

                    
                    <c-col [md]="3">
                        <label cLabel for="transferSectionId">Transfer Section<span class="text-danger"></span></label>
                        <div class="input-wrapper">
                            <select [(ngModel)]="empTransferPostingService.empTransferPosting.transferSectionId" (change)="onSectionSelectGetDesignation(empTransferPostingService.empTransferPosting.transferSectionId, empJobDetailsId)"
                                name="transferSectionId" #transferSectionId="ngModel" cFormControl
                                id="transferSectionId" aria-label="Default select example" cSelect>
                                <option [ngValue]="null">Select Section</option>

                                @for(section of sections; track section.id;let index=$index) {
                                <option [value]="section.id">
                                    {{ section.name }}
                                </option>
                                }
                            </select>
                            @if(!transferSectionId.valid && transferSectionId.touched){
                            <div class="text-left text-danger">Section is required</div>
                            }
                        </div>
                    </c-col>
                    
                    <c-col [md]="3">
                        <label cLabel for="transferDesignationId">Transfer Designation<span
                                class="text-danger"></span></label>
                        <div class="input-wrapper">
                            <select [(ngModel)]="empTransferPostingService.empTransferPosting.transferDesignationId"
                                name="transferDesignationId" #transferDesignationId="ngModel" cFormControl
                                id="transferDesignationId" aria-label="Default select example" cSelect>
                                <option [ngValue]="null">Select Transfer Designation</option>

                                @for(designation of designations; track designation.id;let index=$index) {
                                <option [value]="designation.id">
                                    {{ designation.name }}
                                </option>
                                }
                            </select>
                            @if(!transferDesignationId.valid && transferDesignationId.touched){
                            <div class="text-left text-danger">Designation is required</div>
                            }
                        </div>
                    </c-col>


                    <c-col [md]="3">
                        <label cLabel for="remark">Remark<span class="text-danger"></span></label>
                        <input [(ngModel)]="empTransferPostingService.empTransferPosting.remark" name="remark"
                            #remark="ngModel" cFormControl id="remark" placeholder="Enter Remark" type="text" />
                        @if(!remark.valid&&remark.touched){
                        <div class="text-left text-danger">Remark is required</div>
                        }
                    </c-col>
                </c-card-body>
            </c-card>


            <!-- ************* Transfer Approve Information ************** -->
            <!-- <c-card class="mt-3 mb-3 shadow">
                <c-card-header class="text-center">
                    <div>Transfer Approve Information</div>
                </c-card-header>
                <c-card-body>
                 <input type="hidden" [(ngModel)]="empTransferPostingService.empTransferPosting.transferApproveById" name="transferApproveById" />
                 <input [(ngModel)]="empTransferPostingService.empTransferPosting.transferApproveById"
                 name="orderOfficeById" type="hidden" />
                    <div class="mb-3">
                        <c-form-check [switch]="true">
                            <input cFormCheckInput type="checkbox" id="isTransferApprove" name="isTransferApprove"
                                [(ngModel)]="empTransferPostingService.empTransferPosting.isTransferApprove" (change)="isTransferApproveNeed(empTransferPostingService.empTransferPosting.isTransferApprove)"/>
                            <label cFormCheckLabel for="isTransferApprove">Transfer Approve Needed</label>
                        </c-form-check>
                    </div>
                    <div class="mb-3" *ngIf="empTransferPostingService.empTransferPosting.isTransferApprove">
                        <c-form-check [switch]="true">
                            <input cFormCheckInput type="checkbox" id="transferApproveInfo" name="provideTransferApproveInfo"
                            [(ngModel)]="empTransferPostingService.empTransferPosting.provideTransferApproveInfo" (change)="provideTransferApproveInfo(empTransferPostingService.empTransferPosting.provideTransferApproveInfo)"/>
                            <label cFormCheckLabel for="transferApproveInfo">Provide Transfer Approve Info</label>
                        </c-form-check>
                    </div>
                    <div cRow [gutter]="3">
                    @if(empTransferPostingService.empTransferPosting.provideTransferApproveInfo){
                        <c-col [md]="4">
                            <label cLabel for="transferApproveStatus">Approve Status</label>
                            <select [(ngModel)]="empTransferPostingService.empTransferPosting.transferApproveStatus"
                            name="transferApproveStatus" #transferApproveStatus="ngModel"
                            cSelect [required]="empTransferPostingService.empTransferPosting.provideTransferApproveInfo"
                            id="transferApproveStatus">
                            <option value="null">Pending</option>
                            <option value="true">Approve</option>
                            <option value="false">Reject</option>
                            </select>
                        </c-col>
                        
                        <c-col [md]="4">
                            <label cLabel for="transferApproveDate">Approve Date<span class="text-danger"></span></label>
                            <input [(ngModel)]="empTransferPostingService.empTransferPosting.transferApproveDate"
                                name="transferApproveDate" #transferApproveDate="ngModel" cFormControl id="transferApproveDate"
                                type="date" />
                            @if(!transferApproveDate.valid&&transferApproveDate.touched){
                            <div class="text-left text-danger">Approve Date is required</div>
                            }
                        </c-col>
    
                        <c-col [md]="4">
                            <label cLabel for="approveByIdCardNo">Approve By<span class="text-danger">*</span></label>
                            <c-input-group>
                                <input aria-describedby="approveByIdCardNo" cFormControl
                                    [(ngModel)]="empTransferPostingService.empTransferPosting.approveByIdCardNo"
                                    name="approveByIdCardNo" #approveByIdCardNo="ngModel" [required]="empTransferPostingService.empTransferPosting.provideTransferApproveInfo"
                                    placeholder="Enter Employee PMS No" id="approveByIdCardNo" type="text"
                                    #approveByIdCardNoInput />
                                <button cButton color="primary" type="button"
                                    (click)="getApproveByInfoByIdCardNo(approveByIdCardNoInput.value)">
                                    Select
                                </button>
                            </c-input-group>
                            @if(!orderByIdCardNo.valid&&orderByIdCardNo.touched){
                            <div class="text-left text-danger">Approve By is required</div>
                            }
                        </c-col>
    
                        @if(isApproveByEmp) {
                        <c-col [md]="3">
                            <label cLabel for="approveByEmpName">Approve By Name<span class="text-danger"></span></label>
                            <input [(ngModel)]="empTransferPostingService.empTransferPosting.approveByEmpName"
                                name="approveByEmpName" #approveByEmpName="ngModel" cFormControl id="approveByEmpName" readonly />
                        </c-col>
    
                        @if(empTransferPostingService.empTransferPosting.approveBySectionName) {
                        <c-col [md]="3">
                            <label cLabel for="approveBySectionName">Approve By Section<span class="text-danger"></span></label>
                            <input [(ngModel)]="empTransferPostingService.empTransferPosting.approveBySectionName"
                                name="approveBySectionName" #approveBySectionName="ngModel" cFormControl id="approveBySectionName"
                                readonly />
                        </c-col>
                        }
    
                        <c-col [md]="3">
                            <label cLabel for="approveByDepartmentName">Approve By Department<span
                                    class="text-danger"></span></label>
                            <input [(ngModel)]="empTransferPostingService.empTransferPosting.approveByDepartmentName"
                                name="approveByDepartmentName" #approveByDepartmentName="ngModel" cFormControl
                                id="approveByDepartmentName" readonly />
                        </c-col>
    
                        <c-col [md]="3">
                            <label cLabel for="approveByDesignationName">Approve By Designation<span
                                    class="text-danger"></span></label>
                            <input [(ngModel)]="empTransferPostingService.empTransferPosting.approveByDesignationName"
                                name="approveByDesignationName" #approveByDesignationName="ngModel" cFormControl
                                id="approveByDesignationName" readonly />
                        </c-col>
                        }
                        
                        <c-col [md]="3">
                            <label cLabel for="approveRemark">Remark<span class="text-danger"></span></label>
                            <input [(ngModel)]="empTransferPostingService.empTransferPosting.approveRemark" name="approveRemark"
                                #approveRemark="ngModel" cFormControl id="approveRemark" placeholder="Enter Remark" type="text" />
                            @if(!approveRemark.valid&&approveRemark.touched){
                            <div class="text-left text-danger">Remark is required</div>
                            }
                        </c-col>
                    }
                    </div>
                </c-card-body>
            </c-card> -->


            <!-- ************* Department Release Information ************** -->
            <c-card class="mt-3 mb-3 shadow">
                <c-card-header class="text-center">
                    <div>Department Release Information</div>
                </c-card-header>
                <c-card-body>
                    <input type="hidden" [(ngModel)]="empTransferPostingService.empTransferPosting.deptReleaseById" name="deptReleaseById" />
                    <input type="hidden" [(ngModel)]="empTransferPostingService.empTransferPosting.deptApproveStatus" name="deptApproveStatus" />
                    <div class="mb-3">
                        <c-form-check [switch]="true">
                            <input cFormCheckInput type="checkbox" id="isDepartmentApprove" name="isDepartmentApprove"
                                [(ngModel)]="empTransferPostingService.empTransferPosting.isDepartmentApprove" (change)="isDeptApproveNeed(empTransferPostingService.empTransferPosting.isDepartmentApprove)"/>
                            <label cFormCheckLabel for="isDepartmentApprove">Department Approve Needed</label>
                        </c-form-check>
                    </div>
                    <div class="mb-3" *ngIf="empTransferPostingService.empTransferPosting.isDepartmentApprove">
                        <c-form-check [switch]="true">
                            <input cFormCheckInput type="checkbox" id="provideDepartmentApproveInfo" name="provideDepartmentApproveInfo"
                            [(ngModel)]="empTransferPostingService.empTransferPosting.provideDepartmentApproveInfo" (change)="provideDeptApproveInfo(empTransferPostingService.empTransferPosting.provideDepartmentApproveInfo)"/>
                            <label cFormCheckLabel for="provideDepartmentApproveInfo">Provide Department Transfer Approve Info</label>
                        </c-form-check>
                    </div>
                    <div cRow [gutter]="3">
                        @if(empTransferPostingService.empTransferPosting.provideDepartmentApproveInfo){
                            <c-col [md]="3">
                                <label cLabel for="deptReleaseTypeId">Release Type<span class="text-danger"></span></label>
                                <div class="input-wrapper">
                                    <select [(ngModel)]="empTransferPostingService.empTransferPosting.deptReleaseTypeId"
                                        name="deptReleaseTypeId" #deptReleaseTypeId="ngModel" cFormControl id="deptReleaseTypeId"
                                        aria-label="Default select example" cSelect>
                                        <option [ngValue]="null">Select Release Type</option>
        
                                        @for(releaseType of releaseTypes; track releaseType.id;let index=$index) {
                                        <option [value]="releaseType.id">
                                            {{ releaseType.name }}
                                        </option>
                                        }
                                    </select>
                                    @if(!deptReleaseTypeId.valid && deptReleaseTypeId.touched){
                                    <div class="text-left text-danger">Release Type is required</div>
                                    }
                                </div>
                            </c-col>
                            
                            <c-col [md]="3">
                                <label cLabel for="deptReleaseDate">Release Date<span class="text-danger"></span></label>
                                <input [(ngModel)]="empTransferPostingService.empTransferPosting.deptReleaseDate"
                                    name="deptReleaseDate" #deptReleaseDate="ngModel" cFormControl id="deptReleaseDate"
                                    type="date" />
                                @if(!deptReleaseDate.valid&&deptReleaseDate.touched){
                                <div class="text-left text-danger">Release Date is required</div>
                                }
                            </c-col>
                            
                            <c-col [md]="3">
                                <label cLabel for="referenceNo">Reference No<span class="text-danger"></span></label>
                                <input [(ngModel)]="empTransferPostingService.empTransferPosting.referenceNo"
                                    name="referenceNo" #referenceNo="ngModel" cFormControl id="referenceNo"
                                    type="text" placeholder="Enter Reference No"/>
                                @if(!referenceNo.valid&&referenceNo.touched){
                                <div class="text-left text-danger">Reference No is required</div>
                                }
                            </c-col>
                            
                            <c-col [md]="3">
                                <label cLabel for="deptClearance">Departmental Clearance</label>
                                <select [(ngModel)]="empTransferPostingService.empTransferPosting.deptClearance"
                                name="deptClearance" #deptClearance="ngModel"
                                cSelect [required]="empTransferPostingService.empTransferPosting.provideDepartmentApproveInfo"
                                id="deptClearance">
                                <option value="true">Yes</option>
                                <option value="false">No</option>
                                </select>
                            </c-col>
                            
                            <c-col [md]="3">
                                <label cLabel for="deptRemark">Remark<span class="text-danger"></span></label>
                                <input [(ngModel)]="empTransferPostingService.empTransferPosting.deptRemark" name="deptRemark"
                                    #deptRemark="ngModel" cFormControl id="deptRemark" placeholder="Enter Remark" type="text" />
                                @if(!deptRemark.valid&&deptRemark.touched){
                                <div class="text-left text-danger">Remark is required</div>
                                }
                            </c-col>
                        }
                    </div>
                </c-card-body>
            </c-card>


            <!-- ************* Transfer/Posting Information ************** -->
            <c-card class="mt-3 mb-3 shadow">
                <c-card-header class="text-center">
                    <div>Joining Information</div>
                </c-card-header>
                <c-card-body>
                    <div class="mb-3">
                        <input type="hidden" [(ngModel)]="empTransferPostingService.empTransferPosting.joiningReportingById" name="joiningReportingById" />
                        <input type="hidden" [(ngModel)]="empTransferPostingService.empTransferPosting.joiningStatus" name="joiningStatus" />
                        <c-form-check [switch]="true">
                            <input cFormCheckInput type="checkbox" id="isJoining" name="isJoining"
                                [(ngModel)]="empTransferPostingService.empTransferPosting.isJoining" (change)="isJoiningApproveNeed(empTransferPostingService.empTransferPosting.isJoining)"/>
                            <label cFormCheckLabel for="isJoining">Transfer/Posting Joining Info Needed</label>
                        </c-form-check>
                    </div>
                    <div class="mb-3" *ngIf="empTransferPostingService.empTransferPosting.isJoining">
                        <c-form-check [switch]="true">
                            <input cFormCheckInput type="checkbox" id="provideJoiningInfo" name="provideJoiningInfo"
                            [(ngModel)]="empTransferPostingService.empTransferPosting.provideJoiningInfo" (change)="provideJoiningApproveInfo(empTransferPostingService.empTransferPosting.provideJoiningInfo)"/>
                            <label cFormCheckLabel for="provideJoiningInfo">Provide Transfer/Posting Joining Info</label>
                        </c-form-check>
                    </div>
                    <div cRow [gutter]="3">
                        @if(empTransferPostingService.empTransferPosting.provideJoiningInfo){
                            <c-col [md]="3">
                                <label cLabel for="joiningDate">Joining Date<span class="text-danger"></span></label>
                                <input [(ngModel)]="empTransferPostingService.empTransferPosting.joiningDate"
                                    name="joiningDate" #joiningDate="ngModel" cFormControl id="deptReleaseDate"
                                    type="date" />
                                @if(!joiningDate.valid&&joiningDate.touched){
                                <div class="text-left text-danger">Joining Date is required</div>
                                }
                            </c-col>
                            
                            <c-col [md]="3">
                                <label cLabel for="joiningRemark">Remark<span class="text-danger"></span></label>
                                <input [(ngModel)]="empTransferPostingService.empTransferPosting.joiningRemark" name="joiningRemark"
                                    #joiningRemark="ngModel" cFormControl id="joiningRemark" placeholder="Enter Remark" type="text" />
                                @if(!joiningRemark.valid&&joiningRemark.touched){
                                <div class="text-left text-danger">Remark is required</div>
                                }
                            </c-col>
                        }
                    </div>
                </c-card-body>
            </c-card>

            <c-col [xs]="12">
                <div class="d-flex justify-content-between">
                    <div>
                        <button [disabled]="loading" [disabled]="EmpTransferPostingForm.invalid" cButton class="me-1"
                            color="primary" type="submit">
                            <c-spinner [hidden]="loading == false" size="sm"></c-spinner>
                            {{ btnText }}
                        </button>
                        <button cButton color="secondary" (click)="resetForm()">Reset</button>
                    </div>
                </div>
            </c-col>

        </form>
    </c-card-body>
</c-card>