<c-card>
  <c-card-header class="d-flex justify-content-between">
      <h5>PRL & Retirment Report</h5>
      <button mat-raised-button color="primary" type="button" (click)="printSection()" [disabled]="this.pagination.length == 0">
        <mat-icon>print</mat-icon> Print
      </button>
  </c-card-header>
  <c-card-body>
      <div cRow [gutter]="2" class="mb-3">   
            
        <c-col [md]="12">
            <c-form-check [switch]="true">
            <input cFormCheckInput type="checkbox" id="isCustom" name="isCustom"
                [(ngModel)]="isCustom"/>
            <label cFormCheckLabel for="isCustom">Custom Date</label>
            </c-form-check>
        </c-col>

        <c-col [md]="3">
            <label cLabel for="Department">Department<span class="text-danger"></span></label>
            <div class="input-wrapper">
              <select (change)="onDepartmentSelect()"
                  [(ngModel)]="departmentId" name="departmentId" #Department="ngModel"
                  cFormControl id="Department" aria-label="Default select example" cSelect>
                  <option [ngValue]=0>Select Department</option>
      
                  @for(department of departments; track department.id;let index=$index) {
                  <option [value]="department.id">
                  {{ department.name }}
                  </option>
                  }
              </select>
            </div>
        </c-col>
        
        <c-col [md]="3">
            <label cLabel for="sectionId">Section<span class="text-danger"></span></label>
            <div class="input-wrapper">
              <select [(ngModel)]="sectionId" name="sectionId" #Section="ngModel"
                  cFormControl id="sectionId" aria-label="Default select example" cSelect
                  (change)="onSectionSelect()">
                  <option [ngValue]=0>Select Section</option>
      
                  @for(section of sections; track section.id;let index=$index) {
                  <option [value]="section.id">
                  {{ section.name }}
                  </option>
                  }
              </select>
            </div>
        </c-col>
        
        <c-col [md]="3">
            <label cLabel for="designationId">Designation<span class="text-danger"></span></label>
            <div class="input-wrapper">
              <select [(ngModel)]="designationId" name="designationId" #Designation="ngModel"
                  cFormControl id="designationId" aria-label="Default select example" cSelect
                  (change)="onDesignationSelect()">
                  <option [ngValue]=0>Select Desigation</option>
      
                  @for(item of designations; track item.id;let index=$index) {
                  <option [value]="item.id">
                  {{ item.name }}
                  </option>
                  }
              </select>
            </div>
        </c-col>

        
        <c-col [md]="3">
            <label cLabel for="financialYearId">Financial Year<span class="text-danger"></span></label>
            <div class="input-wrapper">
              <select [(ngModel)]="financialYearId" name="financialYearId" [disabled]="isCustom"
                  cFormControl id="financialYearId" aria-label="Default select example" cSelect
                  (change)="onFinancialYearSelect()">
                  <option [ngValue]=0>Select Financial Year</option>
      
                  @for(item of financialYears; track item.id;let index=$index) {
                  <option [value]="item.id">
                  {{ item.name }}
                  </option>
                  }
              </select>
            </div>
        </c-col>

        
        <c-col [md]="3">
            <label cLabel for="typeName">Report Type<span class="text-danger"></span></label>
            <div class="input-wrapper">
              <select [(ngModel)]="typeName" name="typeName"
                  cFormControl id="typeName" aria-label="Default select example" cSelect
                  (change)="onReportTypeChange()">
                  <option ngValue="All">All</option>
                  <option ngValue="PRL">PRL</option>
                  <option ngValue="Retirment">Retirment</option>
              </select>
            </div>
        </c-col>
        
        <c-col [md]="3">
            <label cLabel for="statusName">Status<span class="text-danger"></span></label>
            <div class="input-wrapper">
              <select [(ngModel)]="statusName" name="statusName"
                  cFormControl id="statusName" aria-label="Default select example" cSelect
                  (change)="onStatusChange()">
                  <option ngValue="All">All</option>
                  <option ngValue="Gone">Gone</option>
                  <option ngValue="Will Go">Will Go</option>
              </select>
            </div>
        </c-col>

        

        <c-col [md]="3">
            <label cLabel for="fromDate"
            >From Date<span class="text-danger"></span></label
            >
            <input
                [(ngModel)]="startDate"
                name="fromDate"
                #FromDate="ngModel"
                cFormControl
                id="fromDate"
                type="date"
                [disabled]="!isCustom"
                (change)="onDateChange()"
            />
        </c-col>
        
        <c-col [md]="3">
            <label cLabel for="toDate"
            >To Date<span class="text-danger"></span></label
            >
            <input
                [(ngModel)]="endDate"
                name="toDate"
                #ToDate="ngModel"
                cFormControl
                id="toDate"
                type="date"
                [disabled]="!isCustom"
                (change)="onDateChange()"
            />
        </c-col>


      </div>
      
      <div id="report_heading" class="d-none">
        <div cRow class="justify-content-center">
          <c-col [md]="1" style="margin-top: 25px; margin-right: 20px;">
            <img src="{{biwtaLogo}}" width="75px">
          </c-col>
          <c-col [md]="9" style="text-align: center;">
            <h4 style="font-size: 20px;">BANGLADESH INLAND WATER TRANSPORT AUTHORITY</h4>
            <p style="font-size: 13px;">BIWTA BHABAN, 141-143, MOTIJHEEL C/A, POST BOX 76, DHAKA-1000, BANGLADESH</p>
            <h5>{{headingType}} Report: <label *ngIf="departmentName">{{departmentName}}</label><label *ngIf="sectionName">/{{sectionName}}</label><label *ngIf="!departmentName && !sectionName">All</label><label *ngIf="designationName">/{{designationName}}</label><br>
            <!-- <label *ngIf="fromDate && toDate">From: {{fromDate | date: 'dd MMM yyyy'}} to {{toDate | date: 'dd MMM yyyy'}}</label> -->
        </h5>
            
          </c-col>
          <div style="border-bottom: 1px solid black; display: inline-block; width: 100%;"></div>
        </div>
      </div>

      <c-card class="mt-2">
            <c-card-header>
                Employee List 
                <!-- <label class="text-danger fw-bold" *ngIf="leaveTypeName">- {{leaveTypeName}}</label> -->
            </c-card-header>
            <c-card-body class="p-0">
                <div class="table-responsive" id="tableData">
                    <table mat-table [dataSource]="dataSource">
                      <!-- Position Column -->
                      <ng-container matColumnDef="slNo">
                        <th mat-header-cell *matHeaderCellDef>SL</th>
                        <td mat-cell *matCellDef="let element; let i = index">{{ i + 1 }}</td>
                      </ng-container>
                      
                      <ng-container matColumnDef="employee">
                        <th mat-header-cell *matHeaderCellDef>Employee</th>
                        <td mat-cell *matCellDef="let element">
                            {{ element.firstName }} {{element.lastName}} ({{ element.idCardNo }})
                        </td>
                      </ng-container>
            
                      <ng-container matColumnDef="department/section">
                        <th mat-header-cell *matHeaderCellDef>Department/Section</th>
                        <td mat-cell *matCellDef="let element">
                          {{ element.departmentName ?? "" }}<label *ngIf="element.sectionName">, {{ element.sectionName}}</label>
                        </td>
                      </ng-container>
                      
                      <ng-container matColumnDef="designation">
                        <th mat-header-cell *matHeaderCellDef>Designation</th>
                        <td mat-cell *matCellDef="let element">
                          {{ element.designationName }}
                        </td>
                      </ng-container>
                      
                      <ng-container matColumnDef="prlDate">
                        <th mat-header-cell *matHeaderCellDef>PRL Date</th>
                        <td mat-cell *matCellDef="let element">
                            {{ element.prlAge | date: 'dd MMM yyyy' }}
                        </td>
                      </ng-container>
                      
                      <ng-container matColumnDef="retirmentDate">
                        <th mat-header-cell *matHeaderCellDef>Retirment Date</th>
                        <td mat-cell *matCellDef="let element">
                            {{ element.retirmentAge | date: 'dd MMM yyyy' }}
                        </td>
                      </ng-container>

                      
                      <ng-container matColumnDef="prlStatus">
                        <th mat-header-cell *matHeaderCellDef>PRL Status</th>
                        <td mat-cell *matCellDef="let element">
                            <c-badge color="warning" *ngIf="element.prlGone">Gone</c-badge>
                            <c-badge color="success" *ngIf="element.prlWillGone">Will Be Gone</c-badge>
                        </td>
                      </ng-container>

                      
                      <ng-container matColumnDef="retirmentStatus">
                        <th mat-header-cell *matHeaderCellDef>Retirment Status</th>
                        <td mat-cell *matCellDef="let element">
                            <c-badge color="warning" *ngIf="element.retirmentGone">Gone</c-badge>
                            <c-badge color="success" *ngIf="element.retirmentWillGone">Will Be Gone</c-badge>
                        </td>
                      </ng-container>
                      
                      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                    </table>
                  </div>
            </c-card-body>
            <c-card-footer class="text-medium-emphasis p-0">
                <mat-paginator 
                  [length]="pagination.length"
                  [pageSize]="pagination.pageSize"
                  [pageSizeOptions]="pagination.pageSizeOptions"
                  [showFirstLastButtons]="true"
                  (page)="onPageChange($event)">
                </mat-paginator>    
            </c-card-footer>
        </c-card>
  </c-card-body>
</c-card>