<c-card>

  <c-card-header>Bank Branch </c-card-header>
  <c-card-body>
    <form #BankBranchForm="ngForm" (submit)="onSubmit(BankBranchForm)" [gutter]="3" novalidate cForm cRow
      class="needs-validation">
      <c-col [md]="6">
        <label cLabel for="validationCustom01">Bank<span class="text-danger">*</span></label>
        <select required [(ngModel)]="bankBranchService.bankBranchs.bankId" name="bankId" #BankId="ngModel"
          aria-label="Default select example" cSelect>
          <option [ngValue]="0">Select BankBranch</option>

          @for(bank of banks; track bank.id;let index=$index) {
          <option [value]="bank.id">
            {{ bank.name }}
          </option>
          }
        </select>
        @if(!BankId.valid && BankId.touched){
        <div class="text-left text-danger">Bank is required</div>
        }
      </c-col>


      <c-col [md]="6">
        <input type="hidden" [(ngModel)]="bankBranchService.bankBranchs.bankBranchId" name="bankBranchId" />

        <label cLabel for="validationCustom01"> Branch Name<span class="text-danger">*</span></label>
        <input [(ngModel)]="bankBranchService.bankBranchs.bankBranchName" name="bankBranchName"
          #bankBranchName="ngModel" placeholder="Enter Bank Branch Name" cFormControl id="validationCustom01"
          required type="text" value="Mark" />

        @if(!bankBranchName.valid&&bankBranchName.touched){
        <div class="text-left text-danger">Branch Name is required</div>
        }
      </c-col>

      <!-- <c-col [md]="6">
        <label cLabel for="validationCustom01">Branch Code<span class="text-danger">*</span></label>
        <input [(ngModel)]="bankBranchService.bankBranchs.bankBranchCode" name="bankBranchCode"
          #bankBranchCode="ngModel" placeholder="Enter Bank Branch Code Name" cFormControl id="validationCustom01"
          required type="text" value="Mark" />

        @if(!bankBranchCode.valid&&bankBranchCode.touched){
        <div class="text-left text-danger">Branch Code is required</div>
        }
      </c-col>

      <c-col [md]="6">
        <label cLabel for="validationCustom01">Branch Address<span class="text-danger">*</span></label>
        <input [(ngModel)]="bankBranchService.bankBranchs.bankBranchAddress" name="bankBranchAddress"
          #bankBranchAddress="ngModel" placeholder="Enter Bank Branch Address Name" cFormControl id="validationCustom01"
          required type="text" value="Mark" />

        @if(!bankBranchAddress.valid&&bankBranchAddress.touched){
        <div class="text-left text-danger">Branch Address is required</div>
        }
      </c-col>

      

      <c-col [md]="6">
        <label cLabel for="validationCustom01">Branch Contract No<span class="text-danger">*</span></label>
        <input [(ngModel)]="bankBranchService.bankBranchs.bankBranchContractNo" name="bankBranchContractNo"
          #bankBranchContractNo="ngModel" placeholder="Enter BankBranch Contract No" cFormControl id="validationCustom01"
          required type="text" value="Mark" />

        @if(!bankBranchContractNo.valid&&bankBranchContractNo.touched){
        <div class="text-left text-danger">Branch Contract No is required</div>
        }
      </c-col>

      <c-col [md]="6">
        <label cLabel for="validationCustom01">Branch Person<span class="text-danger">*</span></label>
        <input [(ngModel)]="bankBranchService.bankBranchs.bankBranchPerson" name="bankBranchPerson"
          #bankBranchPerson="ngModel" placeholder="Enter Bank Branch Person Name" cFormControl id="validationCustom01"
          required type="text" value="Mark" />

        @if(!bankBranchPerson.valid&&bankBranchPerson.touched){
        <div class="text-left text-danger">Branch Person is required</div>
        }
      </c-col>

      <c-col [md]="6">
        <label cLabel for="validationCustom01">Email<span class="text-danger">*</span></label>
        <input [(ngModel)]="bankBranchService.bankBranchs.email" name="email"
          #email="ngModel" placeholder="Enter Email Name" cFormControl id="validationCustom01"
          required type="text" value="Mark" />

        @if(!email.valid&&email.touched){
        <div class="text-left text-danger">Email is required</div>
        }
      </c-col>

      <c-col [md]="6">
        <label cLabel for="validationCustom01">No Of Employee<span class="text-danger">*</span></label>
        <input [(ngModel)]="bankBranchService.bankBranchs.noOfEmployee" name="noOfEmployee"
          #noOfEmployee="ngModel" placeholder="Enter No Of Employee Name" cFormControl id="validationCustom01"
          required type="number" value="Mark" />

        @if(!noOfEmployee.valid&&noOfEmployee.touched){
        <div class="text-left text-danger">No Of Employee is required</div>
        }
      </c-col>


      <c-col [md]="6">
        <label cLabel for="validationCustom01">MenuPosition<span class="text-danger">*</span></label>
        <input [(ngModel)]="bankBranchService.bankBranchs.menuPosition" name="menuPosition"
          #menuPosition="ngModel" placeholder="Enter MenuPosition Name" cFormControl id="validationCustom01"
          required type="number" value="Mark" />

        @if(!menuPosition.valid&&menuPosition.touched){
        <div class="text-left text-danger">MenuPosition is required</div>
        }
      </c-col>      -->

      <c-col [md]="6">
        <label cLabel for="validationCustom02">Is Active </label>
        <input [(ngModel)]="bankBranchService.bankBranchs.isActive" name="isActive" cFormControl id="validationCustom02"
          type="text" value="Otto" />
        <c-form-feedback [valid]="true">Looks good!</c-form-feedback>
      </c-col>

      <c-col [xs]="12">
        <button
        [disabled]="loading"
          [disabled]="BankBranchForm.invalid"
          cButton
          class="me-1"
          color="primary"
          type="submit"
        >
        <c-spinner [hidden]="loading == false" size="sm"></c-spinner>
        {{ btnText }}
      </button>
        <button cButton color="secondary" (click)="resetForm()">Reset</button>
      </c-col>

    </form>
  </c-card-body>
</c-card>

<c-card class="mt-3">
  <c-card-header>BankBranch List</c-card-header>
  <c-card-body>
    <div class="example-header">
      <mat-form-field>
        <input matInput #filter (keyup)="applyFilter(filter.value)" placeholder="Search Here.." />
        <button mat-icon-button matSuffix aria-label="clear" *ngIf="filter.value"
          (click)="filter.value = ''; applyFilter('')"></button>
      </mat-form-field>
    </div>

    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource">
        <!-- Position Column -->
        <ng-container matColumnDef="slNo">
          <th mat-header-cell *matHeaderCellDef>Serial No</th>
          <td mat-cell *matCellDef="let element; let i = index">{{ i + 1 }}</td>
        </ng-container>

        <ng-container matColumnDef="bankName">
            <th mat-header-cell *matHeaderCellDef>Bank Name</th>
            <td mat-cell *matCellDef="let element">{{ element.bankName }}</td>
          </ng-container>


        <ng-container matColumnDef="bankBranchName">
          <th mat-header-cell *matHeaderCellDef>Branch Name</th>
          <td mat-cell *matCellDef="let element">{{ element.bankBranchName }}</td>
        </ng-container>

        <!-- <ng-container matColumnDef="bankBranchCode">
          <th mat-header-cell *matHeaderCellDef>Branch Code</th>
          <td mat-cell *matCellDef="let element">{{ element.bankBranchCode}}</td>
        </ng-container>

        <ng-container matColumnDef="bankBranchAddress">
          <th mat-header-cell *matHeaderCellDef>Branch Address</th>
          <td mat-cell *matCellDef="let element">{{ element.bankBranchAddress}}</td>
        </ng-container>

        <ng-container matColumnDef="bankBranchContractNo">
          <th mat-header-cell *matHeaderCellDef>Branch Coontract No</th>
          <td mat-cell *matCellDef="let element">{{ element.bankBranchContractNo }}</td>
        </ng-container>

        <ng-container matColumnDef="bankBranchPerson">
          <th mat-header-cell *matHeaderCellDef>Branch Person</th>
          <td mat-cell *matCellDef="let element">{{ element.bankBranchPerson}}</td>
        </ng-container>

        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef>Email</th>
          <td mat-cell *matCellDef="let element">{{ element.email}}</td>
        </ng-container>

        <ng-container matColumnDef="noOfEmployee">
          <th mat-header-cell *matHeaderCellDef>No Of Employee</th>
          <td mat-cell *matCellDef="let element">{{ element.noOfEmployee}}</td>
        </ng-container>

        <ng-container matColumnDef="menuPosition">
          <th mat-header-cell *matHeaderCellDef>Menu Position</th>
          <td mat-cell *matCellDef="let element">{{ element.menuPosition }}</td>
        </ng-container>
 -->
        <!-- Name Column -->
        <ng-container matColumnDef="isActive">
          <th mat-header-cell *matHeaderCellDef>Is Active</th>
          <td mat-cell *matCellDef="let element">{{ element.isActive }}</td>
        </ng-container>
        <ng-container matColumnDef="Action">
          <th mat-header-cell *matHeaderCellDef>Action</th>
          <td mat-cell *matCellDef="let element">
            <button class="custom-button" [routerLink]="['/bascisetup/update-bankBranch', element.bankBranchId]">
              <svg cIcon name="cilPencil"></svg>
            </button>
            <button class="custom-button" (click)="delete(element)">
              <svg cIcon name="cilTrash"></svg>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
  </c-card-body>

  <c-card-footer class="text-medium-emphasis">
    <mat-paginator appBubblePagination [length]="dataSource.data.length" [pageSize]="10" aria-label="Select page">
    </mat-paginator>
  </c-card-footer>
  <c-card> </c-card></c-card>

 
