
<div>
  <c-card>
    <c-card-header class="text-center">2nd part(Personal Characteristics) <br>(Reporting offer duty to be Fulfilled)</c-card-header>
    <c-button-group aria-label="Basic example" role="group">
      <c-button-group aria-label="Basic example" role="group">
          <button cButton color="primary" [routerLink]="['/appraisal/officerForm']">Part-1</button>
          <button cButton color="primary" [active]="true">Part-2</button>
          <button cButton color="primary" [routerLink]="['/appraisal/officerFormPart3']" (click)="onSubmit(officerForm)">Part-3</button>
          <button cButton color="primary" [routerLink]="['/appraisal/officerFormPart4']">Part-4</button>
          <button cButton color="primary" [routerLink]="['/appraisal/officerFormPart5']">Part-5</button>
          <button cButton color="primary" [routerLink]="['/appraisal/officerFormPart6']">Part-6</button>
          <button cButton color="primary" [routerLink]="['/appraisal/officerFormPart7']">Part-7</button>
      </c-button-group>
  </c-button-group>
  <c-card-body>   
    <form cForm
    #officerForm="ngForm"
    (submit)="onSubmit(officerForm)"
    novalidate>
      <div class="table-responsive">
        <table cTable  >
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Evaluation</th>
              <th scope="col" class="text-center">Signature</th>
              <th scope="col" class="text-center">Remarks</th>
            </tr>
            <tr>
              <th colspan="3">
                <p style="text-decoration: underline;">1.Sense Of Discipline</p>
              </th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let row of SenseOfDisciplineRows; let i = index;">
              <tr>
                <td>{{ row.name }}</td>
                <td>
                  <c-form-check inline>
                    <input cFormCheckInput type="radio" [value]="row"
                      [(ngModel)]="formData.selectedSenseOfDiscipllineRow"                     name="senseOfDisciplineEvaluation"
                      (change)="toggleSenseofDisciplineSignatureInput(i)"
                      (change)="calculateTotalMarks()">
                    <label cFormCheckLabel>{{ row.evaluationValue }}</label>
                  </c-form-check>
                </td>
                <td>
                  <input type="file" cFormControl
                    [ngModel]="row.senseOfDisciplineSignature"
                    (ngModelChange)="row.senseOfDisciplineSignature = $event"
                    name="senseOfDisciplineSignature{{i}}"
                    [disabled]="!row.signatureEnabled">
                  <div *ngIf="!row.senseOfDisciplineSignature && row.signatureEnabled">
                    <div class="text-left text-danger">Sense Of Discipline is required</div>
                  </div>
                </td>
                <td>
                  <input type="text" cFormControl
                  [ngModel]="row.senseOfDisciplineRemarks"
                  (ngModelChange)="row.senseOfDisciplineRemarks = $event"
                  name="senseOfDisciplineRemarks{{i}}"
                  [disabled]="!row.remarksEnabled">
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
          
        <table cTable  >
          <thead>
            <tr>
              <th colspan="3">
                <p style="text-decoration: underline;">2.Intelegent and Judgment</p>
              </th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let row of intelegentAndJudgmentRows; let i = index;">
              <tr>
                <td>{{ row.name }}</td>
                <td>
                  <c-form-check inline>
                    <input cFormCheckInput type="radio" [value]="row"
                      [(ngModel)]="formData.selectedIntelegentAndJudgment"
                      name="intelegentAndJudgmentEvaluation"
                      (change)="toggleIntelegentSignatureInput(i)"
                      (change)="calculateTotalMarks()"
                      >
                    <label cFormCheckLabel>{{ row.evaluationValue }}</label>
                  </c-form-check>
                </td>
                <td>
                  <input type="file" cFormControl
                    [ngModel]="row.intelegentAndJudgmentSignature"
                    (ngModelChange)="row.intelegentAndJudgmentSignature = $event"
                    name="intelegentAndJudgmentSignature{{i}}"
                    [disabled]="!row.signatureEnabled">
                  <div *ngIf="!row.intelegentAndJudgmentSignature && row.signatureEnabled">
                    <div class="text-left text-danger">Intelegent and Judgment is required</div>
                  </div>
                </td>
                <td>
                  <input type="text" cFormControl
                  [ngModel]="row.intelegentandjudmentRemarks"
                  (ngModelChange)="row.intelegentandjudmentRemarks = $event"
                  name="intelegentandjudmentRemarks{{i}}"
                  [disabled]="!row.remarksEnabled">
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>

        <table cTable  >
          <thead>
            <tr>
              <th colspan="3">
                <p style="text-decoration: underline;">3.Intelegence</p>
              </th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let row of intelegenceRows; let i = index;">
              <tr>
                <td>{{ row.name }}</td>
                <td>
                  <c-form-check inline>
                    <input cFormCheckInput type="radio" [value]="row"
                      [(ngModel)]="formData.selectedIntelegenceRow"
                      name="intelegenceEvaluation"
                      (change)="toggleIntelegenceSignatureInput(i)"
                      (change)="calculateTotalMarks()">
                    <label cFormCheckLabel>{{ row.evaluationValue }}</label>
                  </c-form-check>
                </td>
                <td>
                  <input type="file" cFormControl
                    [ngModel]="row.intelegenceSignature"
                    (ngModelChange)="row.intelegenceSignature = $event"
                    name="intelegenceSignature{{i}}"
                    [disabled]="!row.signatureEnabled">
                  <div *ngIf="!row.intelegenceSignature && row.signatureEnabled">
                    <div class="text-left text-danger">Intelegence is required</div>
                  </div>
                </td>
                <td>
                  <input type="text" cFormControl
                  [ngModel]="row.intelegenceRemarks"
                  (ngModelChange)="row.intelegenceRemarks = $event"
                  name="intelegenceRemarks{{i}}"
                  [disabled]="!row.remarksEnabled">
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
        <table cTable  >
          <thead>
            <tr>
              <th colspan="3">
                <p style="text-decoration: underline;">4.Energy and Enthusisam</p>
              </th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let row of energyAndEnthuisamRows; let i = index;">
              <tr>
                <td>{{ row.name }}</td>
                <td>
                  <c-form-check inline>
                    <input cFormCheckInput type="radio" [value]="row"
                      [(ngModel)]="formData.selectedEnergyEnthuisim"
                      name="energyAndEnthusisamEvaluation"
                      (change)="toggleEnergySignatureInput(i)"
                      (change)="calculateTotalMarks()">
                    <label cFormCheckLabel>{{ row.evaluationValue }}</label>
                  </c-form-check>
                </td>
                <td>
                  <input type="file" cFormControl
                    [ngModel]="row.energyAndEnthusisamSignature"
                    (ngModelChange)="row.energyAndEnthusisamSignature = $event"
                    name="energyAndEnthusisamSignature{{i}}"
                    [disabled]="!row.signatureEnabled">
                  <div *ngIf="!row.energyAndEnthusisamSignature && row.signatureEnabled">
                    <div class="text-left text-danger">Energy and Enthusisam is required</div>
                  </div>
                </td>
                <td>
                  <input type="text" cFormControl
                  [ngModel]="row.energyandEntuismRemarks"
                  (ngModelChange)="row.energyandEntuismRemarks = $event"
                  name="energyandEntuismRemarks{{i}}"
                  [disabled]="!row.remarksEnabled">
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
        
        <table cTable  >
          <thead>
            <tr>
              <th colspan="3">
                <p style="text-decoration: underline;">5.Public Relation</p>
              </th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let row of publicRelationRows; let i = index;">
              <tr>
                <td>{{ row.name }}</td>
                <td>
                  <c-form-check inline>
                    <input cFormCheckInput type="radio" [value]="row"
                      [(ngModel)]="formData.selectedPublicRelation"
                      name="publicRelationEvaluation"
                      (change)="togglePublicRelationSignatureInput(i)"
                      (change)="calculateTotalMarks()">
                    <label cFormCheckLabel>{{ row.evaluationValue }}</label>
                  </c-form-check>
                </td>
                <td>
                  <input type="file" cFormControl
                    [ngModel]="row.publicRelationSignature"
                    (ngModelChange)="row.publicRelationSignature = $event"
                    name="publicRelationSignature{{i}}"
                    [disabled]="!row.signatureEnabled">
                  <div *ngIf="!row.publicRelationSignature && row.signatureEnabled">
                    <div class="text-left text-danger">Public Relation is required</div>
                  </div>
                </td>
                <td>
                  <input type="text" cFormControl
                  [ngModel]="row.publicReationRemarks"
                  (ngModelChange)="row.publicReationRemarks = $event"
                  name="publicReationRemarks{{i}}"
                  [disabled]="!row.remarksEnabled">
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>

        <table cTable  >
          <thead>
            <tr>
              <th colspan="3">
                <p style="text-decoration: underline;">6.Cooperation</p>
              </th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let row of CooperationRows; let i = index;">
              <tr>
                <td>{{ row.name }}</td>
                <td>
                  <c-form-check inline>
                    <input cFormCheckInput type="radio" [value]="row"
                      [(ngModel)]="formData.cooperationRow"
                      name="cooperationEvaluation"
                      (change)="toggleCooperationSignatureInput(i)"
                      (change)="calculateTotalMarks()">
                    <label cFormCheckLabel>{{ row.evaluationValue }}</label>
                  </c-form-check>
                </td>
                <td>
                  <input type="file" cFormControl
                    [ngModel]="row.cooperationSignature"
                    (ngModelChange)="row.cooperationSignature = $event"
                    name="cooperationSignature{{i}}"
                    [disabled]="!row.signatureEnabled">
                  <div *ngIf="!row.cooperationSignature && row.signatureEnabled">
                    <div class="text-left text-danger">Cooperation is required</div>
                  </div>
                </td>
                <td>
                  <input type="text" cFormControl
                  [ngModel]="row.cooperationRemarks"
                  (ngModelChange)="row.cooperationRemarks = $event"
                  name="cooperationRemarks{{i}}"
                  [disabled]="!row.remarksEnabled">
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>  
        <table cTable  >
          <thead>
            <tr>
              <th colspan="3">
                <p style="text-decoration: underline;">7.Personality</p>
              </th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let row of PersonalityRows; let i = index;">
              <tr>
                <td>{{ row.name }}</td>
                <td>
                  <c-form-check inline>
                    <input cFormCheckInput type="radio" [value]="row"
                      [(ngModel)]="formData.personalityRow"
                      name="personalityEvaluation"
                      (change)="togglePersonalitySignatureInput(i)"
                      (change)="calculateTotalMarks()">
                    <label cFormCheckLabel>{{ row.evaluationValue }}</label>
                  </c-form-check>
                </td>
                <td>
                  <input type="file" cFormControl
                    [ngModel]="row.personalitySignature"
                    (ngModelChange)="row.personalitySignature = $event"
                    name="personalitySignature{{i}}"
                    [disabled]="!row.signatureEnabled">
                  <div *ngIf="!row.personalitySignature && row.signatureEnabled">
                    <div class="text-left text-danger">Personality is required</div>
                  </div>
                </td>
                <td>
                  <input type="text" cFormControl
                  [ngModel]="row.personalityRemarks"
                  (ngModelChange)="row.personalityRemarks = $event"
                  name="personalityRemarks{{i}}"
                  [disabled]="!row.remarksEnabled">
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>

        <table cTable>
          <thead>
            <tr>
              <th colspan="3">
                <p style="text-decoration: underline;">8.Security Awareness</p>
              </th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let row of securityRows; let i = index;">
              <tr>
                <td>{{ row.name }}</td>
                <td>
                  <c-form-check inline>
                    <input cFormCheckInput type="radio" [value]="row"
                      [(ngModel)]="formData.securityRow"
                      name="securityAwarenessEvaluation"
                      (change)="toggleSecuritySignatureInput(i)"
                      (change)="calculateTotalMarks()">
                    <label cFormCheckLabel>{{ formData.evaluationValue }}</label>
                  </c-form-check>
                </td>
                <td>
                  <input type="file" cFormControl
                    [ngModel]="row.securityAwarenessSignature"
                    (ngModelChange)="row.securityAwarenessSignature = $event"
                    name="Signature{{i}}"
                    [disabled]="!row.signatureEnabled">
                  <div *ngIf="!row.securityAwarenessSignature && row.signatureEnabled">
                    <div class="text-left text-danger">Security Awareness is required</div>
                  </div>
                </td>
                <td>
                  <input type="text" cFormControl
                  [ngModel]="row.securityRemarks"
                  (ngModelChange)="row.securityRemarks = $event"
                  name="securityRemarks{{i}}"
                  [disabled]="!row.remarksEnabled">
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>

        <div class="container mt-4">
          <div class="row justify-content-center">
            <c-col [md]="6">
              <label cLabel >Total Marks obtaain out of 40</label>
            </c-col>
            <c-col [md]="3">
              <label cLabel >In Mathematics</label>
              <input type="number" cFormControl
                [(ngModel)]="Part2Marks"
                name="totalMarks" readonly>
              <label cLabel>In words</label>
              <input type="text" cFormControl
                [(ngModel)]="totalMarksInWords"
                name="totalMarksInWords"
                readonly>
            </c-col>
            <c-col [md]="3">
              <label cLabel>Signature</label>
              <input type="file" cFormControl
                [(ngModel)]="totalMarksSignature"
                name="totalMarksSignature"
                #totalMarksSignature="ngModel"> 
              <label cLabel>Signature</label>
              <input type="file" cFormControl
                [(ngModel)]="totalMarksInWordsSignature"
                name="totalMarksInWordsSignature"
                #totalMarksInWordsSignature="ngModel">
              <div class="text-end mt-3">
            </div>
            </c-col>
          </div>
            <c-card>
              <c-card-footer>
                <div class="text-end">
                  <button cButton color="primary" (click)="onSubmit(officerForm)">To be continue...</button>
                </div>
              </c-card-footer>
            </c-card>
          </div>