
<div>
    <c-card>
        <c-card-header class="text-center">2nd part(Personal Characteristics) <br>(Reporting offer duty to be Fulfilled)</c-card-header>
        <c-button-group aria-label="Basic example" role="group">
            <c-button-group aria-label="Basic example" role="group">
                <button cButton color="primary" [routerLink]="['/appraisal/officerForm']">Part-1</button>
                <button cButton color="primary" [active]="true">Part-2</button>
                <button cButton color="primary" [routerLink]="['/appraisal/officerFormPart3']">Part-3</button>
                <button cButton color="primary" [routerLink]="['/appraisal/officerFormPart4']">Part-4</button>
                <button cButton color="primary" [routerLink]="['/appraisal/officerFormPart5']">Part-5</button>
                <button cButton color="primary" [routerLink]="['/appraisal/officerFormPart6']">Part-6</button>
                <button cButton color="primary" [routerLink]="['/appraisal/officerFormPart7']">Part-7</button>
            </c-button-group>
        </c-button-group>
        <c-card-body>
            <form cForm>
                <div class="table-responsive">
                  <table cTable [striped]="true">
                      <thead>
                        <tr>
                          <th scope="col">Name</th>
                          <th scope="col">Evaluation</th>
                          <th scope="col" class="text-center">Signature</th>
                        </tr>
                        <tr>
                          <th colspan="3">
                            <p style="text-decoration: underline;">1 Sense Of Discipline</p>
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>i) Extraordinary Standard</td>
                          <td>
                            <c-form-check inline>
                              <input cFormCheckInput id="radio1-1" name="evaluation" type="radio" />
                              <label cFormCheckLabel for="radio1-1">5</label>
                            </c-form-check>
                          </td>
                          <td>
                            <input type="text" cFormControl>
                          </td>
                        </tr>
                        <tr>
                          <td>ii) High Standard</td>
                          <td>
                            <c-form-check inline>
                              <input cFormCheckInput id="radio2-1" name="evaluation" type="radio" />
                              <label cFormCheckLabel for="radio2-1">4</label>
                            </c-form-check>
                          </td>
                          <td>
                            <input type="text" cFormControl>
                          </td>
                        </tr>
                        <tr>
                          <td>iii) Intelligent</td>
                          <td>
                            <c-form-check inline>
                              <input cFormCheckInput id="radio3-1" name="evaluation" type="radio" />
                              <label cFormCheckLabel for="radio3-1">3</label>
                            </c-form-check>
                          </td>
                          <td>
                            <input type="text" cFormControl>
                          </td>
                        </tr>
                        <tr>
                          <td>iv) Below Expected Value</td>
                          <td>
                            <c-form-check inline>
                              <input cFormCheckInput id="radio4-1" name="evaluation" type="radio" />
                              <label cFormCheckLabel for="radio4-1">2</label>
                            </c-form-check>
                          </td>
                          <td>
                            <input type="text" cFormControl>
                          </td>
                        </tr>
                        <tr>
                          <td>v) Low Quality</td>
                          <td>
                            <c-form-check inline>
                              <input cFormCheckInput id="radio5-1" name="evaluation" type="radio" />
                              <label cFormCheckLabel for="radio5-1">1</label>
                            </c-form-check>
                          </td>
                          <td>
                            <input type="text" cFormControl>
                          </td>
                        </tr>
                      </tbody>                     
                    </table>  
  
                    <table cTable [striped]="true">
                      <thead>
                        <tr>
                          <th scope="col">Name</th>
                          <th scope="col">Evaluation</th>
                          <th scope="col" class="text-center">Signature</th>
                        </tr>
                        <tr>
                          <th colspan="3">
                            <p style="text-decoration: underline;">2 Intelegent & Judgment</p>
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>i) Extraordinary Standard</td>
                          <td>
                            <c-form-check inline>
                              <input cFormCheckInput id="radio1-1" name="evaluation" type="radio" />
                              <label cFormCheckLabel for="radio1-1">5</label>
                            </c-form-check>
                          </td>
                          <td>
                            <input type="text" cFormControl>
                          </td>
                        </tr>
                        <tr>
                          <td>ii) High Standard</td>
                          <td>
                            <c-form-check inline>
                              <input cFormCheckInput id="radio2-1" name="evaluation" type="radio" />
                              <label cFormCheckLabel for="radio2-1">4</label>
                            </c-form-check>
                          </td>
                          <td>
                            <input type="text" cFormControl>
                          </td>
                        </tr>
                        <tr>
                          <td>iii) Reasonable</td>
                          <td>
                            <c-form-check inline>
                              <input cFormCheckInput id="radio3-1" name="evaluation" type="radio" />
                              <label cFormCheckLabel for="radio3-1">3</label>
                            </c-form-check>
                          </td>
                          <td>
                            <input type="text" cFormControl>
                          </td>
                        </tr>
                        <tr>
                          <td>iv) Flawed and Biased</td>
                          <td>
                            <c-form-check inline>
                              <input cFormCheckInput id="radio4-1" name="evaluation" type="radio" />
                              <label cFormCheckLabel for="radio4-1">2</label>
                            </c-form-check>
                          </td>
                          <td>
                            <input type="text" cFormControl>
                          </td>
                        </tr>
                        <tr>
                          <td>v) Low Quality</td>
                          <td>
                            <c-form-check inline>
                              <input cFormCheckInput id="radio5-1" name="evaluation" type="radio" />
                              <label cFormCheckLabel for="radio5-1">1</label>
                            </c-form-check>
                          </td>
                          <td>
                            <input type="text" cFormControl>
                          </td>
                        </tr>
                      </tbody>                     
                    </table>  
  
                    <table cTable [striped]="true">
                      <thead>
                        <tr>
                          <th scope="col">Name</th>
                          <th scope="col">Evaluation</th>
                          <th scope="col" class="text-center">Signature</th>
                        </tr>
                        <tr>
                          <th colspan="3">
                            <p style="text-decoration: underline;">3 Intelegence</p>
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>i) Great Strength</td>
                          <td>
                            <c-form-check inline>
                              <input cFormCheckInput id="radio1-1" name="evaluation" type="radio" />
                              <label cFormCheckLabel for="radio1-1">5</label>
                            </c-form-check>
                          </td>
                          <td>
                            <input type="text" cFormControl>
                          </td>
                        </tr>
                        <tr>
                          <td>ii) High Strength</td>
                          <td>
                            <c-form-check inline>
                              <input cFormCheckInput id="radio2-1" name="evaluation" type="radio" />
                              <label cFormCheckLabel for="radio2-1">4</label>
                            </c-form-check>
                          </td>
                          <td>
                            <input type="text" cFormControl>
                          </td>
                        </tr>
                        <tr>
                          <td>iii) Intelligent</td>
                          <td>
                            <c-form-check inline>
                              <input cFormCheckInput id="radio3-1" name="evaluation" type="radio" />
                              <label cFormCheckLabel for="radio3-1">3</label>
                            </c-form-check>
                          </td>
                          <td>
                            <input type="text" cFormControl>
                          </td>
                        </tr>
                        <tr>
                          <td>iv) Below Expected Value</td>
                          <td>
                            <c-form-check inline>
                              <input cFormCheckInput id="radio4-1" name="evaluation" type="radio" />
                              <label cFormCheckLabel for="radio4-1">2</label>
                            </c-form-check>
                          </td>
                          <td>
                            <input type="text" cFormControl>
                          </td>
                        </tr>
                        <tr>
                          <td>v) Low Quality</td>
                          <td>
                            <c-form-check inline>
                              <input cFormCheckInput id="radio5-1" name="evaluation" type="radio" />
                              <label cFormCheckLabel for="radio5-1">1</label>
                            </c-form-check>
                          </td>
                          <td>
                            <input type="text" cFormControl>
                          </td>
                        </tr>
                      </tbody>                     
                    </table> 
  
                  <table cTable [striped]="true">
                      <thead>
                        <tr>
                          <th scope="col">Name</th>
                          <th scope="col">Evaluation</th>
                          <th scope="col" class="text-center">Signature</th>
                        </tr>
                        <tr>
                          <th colspan="3">
                            <p style="text-decoration: underline;">4 Energy and Enthusisam</p>
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>i) Extraordinary</td>
                          <td>
                            <c-form-check inline>
                              <input cFormCheckInput id="radio1-1" name="evaluation" type="radio" />
                              <label cFormCheckLabel for="radio1-1">5</label>
                            </c-form-check>
                          </td>
                          <td>
                            <input type="text" cFormControl>
                          </td>
                        </tr>
                        <tr>
                          <td>ii) Admirable</td>
                          <td>
                            <c-form-check inline>
                              <input cFormCheckInput id="radio2-1" name="evaluation" type="radio" />
                              <label cFormCheckLabel for="radio2-1">4</label>
                            </c-form-check>
                          </td>
                          <td>
                            <input type="text" cFormControl>
                          </td>
                        </tr>
                        <tr>
                          <td>iii) Enough</td>
                          <td>
                            <c-form-check inline>
                              <input cFormCheckInput id="radio3-1" name="evaluation" type="radio" />
                              <label cFormCheckLabel for="radio3-1">3</label>
                            </c-form-check>
                          </td>
                          <td>
                            <input type="text" cFormControl>
                          </td>
                        </tr>
                        <tr>
                          <td>iv) Awating Instruction<br> and require constant supervision</td>
                          <td>
                            <c-form-check inline>
                              <input cFormCheckInput id="radio4-1" name="evaluation" type="radio" />
                              <label cFormCheckLabel for="radio4-1">2</label>
                            </c-form-check>
                          </td>
                          <td>
                            <input type="text" cFormControl>
                          </td>
                        </tr>
                        <tr>
                          <td>v)Shortage</td>
                          <td>
                            <c-form-check inline>
                              <input cFormCheckInput id="radio5-1" name="evaluation" type="radio" />
                              <label cFormCheckLabel for="radio5-1">1</label>
                            </c-form-check>
                          </td>
                          <td>
                            <input type="text" cFormControl>
                          </td>
                        </tr>
                      </tbody>                     
                    </table> 
  
                    <table cTable [striped]="true">
                      <thead>
                        <tr>
                          <th scope="col">Name</th>
                          <th scope="col">Evaluation</th>
                          <th scope="col" class="text-center">Signature</th>
                        </tr>
                        <tr>
                          <th colspan="3">
                            <p style="text-decoration: underline;">5 Public Relation</p>
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>i) Extraordinary</td>
                          <td>
                            <c-form-check inline>
                              <input cFormCheckInput id="radio1-1" name="evaluation" type="radio" />
                              <label cFormCheckLabel for="radio1-1">5</label>
                            </c-form-check>
                          </td>
                          <td>
                            <input type="text" cFormControl>
                          </td>
                        </tr>
                        <tr>
                          <td>ii) Strong</td>
                          <td>
                            <c-form-check inline>
                              <input cFormCheckInput id="radio2-1" name="evaluation" type="radio" />
                              <label cFormCheckLabel for="radio2-1">4</label>
                            </c-form-check>
                          </td>
                          <td>
                            <input type="text" cFormControl>
                          </td>
                        </tr>
                        <tr>
                          <td>iii)Save the opportunity</td>
                          <td>
                            <c-form-check inline>
                              <input cFormCheckInput id="radio3-1" name="evaluation" type="radio" />
                              <label cFormCheckLabel for="radio3-1">3</label>
                            </c-form-check>
                          </td>
                          <td>
                            <input type="text" cFormControl>
                          </td>
                        </tr>
                        <tr>
                          <td>iv)Friendless</td>
                          <td>
                            <c-form-check inline>
                              <input cFormCheckInput id="radio4-1" name="evaluation" type="radio" />
                              <label cFormCheckLabel for="radio4-1">2</label>
                            </c-form-check>
                          </td>
                          <td>
                            <input type="text" cFormControl>
                          </td>
                        </tr>
                        <tr>
                          <td>v)Low Quality</td>
                          <td>
                            <c-form-check inline>
                              <input cFormCheckInput id="radio5-1" name="evaluation" type="radio" />
                              <label cFormCheckLabel for="radio5-1">1</label>
                            </c-form-check>
                          </td>
                          <td>
                            <input type="text" cFormControl>
                          </td>
                        </tr>
                      </tbody>                     
                    </table> 
  
                    <table cTable [striped]="true">
                      <thead>
                        <tr>
                          <th scope="col">Name</th>
                          <th scope="col">Evaluation</th>
                          <th scope="col" class="text-center">Signature</th>
                        </tr>
                        <tr>
                          <th colspan="3">
                            <p style="text-decoration: underline;">6 Cooperation</p>
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>i) Extraordinary</td>
                          <td>
                            <c-form-check inline>
                              <input cFormCheckInput id="radio1-1" name="evaluation" type="radio" />
                              <label cFormCheckLabel for="radio1-1">5</label>
                            </c-form-check>
                          </td>
                          <td>
                            <input type="text" cFormControl>
                          </td>
                        </tr>
                        <tr>
                          <td>ii)High Standard</td>
                          <td>
                            <c-form-check inline>
                              <input cFormCheckInput id="radio2-1" name="evaluation" type="radio" />
                              <label cFormCheckLabel for="radio2-1">4</label>
                            </c-form-check>
                          </td>
                          <td>
                            <input type="text" cFormControl>
                          </td>
                        </tr>
                        <tr>
                          <td>iii)General</td>
                          <td>
                            <c-form-check inline>
                              <input cFormCheckInput id="radio3-1" name="evaluation" type="radio" />
                              <label cFormCheckLabel for="radio3-1">3</label>
                            </c-form-check>
                          </td>
                          <td>
                            <input type="text" cFormControl>
                          </td>
                        </tr>
                        <tr>
                          <td>iv)Sometimes</td>
                          <td>
                            <c-form-check inline>
                              <input cFormCheckInput id="radio4-1" name="evaluation" type="radio" />
                              <label cFormCheckLabel for="radio4-1">2</label>
                            </c-form-check>
                          </td>
                          <td>
                            <input type="text" cFormControl>
                          </td>
                        </tr>
                        <tr>
                          <td>v)Rarely</td>
                          <td>
                            <c-form-check inline>
                              <input cFormCheckInput id="radio5-1" name="evaluation" type="radio" />
                              <label cFormCheckLabel for="radio5-1">1</label>
                            </c-form-check>
                          </td>
                          <td>
                            <input type="text" cFormControl>
                          </td>
                        </tr>
                      </tbody>                     
                    </table> 
                    
                    <table cTable [striped]="true">
                      <thead>
                        <tr>
                          <th scope="col">Name</th>
                          <th scope="col">Evaluation</th>
                          <th scope="col" class="text-center">Signature</th>
                        </tr>
                        <tr>
                          <th colspan="3">
                            <p style="text-decoration: underline;">7 Personality</p>
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>i)Very Efficent</td>
                          <td>
                            <c-form-check inline>
                              <input cFormCheckInput id="radio1-1" name="evaluation" type="radio" />
                              <label cFormCheckLabel for="radio1-1">5</label>
                            </c-form-check>
                          </td>
                          <td>
                            <input type="text" cFormControl>
                          </td>
                        </tr>
                        <tr>
                          <td>ii)Able to gain Lowality</td>
                          <td>
                            <c-form-check inline>
                              <input cFormCheckInput id="radio2-1" name="evaluation" type="radio" />
                              <label cFormCheckLabel for="radio2-1">4</label>
                            </c-form-check>
                          </td>
                          <td>
                            <input type="text" cFormControl>
                          </td>
                        </tr>
                        <tr>
                          <td>iii)General</td>
                          <td>
                            <c-form-check inline>
                              <input cFormCheckInput id="radio3-1" name="evaluation" type="radio" />
                              <label cFormCheckLabel for="radio3-1">3</label>
                            </c-form-check>
                          </td>
                          <td>
                            <input type="text" cFormControl>
                          </td>
                        </tr>
                        <tr>
                          <td>iv)Partially Active</td>
                          <td>
                            <c-form-check inline>
                              <input cFormCheckInput id="radio4-1" name="evaluation" type="radio" />
                              <label cFormCheckLabel for="radio4-1">2</label>
                            </c-form-check>
                          </td>
                          <td>
                            <input type="text" cFormControl>
                          </td>
                        </tr>
                        <tr>
                          <td>v)Weak</td>
                          <td>
                            <c-form-check inline>
                              <input cFormCheckInput id="radio5-1" name="evaluation" type="radio" />
                              <label cFormCheckLabel for="radio5-1">1</label>
                            </c-form-check>
                          </td>
                          <td>
                            <input type="text" cFormControl>
                          </td>
                        </tr>
                      </tbody>                     
                    </table>     
  
                    <table cTable [striped]="true">
                      <thead>
                        <tr>
                          <th scope="col">Name</th>
                          <th scope="col">Evaluation</th>
                          <th scope="col" class="text-center">Signature</th>
                        </tr>
                        <tr>
                          <th colspan="3">
                            <p style="font-weight: bold; text-decoration: underline;">8 Security Awareness</p>
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>i)Very Concious</td>
                          <td>
                            <c-form-check inline>
                              <input cFormCheckInput id="radio1-1" name="evaluation" type="radio" />
                              <label cFormCheckLabel for="radio1-1">5</label>
                            </c-form-check>
                          </td>
                          <td>
                            <input type="text" cFormControl>
                          </td>
                        </tr>
                        <tr>
                          <td>ii)Very Aware</td>
                          <td>
                            <c-form-check inline>
                              <input cFormCheckInput id="radio2-1" name="evaluation" type="radio" />
                              <label cFormCheckLabel for="radio2-1">4</label>
                            </c-form-check>
                          </td>
                          <td>
                            <input type="text" cFormControl>
                          </td>
                        </tr>
                        <tr>
                          <td>iii)General</td>
                          <td>
                            <c-form-check inline>
                              <input cFormCheckInput id="radio3-1" name="evaluation" type="radio" />
                              <label cFormCheckLabel for="radio3-1">3</label>
                            </c-form-check>
                          </td>
                          <td>
                            <input type="text" cFormControl>
                          </td>
                        </tr>
                        <tr>
                          <td>iv)Not So Aware</td>
                          <td>
                            <c-form-check inline>
                              <input cFormCheckInput id="radio4-1" name="evaluation" type="radio" />
                              <label cFormCheckLabel for="radio4-1">2</label>
                            </c-form-check>
                          </td>
                          <td>
                            <input type="text" cFormControl>
                          </td>
                        </tr>
                        <tr>
                          <td>v)Unaware of Rules and Regulation</td>
                          <td>
                            <c-form-check inline>
                              <input cFormCheckInput id="radio5-1" name="evaluation" type="radio" />
                              <label cFormCheckLabel for="radio5-1">1</label>
                            </c-form-check>
                          </td>
                          <td>
                            <input type="text" cFormControl>
                          </td>
                        </tr>
                      </tbody>                     
                    </table> 
  
  
  
              <div class="container mt-4">
                  <div class="row justify-content-center">
                    <c-col [md]="6">
                      <label cLabel class="mt-2">Total marks obtain out of 40</label>
                    </c-col>
                    <c-col [md]="3">
                      <label cLabel class="mt-2">In Mathematices</label>
                      <input type="text" class="mt-2" cFormControl>
                      <label cLabel class="mt-2">In words</label>
                      <input type="text" class="mt-2" cFormControl>
                    </c-col>
                    <c-col [md]="3">
                      <label cLabel class="mt-2">Signature</label>
                      <input type="text" class="mt-2" cFormControl>
                      <label cLabel class="mt-2">Signature</label>
                      <input type="text" class="mt-2" cFormControl>
                    </c-col>
                  </div>
              </div>
                
                </div>
                <div class="text-end mt-3">
                  <button cButton>Submit</button>
                  <button cButton class="ms-3"> Cancel</button>
              </div>
            </form>
            
        </c-card-body>
    </c-card>
  </div>
   