<c-card mt="3">
    <c-card-header class="d-flex justify-content-between">
       <div>{{HeaderText}}</div>
      <!--<div><button cButton color="primary" shape="rounded-pill"><svg cIcon name={{buttonIcon}}></svg> {{btnText}}</button></div>
    -->
    </c-card-header>

    <c-card-body>
        <form [gutter]="3" cForm #manualAtdform="ngForm" (ngSubmit)="onSubmit(manualAtdForm)">
            <!--<c-row [gutter]="3">
                <c-col md="3">
                    <label for="Office">Office</label>
                    <select name="Offices" id="Office" cSelect
                    [(ngModel)]="selectedOffice"
                    (change)="onOfficeChange()"
                    >
                        <option [ngValue]="null" selected>Select Office</option>
                        @for (Office of OfficeOption; track $index) {
                            <option [value]="Office.id">{{Office.name}}</option>
                        }
                    </select>
                </c-col>
                <c-col md="3">
                    <label for="Department">Department</label>
                    <select name="departmentId" id="Department" 
                    cSelect
                    (change)="onOfficeChange()"
                    [(ngModel)]="selectedDepartment">
                        <option [ngValue]="null" selected>Select Department</option>
                        @for (department of DepartmentOption; track $index) {
                            <option [value]="department.id">{{department.name}}</option>
                        }
                    </select>
                </c-col>
                 <c-col md="3">
                    <label for="Shifts">Shift<span class="text-danger">*</span></label>
                    <select name="shiftId" id="Shifts" 
                    cSelect
                    required
                    #Shift = "ngModel"
                    [(ngModel)]="this.manualAtdService.attendances.shiftId">
                        <option [ngValue]="null" >Select Shift</option>
                        @for (shift of ShiftOption; track $index) {
                            <option [value]="shift.id">{{shift.name}}</option>
                        }
                    </select>

                    @if(Shift.invalid&&Shift.touched) {
                        <div class="text-left text-danger">Shift is required</div>
                    }
                </c-col>
                <c-col md="3">
                    <label for="Employee">Employee<span class="text-danger">*</span></label>
                    <select name="empId" id="Employee" 
                    cSelect required
                    #EmpId = "ngModel"
                    [(ngModel)]="this.manualAtdService.attendances.empId">
                        <option [ngValue]="null" selected>Select Employee</option>
                        @for (employee of EmpOption; track $index) {
                            <option [value]="employee.id">{{employee.name+"/"+employee.id}}</option>
                        }
                    </select>
                    @if (EmpId.invalid&&EmpId.touched) {
                        <div class="text-left text-danger">Employee is required</div>
                    }
                </c-col>
            </c-row> -->

            <c-row [gutter]="3">
                <c-col md="3">
                    <label cLabel for="">Select Employee</label>
                    <c-input-group>
                      <button cButton type="button" color="secondary" (click)="openEmployeeModal()">
                        <svg [cIcon]="icons.cilSearch"></svg>
                      </button>
                      <input type="text"
                      name="empCardNo" 
                      #Pms = "ngModel"
                      [(ngModel)]="PMIS"
                      placeholder="Enter PMIS"
                      cFormControl id="employeeId" 
                      (input)="onEmpIdChange()"/>
                    </c-input-group>
                </c-col>
                 <c-col md="3">
                    <label cLabel for="Shifts">Shift<span class="text-danger">*</span></label>
                    <select name="shiftId" id="Shifts" 
                    cSelect
                    required
                    #Shift = "ngModel"
                    [(ngModel)]="this.manualAtdService.attendances.shiftId">
                        <option [ngValue]="null" >Select Shift</option>
                        @for (shift of ShiftOption; track $index) {
                            <option [value]="shift.id">{{shift.name}}</option>
                        }
                    </select>

                    @if(Shift.invalid&&Shift.touched) {
                        <div class="text-left text-danger">Shift is required</div>
                    }
                </c-col>
            </c-row>
            <c-row class="mt-1" [gutter]="3">
                <c-col md="3">
                    <c-input-group>
                        <label cInputGroupText for="">Name: </label>
                        <input type="text" name="EmpName" [(ngModel)]="EmpName" readonly cFormControl>
                    </c-input-group>
                </c-col>
            </c-row>
            <hr>

            <c-row [gutter]="3">
                <c-col md="4">
                    <label for="AtdDate">Date<span class="text-danger">*</span></label>
                    <input name="attendanceDate" 
                        placeholder="Enter a date" 
                        id="AtdDate" 
                        type="date"
                        required
                        cFormControl
                        #AtdDate = "ngModel"
                        [(ngModel)]="this.manualAtdService.attendances.attendanceDate"
                        >
                        @if (AtdDate.invalid&&AtdDate.touched) {
                            <div class="text-left text-danger">Attendance Date is required</div>
                        }
                </c-col>
                <c-col md="4">
                    <label for="AtdInTime">In Time</label>
                    <input name="inTime" 
                        placeholder="Enter InTime" 
                        id="AtdInTime" 
                        type="time"
                        cFormControl
                        [(ngModel)]="this.manualAtdService.attendances.inTime">
                </c-col>
                <c-col md="4">
                    <label for="AtdOutTime">Out Time</label>
                    <input name="outTime" 
                        placeholder="Enter OutTime" 
                        id="AtdOutTime" 
                        type="time"
                        cFormControl
                        [(ngModel)]="this.manualAtdService.attendances.outTime">
                </c-col>

                <c-col md="4">
                    <label for="AtdStatus">Status</label>
                    <select name="attendanceStatusId" 
                    id="AtdStatus" 
                    cSelect
                    [(ngModel)]="this.manualAtdService.attendances.attendanceStatusId">
                        <option [ngValue]="null">Set Automatically</option>
                        @for (status of AtdStatusOption; track $index) {
                            <option [value]="status.id">{{status.name}}</option>
                        }
                    </select>
                </c-col>

                <c-col md="4">
                    <label for="Remark">Remark</label>
                    <input type="text" name="remark" id="Remark" 
                    cFormControl 
                    [(ngModel)]="this.manualAtdService.attendances.remark">
                </c-col>
                <c-col [xs]="12">
                <div class="d-flex justify-content-between">
                  <div>
                    <button
                      [disabled]="loading==true||manualAtdForm.invalid||validPMIS==false"
                      cButton
                      class="me-1"
                      color="primary"
                      type="submit"
                    >
                      <c-spinner [hidden]="loading == false" size="sm"></c-spinner>
                      Save
                      </button>
                    <button cButton color="secondary" (click)="ResetForm()">Reset</button>
                  </div>
                  <div>
                    <button [hidden]="btnText != 'Update'" cButton color="danger">Cancel</button>
                  </div>
                </div>
              </c-col>
            </c-row>
        </form>
    </c-card-body>

</c-card>

<br>

<c-card mt="2em">
    <c-card-header class="d-flex justify-content-between">
       <div>{{HeaderText+" (Bulk)"}}</div>
    </c-card-header>
    <c-card-body>
        <form cForm #manualAtdBulkForm="ngForm" (ngSubmit)="onSubmitBulk(manualAtdBulkForm)">
            <c-row [gutter]="3" class="mb-3">
                <div>
                    <label cLabel for="formFileLg">Choose A CSV File <span class="text-left text-danger">*</span></label>
                    <input name="csvFile" cFormControl id="formFileLg" 
                    sizing="lg" type="file"
                    required
                    [(ngModel)]="atdFile"
                    #bulkAtdFile="ngModel"
                    (change)="onAtdFileChange($event)"
                    accept="text/csv" />
                </div>
            </c-row>
            <c-row class="mt-3">
                <c-col md="4">
                    <div class="d-flex">
                        <button type="submit"
                            class="me-1"
                            color="primary"
                            cButton
                            [disabled]="loadingBulk||this.atdFile==null"
                            >
                                <c-spinner [hidden]="loadingBulk == false" size="sm"></c-spinner>
                                Add Attendances
                        </button>
                        <button cButton class="me-1" color="secondary" (click)="ResetBulkForm()">
                            Reset
                        </button>
                    </div>
                </c-col>
            </c-row>
        </form>
    </c-card-body>
</c-card>