@if (fieldData.htmlTagName=="input") {
    
    @if (fieldData.hasSelectable&&fieldData.hasMultipleValue==false) {
        <c-row class="mt-2" [gutter]="3">
            <c-col md="5">
                <label cLabel class="font-weight-bold"><strong>{{Index+fieldData.fieldName}}</strong></label> 
            </c-col>
            <c-col md="3">
                <input
                [readOnly]="IsReadonly"
                type="text"
                placeholder="Remark"
                [(ngModel)] = "fieldData.remark"
                cFormControl 
                [name]="fieldUniqueName+'remark'" 
                id="fieldUniqueName+'remark'">
            </c-col>
                    
            @for (option of fieldData.options; track $index) {
                <c-row class="ms-2 mt-3" [gutter]="1" id="radioButton">
                    <c-col md="4">
                        <label cLabel class="font-weight-bold"><strong>{{$index+1}}. {{option.optionName}}</strong></label>
                    </c-col>
                    <c-col>
                        <input type="radio" 
                        [disabled]="IsReadonly"
                        [(ngModel)]="field"
                        [required]="fieldData.isRequired"
                        [name]="fieldUniqueName"
                        [value]="option.optionValue"
                        style="display: none;"
                        [id]="fieldUniqueName+option.optionValue"
                         />
                    <label for="{{fieldUniqueName+option.optionValue}}">
                        <div style="width: 60px; height: 35px;" class="text-center flex border border-2 border-secondary justify-content-center">
                            {{option.optionValue}}
                        </div>
                    </label>
                    </c-col>
                </c-row>
            }
        </c-row>
    } @else {
        <c-row class="mt-2"  [gutter]="3">
            <c-col md="4">
                <label class="font-weight-bold" cLabel><strong>{{Index+fieldData.fieldName}}:</strong></label>
            </c-col>
            <c-col>

                <input [name]="fieldUniqueName" 
                [readOnly]="IsReadonly"
                [id]="fieldUniqueName"
                [(ngModel)]="this.field"
                #fieldRef = "ngModel"
                (change)="onFieldChange($event)"
                [type]="fieldData.htmlInputType" 
                [required]="fieldData.isRequired" cFormControl>
                
                @if (fieldRef.invalid&&fieldRef.touched&&fieldData.isRequired){
                    <div class="text-left text-danger">{{fieldData.fieldName}} is required</div>
                }
            </c-col>
            <c-col>
                
            </c-col>
        </c-row>
    }

} @else if(fieldData.htmlTagName=="textarea") {
    <c-row class="mt-2" [gutter]="3">
        <c-col md="4">
            <label cLabel><strong>{{fieldData.fieldName}}: </strong></label>
        </c-col>
        <c-col>
            <textarea [name]="fieldUniqueName" 
            [readOnly]="IsReadonly"
            [id]="fieldUniqueName"
            [(ngModel)]="this.field"
            #fieldRef = "ngModel"
            [required] = "fieldData.isRequired"
            cFormControl
            ></textarea>
            @if (fieldRef.invalid&&fieldRef.touched&&fieldData.isRequired) {
                <div class="text-left text-danger">{{fieldData.fieldName}} is required</div>
            }
        </c-col>
    </c-row>
} 