@if (fieldData.htmlTagName=="input") {
    
    @if (fieldData.hasSelectable&&fieldData.hasMultipleValue==false) {
        <c-row class="mt-2" [gutter]="3">
            <c-col md="5">
                <label cLabel class="font-weight-bold"><strong>{{fieldData.fieldName}}</strong></label> 
            </c-col>
            <c-col md="3">
                <input 
                type="text"
                placeholder="Remark"
                [(ngModel)] = "fieldData.remark"
                cFormControl 
                [name]="fieldUniqueName+'remark'" 
                id="fieldUniqueName+'remark'">
            </c-col>
                    
            @for (option of fieldData.options; track $index) {
                <c-row class="ms-2" [gutter]="1">
                    <c-col md="3">
                        <label cLabel class="font-weight-bold"><strong>{{$index+1}}. {{option.optionName}}</strong></label>
                    </c-col>
                    <c-col>
                    <c-form-check>
                        <input cFormCheckInput type="radio" 
                        [(ngModel)]="field"
                        [required]="fieldData.isRequired"
                        [name]="fieldUniqueName"
                        [value]="option.optionValue"
                         />
                    </c-form-check>
                    </c-col>
                </c-row>
            }
        </c-row>
    } @else {
        <c-row class="mt-2"  [gutter]="3">
            <c-col md="3">
                <label for="{{fieldUniqueName}}" class="font-weight-bold" cLabel><strong>{{fieldData.fieldName}}:</strong></label>
            </c-col>
            <c-col>
                <input [name]="fieldUniqueName" 
                [id]="fieldUniqueName"
                [(ngModel)]="this.field"
                #fieldRef = "ngModel"
                (change)="onFieldChange($event)"
                [type]="fieldData.htmlInputType" 
                [required]="fieldData.isRequired" cFormControl>
                
                @if (fieldRef.invalid&&fieldRef.touched&&fieldData.isRequired){
                    <div class="text-left text-danger">{{fieldData.fieldName}} is required</div>
                }
            </c-col>
            <c-col>
                
            </c-col>
        </c-row>
    }

} 