.custom-button {
    border: none;
    background-color: transparent;
    color: inherit;
    cursor: pointer;
    padding: 0;
    font: inherit;
  }

.edit-button button {
  color: black;
  background-color: aqua;
  border: none;
  border-radius: 50%;
}