<div class="modal fade show" tabindex="-1">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Employee Information</h5>
                <button mat-mini-fab color="warn" class="close" aria-label="Close" (click)="closeModal()" type="button">
                    <mat-icon>close</mat-icon>
                </button>
            </div>
            <div class="modal-body scrollable-modal-body">

                <!-- Employee Photo and Signature -->
                <c-card class="shadow mb-4">
                    <c-card-header>
                        <div class="d-flex justify-content-between align-items-center">
                            <div>
                                <h5>Employee Photo and Signature</h5>
                            </div>
                            <div>
                                <button mat-mini-fab color="primary" (click)="toggleComponent('empPhotoSign')" cTooltip="Edit" cTooltipPlacement="bottom" [hidden]="clickedButton == 'viewProfile' && canEditProfile != true">
                                    <mat-icon>edit</mat-icon>
                                </button>
                            </div>
                        </div>

                        <app-emp-photo-sign *ngIf="visibleComponent === 'empPhotoSign'" [empId]="empId" [pNo]="pNo"
                            (close)="toggleComponent('empPhotoSign')"></app-emp-photo-sign>
                    </c-card-header>
                    <c-card-body>
                        <div class="d-flex justify-content-between" *ngIf="empPhotoSign">
                            <div>
                                <p>Employee Photo</p>
                                <img src="{{empPhoto}}" style="max-width: auto; max-height: 150px;">
                            </div>
                            <div>
                                <p>Employee Signature</p>
                                <img src="{{empSignature}}" style="max-width: auto; max-height: 50px;">
                            </div>
                        </div>
                    </c-card-body>
                </c-card>

                <!-- Employee Basic Information -->
                <c-card class="shadow mb-4">
                    <c-card-header>
                        <div class="d-flex justify-content-between align-items-center">
                            <div>
                                <h5>Employee Basic Information</h5>
                            </div>
                            <div>
                                <button mat-mini-fab color="primary" (click)="toggleComponent('empBasicInfo')" cTooltip="Edit" cTooltipPlacement="bottom" [hidden]="clickedButton == 'viewProfile' && canEditProfile != true">
                                    <mat-icon>edit</mat-icon>
                                </button>
                            </div>
                        </div>

                        <app-basic-information *ngIf="visibleComponent === 'empBasicInfo'" [empId]="empId"
                            (close)="toggleComponent('empBasicInfo')"></app-basic-information>
                    </c-card-header>
                    <c-card-body>
                        <table class="table table-bordered table-hover" hover *ngIf="empBasicInfo">
                            <tbody>
                                <tr>
                                    <th>Employee Name</th>
                                    <td>{{empBasicInfo.firstName}} {{empBasicInfo.lastName}}</td>
                                    <th>Employee Name Bangla</th>
                                    <td>{{empBasicInfo.firstNameBangla}} {{empBasicInfo.lastNameBangla}}</td>
                                </tr>
                                <tr>
                                    <th>Personal File No</th>
                                    <td>{{empBasicInfo.personalFileNo}}</td>
                                    <th>PMIS ID</th>
                                    <td>{{empBasicInfo.idCardNo}}</td>
                                </tr>
                                <tr>
                                    <th>NID Number</th>
                                    <td>{{empBasicInfo.nid}}</td>
                                    <th>Employee Type</th>
                                    <td>{{empBasicInfo.employeeTypeName}}</td>
                                </tr>
                            </tbody>
                        </table>

                    </c-card-body>
                </c-card>


                <!-- Employee Personal Information -->
                <c-card class="shadow mb-4">
                    <c-card-header>
                        <div class="d-flex justify-content-between align-items-center">
                            <div>
                                <h5>Employee Personal Information</h5>
                            </div>
                            <div>
                                <button mat-mini-fab color="primary" (click)="toggleComponent('personalInfo')" cTooltip="Edit" cTooltipPlacement="bottom" [hidden]="clickedButton == 'viewProfile' && canEditProfile != true">
                                    <mat-icon>edit</mat-icon>
                                </button>
                            </div>
                        </div>

                        <app-personal-information *ngIf="visibleComponent === 'personalInfo'" [empId]="empId"
                            (close)="toggleComponent('personalInfo')"></app-personal-information>
                    </c-card-header>
                    <c-card-body>
                        <table class="table table-bordered table-hover" *ngIf="empPersonalInfo">
                            <tbody>
                                <tr>
                                    <th>Gender</th>
                                    <td>{{empPersonalInfo.genderName}}</td>
                                    <th>Father Name</th>
                                    <td>{{empPersonalInfo.fatherName}}</td>
                                </tr>
                                <tr>
                                    <th>Marital Status</th>
                                    <td>{{empPersonalInfo.maritalStatusName}}</td>
                                    <th>Mother Name</th>
                                    <td>{{empPersonalInfo.motherName}}</td>
                                </tr>
                                <tr>
                                    <th>Blood Group</th>
                                    <td>{{empPersonalInfo.bloodGroupName}}</td>
                                    <th>Guardian Name</th>
                                    <td>{{empPersonalInfo.gurdianName}}</td>
                                </tr>
                                <tr>
                                    <th>Nationality</th>
                                    <td>{{empPersonalInfo.nationalityName}}</td>
                                    <th>Religion</th>
                                    <td>{{empPersonalInfo.religionName}}</td>
                                </tr>
                                <tr>
                                    <th>Mobile Number</th>
                                    <td>{{empPersonalInfo.mobileNumber}}</td>
                                    <th>Height</th>
                                    <td>{{empPersonalInfo.height}}</td>
                                </tr>
                                <tr>
                                    <th>Email</th>
                                    <td>{{empPersonalInfo.email}}</td>
                                    <th>Weight</th>
                                    <td>{{empPersonalInfo.weight}}</td>
                                </tr>
                                <tr>
                                    <th>Birth Reg. No.</th>
                                    <td>{{empPersonalInfo.birthRegNo}}</td>
                                    <th>Hair Color</th>
                                    <td>{{empPersonalInfo.hairColorName}}</td>
                                </tr>
                                <tr>
                                    <th>Place of Birth</th>
                                    <td>{{empPersonalInfo.placeOfBirth}}</td>
                                    <th>Eyes Color</th>
                                    <td>{{empPersonalInfo.eyesColorName}}</td>
                                </tr>
                                <tr>
                                    <th>Religion</th>
                                    <td>{{empPersonalInfo.religionName}}</td>
                                    <th>TIN Number</th>
                                    <td>{{empPersonalInfo.tinNo}}</td>
                                </tr>
                                <tr>
                                    <th>Driving License No</th>
                                    <td>{{empPersonalInfo.drivingLicenceNo}}</td>
                                    <th>Driving License Expire Date</th>
                                    <td>{{empPersonalInfo.drivingLicenceDate | date: 'dd-MM-yyyy'}}</td>
                                </tr>
                                <tr>
                                    <th>Passport Number</th>
                                    <td>{{empPersonalInfo.passportNo}}</td>
                                    <th>Passport Expire Date</th>
                                    <td>{{empPersonalInfo.passportExpireDate | date: 'dd-MM-yyyy'}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </c-card-body>
                </c-card>

                <!-- Employee Spouse Information -->
                <c-card class="shadow mb-4">
                    <c-card-header>
                        <div class="d-flex justify-content-between align-items-center">
                            <div>
                                <h5>Employee Spouse Information</h5>
                            </div>
                            <div>
                                <button mat-mini-fab color="primary" (click)="toggleComponent('spouseInfo')" cTooltip="Edit" cTooltipPlacement="bottom" [hidden]="clickedButton == 'viewProfile' && canEditProfile != true">
                                    <mat-icon>edit</mat-icon>
                                </button>
                            </div>
                        </div>

                        <app-emp-spouse-info *ngIf="visibleComponent === 'spouseInfo'" [empId]="empId"
                            (close)="toggleComponent('spouseInfo')"></app-emp-spouse-info>
                    </c-card-header>
                    <c-card-body>
                        @if(empSpouseInfo.length>0){
                        <table class="table table-bordered table-hover">
                            <tbody *ngFor="let item of empSpouseInfo">
                                <tr>
                                    <th>Spouse Name</th>
                                    <td>{{item.spouseName}}</td>
                                    <th>Spouse Name Bangla</th>
                                    <td>{{item.spouseNameBangla}}</td>
                                </tr>
                                <tr>
                                    <th>Date of Birth</th>
                                    <td>{{item.dateOfBirth | date: 'dd-MM-yyyy'}}</td>
                                    <th>Birth Registration No</th>
                                    <td>{{item.birthRegNo}}</td>
                                </tr>
                                <tr class="table_mergin_bottom">
                                    <th>Occupation</th>
                                    <td>{{item.occupationName}}</td>
                                    <th>Remark</th>
                                    <td>{{item.remark}}</td>
                                </tr>
                            </tbody>
                        </table>
                        }

                    </c-card-body>
                </c-card>

                <!-- Employee Child Information -->
                <c-card class="shadow mb-4">
                    <c-card-header>
                        <div class="d-flex justify-content-between align-items-center">
                            <div>
                                <h5>Employee Child Information</h5>
                            </div>
                            <div>
                                <button mat-mini-fab color="primary" (click)="toggleComponent('childrenInfo')" cTooltip="Edit" cTooltipPlacement="bottom" [hidden]="clickedButton == 'viewProfile' && canEditProfile != true">
                                    <mat-icon>edit</mat-icon>
                                </button>
                            </div>
                        </div>

                        <app-emp-child-info *ngIf="visibleComponent === 'childrenInfo'" [empId]="empId"
                            (close)="toggleComponent('childrenInfo')"></app-emp-child-info>
                    </c-card-header>
                    <c-card-body>
                        @if(empChildInfo.length>0){
                        <table class="table table-bordered table-hover">
                            <tbody *ngFor="let item of empChildInfo">
                                <tr>
                                    <th>Child Name</th>
                                    <td>{{item.childName}}</td>
                                    <th>Child Name Bangla</th>
                                    <td>{{item.childNameBangla}}</td>
                                </tr>
                                <tr>
                                    <th>Date of Birth</th>
                                    <td>{{item.dateOfBirth | date: 'dd-MM-yyyy'}}</td>
                                    <th>Birth Registration No</th>
                                    <td>{{item.birthRegNo}}</td>
                                </tr>
                                <tr>
                                    <th>Gender</th>
                                    <td>{{item.genderName}}</td>
                                    <th>Occupation</th>
                                    <td>{{item.occupationName}}</td>
                                </tr>
                                <tr>
                                    <th>NID</th>
                                    <td>{{item.nid}}</td>
                                    <th>Marital Status</th>
                                    <td>{{item.maritalStatusName}}</td>
                                </tr>
                                <tr class="table_mergin_bottom">
                                    <th>Child Status</th>
                                    <td>{{item.childStatusName}}</td>
                                    <th>Remark</th>
                                    <td>{{item.remark}}</td>
                                </tr>
                            </tbody>
                        </table>
                        }

                    </c-card-body>
                </c-card>

                <!-- Employee Job Details Information -->
                <c-card class="shadow mb-4">
                    <c-card-header>
                        <div class="d-flex justify-content-between align-items-center">
                            <div>
                                <h5>Employee Job Details Information</h5>
                            </div>
                            <div>
                                <button mat-mini-fab color="primary" (click)="toggleComponent('jobDetails')" cTooltip="Edit" cTooltipPlacement="bottom" [hidden]="clickedButton == 'viewProfile' && canEditProfile != true">
                                    <mat-icon>edit</mat-icon>
                                </button>
                            </div>
                        </div>

                        <app-emp-job-details *ngIf="visibleComponent === 'jobDetails'" [empId]="empId"
                            (close)="toggleComponent('jobDetails')"></app-emp-job-details>
                    </c-card-header>
                    <c-card-body>
                        <table class="table table-bordered table-hover" *ngIf="empJobDetails">
                            <tbody>
                                <tr>
                                    <th>Department</th>
                                    <td>{{empJobDetails.departmentName}}</td>
                                    <th>Section</th>
                                    <td>{{empJobDetails.sectionName}}</td>
                                </tr>
                                <tr>
                                    <th>Designation</th>
                                    <td>{{empJobDetails.designationName}}</td>
                                    <th>Preset Grade</th>
                                    <td>{{empJobDetails.presentGradeName}}</td>
                                </tr>
                                <tr>
                                    <th>Present Scale</th>
                                    <td>{{empJobDetails.presentScaleName}}</td>
                                    <th>Basic Pay</th>
                                    <td>{{empJobDetails.basicPay}}</td>
                                </tr>
                                <tr>
                                    <th>GPF Code</th>
                                    <td>{{empJobDetails.codeNo}}</td>
                                    <th>Joining Date</th>
                                    <td>{{empJobDetails.joiningDate | date: 'dd-MM-yyyy'}}</td>
                                </tr>
                                <tr>
                                    <th>Confirmation Date</th>
                                    <td>{{empJobDetails.confirmationDate | date: 'dd-MM-yyyy'}}</td>
                                    <th>Current Position Joining Date</th>
                                    <td>{{empJobDetails.currentPositionJoinDate | date: 'dd-MM-yyyy'}}</td>
                                </tr>
                                <tr>
                                    <th>First Department</th>
                                    <td>{{empJobDetails.firstDepartmentName}}</td>
                                    <th>First Section</th>
                                    <td>{{empJobDetails.firstSectionName}}</td>
                                </tr>
                                <tr>
                                    <th>First Designation</th>
                                    <td>{{empJobDetails.firstDesignationName}}</td>
                                    <th>First Grade</th>
                                    <td>{{empJobDetails.firstGradeName}}</td>
                                </tr>
                                <tr>
                                    <th>First Scale</th>
                                    <td>{{empJobDetails.firstScaleName}}</td>
                                    <th>First Grade</th>
                                    <td>{{empJobDetails.firstGradeName}}</td>
                                </tr>
                                <tr>
                                    <th>PRL Date</th>
                                    <td>{{prlDate}}</td>
                                    <th>Retirment Date</th>
                                    <td>{{retirementDate}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </c-card-body>
                </c-card>

                <!-- Employee Present Address Information -->
                <c-card class="shadow mb-4">
                    <c-card-header>
                        <div class="d-flex justify-content-between align-items-center">
                            <div>
                                <h5>Employee Present Address Information</h5>
                            </div>
                            <div>
                                <button mat-mini-fab color="primary" (click)="toggleComponent('presentAddress')" cTooltip="Edit" cTooltipPlacement="bottom" [hidden]="clickedButton == 'viewProfile' && canEditProfile != true">
                                    <mat-icon>edit</mat-icon>
                                </button>
                            </div>
                        </div>

                        <app-emp-present-address *ngIf="visibleComponent === 'presentAddress'" [empId]="empId"
                            (close)="toggleComponent('presentAddress')"></app-emp-present-address>
                    </c-card-header>
                    <c-card-body>
                        <table class="table table-bordered table-hover" *ngIf="empPresentAddress">
                            <tbody>
                                <tr>
                                    <th>Country</th>
                                    <td *ngIf="empPresentAddress?.countryName; else emptyTd">{{empPresentAddress.countryName}}</td>
                                    <ng-template #emptyTd><td></td></ng-template>
                                    <th>Division</th>
                                    <td *ngIf="empPresentAddress?.divisionName; else emptyTd">{{empPresentAddress.divisionName}}</td>
                                </tr>
                                <tr>
                                    <th>District</th>
                                    <td *ngIf="empPresentAddress?.districtName; else emptyTd">{{empPresentAddress.districtName}}</td>
                                    <th>Upazila/Thana</th>
                                    <td *ngIf="empPresentAddress?.upazilaName; else emptyTd">{{empPresentAddress.upazilaName}}</td>
                                </tr>
                                <tr>
                                    <!-- <th>Thana</th>
                                    <td *ngIf="empPresentAddress?.thanaName; else emptyTd">{{empPresentAddress.thanaName}}</td> -->
                                    <th>Union</th>
                                    <td *ngIf="empPresentAddress?.unionName; else emptyTd">{{empPresentAddress.unionName}}</td>
                                    <th>Ward</th>
                                    <td *ngIf="empPresentAddress?.wardName; else emptyTd">{{empPresentAddress.wardName}}</td>
                                </tr>
                                <tr>
                                    <th>Post Code</th>
                                    <td *ngIf="empPresentAddress?.zipCode; else emptyTd">{{empPresentAddress.zipCode}}</td>
                                    <th>Road No/House No</th>
                                    <td *ngIf="empPresentAddress?.address; else emptyTd">{{empPresentAddress.address}}</td>
                                </tr>
                                <tr>
                                    <th>Email</th>
                                    <td *ngIf="empPresentAddress?.email; else emptyTd">{{empPresentAddress.email}}</td>
                                    <th>Remark</th>
                                    <td *ngIf="empPresentAddress?.remark; else emptyTd">{{empPresentAddress.remark}}</td>
                                </tr>
                                <!-- <tr>
                                </tr> -->
                            </tbody>
                        </table>
                    </c-card-body>
                </c-card>

                <!-- Employee Permanent Address Information -->
                <c-card class="shadow mb-4">
                    <c-card-header>
                        <div class="d-flex justify-content-between align-items-center">
                            <div>
                                <h5>Employee Permanent Address Information</h5>
                            </div>
                            <div>
                                <button mat-mini-fab color="primary" (click)="toggleComponent('permanentAddress')" cTooltip="Edit" cTooltipPlacement="bottom" [hidden]="clickedButton == 'viewProfile' && canEditProfile != true">
                                    <mat-icon>edit</mat-icon>
                                </button>
                            </div>
                        </div>

                        <app-emp-permanent-address *ngIf="visibleComponent === 'permanentAddress'" [empId]="empId"
                            (close)="toggleComponent('permanentAddress')"></app-emp-permanent-address>
                    </c-card-header>
                    <c-card-body>
                        <table class="table table-bordered table-hover" *ngIf="empPermanentAddress">
                            <tbody>
                                <tr>
                                    <th>Country</th>
                                    <td *ngIf="empPermanentAddress?.countryName; else emptyTd">{{empPermanentAddress.countryName}}</td>
                                    <ng-template #emptyTd><td></td></ng-template>
                                    <th>Division</th>
                                    <td *ngIf="empPermanentAddress?.divisionName; else emptyTd">{{empPermanentAddress.divisionName}}</td>
                                </tr>
                                <tr>
                                    <th>District</th>
                                    <td *ngIf="empPermanentAddress?.districtName; else emptyTd">{{empPermanentAddress.districtName}}</td>
                                    <th>Upazila/Thana</th>
                                    <td *ngIf="empPermanentAddress?.upazilaName; else emptyTd">{{empPermanentAddress.upazilaName}}</td>
                                </tr>
                                <tr>
                                    <!-- <th>Thana</th>
                                    <td *ngIf="empPermanentAddress?.thanaName; else emptyTd">{{empPermanentAddress.thanaName}}</td> -->
                                    <th>Union</th>
                                    <td *ngIf="empPermanentAddress?.unionName; else emptyTd">{{empPermanentAddress.unionName}}</td>
                                    <th>Ward</th>
                                    <td *ngIf="empPermanentAddress?.wardName; else emptyTd">{{empPermanentAddress.wardName}}</td>
                                </tr>
                                <tr>
                                    <th>Post Code</th>
                                    <td *ngIf="empPermanentAddress?.zipCode; else emptyTd">{{empPermanentAddress.zipCode}}</td>
                                    <th>Road No/House No</th>
                                    <td *ngIf="empPermanentAddress?.address; else emptyTd">{{empPermanentAddress.address}}</td>
                                </tr>
                                <tr>
                                    <th>Email</th>
                                    <td *ngIf="empPermanentAddress?.email; else emptyTd">{{empPermanentAddress.email}}</td>
                                    <th>Remark</th>
                                    <td *ngIf="empPermanentAddress?.remark; else emptyTd">{{empPermanentAddress.remark}}</td>
                                </tr>
                                <!-- <tr>
                                </tr> -->
                            </tbody>     
                        </table>
                    </c-card-body>
                </c-card>

                <!-- Employee Education Information -->
                <c-card class="shadow mb-4">
                    <c-card-header>
                        <div class="d-flex justify-content-between align-items-center">
                            <div>
                                <h5>Employee Education Information</h5>
                            </div>
                            <div>
                                <button mat-mini-fab color="primary" (click)="toggleComponent('educationInfo')" cTooltip="Edit" cTooltipPlacement="bottom" [hidden]="clickedButton == 'viewProfile' && canEditProfile != true">
                                    <mat-icon>edit</mat-icon>
                                </button>
                            </div>
                        </div>

                        <app-emp-education-info *ngIf="visibleComponent === 'educationInfo'" [empId]="empId"
                            (close)="toggleComponent('educationInfo')"></app-emp-education-info>
                    </c-card-header>
                    <c-card-body>
                        @if(empEducationInfo.length>0){
                        <table class="table table-bordered table-hover">
                            <tbody *ngFor="let item of empEducationInfo">
                                <tr>
                                    <th>Exam Type</th>
                                    <td>{{item.examTypeName}}</td>
                                    <th>Board</th>
                                    <td>{{item.boardName}}</td>
                                </tr>
                                <tr>
                                    <th>Group</th>
                                    <td>{{item.subGroupName}}</td>
                                    <th>Result</th>
                                    <td *ngIf="!item?.point; else point">{{item.resultName}}</td>
                                    <ng-template #point><td *ngIf="item?.point; else emptyTd">{{item.point}}</td></ng-template>
                                    <ng-template #emptyTd><td></td></ng-template>
                                </tr>
                                <tr>
                                    <th>Duration</th>
                                    <td>{{item.courseDuration}}</td>
                                    <th>Passing Year</th>
                                    <td>{{item.passingYear}}</td>
                                </tr>
                                <tr class="table_mergin_bottom">
                                    <th>Remark</th>
                                    <td>{{item.remark}}</td>
                                    <th colspan="2"></th>
                                </tr>
                            </tbody>
                        </table>
                        }

                    </c-card-body>
                </c-card>

                <!-- Employee Psi and Training Information -->
                <!-- <c-card class="shadow mb-4">
                    <c-card-header>
                        <div class="d-flex justify-content-between align-items-center">
                            <div>
                                <h5>Employee Psi and Training Information</h5>
                            </div>
                            <div>
                                <button mat-mini-fab color="primary" (click)="toggleComponent('psiTrainingInfo')" cTooltip="Edit" cTooltipPlacement="bottom" [hidden]="clickedButton == 'viewProfile' && canEditProfile != true">
                                    <mat-icon>edit</mat-icon>
                                </button>
                            </div>
                        </div>

                        <app-emp-psi-training-info *ngIf="visibleComponent === 'psiTrainingInfo'" [empId]="empId"
                            (close)="toggleComponent('psiTrainingInfo')"></app-emp-psi-training-info>
                    </c-card-header>
                    <c-card-body>
                        @if(empPsiTrainingInfo.length>0){
                        <table class="table table-bordered table-hover">
                            <tbody *ngFor="let item of empPsiTrainingInfo">
                                <tr>
                                    <th>Training Name</th>
                                    <td>{{item.trainingName}}</td>
                                    <th>Work Purpose</th>
                                    <td>{{item.workPurpose}}</td>
                                </tr>
                                <tr>
                                    <th>From Date</th>
                                    <td>{{item.fromDate}}</td>
                                    <th>To Date</th>
                                    <td>{{item.toDate}}</td>
                                </tr>
                                <tr class="table_mergin_bottom">
                                    <th>Remark</th>
                                    <td>{{item.remark}}</td>
                                    <th colspan="2"></th>
                                </tr>
                            </tbody>
                        </table>
                        }

                    </c-card-body>
                </c-card> -->

                <!-- Employee Bank Information -->
                <c-card class="shadow mb-4">
                    <c-card-header>
                        <div class="d-flex justify-content-between align-items-center">
                            <div>
                                <h5>Employee Bank Information</h5>
                            </div>
                            <div>
                                <button mat-mini-fab color="primary" (click)="toggleComponent('bankInfo')" cTooltip="Edit" cTooltipPlacement="bottom" [hidden]="clickedButton == 'viewProfile' && canEditProfile != true">
                                    <mat-icon>edit</mat-icon>
                                </button>
                            </div>
                        </div>

                        <app-emp-bank-info *ngIf="visibleComponent === 'bankInfo'" [empId]="empId"
                            (close)="toggleComponent('bankInfo')"></app-emp-bank-info>
                    </c-card-header>
                    <c-card-body>
                        @if(empBankInfo.length>0){
                        <table class="table table-bordered table-hover">
                            <tbody *ngFor="let item of empBankInfo">
                                <tr>
                                    <th>Account Name</th>
                                    <td>{{item.accountName}}</td>
                                    <th>Account Number</th>
                                    <td>{{item.accountNumber}}</td>
                                </tr>
                                <tr>
                                    <th>Account Type</th>
                                    <td>{{item.accountTypeName}}</td>
                                    <th>Bank Name</th>
                                    <td>{{item.bankName}}</td>
                                </tr>
                                <tr>
                                    <th>Branch Name</th>
                                    <td>{{item.branchName}}</td>
                                    <th>Routing No</th>
                                    <td>{{item.routingNo}}</td>
                                </tr>
                                <tr class="table_mergin_bottom">
                                    <th>Remark</th>
                                    <td>{{item.remark}}</td>
                                    <th colspan="2"></th>
                                </tr>
                            </tbody>
                        </table>
                        }

                    </c-card-body>
                </c-card>

                <!-- Employee Language Information -->
                <c-card class="shadow mb-4">
                    <c-card-header>
                        <div class="d-flex justify-content-between align-items-center">
                            <div>
                                <h5>Employee Language Information</h5>
                            </div>
                            <div>
                                <button mat-mini-fab color="primary" (click)="toggleComponent('languageInfo')" cTooltip="Edit" cTooltipPlacement="bottom" [hidden]="clickedButton == 'viewProfile' && canEditProfile != true">
                                    <mat-icon>edit</mat-icon>
                                </button>
                            </div>
                        </div>

                        <app-emp-language-info *ngIf="visibleComponent === 'languageInfo'" [empId]="empId"
                            (close)="toggleComponent('languageInfo')"></app-emp-language-info>
                    </c-card-header>
                    <c-card-body>
                        @if(empLanguageInfo.length>0){
                        <table class="table table-bordered table-hover">
                            <tbody *ngFor="let item of empLanguageInfo">
                                <tr>
                                    <th>Language Name</th>
                                    <td>{{item.languageName}}</td>
                                    <th>Competence</th>
                                    <td>{{item.competenceName}}</td>
                                </tr>
                                <tr class="table_mergin_bottom">
                                    <th>Remark</th>
                                    <td>{{item.remark}}</td>
                                    <th colspan="2"></th>
                                </tr>
                            </tbody>
                        </table>
                        }

                    </c-card-body>
                </c-card>

                <!-- Employee Foreign Tour Information -->
                <c-card class="shadow mb-4">
                    <c-card-header>
                        <div class="d-flex justify-content-between align-items-center">
                            <div>
                                <h5>Employee Foreign Tour Information</h5>
                            </div>
                            <div>
                                <button mat-mini-fab color="primary" (click)="toggleComponent('foreignTour')" cTooltip="Edit" cTooltipPlacement="bottom" [hidden]="clickedButton == 'viewProfile' && canEditProfile != true">
                                    <mat-icon>edit</mat-icon>
                                </button>
                            </div>
                        </div>

                        <app-emp-foreign-tour-info *ngIf="visibleComponent === 'foreignTour'" [empId]="empId"
                            (close)="toggleComponent('foreignTour')"></app-emp-foreign-tour-info>
                    </c-card-header>
                    <c-card-body>
                        @if(empForeignTourInfo.length>0){
                        <table class="table table-bordered table-hover">
                            <tbody *ngFor="let item of empForeignTourInfo">
                                <tr>
                                    <th>Country Name</th>
                                    <td>{{item.countryName}}</td>
                                    <th>Purpose</th>
                                    <td>{{item.purpose}}</td>
                                </tr>
                                <tr>
                                    <th>From Date</th>
                                    <td>{{item.fromDate | date: 'dd-MM-yyyy'}}</td>
                                    <th>To Date</th>
                                    <td>{{item.toDate | date: 'dd-MM-yyyy'}}</td>
                                </tr>
                                <tr class="table_mergin_bottom">
                                    <th>Remark</th>
                                    <td>{{item.remark}}</td>
                                    <th colspan="2"></th>
                                </tr>
                            </tbody>
                        </table>
                        }

                    </c-card-body>
                </c-card>
            </div>
            <div class="modal-footer">
                <button mat-raised-button color="warn" (click)="closeModal()">
                    <mat-icon>cancel</mat-icon> Close
                </button>
            </div>
        </div>
    </div>
</div>

