<c-card>
    <c-card-body>

        <!-- Employee Photo and Signature -->
        <c-card class="shadow mb-3">
            <c-card-header class="text-center">
                Employee Photo and Signature
            </c-card-header>
            <c-card-body>
                <div class="d-flex justify-content-between">
                    <div>
                        <p>Employee Photo</p>
                        <img src="{{empPhoto}}" style="max-width: auto; max-height: 150px;">
                    </div>
                    <div>
                        <p>Employee Signature</p>
                        <img src="{{empSignature}}" style="max-width: auto; max-height: 50px;">
                    </div>
                </div>
            </c-card-body>
        </c-card>

        <!-- Employee Basic Information -->
        <c-card class="shadow mb-3">
            <c-card-header class="text-center">
                Employee Basic Information
            </c-card-header>
            <c-card-body>
                <table cTable bordered hover>
                    <tbody>
                        <tr>
                            <th>Employee Name</th>
                            <td>{{empBasicInfo.firstName}} {{empBasicInfo.lastName}}</td>
                            <th>Employee Name Bangla</th>
                            <td>{{empBasicInfo.firstNameBangla}} {{empBasicInfo.lastNameBangla}}</td>
                        </tr>
                        <tr>
                            <th>Personal File No</th>
                            <td>{{empBasicInfo.personalFileNo}}</td>
                            <th>NID Number</th>
                            <td>{{empBasicInfo.nid}}</td>
                        </tr>
                        <tr>
                            <th>Employee Type</th>
                            <td>{{empBasicInfo.employeeTypeName}}</td>
                        </tr>
                    </tbody>
                </table>

            </c-card-body>
        </c-card>

        
        <!-- Employee Personal Information -->
        <c-card class="shadow mb-3">
            <c-card-header class="text-center">
                Employee Personal Information
            </c-card-header>
            <c-card-body>
                <table cTable bordered hover>
                    <tbody>
                        <tr>
                            <th>Gender</th>
                            <td>{{empPersonalInfo.genderName}}</td>
                            <th>Father Name</th>
                            <td>{{empPersonalInfo.fatherName}}</td>
                        </tr>
                        <tr>
                            <th>Marital Status</th>
                            <td>{{empPersonalInfo.maritalStatusName}}</td>
                            <th>Mother Name</th>
                            <td>{{empPersonalInfo.motherName}}</td>
                        </tr>
                        <tr>
                            <th>Blood Group</th>
                            <td>{{empPersonalInfo.bloodGroupName}}</td>
                            <th>Guardian Name</th>
                            <td>{{empPersonalInfo.gurdianName}}</td>
                        </tr>
                        <tr>
                            <th>Nationality</th>
                            <td>{{empPersonalInfo.nationalityName}}</td>
                            <th>Mother Name</th>
                            <td>{{empPersonalInfo.religionName}}</td>
                        </tr>
                        <tr>
                            <th>Mobile Number</th>
                            <td>{{empPersonalInfo.mobileNumber}}</td>
                            <th>Height</th>
                            <td>{{empPersonalInfo.height}}</td>
                        </tr>
                        <tr>
                            <th>Email</th>
                            <td>{{empPersonalInfo.email}}</td>
                            <th>Weight</th>
                            <td>{{empPersonalInfo.weight}}</td>
                        </tr>
                        <tr>
                            <th>Birth Reg. No.</th>
                            <td>{{empPersonalInfo.birthRegNo}}</td>
                            <th>Hair Color</th>
                            <td>{{empPersonalInfo.hairColorName}}</td>
                        </tr>
                        <tr>
                            <th>Place of Birth</th>
                            <td>{{empPersonalInfo.placeOfBirth}}</td>
                            <th>Eyes Color</th>
                            <td>{{empPersonalInfo.eyesColorName}}</td>
                        </tr>
                        <tr>
                            <th>Religion</th>
                            <td>{{empPersonalInfo.religionName}}</td>
                            <th>TIN Number</th>
                            <td>{{empPersonalInfo.tinNo}}</td>
                        </tr>
                        <tr>
                            <th>Driving License No</th>
                            <td>{{empPersonalInfo.drivingLicenceNo}}</td>
                            <th>Driving License Expire Date</th>
                            <td>{{empPersonalInfo.drivingLicenceDate}}</td>
                        </tr>
                        <tr>
                            <th>Passport Number</th>
                            <td>{{empPersonalInfo.passportNo}}</td>
                            <th>Passport Expire Date</th>
                            <td>{{empPersonalInfo.passportExpireDate}}</td>
                        </tr>
                    </tbody>
                </table>
            </c-card-body>
        </c-card>
         
        <!-- Employee Personal Information -->
        <c-card class="shadow mb-3">
            <c-card-header class="text-center">
                Employee Spouse Information
            </c-card-header>
            <c-card-body>
                <table cTable bordered hover  *ngFor="let item of empSpouseInfo" class="mb-3 shadow">
                    <tbody>
                        <tr>
                            <th>Spouse Name</th>
                            <td>{{item.spouseName}}</td>
                            <th>Spouse Name Bangla</th>
                            <td>{{item.spouseNameBangla}}</td>
                        </tr>
                        <tr>
                            <th>Date of Birth</th>
                            <td>{{item.dateOfBirth}}</td>
                            <th>Birth Registration No</th>
                            <td>{{item.birthRegNo}}</td>
                        </tr>
                        <tr>
                            <th>Occupation</th>
                            <td>{{item.occupationName}}</td>
                            <th>Remark</th>
                            <td>{{item.remark}}</td>
                        </tr>
                    </tbody>
                </table>
            </c-card-body>
        </c-card>

        <!-- Employee Present Address Information -->
        <c-card class="shadow mb-3">
            <c-card-header class="text-center">
                Employee Present/Mailing Address
            </c-card-header>
            <c-card-body>
                <table cTable bordered hover>
                    <tbody>
                        <tr>
                            <th>Country</th>
                            <td>{{empPresentAddress.countryName}}</td>
                            <th>Division</th>
                            <td>{{empPresentAddress.divisionName}}</td>
                        </tr>
                        <tr>
                            <th>District</th>
                            <td>{{empPresentAddress.districtName}}</td>
                            <th>Upazila</th>
                            <td>{{empPresentAddress.upazilaName}}</td>
                        </tr>
                        <tr>
                            <th>Thana</th>
                            <td>{{empPresentAddress.thanaName}}</td>
                            <th>Union</th>
                            <td>{{empPresentAddress.unionName}}</td>
                        </tr>
                        <tr>
                            <th>Ward</th>
                            <td>{{empPresentAddress.wardName}}</td>
                            <th>Zip Code</th>
                            <td>{{empPresentAddress.zipCode}}</td>
                        </tr>
                        <tr>
                            <th>Road No/Hose No</th>
                            <td>{{empPresentAddress.address}}</td>
                            <th>Email</th>
                            <td>{{empPresentAddress.email}}</td>
                        </tr>
                        <tr>
                            <th>Remark</th>
                            <td>{{empPresentAddress.remark}}</td>
                        </tr>
                    </tbody>
                </table>
            </c-card-body>
        </c-card>
        
        <!-- Employee Permanent Address Information -->
        <c-card class="shadow mb-3">
            <c-card-header class="text-center">
                Employee Permanent Address
            </c-card-header>
            <c-card-body>
                <table cTable bordered hover>
                    <tbody>
                        <tr>
                            <th>Country</th>
                            <td>{{empPermanentAddress.countryName}}</td>
                            <th>Division</th>
                            <td>{{empPermanentAddress.divisionName}}</td>
                        </tr>
                        <tr>
                            <th>District</th>
                            <td>{{empPermanentAddress.districtName}}</td>
                            <th>Upazila</th>
                            <td>{{empPermanentAddress.upazilaName}}</td>
                        </tr>
                        <tr>
                            <th>Thana</th>
                            <td>{{empPermanentAddress.thanaName}}</td>
                            <th>Union</th>
                            <td>{{empPermanentAddress.unionName}}</td>
                        </tr>
                        <tr>
                            <th>Ward</th>
                            <td>{{empPermanentAddress.wardName}}</td>
                            <th>Zip Code</th>
                            <td>{{empPermanentAddress.zipCode}}</td>
                        </tr>
                        <tr>
                            <th>Road No/Hose No</th>
                            <td>{{empPermanentAddress.address}}</td>
                            <th>Email</th>
                            <td>{{empPermanentAddress.email}}</td>
                        </tr>
                        <tr>
                            <th>Remark</th>
                            <td>{{empPermanentAddress.remark}}</td>
                        </tr>
                    </tbody>
                </table>
            </c-card-body>
        </c-card>
        
        <!-- Employee Job Details Information -->
        <c-card class="shadow mb-3">
            <c-card-header class="text-center">
                Employee Job Details
            </c-card-header>
            <c-card-body>
                <table cTable bordered hover>
                    <tbody>
                        <tr>
                            <th>Office</th>
                            <td>{{empJobDetails.officeName}}</td>
                            <th>Joining Date</th>
                            <td>{{empJobDetails.joiningDate}}</td>
                        </tr>
                        <tr>
                            <th>Department</th>
                            <td>{{empJobDetails.departmentName}}</td>
                            <th>First Department</th>
                            <td>{{empJobDetails.firstDepartmentName}}</td>
                        </tr>
                        <tr>
                            <th>Designation</th>
                            <td>{{empJobDetails.designationName}}</td>
                            <th>First Designation</th>
                            <td>{{empJobDetails.firstDesignationName}}</td>
                        </tr>
                        <tr>
                            <th>Present Grade</th>
                            <td>{{empJobDetails.presentGradeName}}</td>
                            <th>First Grade</th>
                            <td>{{empJobDetails.firstGradeName}}</td>
                        </tr>
                        <tr>
                            <th>Present Scale</th>
                            <td>{{empJobDetails.presentScaleName}}</td>
                            <th>First Scale</th>
                            <td>{{empJobDetails.firstScaleName}}</td>
                        </tr>
                        <tr>
                            <th>PRT Date</th>
                            <td>{{empJobDetails.prlDate}}</td>
                            <th>Retirment Date</th>
                            <td>{{empJobDetails.retirementDate}}</td>
                        </tr>
                        <tr>
                            <th>Service Status</th>
                            <td *ngIf="empJobDetails.serviceStatus">On Service</td>
                            <td *ngIf="!empJobDetails.serviceStatus">Out of Service</td>
                            <th>Remark</th>
                            <td>{{empJobDetails.remark}}</td>
                        </tr>
                    </tbody>
                </table>
            </c-card-body>
        </c-card>
        
    </c-card-body>
</c-card>