<c-card class="mt-3">
    <c-card-header class="text-center">
        <div>Employee Id Card</div>
    </c-card-header>
    <c-card-body cRow>
        <c-col [lg]="6" class="mb-4">
            <div class="front-id">
                <div class="card-logo text-center">
                    <img src="assets/id-card/biwta-logo.png">
                </div>
            </div>
        </c-col>
        <c-col [lg]="6" class="mb-4">
            <div class="back-id"></div>
        </c-col>
    </c-card-body>
</c-card>