<c-card class="mt-3">
    <c-card-header class="d-flex justify-content-between">
        <div>Employee Id Card</div>
        <div>
            <button cButton color="danger" [routerLink]="['/employee/manageEmployee']" class="text-light">
                <svg [cIcon]="icons.cilArrowLeft"></svg> Back
            </button>&nbsp;
            <button cButton color="primary" class="text-light" (click)="printIdCard()">
                <svg [cIcon]="icons.cilPrint"></svg> Print
            </button> 
        </div>
    </c-card-header>
    <c-card-body>
        <div #fullIdCard class="fullIdCard">
            <div class="mb-4">
                <div class="front-id">
                    <img src="/assets/id-card/Card_Front.jpg" alt="Front Image" class="front-image">
                    <div class="content-overlay">
                        <p class="idNo">ID: {{empBasicInfo.idCardNo}}</p>
                        <p class="empPhoto text-center"><img src="{{empPhoto}}"></p>
                        <div class="EmpInfo">
                            <div class="title">
                                <p>নাম</p>
                                <p class="mb-1">Name</p>
                                <p>পদবী</p>
                                <p>Designation</p>
                            </div>
                            <div class="text">
                                <p>: {{empBasicInfo.firstNameBangla}} {{empBasicInfo.lastNameBangla}}</p>
                                <p class="mb-1">: {{empBasicInfo.firstName}} {{empBasicInfo.lastName}}</p>
                                <p>: {{empJobDetails.designationNameBangla}}</p>
                                <p>: {{empJobDetails.designationName}}</p>
                            </div>
                        </div>
                        <p class="signature">পরিচালক (প্রশাসন ও মানব সম্পদ)</p>
                    </div>
                    
                </div>
            </div>
            <div class="mb-4">
                <div class="back-id">
                    <img src="/assets/id-card/Card_Back.jpg" alt="Back Image" class="back-image">
                    <div class="content-overlay">
                        <div class="title">
                            <p>জাতীয় পরিচয়পত্র নং</p>
                            <p>জন্ম তারিখ</p>
                            <p>রক্তের গ্রুপ</p>
                        </div>
                        <div class="text">
                            <p>: {{empBasicInfo.nid | bengaliDigit}}</p>
                            <p>: {{empBasicInfo.dateOfBirth ? (empBasicInfo.dateOfBirth | bengaliDate) : ''}}</p>
                            <p>: {{empPersonalInfo.bloodGroupName}}</p>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </c-card-body>
</c-card>
