.front-id, .back-id{
  height: 86mm;
  width: 54mm;
  border: 1px solid gray;
  color: black;
  padding: 10px 0 0 10px;
  margin-bottom: 20px;
  position: relative; 
}
.front-id {
  float: left;
  margin-right: 10px;
}
.back-id {
  float: left; 
  padding-top: 30px;
}
.front-image, .back-image{
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}
.content-overlay {
  position: relative;
  z-index: 1;
}

.idNo{
  font-weight: bold;
  margin: 105px auto 0 auto;
  font-size: 11px;
  text-align: center;
}
.empPhoto img {
  width: auto;
  height: 70px;
}

table {
  font-size: 8.5px;
}

table th {
  vertical-align: top;
}

.signature {
  font-size: 4px;
  position: absolute;
  bottom: -4px;
  right: 19.5px;
}




