.canvas-body {
    border-top: 1px solid gray;
    padding-left: 0;
    padding-right: 0;
}
.canvas-body img {
    height: auto;
    width: 30%;
    border-radius: 50%;
    border: 1px solid black;
    margin-bottom: 15px;
}

.profile_button {
    text-align: start;
    padding: 10px 0 10px 15px;
    border-bottom: 1px solid wheat;
}
.dropdownCursor {
    cursor: pointer;
}

.notificationDropdown {
    width: 300px; 
}

.notificationText {
    overflow: hidden;
    white-space: normal;
    word-break: break-word;
    overflow-wrap: break-word;
}

.dropdownFooter {
    background-color: lavender;
}