<!--<c-header class="mb-4 d-print-none" position="sticky">-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<ng-container>
  <c-container [fluid]="true">
    <button
      toggle="visible"
      cHeaderToggler
      [cSidebarToggle]="sidebarId"
      class="ps-1"
    >
      <svg cIcon
        name="cilMenu"
        size="lg"
      ></svg>
    </button>
    <c-header-nav class="d-none d-lg-flex me-auto">
      <c-nav-item>
        <a cNavLink routerLink="/dashboard" routerLinkActive="active">
          Dashboard
        </a>
      </c-nav-item>
      <!-- <c-nav-item>
        <a cNavLink routerLink="/users" routerLinkActive="active">Users</a>
      </c-nav-item>
      <c-nav-item>
        <a cNavLink routerLink="/settings" routerLinkActive="active">
          Settings
        </a>
      </c-nav-item> -->
    </c-header-nav>

    <c-header-nav class="d-none d-lg-flex">
      <c-nav-item>
        <a cNavLink>
          <svg cIcon name="cilBell" size="lg"></svg>
        </a>
      </c-nav-item>
      <!-- <c-nav-item>
        <a routerLink="./" cNavLink>
          <svg cIcon name="cilList" size="lg"></svg>
        </a>
      </c-nav-item>
      <c-nav-item>
        <a routerLink="./" cNavLink>
          <svg cIcon name="cilEnvelopeOpen" size="lg"></svg>
        </a>
      </c-nav-item> -->
    </c-header-nav>
    <c-header-nav class="ms-3">
      <ng-container *ngTemplateOutlet="userDropdown"></ng-container>
    </c-header-nav>

  </c-container>
  <!-- <c-header-divider></c-header-divider> -->
  <!-- <c-container [fluid]="true">
    <c-breadcrumb-router class="ms-2"></c-breadcrumb-router>
  </c-container> -->
</ng-container>
<!--</c-header>-->

<ng-template #userDropdown>
  <c-dropdown alignment="end" variant="nav-item">
    <button
      cButton
      color=""
      [caret]="false"
      cDropdownToggle
      class="py-0"
    >
      <c-avatar
        cTextColor="primary"
        shape="rounded-1"
        size="md"
        src="{{photoPreviewUrl}}"
        status="success"
      >
      </c-avatar>
    </button>
    <ul cDropdownMenu class="pt-0 pr-5 w-auto">
      <li>
        <h6 cDropdownHeader class="bg-light fw-semibold py-2">Account</h6>
      </li>
      <li>
        <a cDropdownItem >
          <svg cIcon class="me-2" name="cilBell"></svg>
          Updates
          <c-badge class="ms-2 float-end" color="info">
            
          </c-badge>
        </a>
      </li>
      <!-- <li>
        <a cDropdownItem>
          <svg cIcon class="me-2" name="cilEnvelopeOpen"></svg>
          Messages
          <c-badge class="ms-2 float-end" color="success">
          
          </c-badge>
        </a>
      </li> -->
      <li>
        <a cDropdownItem [cOffcanvasToggle]="offcanvasNoBackdrop.id">
          <svg cIcon class="me-2" name="cilUser"></svg>
          Profile
        </a>
      </li>
      
      <!-- <li>
        <a cDropdownItem>
          <svg cIcon class="me-2" name="cilSettings"></svg>
          Settings
        </a>
      </li> -->
      <li>
        <hr cDropdownDivider/>
      </li>
      <li>
        <a  (click)="logout()" cDropdownItem>
          <svg [cIcon]="icons.cilAccountLogout"> </svg>&nbsp;&nbsp;&nbsp;Logout
        </a>
      </li>
      
    </ul>
  </c-dropdown>
</ng-template>



<c-offcanvas
  id="OffcanvasNoBackdrop"
  [backdrop]="false"
  [scroll]="false"
  placement="end"
  #offcanvasNoBackdrop
>
  <c-offcanvas-header>
    <h5 cOffcanvasTitle>Profile</h5>
    <button mat-mini-fab color="warn" class="close" aria-label="Close" [cOffcanvasToggle]="offcanvasNoBackdrop.id">
      <mat-icon>close</mat-icon>
  </button>
  </c-offcanvas-header>
  <c-offcanvas-body class="canvas-body">
    <div class="text-center">
      <div>
        <img src="{{photoPreviewUrl}}">
      </div>
      <div>
        <h5>{{empBasicInfo.firstName}} {{empBasicInfo.lastName}}</h5>
      </div>
      <div>
        <h6 class="text-primary mb-4">{{designationName}}</h6>
      </div>
    </div>
    <div>
      <c-button-group [vertical]="true" aria-label="Vertical button group" role="group" class="d-flex">
        <button cButton color="dark" shape="rounded-0" class="profile_button" (click)="viewUserProfile(empId, 'viewProfile')" *ngIf="empId">Profile Information</button>
        <button cButton color="dark" shape="rounded-0" class="profile_button" (click)="updatePhotoSign(empId, 'ChangeProfile')" *ngIf="empId">Change Profile Picture</button>
        <button cButton color="dark" shape="rounded-0" class="profile_button" (click)="updatePhotoSign(empId, 'ChangeSignature')" *ngIf="empId">Change Signature</button>
        <button cButton color="dark" shape="rounded-0" class="profile_button" (click)="updateUserInformation(userId, 'ChangePassword')">Change Password</button>
      </c-button-group>
    </div>
  </c-offcanvas-body>
</c-offcanvas>

