<button class="me-1 mb-3" cButton color="primary">Primary</button>
<button cButton color="secondary">Secondary</button>
<button cButton color="success">Success</button>
<button cButton color="danger">Danger</button>
<button cButton color="warning">Warning</button>
<button cButton color="info">Info</button>
<button cButton color="light">Light</button>
<button cButton color="dark">Dark</button>

<button cButton color="link">Link</button>

<a cButton color="primary" [routerLink] role="button">Link</a>
<button cButton color="primary" color="primary">Button</button>
<input cButton color="primary" type="button" value="Input"/>
<input cButton color="primary" type="submit" value="Submit"/>
<input cButton color="primary" type="reset" value="Reset"/>

<div class="d-grid gap-2">
  <button cButton color="primary">Button</button>
  <button cButton color="primary">Button</button>
</div>