<c-card>
    <c-card-header>
        <div class="d-flex justify-content-between">
            <div>
                Employee Wise Summary
            </div>
            <div>
                <button cButton class="primary">
                    {{EmpSummaryButtonText}}
                </button>
            </div>
        </div>
    </c-card-header>
    <c-card-body>
        <c-row class="mt-3">
            <h5 cCardTitle>Date Range</h5>
            <p-calendar 
                [style]="{height: '2.37rem'}"
                [(ngModel)]="rangeDates"
                 (ngModelChange)="onEmpChange()" 
                 selectionMode="range"  
                 [showIcon]="true"
                 [touchUI]="true"/>
<!--             <c-col md="3">
                <label for="from" cLabel>From</label>
                <input type="date" id="from" 
                cFormControl
                [(ngModel)]="fromDate"
                >
            </c-col>
            <c-col md="3">
                <label for="to" cLabel>To</label>
                <input type="date" id="to" 
                cFormControl
                [(ngModel)]="toDate"
                >
            </c-col> -->
        </c-row>
        <c-row class="mt-3"  >
            <h5 cCardTitle>Select Employee</h5>
            <c-col md="3">
                <select name="Office" id="office"
                cSelect 
                [(ngModel)]="selectedOffice"
                (change)="onChange()">
                    <option [ngValue]="null" selected>Select Office</option>
                    @for (office of OfficeOption; track $index) {
                        <option [ngValue]="office.id">{{office.name}}</option>
                    }
                </select>
            </c-col>
            <c-col md="3">
                <select name="Department" id="department" 
                cSelect
                [(ngModel)]="selectedDepartment"
                (change)="onChange()"
                >
                    <option [ngValue]="null" selected>Select Department</option>
                    @for ( department of DepartmentOption; track $index) {
                        <option [ngValue]="department.id">{{department.name}}</option>
                    }
                </select>
            </c-col>
            <c-col md="3">
                <select name="Shift" id="shift" cSelect>
                    <option [ngValue]="null" selected>Select Shift</option>
                    @for ( shift of ShiftOption; track $index) {
                        <option [ngValue]="shift.id">{{shift.name}}</option>
                    }
                </select>
            </c-col>

            <c-col md="3">
                <select name="Employee" id="employee" 
                cSelect
                [(ngModel)]="selectedEmp"
                (change)="onEmpChange()"
                >
                    <option [ngValue]="null" selected>Select Employee</option>
                    @for ( employee of EmpOption; track $index) {
                        <option [ngValue]="employee.id">{{employee.name}}</option>
                    }
                </select>
            </c-col>
        </c-row>
        <hr class="mt-3"/>
        <c-row [gutter]="3">
            <c-col md="4">
                <c-card class="text-center p-3">
                    <h5 cCardTitle>Present</h5>
                    <c-card-body>
                        <h3>{{PresentText}}</h3>
                    </c-card-body>
                </c-card>
            </c-col>
            <c-col md="4">
                <c-card class="text-center p-3">
                    <h5 cCardTitle>Absent</h5>
                    <c-card-body>
                        <h3>{{AbsentText}}</h3>
                    </c-card-body>
                </c-card>
            </c-col>
            <c-col md="4">
                <c-card class="text-center p-3">
                    <h5 cCardTitle>Late</h5>
                    <c-card-body>
                        <h3>{{LateText}}</h3>
                    </c-card-body>
                </c-card>
            </c-col>
            <c-col md="4">
                <c-card class="text-center p-3">
                    <h5 cCardTitle>Working Day</h5>
                    <c-card-body>
                        <h3>{{WorkingDayText}}</h3>
                    </c-card-body>
                </c-card>
            </c-col>
            <c-col md="4">
                <c-card class="text-center p-3">
                    <h5 cCardTitle>Site Visit</h5>
                    <c-card-body>
                        <h3>{{SiteVisitText}}</h3>
                    </c-card-body>
                </c-card>
            </c-col>
            <c-col md="4">
                <c-card class="text-center p-3">
                    <h5 cCardTitle>On Leave</h5>
                    <c-card-body>
                        <h3>{{OnLeaveText}}</h3>
                    </c-card-body>
                </c-card>
            </c-col>
        </c-row>
    </c-card-body>

</c-card>
<c-card class="mt-3">
    <c-card-header>
        <div class="d-flex justify-content-between">
            <div>
                Department Wise Summary
            </div>
        </div>
    </c-card-header>

    <c-card-body>
        <c-row class="mt-3">
            <h5 cCardTitle>Date Range</h5>
            <p-calendar 
                [style]="{height: '2.37rem'}"
                [(ngModel)]="rangeDatesDw"
                (ngModelChange)="onChangeDw()"
                [touchUI]="true"
                [showIcon]="true"
                selectionMode="range"  />
<!--             <c-col md="3">
                <label for="from" cLabel>From</label>
                <input type="date" id="from" 
                cFormControl
                (change)="onChangeDw()"
                [(ngModel)]="fromDateDw"
                >
            </c-col> -->
<!--             <c-col md="3">
                <label for="to" cLabel>To</label>
                <input type="date" id="to" 
                cFormControl
                (change)="onChangeDw()"
                [(ngModel)]="toDateDw"
                >
            </c-col> -->
        </c-row>
        <c-row class="mt-3"  >
            <h5 cCardTitle>Filter</h5>
            <c-col md="3">
                <select name="Office" id="office"
                cSelect 
                [(ngModel)]="selectedOfficeDw"
                (change)="onChangeDw()">
                    <option [ngValue]="null" selected>Select Office</option>
                    @for (office of OfficeOptionDw; track $index) {
                        <option [ngValue]="office.id">{{office.name}}</option>
                    }
                </select>
            </c-col>
            <c-col md="3">
                <select name="Department" id="department" 
                cSelect
                [(ngModel)]="selectedDepartmentDw"
                (change)="onChangeDw()"
                >
                    <option [ngValue]="null" selected>Select Department</option>
                    @for ( department of DepartmentOptionDw; track $index) {
                        <option [ngValue]="department.id">{{department.name}}</option>
                    }
                </select>
            </c-col>
        </c-row>

        <c-row>
            <div class="mat-elevation-z8" class="mt-3">
                <table mat-table [dataSource]="dataSource">
                    <ng-container matColumnDef="slNo">
                      <th mat-header-cell *matHeaderCellDef>Serial No</th>
                      <td mat-cell *matCellDef="let element; let i = index">
                        {{ i + 1 }}
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="date">
                      <th mat-header-cell *matHeaderCellDef>Attendance Date</th>
                      <td mat-cell *matCellDef="let element">
                        {{ element.date }}
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="totalPresentEmp">
                      <th mat-header-cell *matHeaderCellDef>Total Present</th>
                      <td mat-cell *matCellDef="let element">
                        {{ element.totalPresentEmp }}
                      </td>
                    </ng-container>
                    <ng-container matColumnDef="totalAbsentEmp">
                        <th mat-header-cell *matHeaderCellDef>Total Absent</th>
                        <td mat-cell *matCellDef="let element">
                        {{ element.totalAbsentEmp }}
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                </table>
            </div>
        </c-row>
    </c-card-body>
    <c-card-footer class="text-medium-emphasis">
      <mat-paginator
        appBubblePagination
        [length]="dataSource.data.length"
        [pageSize]="10"
        [pageSizeOptions]="[5, 10, 25, 50, 100]"
        aria-label="Select page"
      >
      </mat-paginator>
    </c-card-footer>
</c-card>
