<c-card>
  <c-card-header> Manage Form </c-card-header>
  <c-card-body>
    <h5>Form Record</h5>
    <div [gutter]="3">
      <p-table
        #dt2
        [value]="formRecord"
        [rows]="pagination.pageSize"
        [paginator]="true"
        [lazy]="true"
        [totalRecords]='totalRecords'
        [rowsPerPageOptions]="pagination.pageSizeOptions"
        [columns]="formRecordHeader"
        styleClass="p-datatable-striped p-datatable-gridlines"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [showCurrentPageReport]="true"
        [scrollable]="true" 
        [tableStyle]="{ 'min-width': '50rem' }"
      >
        <ng-template pTemplate="caption">
          <div cRow [gutter]="3">
            <c-col [md]="4">
              <!-- <p-iconField iconPosition="right">
                <p-inputIcon>
                  <svg [cIcon]="icons.cilZoom" size="lg"></svg>
                </p-inputIcon>
                <input
                  pInputText
                  type="text"
                  [(ngModel)]="globalFilter"
                  (input)="dt2.filterGlobal(globalFilter,'contains')"
                  placeholder="Search keyword"
                />
              </p-iconField> -->
                <label cLabel for="search" class="fw-normal">Search Keyword</label>
                <c-input-group>
                  <span cInputGroupText class="bg-white">
                    <svg [cIcon]="icons.cilZoom" size="lg"></svg>
                  </span>
                  <input
                    class="border-start-0 ps-0 shadow-none"
                    cFormControl
                    type="text"
                    [(ngModel)]="globalFilter"
                    id="search"
                    #filter
                    (keyup)="applyFilter(filter.value)"
                    placeholder="Search keyword"
                  />
                </c-input-group>
            </c-col>
            
            <c-col [md]="3">
              <label cLabel for="fromDate" class="fw-normal">From Date</label>
              <input
                (change)="onDateSelect()"
                cFormControl
                type="date"
                id="fromDate"
                [(ngModel)]="reportFrom"
              />
            </c-col>
            
            <c-col [md]="3">
              <label cLabel for="toDate" class="fw-normal">To Date</label>
              <input
                (change)="onDateSelect()"
                cFormControl
                type="date"
                id="toDate"
                [(ngModel)]="reportTo"
              />
            </c-col>

            <button *ngIf="routelink!=''" cButton color="danger" [routerLink]="[routelink]" size="sm">Cancel</button>

            <c-col [md]="4">
              <label cLabel for="selectedDepartment">Department</label>
              <div class="input-wrapper">
                <select 
                  (change)="onDepartmentSelectGetSection()"
                  [(ngModel)]="selectedDepartment" name="selectedDepartment" #Department="ngModel"
                  cFormControl id="selectedDepartment" aria-label="Default select example" cSelect>
                  <option [ngValue]=null>Select Department</option>
      
                  @for(department of departments; track department.id;let index=$index) {
                  <option [value]="department.id">
                    {{ department.name }}
                  </option>
                  }
                </select>
              </div>
            </c-col>
            
            <c-col [md]="4">
              <label cLabel for="selectedSection">Section</label>
              <div class="input-wrapper">
                <select 
                  (change)="onSectionChange()"
                  [(ngModel)]="selectedSection" name="selectedSection" #Section="ngModel"
                  cFormControl id="selectedSection" aria-label="Default select example" cSelect>
                  <option [ngValue]=null>Select Section</option>
      
                  @for(section of sections; track section.id;let index=$index) {
                  <option [value]="section.id">
                    {{ section.name }}
                  </option>
                  }
                </select>
              </div>
            </c-col>

            
          </div>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
          <tr>
            @for (column of columns; track $index) {
            <th>{{ column.header }}</th>
            }
            <th>Action</th>
          </tr>
        </ng-template>
        <ng-template
          pTemplate="body"
          let-formRecord
          let-columns="columns"
          let-index="rowIndex"
        >
          <tr>
            @for (column of columns; track $index) {
              @if (column.IsDate) {
                <td>{{formRecord[column.field] | date}}</td>
              } @else if(column.IsBinary){
                <td>
                  <c-badge color="{{formRecord[column.field]==true?'success':'warning'}}">{{formRecord[column.field]==true?'Complete':'Pending'}}</c-badge>
                </td>
              } @else {
                <td>{{formRecord[column.field]}}</td>
              }
            }

            <td>
              <button class="custom-button me-1" (click)="onView(formRecord.recordId)" title="View the record">
                <mat-icon fontIcon="visibility"></mat-icon>
              </button>

              @if (appraisalUserRole!=-1&&featurePermission.update) {
                <button class="custom-button me-1" [routerLink]="officerFormEditRoute[appraisalUserRole]+formRecord.recordId+'/'+formRecord.formId" title="Edit The Record">
                  <mat-icon fontIcon="edit"></mat-icon>
                </button>
              }
              
              <button
                *ngIf="formRecord[formRecordHeader[5].field]==false&&featurePermission.delete"
                class="custom-button me-1"
                title="Delete The Record"
                (click)="onDelete(formRecord.recordId, index)"
              >
                <mat-icon fontIcon="delete"></mat-icon>
              </button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </c-card-body>
</c-card>
