<c-card>
  <c-card-header> Manage Form </c-card-header>
  <c-card-body>
    <h5>Form Record</h5>
    <div [gutter]="3">
      <p-table
        #dt2
        [paginator]="true"
        [rows]="5"
        [rowsPerPageOptions]="[5, 10, 20, 50]"
        [value]="formRecord"
        [columns]="formRecordHeader"
        styleClass="p-datatable-striped p-datatable-gridlines"
        [tableStyle]="{ 'min-width': '50rem' }"
      >
        <ng-template pTemplate="caption">
          <div class="d-md-flex justify-content-between">
            <div>
                <c-input-group>
                  <span cInputGroupText class="bg-white">
                    <svg [cIcon]="icons.cilZoom" size="lg"></svg>
                  </span>
                  <input
                    class="border-start-0 ps-0 shadow-none"
                    cFormControl
                    type="text"
                    [(ngModel)]="globalFilter"
                    (input)="dt2.filterGlobal(globalFilter,'contains')"
                    placeholder="Search keyword"
                  />
                </c-input-group>
            </div>

            <button *ngIf="routelink!=''" cButton color="danger" [routerLink]="[routelink]" size="sm">Cancel</button>
          </div>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
          <tr>
            @for (column of columns; track $index) {
            <th>{{ column.header }}</th>
            }
            <th>Action</th>
          </tr>
        </ng-template>
        <ng-template
          pTemplate="body"
          let-formRecord
          let-columns="columns"
          let-index="rowIndex"
        >
          <tr>
            @for (column of columns; track $index) {
              @if (column.IsDate) {
                <td>{{formRecord[column.field] | date}}</td>
              } @else if(column.IsBinary){
                <td>
                  <c-badge color="{{formRecord[column.field]==true?'success':'warning'}}">{{formRecord[column.field]==true?'Complete':'Pending'}}</c-badge>
                </td>
              } @else {
                <td>{{formRecord[column.field]}}</td>
              }
            }

            <td>
              <button class="custom-button me-1" (click)="onView(formRecord.recordId)" title="View the record">
                <mat-icon fontIcon="visibility"></mat-icon>
              </button>

              @if (appraisalUserRole!=-1) {
                <button class="custom-button me-1" [routerLink]="officerFormEditRoute[appraisalUserRole]+formRecord.recordId+'/'+formRecord.formId" title="Edit The Record">
                  <mat-icon fontIcon="edit"></mat-icon>
                </button>
              }
              
              <button
                *ngIf="formRecord[formRecordHeader[5].field]==false"
                class="custom-button me-1"
                title="Delete The Record"
                (click)="onDelete(formRecord.recordId, index)"
              >
                <mat-icon fontIcon="delete"></mat-icon>
              </button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </c-card-body>
</c-card>
