<div class="modal fade show" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{heading}}</h5>
                <button mat-mini-fab color="warn" class="close" aria-label="Close" (click)="closeModal()">
                    <mat-icon>close</mat-icon>
                </button>
            </div>
            <div class="modal-body scrollable-modal-body">
                <form #EmpTransferPostingForm="ngForm" novalidate cForm class="needs-validation">
                <!-- ********** Employee Information *********** -->
                <c-card class="mb-3 shadow">
                    <c-card-header class="text-center">
                        <div>Employee Information</div>
                    </c-card-header>
                    <c-card-body cRow>
                        <c-col [md]="6">
                            <label><b>PMIS Id: </b>{{empPromotionIncrement.empIdCardNo}}</label>
                        </c-col>
                        <c-col [md]="6">
                            <label><b>Employee Name: </b>{{empPromotionIncrement.empName}}</label>
                        </c-col>
                        <c-col [md]="6">
                            <label><b>Department: </b>{{empPromotionIncrement.currentDepartmentName}}</label>
                        </c-col>
                        <c-col [md]="6">
                            <label><b>Designation: </b>{{empPromotionIncrement.currentDesignationName}}</label>
                        </c-col>
                    </c-card-body>
                </c-card>

                <!-- ********** Current Pay Scale Information *********** -->
                <c-card class="mb-3 shadow">
                    <c-card-header class="text-center">
                        <div>Current Pay Scale Information</div>
                    </c-card-header>
                    <c-card-body cRow>
                        <c-col [md]="6">
                            <label><b>Grade: </b>{{empPromotionIncrement.currentGradeName}}</label>
                        </c-col>
                        <c-col [md]="6">
                            <label><b>Scale: </b>{{empPromotionIncrement.currentScaleName}}</label>
                        </c-col>
                        <c-col [md]="6">
                            <label><b>Basic Pay: </b>{{empPromotionIncrement.currentBasicPay}}</label>
                        </c-col>
                    </c-card-body>
                </c-card>
                
                <!-- ********** Increment and Promotion Information *********** -->
                <c-card class="mb-3 shadow">
                    <c-card-header class="text-center">
                        <div>Increment and Promotion Information</div>
                    </c-card-header>
                    <c-card-body cRow>
                        <c-col [md]="6">
                            <label><b>Order No: </b>{{empPromotionIncrement.orderNo}}</label>
                        </c-col>
                        <c-col [md]="6">
                            <label><b>Order Date: </b>{{empPromotionIncrement.orderDate}}</label>
                        </c-col>
                        <c-col [md]="6">
                            <label><b>Type: </b>{{empPromotionIncrement.promotionIncrementType}}</label>
                        </c-col>
                        <c-col [md]="6">
                            <label><b>Designation: </b>{{empPromotionIncrement.updateDesignationName}}</label>
                        </c-col>
                        <c-col [md]="6">
                            <label><b>Grade: </b>{{empPromotionIncrement.updateGradeName}}</label>
                        </c-col>
                        <c-col [md]="6">
                            <label><b>Scale: </b>{{empPromotionIncrement.updateScaleName}}</label>
                        </c-col>
                        <c-col [md]="6">
                            <label><b>Basic Pay: </b>{{empPromotionIncrement.updateBasicPay}}</label>
                        </c-col>
                    </c-card-body>
                </c-card>

                <div cRow [gutter]="3" >
                    <c-col [md]="4" *ngIf="clickedButton == 'Edit'">
                        <label cLabel for="approveStatus">Approve Status</label>
                        <select [(ngModel)]="empPromotionIncrementService.empPromotionIncrement.approveStatus"
                        name="approveStatus" #approveStatus="ngModel"
                        cSelect id="approveStatus">
                        <option value="">Pending</option>
                        <option value="true">Approve</option>
                        <option value="false">Reject</option>
                        </select>
                    </c-col>
                    
                    <c-col [md]="4">
                        <label cLabel for="approveRemark">Remark<span class="text-danger"></span></label>
                        <input [(ngModel)]="empPromotionIncrementService.empPromotionIncrement.approveRemark" name="approveRemark"
                            #approveRemark="ngModel" cFormControl id="approveRemark" placeholder="Enter Remark" type="text" />
                        @if(!approveRemark.valid&&approveRemark.touched){
                        <div class="text-left text-danger">Remark is required</div>
                        }
                    </c-col>
                </div>
            </form>
            </div>
            <div class="modal-footer">
                <button mat-raised-button class="bg-secondary text-light" (click)="closeModal()">
                    <mat-icon>cancel</mat-icon> Close
                </button>
                <button mat-raised-button class="bg-success text-light" (click)="onSubmit(true)" *ngIf="clickedButton == 'Approve'">
                    <mat-icon>check</mat-icon> Approve
                </button>
                <button mat-raised-button color="warn" (click)="onSubmit(false)" *ngIf="clickedButton == 'Reject'">
                    <mat-icon>close</mat-icon> Reject
                </button>
                <button mat-raised-button color="primary" (click)="onSubmit()" *ngIf="clickedButton == 'Edit'">
                    <mat-icon>update</mat-icon> Update
                </button>
            </div>
        </div>
    </div>
</div>