<c-card>
    <c-card-header class="d-flex justify-content-between">
        <div>
            <h5>{{headerText}}</h5>
        </div>
        <div>
            <button cButton color="danger" [routerLink]="['/employee/allEmployeeList']" class="text-light">Back</button>
        </div>
    </c-card-header>
    <c-card-body>

        <mat-tab-group [(selectedIndex)]="selectedTabIndex">
            <mat-tab>
                <ng-template mat-tab-label>Basic Information</ng-template>
                <ng-container *ngIf="selectedTabIndex === 0">
                    <!-- <app-basic-information [empId]="empId"></app-basic-information> -->
                    <app-emp-other-responsibility-single [empId]="empId" *ngIf="empId"></app-emp-other-responsibility-single>
                </ng-container>
            </mat-tab>
        
            <mat-tab>
                <ng-template mat-tab-label>Personal Information</ng-template>
                <ng-container *ngIf="selectedTabIndex === 1">
                    <h4 *ngIf="!empId" class="mt-4 text-center" (click)="selectedTabIndex = 0">Please Sumbit Basic Information First</h4>
                    <app-personal-information [empId]="empId" *ngIf="empId"></app-personal-information>
                </ng-container>
            </mat-tab>
        
            <mat-tab>
                <ng-template mat-tab-label>Spouse Information</ng-template>
                <ng-container *ngIf="selectedTabIndex === 2">
                    <h4 *ngIf="!empId" class="mt-4 text-center" (click)="selectedTabIndex = 0">Please Sumbit Basic Information First</h4>
                    <app-emp-spouse-info [empId]="empId" *ngIf="empId"></app-emp-spouse-info>
                </ng-container>
            </mat-tab>
        
            <mat-tab>
                <ng-template mat-tab-label>Children Information</ng-template>
                <ng-container *ngIf="selectedTabIndex === 3">
                    <h4 *ngIf="!empId" class="mt-4 text-center" (click)="selectedTabIndex = 0">Please Sumbit Basic Information First</h4>
                    <app-emp-child-info [empId]="empId" *ngIf="empId"></app-emp-child-info>
                </ng-container>
            </mat-tab>
        
            <mat-tab>
                <ng-template mat-tab-label>Address Information</ng-template>
                <ng-container *ngIf="selectedTabIndex === 4">
                    <h4 *ngIf="!empId" class="mt-4 text-center" (click)="selectedTabIndex = 0">Please Sumbit Basic Information First</h4>
                    <app-emp-address [empId]="empId" *ngIf="empId"></app-emp-address>
                </ng-container>
            </mat-tab>

            <!-- <mat-tab>
                <ng-template mat-tab-label>Present Address</ng-template>
                <ng-container *ngIf="selectedTabIndex === 4">
                    <h4 *ngIf="!empId" class="mt-4 text-center" (click)="selectedTabIndex = 0">Please Sumbit Basic Information First</h4>
                    <app-emp-present-address [empId]="empId" *ngIf="empId"></app-emp-present-address>
                </ng-container>
            </mat-tab>
            
            <mat-tab>
                <ng-template mat-tab-label>Permanent Address</ng-template>
                <ng-container *ngIf="selectedTabIndex === 5">
                    <h4 *ngIf="!empId" class="mt-4 text-center" (click)="selectedTabIndex = 0">Please Sumbit Basic Information First</h4>
                    <app-emp-permanent-address [empId]="empId" *ngIf="empId"></app-emp-permanent-address>
                </ng-container>
            </mat-tab> -->
        
            <mat-tab>
                <ng-template mat-tab-label>Job Details</ng-template>
                <ng-container *ngIf="selectedTabIndex === 5">
                    <h4 *ngIf="!empId" class="mt-4 text-center" (click)="selectedTabIndex = 0">Please Sumbit Basic Information First</h4>
                    <app-emp-job-details [empId]="empId" *ngIf="empId"></app-emp-job-details>
                </ng-container>
            </mat-tab>
            
            <mat-tab>
                <ng-template mat-tab-label>Other Responsibility</ng-template>
                <ng-container *ngIf="selectedTabIndex === 6">
                    <h4 *ngIf="!empId" class="mt-4 text-center" (click)="selectedTabIndex = 0">Please Sumbit Basic Information First</h4>
                    <app-emp-other-responsibility [empId]="empId" *ngIf="empId"></app-emp-other-responsibility>
                </ng-container>
            </mat-tab>

            <mat-tab>
                <ng-template mat-tab-label>Employment History</ng-template>
                <ng-container *ngIf="selectedTabIndex === 7">
                    <h4 *ngIf="!empId" class="mt-4 text-center" (click)="selectedTabIndex = 0">Please Sumbit Basic Information First</h4>
                    <app-emp-work-history [empId]="empId" *ngIf="empId"></app-emp-work-history>
                    <!-- <app-emp-work-history-single [empId]="empId" *ngIf="empId"></app-emp-work-history-single> -->
                </ng-container>
            </mat-tab>
        
            <mat-tab>
                <ng-template mat-tab-label>Education Information</ng-template>
                <ng-container *ngIf="selectedTabIndex === 8">
                    <h4 *ngIf="!empId" class="mt-4 text-center" (click)="selectedTabIndex = 0">Please Sumbit Basic Information First</h4>
                    <app-emp-education-info [empId]="empId" *ngIf="empId"></app-emp-education-info>
                </ng-container>
            </mat-tab>
        
            <mat-tab>
                <ng-template mat-tab-label>Training Information</ng-template>
                <ng-container *ngIf="selectedTabIndex === 9">
                    <h4 *ngIf="!empId" class="mt-4 text-center" (click)="selectedTabIndex = 0">Please Sumbit Basic Information First</h4>
                    <app-emp-training-info [empId]="empId" *ngIf="empId"></app-emp-training-info>
                </ng-container>
            </mat-tab>
        
            <!-- <mat-tab>
                <ng-template mat-tab-label>PSI & Training History</ng-template>
                <ng-container *ngIf="selectedTabIndex === 10">
                    <h4 *ngIf="!empId" class="mt-4 text-center" (click)="selectedTabIndex = 0">Please Sumbit Basic Information First</h4>
                    <app-emp-psi-training-info [empId]="empId" *ngIf="empId"></app-emp-psi-training-info>
                </ng-container>
            </mat-tab> -->
        
            <mat-tab>
                <ng-template mat-tab-label>Bank Information</ng-template>
                <ng-container *ngIf="selectedTabIndex === 10">
                    <h4 *ngIf="!empId" class="mt-4 text-center" (click)="selectedTabIndex = 0">Please Sumbit Basic Information First</h4>
                    <app-emp-bank-info [empId]="empId" *ngIf="empId"></app-emp-bank-info>
                </ng-container>
            </mat-tab>
        
            <mat-tab>
                <ng-template mat-tab-label>Nominee Information</ng-template>
                <ng-container *ngIf="selectedTabIndex === 11">
                    <h4 *ngIf="!empId" class="mt-4 text-center" (click)="selectedTabIndex = 0">Please Sumbit Basic Information First</h4>
                    <app-emp-nominee-info [empId]="empId" [pNo]="pNo" *ngIf="empId"></app-emp-nominee-info>
                </ng-container>
            </mat-tab>
        
            <mat-tab>
                <ng-template mat-tab-label>Language Details</ng-template>
                <ng-container *ngIf="selectedTabIndex === 12">
                    <h4 *ngIf="!empId" class="mt-4 text-center" (click)="selectedTabIndex = 0">Please Sumbit Basic Information First</h4>
                    <app-emp-language-info [empId]="empId" *ngIf="empId"></app-emp-language-info>
                </ng-container>
            </mat-tab>
        
            <mat-tab>
                <ng-template mat-tab-label>Foreign Trip</ng-template>
                <ng-container *ngIf="selectedTabIndex === 13">
                    <h4 *ngIf="!empId" class="mt-4 text-center" (click)="selectedTabIndex = 0">Please Sumbit Basic Information First</h4>
                    <app-emp-foreign-tour-info [empId]="empId" *ngIf="empId"></app-emp-foreign-tour-info>
                </ng-container>
            </mat-tab>
        
            <mat-tab>
                <ng-template mat-tab-label>Photo & Signature</ng-template>
                <ng-container *ngIf="selectedTabIndex === 14">
                    <h4 *ngIf="!empId" class="mt-4 text-center" (click)="selectedTabIndex = 0">Please Sumbit Basic Information First</h4>
                    <app-emp-photo-sign [empId]="empId" [pNo]="pNo" *ngIf="empId"></app-emp-photo-sign>
                </ng-container>
            </mat-tab>
        </mat-tab-group>
        


        <!-- <c-card>
            <c-card-header [visible]="visible" cCollapse>
                <app-basic-information *ngIf="visibleComponent === 'basicInfo'" [empId]="empId" 
                    (close)="toggleComponent('basicInfo')"></app-basic-information>
                <app-personal-information *ngIf="visibleComponent === 'personalInfo'" [empId]="empId" 
                (close)="toggleComponent('personalInfo')"></app-personal-information>
                <app-emp-spouse-info *ngIf="visibleComponent === 'spouseInfo'" [empId]="empId" 
                (close)="toggleComponent('spouseInfo')"></app-emp-spouse-info>
                <app-emp-child-info *ngIf="visibleComponent === 'childrenInfo'" [empId]="empId" 
                (close)="toggleComponent('childrenInfo')"></app-emp-child-info>
                <app-emp-present-address *ngIf="visibleComponent === 'presentAddress'" [empId]="empId" 
                (close)="toggleComponent('presentAddress')"></app-emp-present-address>
                <app-emp-permanent-address *ngIf="visibleComponent === 'permanentAddress'" [empId]="empId" 
                (close)="toggleComponent('permanentAddress')"></app-emp-permanent-address>
                <app-emp-job-details *ngIf="visibleComponent === 'jobDetails'" [empId]="empId" 
                (close)="toggleComponent('jobDetails')"></app-emp-job-details>
                <app-emp-education-info *ngIf="visibleComponent === 'educationInfo'" [empId]="empId" 
                (close)="toggleComponent('educationInfo')"></app-emp-education-info>
                
                <app-emp-psi-training-info *ngIf="visibleComponent === 'psiTrainingInfo'" [empId]="empId" 
                (close)="toggleComponent('psiTrainingInfo')"></app-emp-psi-training-info>
                <app-emp-bank-info *ngIf="visibleComponent === 'bankInfo'" [empId]="empId" 
                (close)="toggleComponent('bankInfo')"></app-emp-bank-info>
                <app-emp-nominee-info *ngIf="visibleComponent === 'nomineeInfo'" [empId]="empId" [pNo]="pNo" (close)="toggleComponent('nomineeInfo')"></app-emp-nominee-info>
                <app-emp-language-info *ngIf="visibleComponent === 'languageInfo'" [empId]="empId" 
                (close)="toggleComponent('languageInfo')"></app-emp-language-info>
                <app-emp-foreign-tour-info *ngIf="visibleComponent === 'foreignTour'" [empId]="empId" 
                (close)="toggleComponent('foreignTour')"></app-emp-foreign-tour-info>
                <app-emp-photo-sign *ngIf="visibleComponent === 'empPhotoSign'" [empId]="empId" [pNo]="pNo" (close)="toggleComponent('empPhotoSign')"></app-emp-photo-sign>
            </c-card-header>

            <c-card-body>
                <div cRow>
                    <c-col [md]="4">
                        <div (click)="toggleComponent('basicInfo')"
                            class="info-box py-4 mb-3 text-center rounded-3 text-light"
                            [ngStyle]="{'background-color': (basicInfoEntryStatus) ? ('#165b16') : ('#003574')}">
                            <h4>Basic Information</h4>
                        </div>
                    </c-col>
                    <c-col [md]="4">
                        <div (click)="gettingStatus && toggleComponent('personalInfo')"
                            class="info-box py-4 mb-3 text-center rounded-3 text-light"
                            [ngStyle]="{'background-color': (personalInfoEntryStatus) ? ('#165b16') : (gettingStatus) ? ('#003574') : ('#707070')}">
                            <h4>Personal Information</h4>
                        </div>
                    </c-col>
                    <c-col [md]="4">
                        <div (click)="gettingStatus && toggleComponent('spouseInfo')"
                            class="info-box py-4 mb-3 text-center rounded-3 text-light"
                            [ngStyle]="{'background-color': (empSpouseInfoEntryStatus) ? ('#165b16') : (gettingStatus) ? ('#003574') : ('#707070')}">
                            <h4>Spouse Information</h4>
                        </div>
                    </c-col>
                    <c-col [md]="4">
                        <div (click)="gettingStatus && toggleComponent('childrenInfo')"
                            class="info-box py-4 mb-3 text-center rounded-3 text-light"
                            [ngStyle]="{'background-color': (empChildInfoEntryStatus) ? ('#165b16') : (gettingStatus) ? ('#003574') : ('#707070')}">
                            <h4>Children Information</h4>
                        </div>
                    </c-col>
                    <c-col [md]="4">
                        <div (click)="gettingStatus && toggleComponent('presentAddress')"
                            class="info-box py-4 mb-3 text-center rounded-3 text-light"
                            [ngStyle]="{'background-color': (presentAddressEntryStatus) ? ('#165b16') : (gettingStatus) ? ('#003574') : ('#707070')}">
                            <h4>Present Address</h4>
                        </div>
                    </c-col>
                    <c-col [md]="4">
                        <div (click)="gettingStatus && toggleComponent('permanentAddress')"
                            class="info-box py-4 mb-3 text-center rounded-3 text-light"
                            [ngStyle]="{'background-color': (permanentAddressEntryStatus) ? ('#165b16') : (gettingStatus) ? ('#003574') : ('#707070')}">
                            <h4>Permanent Address</h4>
                        </div>
                    </c-col>
                    <c-col [md]="4">
                        <div (click)="gettingStatus && toggleComponent('jobDetails')"
                            class="info-box py-4 mb-3 text-center rounded-3 text-light"
                            [ngStyle]="{'background-color': (empJobDetailsEntryStatus) ? ('#165b16') : (gettingStatus) ? ('#003574') : ('#707070')}">
                            <h4>Job Details</h4>
                        </div>
                    </c-col>
                    <c-col [md]="4">
                        <div (click)="gettingStatus && toggleComponent('educationInfo')"
                            class="info-box py-4 mb-3 text-center rounded-3 text-light"
                            [ngStyle]="{'background-color': (empEducationInfoEntryStatus) ? ('#165b16') : (gettingStatus) ? ('#003574') : ('#707070')}">
                            <h4>Education Information</h4>
                        </div>
                    </c-col>
                    <c-col [md]="4">
                        <div (click)="gettingStatus && toggleComponent('trainingInfo')"
                            class="info-box py-4 mb-3 text-center rounded-3 text-light"
                            [ngStyle]="{'background-color': (entryStatus) ? ('#165b16') : (gettingStatus) ? ('#003574') : ('#707070')}">
                            <h4>Training Information</h4>
                        </div>
                    </c-col>
                    <c-col [md]="4">
                        <div (click)="gettingStatus && toggleComponent('psiTrainingInfo')"
                            class="info-box py-4 mb-3 text-center rounded-3 text-light"
                            [ngStyle]="{'background-color': (empPsiTrainingInfoEntryStatus) ? ('#165b16') : (gettingStatus) ? ('#003574') : ('#707070')}">
                            <h4>PSI &Training History</h4>
                        </div>
                    </c-col>
                    <c-col [md]="4">
                        <div (click)="gettingStatus && toggleComponent('bankInfo')"
                            class="info-box py-4 mb-3 text-center rounded-3 text-light"
                            [ngStyle]="{'background-color': (empBankInfoEntryStatus) ? ('#165b16') : (gettingStatus) ? ('#003574') : ('#707070')}">
                            <h4>Bank Information</h4>
                        </div>
                    </c-col>
                    <c-col [md]="4">
                        <div (click)="gettingStatus && toggleComponent('nomineeInfo')"
                            class="info-box py-4 mb-3 text-center rounded-3 text-light"
                            [ngStyle]="{'background-color': (entryStatus) ? ('#165b16') : (gettingStatus) ? ('#003574') : ('#707070')}">
                            <h4>Nominee Information</h4>
                        </div>
                    </c-col>
                    <c-col [md]="4">
                        <div (click)="gettingStatus && toggleComponent('languageInfo')"
                            class="info-box py-4 mb-3 text-center rounded-3 text-light"
                            [ngStyle]="{'background-color': (empLanguageInfoEntryStatus) ? ('#165b16') : (gettingStatus) ? ('#003574') : ('#707070')}">
                            <h4>Language Details</h4>
                        </div>
                    </c-col>
                    <c-col [md]="4">
                        <div (click)="gettingStatus && toggleComponent('foreignTour')"
                            class="info-box py-4 mb-3 text-center rounded-3 text-light"
                            [ngStyle]="{'background-color': (empForeignTourInfoEntryStatus) ? ('#165b16') : (gettingStatus) ? ('#003574') : ('#707070')}">
                            <h4>Foreign Trip</h4>
                        </div>
                    </c-col>
                    <c-col [md]="4">
                        <div (click)="gettingStatus && toggleComponent('empPhotoSign')"
                            class="info-box py-4 mb-3 text-center rounded-3 text-light"
                            [ngStyle]="{'background-color': (empPhotoSignEntryStatus) ? ('#165b16') : (gettingStatus) ? ('#003574') : ('#707070')}">
                            <h4>Photo & Signature</h4>
                        </div>
                    </c-col>

                </div>
            </c-card-body>
        </c-card> -->
    </c-card-body>
</c-card>