<div>
    <c-card>
        <c-card-header class="text-center">5th part (Recommendation)</c-card-header>
        <c-card-body>
            <c-button-group aria-label="Basic example" role="group">
                <c-button-group aria-label="Basic example" role="group">
                    <button cButton color="primary"  [routerLink]="[
                        '/appraisal/officerForm']" >Part-1</button>
                    <button cButton color="primary" [routerLink]="[
                      '/appraisal/officerForm2']">Part-2</button>
                    <button cButton color="primary" [routerLink]="[
                  '/appraisal/officerFormPart3']">Part-3</button>
                    <button cButton color="primary" [routerLink]="[
                        '/appraisal/officerFormPart4']">Part-4</button> 
                    <button cButton color="primary" [active]="true">Part-5</button>
                    <button cButton color="primary" [routerLink]="[
                        '/appraisal/officerFormPart6'
                    ]" (click)="onSubmit(officerForm)">Part-6</button>
                    <button cButton color="primary" [routerLink]="[
                        '/appraisal/officerFormPart7'
                    ]">Part-7</button>
                  </c-button-group>
              </c-button-group> 
            <form cForm cRow 
            #officerForm="ngForm" 
            (ngSubmit)="onSubmit(officerForm)" 
            novalidate>
                <h4>1 Brief Comment</h4>               
                    <c-col [md]="6">
                        <label cLabel for="special" >i.Speciality</label>
                        (Administrative/External/Field)
                    </c-col>
                <c-col [md]="6">
                    <input type="text" id="special" class="mt-2" cFormControl placeholder="Enter Your Comment"  
                    [(ngModel)]="formData.setpeciality"
                    name="setpeciality" required
                    #setpeciality="ngModel">
                    @if(!setpeciality.valid && setpeciality.touched)
                    {
                    <div class="text-left text-danger"> Speciality  is required</div>
                    }
                </c-col>
                <c-col [md]="6">
                    <label cLabel >ii.Suitability for Further employment</label>
                </c-col>
                <c-col [md]="6">
                    <input type="text" class="mt-2" cFormControl placeholder="Enter Your Comment"
                    [(ngModel)]="formData.suitabilityForFurtherEmployment"
                    name="suitabilityForFurtherEmployment" required
                    #suitabilityForFurtherEmployment="ngModel">
                    @if(!suitabilityForFurtherEmployment.valid && suitabilityForFurtherEmployment.touched)
                    {
                    <div class="text-left text-danger"> Suitability for Further employment is required</div>
                    }
                </c-col>
                <c-col [md]="6">
                    <label cLabel >iii.Recommend more in service traning</label>
                </c-col>
                <c-col [md]="6">
                    <input type="text" class="mt-2" cFormControl placeholder="Enter Your Comment"
                    [(ngModel)]="formData.recommendMoreServiceTraning"
                    name="recommendMoreServiceTraning" required
                    #recommendMoreServiceTraning="ngModel">
                    @if(!recommendMoreServiceTraning.valid && recommendMoreServiceTraning.touched)
                    {
                    <div class="text-left text-danger"> Recommend more in service traning is required</div>
                    }
                </c-col>
                <c-col [md]="6">
                    <label cLabel >iv.Not Eligable for Further Promotion,Maximum limit reached</label>
                </c-col>
                <c-col [md]="6">
                    <input type="text" class="mt-2" cFormControl placeholder="Enter Your Comment"
                    [(ngModel)]="formData.notEligableForFurtherPromotion"
                    name="notEligableForFurtherPromotion" required
                    #notEligableForFurtherPromotion="ngModel">
                    @if(!notEligableForFurtherPromotion.valid && notEligableForFurtherPromotion.touched)
                    {
                    <div class="text-left text-danger"> Not Eligable for Further Promotion</div>
                    }
                </c-col>
                <h4>1 Eligablity For Promotion</h4>                             
                    <c-col [md]="6">
                        <label cLabel >i.Faster Promotion is Recomended</label>
                        <div>(If the officer achives outstanding Standard)</div>
                    </c-col>
            <c-col [md]="6">
                <input type="file" cFormControl class="mt-2" 
                [(ngModel)]="formData.fasterPromotionIsRecomended"
                name="fasterPromotionIsRecomended" 
                #fasterPromotionIsRecomended="ngModel">
            </c-col>
            <c-col [md]="6">
                <label cLabel >ii.Eligible For Promotion</label>
            </c-col>
            <c-col [md]="6">
                <input type="file" cFormControl class="mt-2"
                [(ngModel)]="formData.eligibleForPromotion"
                name="eligibleForPromotion" 
                #eligibleForPromotion="ngModel">
            </c-col>
            <c-col [md]="6">
                <label cLabel >iii.Recently Promoted not due for further Promotion</label>
            </c-col>
            <c-col [md]="6">
                <input type="file" cFormControl class="mt-2" 
                [(ngModel)]="formData.recentlyPromotedNotDueForFurtherPromotion"
                name="recentlyPromotedNotDueForFurtherPromotion" 
                #recentlyPromotedNotDueForFurtherPromotion="ngModel">
            </c-col>
            <c-col [md]="6">
                <label cLabel >iv.Not yet Eligable for promotion but will be in due course</label>
            </c-col>
            <c-col [md]="6">
                <input type="file" cFormControl class="mt-2" 
                [(ngModel)]="formData.notyetEligableForPromotionButWillBeDueCourse"
                name="notyetEligableForPromotionButWillBeDueCourse" 
                #notyetEligableForPromotionButWillBeDueCourse="ngModel">
            </c-col>
            <c-col [md]="6">
                <label cLabel >v.Not Eligable for Further promotion maximum Limit Reached</label>
            </c-col>
            <c-col [md]="6">
                <input type="file" cFormControl class="mt-2" 
                [(ngModel)]="formData.notEligableForFurtherPromotionMaximumLimitReached"
                name="notEligableForFurtherPromotionMaximumLimitReached" 
                #notEligableForFurtherPromotionMaximumLimitReached="ngModel">               
            </c-col>
            <h4>1 Other Recommendation</h4>     
            <c-col class="d-flex justify-content-end align-items-center mt-3">           
                <div class="text-center">
                    <input type="file" cFormControl 
                    [(ngModel)]="formData.signature"
                    name="signature" 
                    #signature="ngModel" required>
                    @if(!signature.valid && signature.touched)
                    {
                        <div class="text-left text-danger"> Signature required</div>
                    } 
                    <div>Signature of Reporting Officer</div>
                </div>                                              
            </c-col>                       
            </form>
        </c-card-body>
    </c-card>
    <c-card>      
        <c-card-footer>
          <div class="text-end">
            <button cButton color="primary" [routerLink]="[
            '/appraisal/officerFormPart6']" >To be continue...</button>
          </div>
        </c-card-footer>
    </c-card>
</div>