<c-card class="mt-3">
  <c-card-header class="d-flex justify-content-between">
    <div>Employee List Prime Ng</div>
    <div><button cButton color="primary" shape="rounded-pill" (click)="addNewEmployee()"><svg
          [cIcon]="icons.cilPlus"></svg> Add New Employee</button></div>
  </c-card-header>
  <c-card-body>
    <div class="example-header">

      <ng-container *ngIf="showUpdateUserInfo">
        <app-update-user-info [empId]="selectedEmpId" (cancel)="handleCancel()"></app-update-user-info>
      </ng-container>

      <div class="card">
        <p-table
          #dt
          [value]="employees"
          dataKey="id"
          [rows]="10"
          [paginator]="true"
          [rowsPerPageOptions]="[5, 10, 25, 50]"
          [loading]="loading"
          [globalFilterFields]="['firstName', 'lastName', 'idCardNo', 'departmentName', 'designationName']"
        >
          <!-- Search Input -->
          <ng-template pTemplate="caption">
            <div class="flex">
              <p-iconField iconPosition="right" class="ml-auto">
                <p-inputIcon>
                  <mat-icon>search</mat-icon>
                </p-inputIcon>
                <input
                  pInputText
                  type="text"
                  (input)="onGlobalFilter($event)"
                  placeholder="Search Here.."
                />
              </p-iconField>
            </div>
          </ng-template>
      
          <!-- Table Headers -->
          <ng-template pTemplate="header">
            <tr>
              <th>SL</th>
              <th pSortableColumn="idCardNo">PMIS ID</th>
              <th pSortableColumn="firstName">Name</th>
              <th pSortableColumn="departmentName">Department</th>
              <th pSortableColumn="designationName">Designation</th>
              <th>Action</th>
            </tr>
          </ng-template>
      
          <!-- Table Rows -->
          <ng-template pTemplate="body" let-emp let-i="rowIndex">
            <tr>
              <td>{{ i + 1 }}</td>
              <td>{{ emp.idCardNo }}</td>
              <td>{{ emp.firstName }} {{emp.lastName}}</td>
              <td>{{ emp.departmentName }}</td>
              <td>{{ emp.designationName }}</td>
              <td>
                
              <button (click)="updateEmployee(emp.id)" cTooltip="Update Information" cTooltipPlacement="bottom" mat-icon-button color="primary">
                <mat-icon>update</mat-icon>
              </button>

              <button [disabled]="loadingMap[emp.id]"  *ngIf="!emp.userStatus" (click)="createUser(emp.id)" cTooltip="Create User" cTooltipPlacement="bottom" mat-icon-button color="primary">
                <c-spinner *ngIf="loadingMap[emp.id]" size="sm"></c-spinner>
                <mat-icon  *ngIf="!loadingMap[emp.id]">person_add</mat-icon>
              </button>
              </td>
            </tr>
          </ng-template>
      
          <!-- Empty Message -->
          <ng-template pTemplate="emptymessage">
            <tr>
              <td colspan="6">No employees found.</td>
            </tr>
          </ng-template>
        </p-table>
      </div>      

    </div>
  </c-card-body>
</c-card>