<ngx-particles
  [id]="id"
  [options]="particlesOptions"
  (particlesLoaded)="particlesLoaded($event)"
></ngx-particles>
<div class="min-vh-100 d-flex flex-row align-items-center" id="tsparticles">
  <c-container>
    <c-row class="justify-content-center">
      <c-col md="5">
        <c-card-group>
          <c-card class="pt-3 pb-3 ps-4 pe-4 borderround shadow">
            <c-card-body>
              <div class="biwtaLogo mb-3 d-flex justify-content-center align-items-center">
                <img src="{{biwtaLogo}}" alt="BIWTA Logo">
                <h3 class="mt-3 mb-3 ps-2">BIWTA HRMS</h3>
              </div>
              <form cForm [formGroup]="authForm">
                <p class="text-medium-emphasis">Sign In to your account</p>
                <c-input-group class="mb-3">
                  <span cInputGroupText>
                    <svg cIcon name="cilUser"></svg>
                  </span>
                  <input formControlName="email" autoComplete="username" cFormControl placeholder="Username" />
                </c-input-group>
                <c-input-group class="mb-4">
                  <span cInputGroupText>
                    <svg cIcon name="cilLockLocked"></svg>
                  </span>
                  <input formControlName="password" autoComplete="current-password" cFormControl placeholder="Password"
                  [type]="hide ? 'password' : 'text'"  />
                  <span cInputGroupText>
                    <label matSuffix (click)="hide = !hide">{{hide ? 'Show' : 'Hide'}}</label>
                  </span>
                </c-input-group>

                <c-row class="mt-4 mb-3">
                  <div>
                    <img [src]="captchaImage" alt="CAPTCHA" />
                  </div>
                  <c-col md="7" class="mb-2">
                    <input formControlName="captcha" cFormControl placeholder="Enter the result" />
                  </c-col>
                  <c-col md="3">
                    <button cButton color="primary" (click)="generateCaptcha()">Reset</button>
                  </c-col>
                </c-row>

                <c-row class="mb-3">
                  <c-col md="12">
                    <input type="checkbox" id="remember" formControlName="remember">&nbsp;
                    <label for="remember">Remember Me</label>
                  </c-col>
                </c-row>
                <c-row>
                  <c-col xs="6">
                    <button cButton class="px-4" color="primary" (click)="onSubmit()">
                      <c-spinner [hidden]="loading == false" size="sm"></c-spinner>
                      {{ btnText }}
                      Login
                    </button>
                  </c-col>
                  <c-col class="text-right" xs="6">
                    <button cButton class="px-0" color="link">
                      Forgot password?
                    </button>
                  </c-col>
                </c-row>
              </form>
            </c-card-body>
          </c-card>
        </c-card-group>
      </c-col>
    </c-row>
  </c-container>
</div>

