.FullLogin c-col {
    padding: 0;
    margin: 0;
}
.biwtaLogo img {
    max-width: 20%;
    height: auto;
}

.borderround {
    border-radius: 3%;
}

.particles-js-canvas-el {
    position: fixed;
    top: 0;
    z-index: -1;
}




 
  