<div class="d-flex justify-content-end">
    <p style="text-decoration: underline;"><strong>Confidential</strong></p>
</div>

<div class="mt-3 d-flex justify-content-center">
    <h3 style="color:#014878">
        {{companyTitle}}
    </h3>
</div>
<div class="d-flex justify-content-center">
    <p style="color:#221f1f; font-size: 1.2rem;">{{address}}</p>
</div>

<div class="mt-3 d-flex justify-content-center">
    <h2 style="color: #014878">{{formName}}</h2>
</div>
<c-row class="mt-2">
    <c-col md="1">
        <label style="font-size:1.2rem" for="division"><strong>Division: </strong></label>
    </c-col>
    <c-col md="2">
        <div style="font-size:1.2rem" class="border-bottom border-secondary">
            {{department}}
        </div> 
    </c-col>
</c-row>
<c-row class="mt-3">
    <c-col md="4">
        <div style="font-size:1.2rem" class="border-bottom border-secondary">
            @if(dates.length>1) {
                {{dates[0]|date}}
            }
        </div>
    </c-col>
    <c-col md="1">
        <div style="font-size:1.2rem">
            To
        </div>
    </c-col>
    <c-col md="4">
        <div style="font-size:1.2rem" class="border-bottom border-secondary">
            @if(dates.length>1) {
           {{dates[1]|date}} 
            }
        </div>
    </c-col>
    <c-col>
        <div style="font-size: 1.2rem">
            Annual / Speical Report
        </div>
    </c-col>
</c-row>