
<c-card class="mt-3">
    <c-card-header>Posting and Transfer </c-card-header>
    <c-card-body>
      <form #TransferPostingHistoryForm="ngForm" name="PostingAndTrnsForm" (submit)="onSubmit(TransferPostingHistoryForm)" [gutter]="3"
        novalidate cForm cRow class="needs-validation">
        <c-col [md]="3">
            <label cLabel for="office">PNo<span class="text-danger">*</span></label>

            <div class="example-header">
                <mat-form-field>
                  <input matInput #filter (keyup)="applyFilter(filter.value)" placeholder="Search Here.." />
                  <button mat-icon-button matSuffix aria-label="clear" *ngIf="filter.value"
                    (click)="filter.value = ''; applyFilter('')"></button>
                </mat-form-field>
              </div>
        </c-col>
        <c-col [md]="3">
          <input type="hidden" [(ngModel)]="postingOrderInfoService.postingOrderInfos.postingOrderInfoId" name="postingOrderInfoId" />
          <label cLabel for="office">Department<span class="text-danger">*</span></label>
          <div class="input-wrapper">
            <select (change)="onDepartmentSelect(postingOrderInfoService.postingOrderInfos.departmentId)"
              [(ngModel)]="postingOrderInfoService.postingOrderInfos.departmentId" name="departmentId" #departmentId="ngModel"
              cFormControl id="department" required aria-label="Default select example" cSelect>
              <option [ngValue]="null">Select department</option>
  
              @for(department of departments; track department.id;let index=$index) {
              <option [value]="department.id">
                {{ department.name }}
              </option>
              }
            </select>
  
            @if(!departmentId.valid && departmentId.touched){
            <div class="text-left text-danger">Department is required</div>
            }
          </div>
        </c-col>
        <c-col [md]="4">
            <label cLabel for="Designation">Designation<span class="text-danger"></span></label>
            <div class="input-wrapper">
              <select [(ngModel)]="postingOrderInfoService.postingOrderInfos.designationId" name="designationId"
                #designation="ngModel" cFormControl id="designation" aria-label="Default select example" cSelect>
                <option [ngValue]="null">Select Designation</option>
                @for(designation of designations; track designation.id;let index=$index) {
                <option [value]="designation.id">
                  {{ designation.name }}
                </option>
                }
              </select>
            </div>
          </c-col>
          <button>Search</button>
      </form>
    </c-card-body>
</c-card>  