<c-card>
  @if (loading==true) {
    <div class="d-flex justify-content-center">Loading...</div>
  } @else {
    <c-card-header>
      <h5>{{ formData.formName }}</h5>
    </c-card-header>
    <c-card-body>
      <form onsubmit="">
        <p-stepper>
            @for (item of formData.sections; track $index) {
              <p-stepperPanel >
                <ng-template pTemplate="content" let-prevCallback="prevCallback" let-nextCallback="nextCallback" let-ind="index">
                  <c-card>
                    <c-card-body [gutter]="3">
                      <div class="d-flex justify-content-center">
                        <h5>Part {{item.sectionId}}</h5>
                      </div>
                      <hr>
                      @for (field of item.fields; track $index) {
                        <app-field
                        [(field)]="field.fieldValue"
                        (change) = "onChange()"
                        [fieldData]="field" 
                        [fieldUniqueName]="field.fieldName+item.sectionId+field.fieldId"></app-field>
                      }
                    </c-card-body> 
                    <c-card-footer>
                      @if (ind==0) {
                        <div class="d-flex justify-content-end">
                          <button cButton (click)="nextCallback.emit()" color="primary">Next</button>
                        </div>
                      }
                      @if (ind==formData.sections.length-1){
                        <div class="d-flex justify-content-start">
                          <button cButton (click)="prevCallback.emit()" color="primary">Previous</button>
                        </div>
                      }

                      @if (ind>0&&ind<formData.sections.length-1) {
                        <div class="d-flex justify-content-between">
                          <button cButton (click)="prevCallback.emit()" color="primary">Previous</button>
                          <button cButton (click)="nextCallback.emit()" color="primary">Next</button>
                        </div>
                      }
                    </c-card-footer>
                  </c-card>
                 
                </ng-template>
              </p-stepperPanel>
            }
        </p-stepper>
      </form>
    </c-card-body>
  }
</c-card>
