<div>
    <c-card>
      <c-card-header>Acr Officer Form</c-card-header>
      <c-button-group aria-label="Basic example" role="group">
        <c-button-group aria-label="Basic example" role="group">
            <button cButton color="primary" [active]="true">Part-1</button>
            <button cButton color="primary" [routerLink]="['/appraisal/officerForm2']" (click)="onSubmit(officerForm)">Part-2</button>
            <button cButton color="primary" [routerLink]="['/appraisal/officerFormPart3']">Part-3</button>
            <button cButton color="primary" [routerLink]="['/appraisal/officerFormPart4']">Part-4</button>
            <button cButton color="primary" [routerLink]="['/appraisal/officerFormPart5']">Part-5</button>
            <button cButton color="primary" [routerLink]="['/appraisal/officerFormPart6']">Part-6</button>
            <button cButton color="primary" [routerLink]="['/appraisal/officerFormPart7']">Part-7</button>
      </c-button-group>
    </c-button-group>
      <c-card-body>
        <form cForm cRow  
        #officerForm="ngForm" 
        (ngSubmit)="onSubmit(officerForm)" 
        novalidate>
          <c-col [md]="4">
            <label cLabel for="division">Division</label>
            <input type="text" cFormControl id="division" placeholder="Division"
            [(ngModel)]="formData.division"
            name="division" required
            #division="ngModel">
            @if(!division.valid && division.touched)
            {
              <div class="text-left text-danger"> division is required</div>
            }

          </c-col>
          <c-col [md]="4">
            <label cLabel for="fromdate">From Date</label>
            <input type="date" cFormControl id="fromdate" 
            [(ngModel)]="formData.fromdate"
            name="yearStartDate" required
            #yearStartDate="ngModel">
            @if(!yearStartDate.valid && yearStartDate.touched)
            {
              <div class="text-left text-danger"> Year Start Date is required</div>
            }
          </c-col>
          <c-col [md]="4">
            <label cLabel for="todate">To Date</label>
            <input type="date" cFormControl id="todate"  
            [(ngModel)]="formData.yearEndDate"
            name="yearEndDate" required 
            #yearEndDate="ngModel">
            @if(!yearEndDate.valid && yearEndDate.touched)
            {
              <div class="text-left text-danger"> Year End Date is required</div>
            }
          </c-col>
          <c-card class="mt-4">
            <c-card-header class="text-center">1st part <br>To be Filled by the Reporting Officer</c-card-header>
            <c-card-body>
              <c-row>
                <c-col [md]="4">
                  <label cLabel for="empname">Employee Name</label>
                  <input type="text" cFormControl id="empname" placeholder="Employee Name"  [(ngModel)]="formData.employeeName"
                  name="employeeName" required
                  #employeeName="ngModel">
                  @if(!employeeName.valid && employeeName.touched)
                  {
                    <div class="text-left text-danger"> Employee Name is required</div>
                  }
                </c-col>
                <c-col [md]="4">
                  <label cLabel for="fatherName">Father's Name</label>
                  <input type="text" cFormControl id="fatherName" placeholder="Father's Name" [(ngModel)]="formData.fathersName"
                  name="fathersName" required
                  #fathersName="ngModel">
                  @if(!fathersName.valid && fathersName.touched)
                  {
                    <div class="text-left text-danger"> Father Name is required</div>
                  }
                </c-col>
                <c-col [md]="4">
                  <label cLabel for="mothername">Mother's Name</label>
                  <input type="text" cFormControl id="mothername" placeholder="Mother's Name" [(ngModel)]="formData.mothersName"
                  name="mothersName" required
                  #mothersName="ngModel">
                  @if(!mothersName.valid && mothersName.touched)
                  {
                    <div class="text-left text-danger"> Mother Name is required</div>
                  }
                </c-col>
                <c-col [md]="4">
                  <label cLabel for="brn">Birth Reg.no</label>
                  <input type="number" cFormControl id="brn" placeholder="Birth Reg.no" [(ngModel)]="formData.birthRegNo"
                  name="birthRegNo" required
                  #birthRegNo="ngModel">
                  @if(!birthRegNo.valid && birthRegNo.touched)
                  {
                    <div class="text-left text-danger"> Birth Registration No is required</div>
                  }
                </c-col>
                <c-col [md]="4">
                  <label cLabel for="dob">Date of Birth</label>
                  <input type="date" cFormControl id="dob" 
                  [(ngModel)]="formData.dateofBirth"
                  name="dateofBirth" required
                  #dateofBirth="ngModel">
                  @if(!dateofBirth.valid && dateofBirth.touched)
                  {
                    <div class="text-left text-danger"> Date of Birth is required</div>
                  }
                </c-col>
                <c-col [md]="4">
                  <label cLabel for="des">Designation</label>
                  <input type="text" cFormControl id="des" placeholder="Designation" 
                  [(ngModel)]="formData.designation"
                  name="designation" required
                  #designation="ngModel">
                  @if(!designation.valid && designation.touched)
                  {
                    <div class="text-left text-danger"> Designation is required</div>
                  }
                </c-col>
                <c-col [md]="4">
                  <label cLabel for="work">Workplace</label>
                  <input type="text" cFormControl id="work" placeholder="Workplace" 
                  [(ngModel)]="formData.workplace"
                  name="workplace" required
                  #workplace="ngModel">
                  @if(!workplace.valid && workplace.touched)
                  {
                    <div class="text-left text-danger"> Workplace is required</div>
                  }
                </c-col>
                <c-col [md]="4">
                  <label cLabel for="jondate">Joining Date</label>
                  <input type="date" cFormControl id="jondate" 
                  [(ngModel)]="formData.joiningDate"
                  name="joiningDate" required
                  #joiningDate="ngModel">
                  @if(!joiningDate.valid && joiningDate.touched)
                  {
                    <div class="text-left text-danger"> Joining Date is required</div>
                  }
                </c-col>
                <c-col [md]="4">
                  <label cLabel for="pdjd">Present Designation Joining Date</label>
                  <input type="date" cFormControl id="pdjd" 
                  [(ngModel)]="formData.presentDesignationJoiningDate"
                  name="presentDesignationJoiningDate" required
                  #presentDesignationJoiningDate="ngModel">
                  @if(!presentDesignationJoiningDate.valid && presentDesignationJoiningDate.touched)
                  {
                    <div class="text-left text-danger"> Present Designation Joining Date is required</div>
                  }
                </c-col>
                <c-col [md]="4">
                  <label cLabel for="edu">Education</label>
                  <input type="text" cFormControl id="edu" placeholder="Education" 
                  [(ngModel)]="formData.education"
                  name="education" required
                  #education="ngModel">
                  @if(!education.valid && education.touched)
                  {
                    <div class="text-left text-danger"> Education is required</div>
                  }
                </c-col>
                <c-col [md]="4">
                  <label cLabel for="training">Training/Special Training (If Any)</label>
                  <input type="text" cFormControl id="training" placeholder="Training/Special Training" 
                  [(ngModel)]="formData.trainingSpecialTraining"
                  name="trainingSpecialTraining">
                </c-col>
              </c-row>
              
              <c-row class="mt-4">
                <c-col [md]="5">
                  <label cLabel>Exact Tenure of service under reporting provider</label>
                </c-col>
                <c-col [md]="3">
                  <label cLabel for="fromdate_reporting">From Date</label>
                  <input type="date" cFormControl id="fromdate_reporting" 
                  [(ngModel)]="formData.reportinFromDate"
                  name="reportinFromDate" required
                  #reportinFromDate="ngModel">
                  @if(!reportinFromDate.valid && reportinFromDate.touched)
                  {
                    <div class="text-left text-danger"> Reporting From Date is required</div>
                  }
                </c-col>
                <c-col [md]="3">
                  <label cLabel for="todate_reporting">To Date</label>
                  <input type="date" cFormControl id="todate_reporting" 
                  [(ngModel)]="formData.reportingEndDate"
                  name="reportingEndDate" required
                  #reportingEndDate="ngModel">
                  @if(!reportingEndDate.valid && reportingEndDate.touched)
                  {
                    <div class="text-left text-danger"> Reporting End Date is required</div>
                  }
                </c-col>
              </c-row>
  
              <h4 class="mt-2">Held The Position at The Time Under Consideration</h4>
              <table [cBorder]="1" borderColor="dark" bordered cTable>
                <thead>
                  <tr>
                    <th scope="col">Designation</th>
                    <th scope="col">Time</th>
                    <th scope="col" class="text-center">Salary & Salary Scale</th>
                  </tr>
                </thead>
              </table>
            </c-card-body>
          </c-card>
        </form>
      </c-card-body>
    </c-card>
    <c-card>      
      <c-card-footer>
        <div class="text-end">
          <button cButton color="primary" [routerLink]="[
          '/appraisal/officerForm2']" (click)="onSubmit(officerForm)">To be continue...</button>
        </div>
      </c-card-footer>
  </c-card>
</div>
  