<c-card class="mt-3">
    <c-card-header>
        <div class="d-flex justify-content-between">
            <h4>Site Visit</h4>
            <button cButton
             class="{{isVisible?'invisible':'visible'}}"
             (click)="toggleSubmit()"
             >{{btnText}}</button>
        </div>
    </c-card-header>
    <c-card-body>
        <c-card class="mb-3" cCollapse [visible]="isVisible">
            <c-card-body class="shadow">
                <form cRow
                    [gutter]="3"
                    #siteVisitForm="ngForm"
                    (ngSubmit)="onSubmit(siteVisitForm)"
                >
                    <input type="number"
                    name="siteVisitId"
                    id="siteVisitId" 
                    class="invisible"
                    [value]="0"
                    [(ngModel)] = "this.siteVisitService.model.siteVisitId"
                    >
                    <c-col md="3">
                        <label cLabel for="empId">Employee</label>
                        <select name="empId" id="empId" cSelect
                        required
                        [disabled]="isUpdate"
                        [(ngModel)] = "this.siteVisitService.model.empId"
                        #empId = "ngModel"
                        >
                            <input type="text">
                            <option [ngValue]="null">Select Employee</option>
                            @for (employee of EmpOption; track $index) {
                                <option [value]="employee.id">{{employee.name}}</option>
                            }
                        </select>
                        @if(empId.invalid&&empId.touched) {
                            <div class="text-left text-danger">Employee is required</div>
                        }
                    </c-col>
                    <c-col md="3">
                        <label cLabel for="fromDate">From</label>
                        <input type="date" 
                        [(ngModel)]="this.siteVisitService.model.fromDate"
                        name="fromDate" 
                        id="fromDate" 
                        required
                        #fromDate = "ngModel"
                        cFormControl>
                        @if(fromDate.invalid&&fromDate.touched) {
                            <div class="text-left text-danger">From Date is required</div>
                        }
                    </c-col>
                    <c-col md="3">
                        <label for="toDate" cLabel>To</label>
                        <input type="date" 
                        [(ngModel)]="this.siteVisitService.model.toDate"
                        name="toDate" 
                        required
                        id="toDate" 
                        #toDate = "ngModel" 
                        cFormControl>
                        @if(toDate.invalid&&toDate.touched) {
                            <div class="text-left text-danger">To Date is required</div>
                        }
                    </c-col>
                    <c-col md="3">
                        <label for="visitPlace" cLabel>Visiting Place</label>
                        <input type="text" 
                        cFormControl
                        name="visitPlace"
                        id="visitPlace"
                        required
                        #visitPlace = "ngModel"
                        [(ngModel)]="this.siteVisitService.model.visitPlace">
                        @if(visitPlace.invalid&&visitPlace.touched) {
                            <div class="text-left text-danger">Visiting Place is required</div>
                        }
                    </c-col>
                    <c-col md="3">
                        <label for="visitPurpose" cLabel>Visiting Purpose</label>
                        <input type="text" 
                        cFormControl
                        name="visitPurpose"
                        id="visitPurpose"
                        #visitPurpose = "ngModel"
                        required
                        [(ngModel)]="this.siteVisitService.model.visitPurpose">
                        @if(visitPurpose.invalid&&visitPurpose.touched) {
                            <div class="text-left text-danger">Visiting Purpose is required</div>
                        }                            
                    </c-col>
                    <c-col md="3">
                        <label for="remark" cLabel>Remark</label>
                        <input type="text" 
                        name="remark" 
                        id="remark"
                        [(ngModel)] = "this.siteVisitService.model.remark"
                        cFormControl
                        #remark = "ngModel"
                        >
                    </c-col>
                    <c-row class="mt-3">
                        <div class="d-flex justify-content-between">
                            <div>
                                <button class="me-1" 
                                type="submit"
                                color="primary" 
                                [disabled]="loading==true||siteVisitForm.invalid"
                                cButton>
                                    <c-spinner
                                      [hidden]="loading == false"
                                      size="sm"
                                    ></c-spinner>
                                    {{isUpdate?'Update':'Submit'}}</button>
                                <button type="reset" color="secondary" cButton>Reset</button> 
                            </div>
                            <div>
                                <button cButton (click)="onCancel()" color="danger">Cancel</button>
                            </div>                                
                        </div>
                    </c-row>
                 </form>
            </c-card-body>
        </c-card>
         <p-table
         class="mt-3"
         #dt2
         [value]="tableData" 
         [paginator]="true"
         [rows]="5"
         [rowsPerPageOptions]="[5,10,20,50]"
         [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>From</th>
                <th>To</th>
                <th>Place</th>
                <th>Purpose</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-data let-index="rowIndex">
            <tr>
                <td>{{ data.siteVisitId }}</td>
                <td>{{ data.firstName+" "+data.lastName }}</td>
                <td>{{ data.fromDate }}</td>
                <td>{{ data.toDate }}</td>
                <td>{{ data.visitPlace }}</td>
                <td>{{ data.visitPurpose }}</td>
                <td>
                    <c-badge color="{{getBadgeColor(data.status)}}">{{data.status}}</c-badge>
                </td>
                <td>
                    <div>
                        <button *ngIf="IsUser==false&&roleFeatureService.featurePermission.add" class="custom-button" (click)="onApprove(data.siteVisitId)">
                            <svg [cIcon]="icons.cilCheck" size="lg" title="Approve"></svg>
                        </button>
                        <button *ngIf="IsUser==false&&roleFeatureService.featurePermission.delete" class="custom-button" (click)="onDecline(data.siteVisitId)">
                            <svg [cIcon]="icons.cilX" size="lg" title="Declined"></svg>
                        </button>
                        <button *ngIf="roleFeatureService.featurePermission.update&&data.status=='Pending'" class="custom-button" (click)="toggleUpdate(data)">
                            <svg [cIcon]="icons.cilPencil" size="lg" title="Edit"></svg>
                        </button>
                        <button *ngIf="roleFeatureService.featurePermission.delete&&data.status=='Pending'" class="custom-button" (click)="onDelete(data.siteVisitId)">
                            <svg [cIcon]="icons.cilTrash" size="lg" title="delete"></svg>
                        </button>
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>
    </c-card-body>
</c-card>
