<div>
  <c-card>
    <c-card-header>Acr Officer Form</c-card-header>
    <c-button-group aria-label="Basic example" role="group">
      <c-button-group aria-label="Basic example" role="group">
          <button cButton color="primary" [active]="true">Part-1</button>
          <button cButton color="primary" [routerLink]="[
      '/appraisal/staffForm2']">Part-2</button>
          <button cButton color="primary"  [routerLink]="[
      '/appraisal/staffForm3']">Part-3</button>
      </c-button-group>
  </c-button-group>
    <c-card-body>
      <form cForm cRow 
      #staffForm="ngForm"
      (submit)="onSubmit(staffForm)"
      novalidate>
        <c-col [md]="4">
          <label cLabel for="division">Division</label>
          <input type="text" cFormControl id="division" placeholder="Division">
        </c-col>
        <c-col [md]="4">
          <label cLabel for="fromdate">From Date</label>
          <input type="date" cFormControl id="fromdate"/>
        </c-col>
        <c-col [md]="4">
          <label cLabel for="todate">To Date</label>
          <input type="date" cFormControl id="todate"/> 
        </c-col>
        <c-card class="mt-4">
          
          <c-card-body>
            <c-row>
              <c-col [md]="4">
                <label cLabel for="empname"> Name</label>
                <input type="text" cFormControl id="empname" placeholder="Employee Name"/> 
              </c-col>
              <c-col [md]="4">
                <label cLabel for="fatherName">Father's Name</label>
                <input type="text" cFormControl id="fatherName" placeholder="Father's Name"/> 
              </c-col>
              <c-col [md]="4">
                <label cLabel for="mothername">Mother's Name</label>
                <input type="text" cFormControl id="mothername" placeholder="Mother's Name"/> 
              </c-col>
              
              <c-col [md]="4">
                <label cLabel for="des">Designation</label>
                <input type="text" cFormControl id="des" placeholder="Designation"/>  
              </c-col>

               <c-col [md]="4">
                <label cLabel for="dob">Date of Birth</label>
                <input type="date" cFormControl id="dob"/> 
              </c-col>

               <c-col [md]="4">
                <label cLabel for="dob">Present Salary</label>
                <input type="number" cFormControl id="presentsalary"/>
              </c-col>

               <c-col [md]="4">
                <label cLabel for="dob">Scale Of Pay</label>
                <input type="text" cFormControl id="scaleofpay"/>
              </c-col>
              <c-col [md]="4">
                <label cLabel for="jondate">Joining Date</label>
                <input type="date" cFormControl id="jondate" /> 
              </c-col>
              <c-col [md]="4">
                <label cLabel for="pdjd">Present Designation Joining Date</label>
                <input type="date" cFormControl id="pdjd" />
                
              </c-col>
              <c-col [md]="4">
                <label cLabel for="edu">Education</label>
                <input type="text" cFormControl id="edu" placeholder="Education" />
              </c-col>
              <c-col [md]="4">
                <label cLabel for="training">Training/Special Training (If Any)</label>
                <input type="text" cFormControl id="training" placeholder="Training/Special Training">
              </c-col> 
              <c-col [md]="4">
                <label cLabel for="edu">Linguistics</label>
                <input type="text" cFormControl id="edu" placeholder="linguistics" />
              </c-col>
            </c-row>
            <c-row class="mt-4">
              <c-col [md]="5">
                <label cLabel>Exact tenure of service under reporting provider</label>
              </c-col>
              <c-col [md]="3">
                <label cLabel for="fromdate_reporting">From Date</label>
                <input type="date" cFormControl id="fromdate_reporting"/> 

              </c-col>
              <c-col [md]="3">
                <label cLabel for="todate_reporting">To Date</label>
                <input type="date" cFormControl id="todate_reporting"/>
              </c-col>
            </c-row>

          </c-card-body>
        </c-card>
        <div class="text-end mt-3">
          <button cButton type="submit" [disabled]="!staffForm.valid" [disabled]="loading">
            Submit
            <c-spinner [hidden]="!loading" size="sm"></c-spinner>
          </button>
        </div>
      </form>
    </c-card-body>
  </c-card>
</div>
