<div class="container mt-4">
  <c-card>
    <c-card-body>
      <h5 class="mb-3">Manage Leave</h5>
      <form cForm class="mb-4" *ngIf="false">
        <c-row>
          <c-col [md]="3">
            <label cLabel for="department">Department</label>
            <select
              name="departmentId"
              [(ngModel)]="selectedDepartment"
              cSelect
              cFormControl
              id="department"
            >
              <option [ngValue]="null">Select Department</option>
              @for (department of DepartmentOption; track $index) {
              <option [ngValue]="department.id">{{ department.name }}</option>
              }
            </select>
          </c-col>
          <c-col [md]="3">
            <label cLabel for="employeeSearch">Employee ID/Name</label>
            <input
              type="text"
              cFormControl
              id="employeeSearch"
              placeholder="search"
            />
          </c-col>
          <c-col [md]="2">
            <label cLabel for="fromDate">From Date</label>
            <input type="date" cFormControl id="fromDate" />
          </c-col>
          <c-col [md]="2">
            <label cLabel for="toDate">To Date</label>
            <input type="date" cFormControl id="toDate" />
          </c-col>
          <c-col [md]="2" class="align-self-end">
            <button cButton color="success">Search</button>
          </c-col>
        </c-row>
      </form>

      <div class="mt-3">
        <p-table
          #dt
          [value]="leaves"
          [paginator]="true"
          [rows]="5"
          [rowsPerPageOptions]="[5,10, 20, 50]"
          [globalFilterFields]="['idCardNo','empFirstName','empLastName','fromDate','toDate','status']"
          styleClass="p-datatable-gridlines p-datatable-striped"
          [tableStyle]="{ 'min-width': '50rem' }"
        >
        <ng-template pTemplate="caption">
          <c-row>
            <c-col md="3">
              <c-input-group>
                <span cInputGroupText class="bg-white">
                  <svg [cIcon]="icons.cilZoom" size="lg"></svg>
                </span>
                <input
                  class="border-start-0 ps-0 shadow-none"
                  cFormControl
                  type="text"
                  (input)="dt.filterGlobal(getInputEventValue($event),'contains')"
                  placeholder="Search keyword"
                />
              </c-input-group>

            </c-col>
          </c-row>
        </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th pSortableColumn="idCardNo">PMS_ID
                <p-sortIcon field="idCardNo"></p-sortIcon>
              </th>
              <th pSortableColumn="empFirstName">Emp_Name
                <p-sortIcon field="empFirstName"></p-sortIcon>
              </th>
              <th pSortableColumn="leaveTypeName">Leave Type
                <p-sortIcon field="leaveTypeName"></p-sortIcon>
              </th>
              <th pSortableColumn="fromDate">Start Date
                <p-sortIcon field="fromDate"></p-sortIcon>
              </th>
              <th pSortableColumn="toDate">End Date
                <p-sortIcon field="toDate"></p-sortIcon>
              </th>
              <th pSortableColumn="status">Status
                <p-sortIcon field="status"></p-sortIcon>
              </th>
              <th>Action</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-leave>
            <tr>
              <td>{{ leave.idCardNo }}</td>
              <td>{{ leave.empFirstName + " " + leave.empLastName }}</td>
              <td>{{ leave.leaveTypeName }}</td>
              <td>{{ leave.fromDate | date }}</td>
              <td>{{ leave.toDate | date }}</td>
              <td>{{ leaveStatusOptions[leave.status] }}</td>
              <td>
                <button
                  class="custom-button"
                  (click)="onViewDetail(leave.leaveRequestId)"
                >
                  <mat-icon fontIcon="visibility"></mat-icon>
                </button>
                <button *ngIf="leave.status == leaveStatus.Pending||leave.isOldLeave==true" class="custom-button me-1" [disabled]="loading" (click)="onDelete(leave.leaveRequestId)" title="Delete Leave">
                  <mat-icon fontIcon="delete"></mat-icon>
                </button>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>

      <!---- <table bordered cTable class="mt-3">
          <thead>
            <tr>
              <th scope="col">PMS_ID</th>
              <th scope="col">Emp_Name</th>
              <th scope="col">Leave Type</th>
              <th scope="col">Duration</th>
              <th scope="col">Dates</th>
              <th scope="col">Status</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>
                <select cSelect cFormControl>
                  <option value="approved">Approved</option>
                  <option value="pending">Pending</option>
                  <option value="rejected">Rejected</option>
                </select>
              </td>
              <td>
                <button cButton color="info"><i class="fa fa-eye"></i></button>
                <button cButton color="warning"><i class="fa fa-edit"></i></button>
                <button cButton color="danger"><i class="fa fa-trash"></i></button>
                <button cButton color="primary"><i class="fa fa-download"></i></button>
              </td>
            </tr>
          </tbody>
        </table>  -->

    </c-card-body>
  </c-card>
</div>
