<li class="tree">
  <div class="department-header">
    <label (click)="toggleExpand()">
      &nbsp;&nbsp;<span class="toggle-icon">{{ isExpanded ? '-' : '+' }}</span>
      <span class="department-text">&nbsp;{{ department.name }}</span>
    </label>
  </div>
  <ul *ngIf="isExpanded">
    <li *ngIf="department.designationCount > 0">
      <div class="designation-header">
        <label (click)="toggleDesignationExpand()">
          &nbsp;&nbsp;<span class="toggle-icon">{{ isDesignationExpanded ? '-' : '+' }}</span>
          &nbsp;<span>Designation</span>
        </label>
      </div>
      <ul *ngIf="isDesignationExpanded">
        <li *ngFor="let designation of department.designations" class="designation-text">
          {{ designation.name }}
          <ul>
            <li class="employeeName" *ngIf="designation.employeeInfo" (click)="viewEmployeeProfile(designation.employeeInfo.empId)">{{designation.employeeInfo.employeeName}}</li>
          </ul>
        </li>
      </ul>
    </li>
    <div *ngIf="department.subDepartmentCount > 0">
      <li>
        <div class="sub-department-header">
          <label (click)="toggleDepartmentExpand()">
            &nbsp;&nbsp;<span class="toggle-icon">{{ isDepartmentExpanded ? '-' : '+' }}</span>
            &nbsp;<span class="sub-department-text">Department</span>
          </label>
        </div>
        <ul *ngIf="isDepartmentExpanded">
          <app-organogram-department *ngFor="let subDept of department.subDepartments"
            [department]="subDept"></app-organogram-department>
        </ul>
      </li>
    </div>
    <div *ngIf="department.sectionCount > 0">
      <li>
        <div class="sub-department-header">
          <label (click)="toggleSectionExpand()">
            &nbsp;&nbsp;<span class="toggle-icon">{{ isSectionExpanded ? '-' : '+' }}</span>
            &nbsp;<span class="sub-department-text">Section</span>
          </label>
        </div>
        <ul *ngIf="isSectionExpanded">
          <app-organogram-section *ngFor="let section of department.sections"
            [section]="section"></app-organogram-section>
        </ul>
      </li>
    </div>
  </ul>
</li>