@if(formId == officerFormId) {
    <app-officer-form 
    [submitButtonText]="'Forward'"
    [ActiveSection]="ActiveSection"
    [firstSection]="0"
    [lastSection]="3"
    [formRecordId]="formRecordId" 
    [showHeader]="true"
    [IsUpdate]="true"
    [updateRole]="appraisalRole.ReportingOfficer">

    </app-officer-form>
} @else if(formId == staffFormId) {
    <app-staff-form 
    [submitButtonText]="'Forward'"
    [ActiveSection]="ActiveSectionForStaff"
    [firstSection]="0"
    [lastSection]="1"
    [formRecordId]="formRecordId" 
    [showHeader]="true" 
    [IsUpdate]="true"
    [updateRole]="appraisalRole.ReportingOfficer">

    </app-staff-form>
}