<c-card class="mt-3">
  <c-card-header class="d-flex justify-content-between">
    <div>{{HeaderText}}</div>
    <div><button cButton color="primary" shape="rounded-pill" (click)="UserFormView()"><svg cIcon name={{buttonIcon}}></svg> {{BtnText}}</button></div>
  </c-card-header>
  <c-card-body>

  <!-- user form start from here -->
  <c-card class="mt-3 shadow">
      <c-card-body [visible]="visible" cCollapse  class="shadow">
          <form
            #OfficeForm="ngForm"
            (submit)="onSubmit(OfficeForm)"
            [gutter]="3"
            novalidate
            cForm
            cRow
            class="needs-validation"
          >
            <c-col [md]="4">
              <input
                type="hidden"
                [(ngModel)]="officeService.offices.officeId"
                name="officeId"
              />
              <label cLabel for="validationCustom01"
                >Office Name<span class="text-danger">*</span></label
              >
              <input
                [(ngModel)]="officeService.offices.officeName"
                name="officeName" 
                #OfficeName="ngModel"
                placeholder="Enter Office Name"
                cFormControl
                id="validationCustom01"
                required
                type="text"
              />
              @if(!OfficeName.valid&&OfficeName.touched){
              <div class="text-left text-danger">Office Name is required</div>
              }
            </c-col>
          
          <c-col [md]="4">
              <label cLabel for="validationCustom02"
              >Office Name in Bangla<span class="text-danger">*</span></label>
            <input
              [(ngModel)]="officeService.offices.officeNameBangla"
              name="officeNameBangla" 
              #OfficeNameBangla="ngModel"
              placeholder="Enter Office Name in Bangla"
              cFormControl
              id="validationCustom02"
              required
              type="text"
            />
            @if(!OfficeNameBangla.valid&&OfficeNameBangla.touched){
            <div class="text-left text-danger">Office Name in Bangla is required</div>
            }
          </c-col>

          <c-col [md]="4">
            <label cLabel for="validationCustom03">Country<span class="text-danger">*</span></label>
            <div class="input-wrapper">
              <select (change)="onDivisionNamesChangeByCounterId(officeService.offices.countryId)"
                [(ngModel)]="officeService.offices.countryId" name="countryId" #countryId="ngModel"
                cFormControl id="validationCustom03" required aria-label="Default select example" cSelect>
                <option [ngValue]="null">Select Country</option>
    
                @for(country of countris; track country.id;let index=$index) {
                <option [value]="country.id">
                  {{ country.name }}
                </option>
                }
              </select>
    
              @if(!countryId.valid && countryId.touched){
              <div class="text-left text-danger">Country is required</div>
              }
            </div>
          </c-col>
    
          <c-col [md]="3">
            <label cLabel for="validationCustom04">Division<span class="text-danger">*</span></label>
            <div class="input-wrapper">
              <select (change)="onDistrictNamesChangeByDivisionId(officeService.offices.divisionId)"
    
                [(ngModel)]="officeService.offices.divisionId" name="divisionId" #divisionId="ngModel"
                cFormControl id="validationCustom04" required aria-label="Default select example" cSelect>
                <option [ngValue]="null">Select Division</option>
                @for(division of divisions; track division.id;let index=$index) {
                <option [value]="division.id">
                  {{ division.name }}
                </option>
                }
              </select>
              @if(!divisionId.valid && divisionId.touched){
              <div class="text-left text-danger">Division is required</div>
              }
            </div>
          </c-col>
    
          <c-col [md]="3">
            <label cLabel for="validationCustom05">District<span class="text-danger">*</span></label>
            <div class="input-wrapper">
              <select (change)="onUpazilaNamesChangeByDistrictId(officeService.offices.districtId)"
                [(ngModel)]="officeService.offices.districtId" name="districtId" #districtId="ngModel"
                cFormControl id="validationCustom05" aria-label="Default select example" cSelect>
                <option [ngValue]="null">Select District</option>
    
                @for(district of districts; track district.id;let index=$index) {
                <option [value]="district.id">
                  {{ district.name }}
                </option>
                }
              </select>
    
              @if(!districtId.valid && districtId.touched){
              <div class="text-left text-danger">District is required</div>
              }
            </div>
          </c-col>
    
          <c-col [md]="3">
            <label cLabel for="validationCustom06">Upazila<span class="text-danger">*</span></label>
            <div class="input-wrapper">
              <select (change)="onThanaNamesChangeByUpazilaId(officeService.offices.upazilaId)"
                [(ngModel)]="officeService.offices.upazilaId" name="upazilaId" #upazilaId="ngModel"
                cFormControl id="validationCustom06" aria-label="Default select example" cSelect>
                <option [ngValue]="null">Select Upazila</option>
    
                @for(upazila of upazilas; track upazila.id;let index=$index) {
                <option [value]="upazila.id">
                  {{ upazila.name }}
                </option>
                }
              </select>
    
              @if(!upazilaId.valid && upazilaId.touched){
              <div class="text-left text-danger">Upazila is required</div>
              }
            </div>
          </c-col>
    
          <c-col [md]="3">
            <label cLabel for="validationCustom07">Thana<span class="text-danger">*</span></label>
            <div class="input-wrapper">
              <select (change)="onUnionNamesChangeByThanaId(officeService.offices.thanaId)"
                [(ngModel)]="officeService.offices.thanaId" name="thanaId" #thanaId="ngModel" cFormControl
                id="validationCustom07" aria-label="Default select example" cSelect>
                <option [ngValue]="null">Select Thana</option>
    
                @for(thana of thanas; track thana.id;let index=$index) {
                <option [value]="thana.id">
                  {{ thana.name }}
                </option>
                }
              </select>
    
              @if(!thanaId.valid && thanaId.touched){
              <div class="text-left text-danger">Thana is required</div>
              }
            </div>
          </c-col>
    
          <c-col [md]="3">
            <label cLabel for="validationCustom08">Union<span class="text-danger">*</span></label>
            <div class="input-wrapper">
              <select (change)="onWardNamesChangeByUnionId(officeService.offices.unionId)"
                [(ngModel)]="officeService.offices.unionId" name="unionId" #unionId="ngModel" cFormControl
                id="validationCustom08" aria-label="Default select example" cSelect>
                <option [ngValue]="null">Select Union</option>
    
                @for(union of unions; track union.id;let index=$index) {
                <option [value]="union.id">
                  {{ union.name }}
                </option>
                }
              </select>
    
              @if(!unionId.valid && unionId.touched){
              <div class="text-left text-danger">Union is required</div>
              }
            </div>
          </c-col>
    
    
    
          <c-col [md]="3">
            <label cLabel for="validationCustom09">Ward<span class="text-danger">*</span></label>
            <div class="input-wrapper">
              <select [(ngModel)]="officeService.offices.wardId" name="wardId" #wardId="ngModel" cFormControl
                id="validationCustom09" aria-label="Default select example" cSelect>
                <option [ngValue]="null">Select Ward</option>
    
                @for(ward of wards; track ward.id;let index=$index) {
                <option [value]="ward.id">
                  {{ ward.name }}
                </option>
                }
              </select>
    
              @if(!wardId.valid && wardId.touched){
              <div class="text-left text-danger">Ward is required</div>
              }
            </div>
          </c-col>

          <c-col [md]="6">
            <label cLabel for="validationCustom10"
            >Office Address<span class="text-danger"></span></label>
          <input
            [(ngModel)]="officeService.offices.address"
            name="address" 
            #OfficeAddress="ngModel"
            placeholder="Enter Office Address"
            cFormControl
            id="validationCustom10"
            type="text"
          />
          @if(!OfficeAddress.valid&&OfficeAddress.touched){
          <div class="text-left text-danger">Office Address is required</div>
          }
        </c-col>
        
        <c-col [md]="4">
          <label cLabel for="validationCustom11"
          >Phone<span class="text-danger"></span></label>
        <input
          [(ngModel)]="officeService.offices.phone"
          name="phone" 
          #Phone="ngModel"
          placeholder="Enter Phone Number"
          cFormControl
          id="validationCustom11"
          type="text"
          pattern="^[0-9]*$"
        />
        <!-- @if(!Phone.value&&Phone.touched){
        <div class="text-left text-danger">Phone is required</div>
        } -->
        @if(Phone.value&&!Phone.valid){
        <div class="text-left text-danger">Phone is not valid</div>
        }
      </c-col>

        <c-col [md]="4">
          <label cLabel for="validationCustom12"
          >Mobile<span class="text-danger"></span></label>
        <input
          [(ngModel)]="officeService.offices.mobile"
          name="mobile" 
          #Mobile="ngModel"
          placeholder="Enter Mobile Number"
          cFormControl
          id="validationCustom11"
          type="text"
          pattern="^[0-9]*$"
        />
        <!-- @if(!Mobile.value&&Mobile.touched){
        <div class="text-left text-danger">Mobile is required</div>
        } -->
        @if(Mobile.value&&!Mobile.valid){
        <div class="text-left text-danger">Mobile is not valid</div>
        }
      </c-col>
          
        
        <c-col [md]="4">
          <label cLabel for="validationCustom13"
          >Email<span class="text-danger">*</span></label>
        <input
          [(ngModel)]="officeService.offices.email"
          name="email"
          #Email="ngModel"
          placeholder="Enter Email Address"
          cFormControl
          id="validationCustom13"
          required
          type="email"
          pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
        />
        @if(!Email.value&&Email.touched){
        <div class="text-left text-danger">Email is required</div>
        }
        @if(!Email.valid&&Email.touched&&Email.value){
          <div class="text-left text-danger">Email is not valid</div>
          }
      </c-col>


      <c-col [md]="4">
        <label cLabel for="validationCustom14"
        >Fax<span class="text-danger"></span></label>
      <input
        [(ngModel)]="officeService.offices.fax"
        name="fax" 
        #Fax="ngModel"
        placeholder="Enter Fax"
        cFormControl
        id="validationCustom14"
        type="text"
      />
      @if(!Fax.valid&&Fax.touched){
      <div class="text-left text-danger">Fax is required</div>
      }
    </c-col>

    <c-col [md]="4">
      <label cLabel for="validationCustom15"
      >Office Website<span class="text-danger"></span></label>
    <input
      [(ngModel)]="officeService.offices.officeWebsite"
      name="officeWebsite" 
      #OfficeWebsite="ngModel"
      placeholder="Enter Office Website"
      cFormControl
      id="validationCustom15"
      type="text"
    />
    @if(!OfficeWebsite.valid&&OfficeWebsite.touched){
    <div class="text-left text-danger">Office Website is required</div>
    }
  </c-col>

  
  <c-col [md]="4">
    <label cLabel for="validationCustom16"
    >Office Code<span class="text-danger"></span></label>
  <input
    [(ngModel)]="officeService.offices.officeCode"
    name="officeCode" 
    #OfficeCode="ngModel"
    placeholder="Enter Office Code"
    cFormControl
    id="validationCustom16"
    type="text"
  />
  @if(!OfficeCode.valid&&OfficeCode.touched){
  <div class="text-left text-danger">Office Code required</div>
  }
</c-col>
          <c-col [md]="4">
            <label cLabel for="validationCustom17"
            >Remark<span class="text-danger"></span></label>
          <input
            [(ngModel)]="officeService.offices.remark"
            name="remark" 
            #Remark="ngModel"
            placeholder="Remark"
            cFormControl
            id="validationCustom17"
            type="text"
          />
        </c-col>
            
    
            <c-col [md]="4">
              <label cLabel for="validationCustom18">Active Status</label>
              <select [(ngModel)]="officeService.offices.isActive"
              name="isActive"
              cSelect
              id="validationCustom18">
                <option value="true">Active</option>
                <option value="false">De-Active</option>
              </select>
            </c-col>
    
            <c-col [xs]="12">
              <div class="d-flex justify-content-between">
                <div>
                  <button
                    [disabled]="loading"
                    [disabled]="OfficeForm.invalid"
                    cButton
                    class="me-1"
                    color="primary"
                    type="submit"
                  >
                    <c-spinner [hidden]="loading == false" size="sm"></c-spinner>
                    {{ btnText }}
                    </button>
                  <button cButton color="secondary" (click)="resetForm()">Reset</button>
                </div>
                <div>
                  <button [hidden]="btnText != 'Update'" cButton color="danger" (click)="cancelUpdate()">Cancel</button>
                </div>
              </div>
            </c-col>
          </form>
      </c-card-body>
    </c-card>
    <!-- user form end here -->
    
    <br/>
    <div class="example-header">
      <mat-form-field>
        <input
          matInput
          #filter
          (keyup)="applyFilter(filter.value)"
          placeholder="Search Here.."
        />
        <button
          mat-icon-button
          matSuffix
          aria-label="clear"
          *ngIf="filter.value"
          (click)="filter.value = ''; applyFilter('')"
        ></button>
      </mat-form-field>
    </div>
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="slNo">
          <th mat-header-cell *matHeaderCellDef>Serial No</th>
          <td mat-cell *matCellDef="let element; let i = index">{{ i + 1 }}</td>
        </ng-container>

        <ng-container matColumnDef="officeName">
          <th mat-header-cell *matHeaderCellDef>Office Name</th>
          <td mat-cell *matCellDef="let element">
            {{ element.officeName }}
          </td>
        </ng-container>

        <ng-container matColumnDef="officeNameBangla">
          <th mat-header-cell *matHeaderCellDef>Office Name Bangla</th>
          <td mat-cell *matCellDef="let element">
            {{ element.officeNameBangla }}
          </td>
        </ng-container>
        
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef>Email</th>
          <td mat-cell *matCellDef="let element">
            {{ element.email }}
          </td>
        </ng-container>
        
        <ng-container matColumnDef="officeWebsite">
          <th mat-header-cell *matHeaderCellDef>Office Website</th>
          <td mat-cell *matCellDef="let element">
            {{ element.phone }}
          </td>
        </ng-container>
        
        <ng-container matColumnDef="officeCode">
          <th mat-header-cell *matHeaderCellDef>Office Code</th>
          <td mat-cell *matCellDef="let element">
            {{ element.officeCode }}
          </td>
        </ng-container>

        <ng-container matColumnDef="isActive">
          <th mat-header-cell *matHeaderCellDef>Is Active</th>
          <td mat-cell *matCellDef="let element">
            <span *ngIf="element.isActive">Active</span>
            <span *ngIf="!element.isActive">De-Active</span>
          </td>
        </ng-container>

        <ng-container matColumnDef="Action">
          <th mat-header-cell *matHeaderCellDef>Action</th>
          <td mat-cell *matCellDef="let element">
            <button
              class="custom-button" (click)="handleRouteParams()"
              [routerLink]="[
                '/bascisetup/update-office',
                element.officeId
              ]"
            >
              <svg cIcon name="cilPencil"></svg>
            </button>
            <button class="custom-button" (click)="delete(element)">
              <svg cIcon name="cilTrash"></svg>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
  </c-card-body>
  <c-card-footer class="text-medium-emphasis">
    <mat-paginator
      appBubblePagination
      [length]="dataSource.data.length"
      [pageSize]="10"
      aria-label="Select page"
    >
    </mat-paginator>
  </c-card-footer>
</c-card>