<c-card class="mt-3 mb-3 shadow">
    <c-card-header class="d-flex justify-content-between">
        <div>{{headerText}}</div>
        <div><button cButton color="primary" shape="rounded-pill" (click)="UserFormView()">{{headerBtnText}}</button>
        </div>
    </c-card-header>
    <c-card-body [visible]="visible" cCollapse>
        <c-card class="mt-3 mb-3 shadow">
            <c-card-header>
                <div>Present Address</div>
            </c-card-header>
            <c-card-body>
                <form #EmpPresentAddressForm="ngForm" [gutter]="3" novalidate
                    cForm cRow class="needs-validation">
                    <input type="hidden" [(ngModel)]="empPresentAddressService.empPresentAddress.id" name="id" />
                    <input type="hidden" [(ngModel)]="empPresentAddressService.empPresentAddress.empId" name="empId" />

                    <c-col [md]="3">
                        <label cLabel for="validationCustom03">Country<span class="text-danger"></span></label>
                        <div class="input-wrapper">
                            <select
                                (change)="onPresentAddressDivisionNamesChangeByCounterId(empPresentAddressService.empPresentAddress.countryId)"
                                [(ngModel)]="empPresentAddressService.empPresentAddress.countryId" name="countryId"
                                #countryId="ngModel" cFormControl id="validationCustom03"
                                aria-label="Default select example" cSelect>
                                <option [ngValue]="null">Select Country</option>

                                @for(country of countris; track country.id;let index=$index) {
                                <option [value]="country.id">
                                    {{ country.name }}
                                </option>
                                }
                            </select>

                            @if(!countryId.valid && countryId.touched){
                            <div class="text-left text-danger">Country is required</div>
                            }
                        </div>
                    </c-col>

                    <c-col [md]="3">
                        <label cLabel for="validationCustom04">Division<span class="text-danger"></span></label>
                        <div class="input-wrapper">
                            <select
                                (change)="onPresentAddressDistrictNamesChangeByDivisionId(empPresentAddressService.empPresentAddress.divisionId)"
                                [(ngModel)]="empPresentAddressService.empPresentAddress.divisionId" name="divisionId"
                                #divisionId="ngModel" cFormControl id="validationCustom04"
                                aria-label="Default select example" cSelect>
                                <option [ngValue]="null">Select Division</option>
                                @for(division of presentAddressdivisions; track division.id;let index=$index) {
                                <option [value]="division.id">
                                    {{ division.name }}
                                </option>
                                }
                            </select>
                            @if(!divisionId.valid && divisionId.touched){
                            <div class="text-left text-danger">Division is required</div>
                            }
                        </div>
                    </c-col>

                    <c-col [md]="3">
                        <label cLabel for="validationCustom05">District<span class="text-danger"></span></label>
                        <div class="input-wrapper">
                            <select
                                (change)="onPresentAddressUpazilaNamesChangeByDistrictId(empPresentAddressService.empPresentAddress.districtId)"
                                [(ngModel)]="empPresentAddressService.empPresentAddress.districtId" name="districtId"
                                #districtId="ngModel" cFormControl id="validationCustom05"
                                aria-label="Default select example" cSelect>
                                <option [ngValue]="null">Select District</option>

                                @for(district of presentAddressdistricts; track district.id;let index=$index) {
                                <option [value]="district.id">
                                    {{ district.name }}
                                </option>
                                }
                            </select>

                            @if(!districtId.valid && districtId.touched){
                            <div class="text-left text-danger">District is required</div>
                            }
                        </div>
                    </c-col>

                    <c-col [md]="3">
                        <label cLabel for="validationCustom06">Upazila<span class="text-danger"></span></label>
                        <div class="input-wrapper">
                            <select
                                (change)="onPresentAddressThanaNamesChangeByUpazilaId(empPresentAddressService.empPresentAddress.upazilaId)"
                                [(ngModel)]="empPresentAddressService.empPresentAddress.upazilaId" name="upazilaId"
                                #upazilaId="ngModel" cFormControl id="validationCustom06"
                                aria-label="Default select example" cSelect>
                                <option [ngValue]="null">Select Upazila</option>

                                @for(upazila of presentAddressupazilas; track upazila.id;let index=$index) {
                                <option [value]="upazila.id">
                                    {{ upazila.name }}
                                </option>
                                }
                            </select>

                            @if(!upazilaId.valid && upazilaId.touched){
                            <div class="text-left text-danger">Upazila is required</div>
                            }
                        </div>
                    </c-col>

                    <c-col [md]="3">
                        <label cLabel for="validationCustom07">Thana<span class="text-danger"></span></label>
                        <div class="input-wrapper">
                            <select
                                (change)="onPresentAddressUnionNamesChangeByThanaId(empPresentAddressService.empPresentAddress.thanaId)"
                                [(ngModel)]="empPresentAddressService.empPresentAddress.thanaId" name="thanaId"
                                #thanaId="ngModel" cFormControl id="validationCustom07"
                                aria-label="Default select example" cSelect>
                                <option [ngValue]="null">Select Thana</option>

                                @for(thana of presentAddressthanas; track thana.id;let index=$index) {
                                <option [value]="thana.id">
                                    {{ thana.name }}
                                </option>
                                }
                            </select>

                            @if(!thanaId.valid && thanaId.touched){
                            <div class="text-left text-danger">Thana is required</div>
                            }
                        </div>
                    </c-col>

                    <c-col [md]="3">
                        <label cLabel for="unionName"
                        >Union<span class="text-danger"></span></label>
                        <input
                          [(ngModel)]="empPresentAddressService.empPresentAddress.unionName"
                          name="unionName"
                          #unionName="ngModel"
                          placeholder="Enter Union Name"
                          cFormControl
                          id="unionName"
                          type="text"
                        />
                        @if(!unionName.valid&&unionName.touched&&unionName.value){
                        <div class="text-left text-danger">Union Name Required</div>
                        }
                    </c-col>
                    
                    <c-col [md]="3">
                    <label cLabel for="wardName"
                    >Ward<span class="text-danger"></span></label>
                    <input
                        [(ngModel)]="empPresentAddressService.empPresentAddress.wardName"
                        name="wardName"
                        #wardName="ngModel"
                        placeholder="Enter Ward Name"
                        cFormControl
                        id="wardName"
                        type="text"
                    />
                    @if(!wardName.valid&&wardName.touched&&wardName.value){
                    <div class="text-left text-danger">Ward Name Required</div>
                    }
                    </c-col>

                    <c-col [md]="3">
                        <label cLabel for="zipCode">Post Code<span class="text-danger"></span></label>
                        <input [(ngModel)]="empPresentAddressService.empPresentAddress.zipCode" name="zipCode"
                            #zipCode="ngModel" placeholder="Enter Post Code" cFormControl id="zipCode" type="text"
                            pattern="[0-9]*" />
                        <!-- @if(!zipCode.valid&&zipCode.touched){
                      <div class="text-left text-danger">Place of Birth is required</div>
                      } -->
                        @if(!zipCode.valid&&zipCode.touched&&zipCode.value){
                        <div class="text-left text-danger">Invalid Phone Number</div>
                        }
                    </c-col>

                    <c-col [md]="4">
                        <label cLabel for="address">Village/Road<span class="text-danger"></span></label>
                        <input [(ngModel)]="empPresentAddressService.empPresentAddress.address" name="address"
                            #address="ngModel" placeholder="Enter Village/Road" cFormControl id="address" type="text" />
                        @if(!address.valid&&address.touched){
                        <div class="text-left text-danger">Village/Road is required</div>
                        }
                    </c-col>

                    <c-col [md]="4">
                        <label cLabel for="validationCustom08">Email<span class="text-danger"></span></label>
                        <input [(ngModel)]="empPresentAddressService.empPresentAddress.email" name="email"
                            #Email="ngModel" placeholder="Enter Email Address" cFormControl id="validationCustom08"
                            type="email" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" />
                        <!-- @if(!Email.value&&Email.touched){
                      <div class="text-left text-danger">Email is required</div>
                      } -->
                        @if(!Email.valid&&Email.touched&&Email.value){
                        <div class="text-left text-danger">Email is not valid</div>
                        }
                    </c-col>

                    <c-col [md]="4">
                        <label cLabel for="remark">Remark<span class="text-danger"></span></label>
                        <input [(ngModel)]="empPresentAddressService.empPresentAddress.remark" name="remark"
                            #remark="ngModel" placeholder="Enter remark" cFormControl id="remark" type="text" />
                        @if(!remark.valid&&remark.touched){
                        <div class="text-left text-danger">Remark is required</div>
                        }
                    </c-col>
                </form>
            </c-card-body>
        </c-card>


        <c-card class="mt-3 mb-3 shadow">
            <c-card-header>
                <div>Permanent Address</div>
            </c-card-header>
            <c-card-body>
                <div class="mb-3" *ngIf="presentAddressStatus">
                    <c-form-check [switch]="true">
                        <input cFormCheckInput type="checkbox" id="sameAddressCheckbox"
                            (change)="onPresentCheckboxChange($event)" [(ngModel)]="sameAsPresentAddress" />
                        <label cFormCheckLabel for="sameAddressCheckbox">Same as Present Address</label>
                    </c-form-check>
                </div>
                <form #EmpPermanentAddressForm="ngForm" [gutter]="3"
                    novalidate cForm cRow class="needs-validation">
                    <input type="hidden" [(ngModel)]="empPermanentAddressService.empPermanentAddress.id" name="id" />
                    <input type="hidden" [(ngModel)]="empPermanentAddressService.empPermanentAddress.empId"
                        name="empId" />

                    <c-col [md]="3">
                        <label cLabel for="validationCustom03">Country<span class="text-danger"></span></label>
                        <div class="input-wrapper">
                            <select
                                (change)="onPermanentAddressDivisionNamesChangeByCounterId(empPermanentAddressService.empPermanentAddress.countryId)"
                                [(ngModel)]="empPermanentAddressService.empPermanentAddress.countryId" name="countryId"
                                #countryId="ngModel" cFormControl id="validationCustom03"
                                aria-label="Default select example" cSelect
                                [class.readonly-select]="sameAsPresentAddress">
                                <option [ngValue]="null">Select Country</option>

                                @for(country of countris; track country.id;let index=$index) {
                                <option [value]="country.id">
                                    {{ country.name }}
                                </option>
                                }
                            </select>

                            @if(!countryId.valid && countryId.touched){
                            <div class="text-left text-danger">Country is required</div>
                            }
                        </div>
                    </c-col>

                    <c-col [md]="3">
                        <label cLabel for="validationCustom04">Division<span class="text-danger"></span></label>
                        <div class="input-wrapper">
                            <select
                                (change)="onPermanentAddressDistrictNamesChangeByDivisionId(empPermanentAddressService.empPermanentAddress.divisionId)"
                                [(ngModel)]="empPermanentAddressService.empPermanentAddress.divisionId"
                                name="divisionId" #divisionId="ngModel" cFormControl id="validationCustom04"
                                aria-label="Default select example" cSelect
                                [class.readonly-select]="sameAsPresentAddress">
                                <option [ngValue]="null">Select Division</option>
                                @for(division of permanentAddressdivisions; track division.id;let index=$index) {
                                <option [value]="division.id">
                                    {{ division.name }}
                                </option>
                                }
                            </select>
                            @if(!divisionId.valid && divisionId.touched){
                            <div class="text-left text-danger">Division is required</div>
                            }
                        </div>
                    </c-col>

                    <c-col [md]="3">
                        <label cLabel for="validationCustom05">District<span class="text-danger"></span></label>
                        <div class="input-wrapper">
                            <select
                                (change)="onPermanentAddressUpazilaNamesChangeByDistrictId(empPermanentAddressService.empPermanentAddress.districtId)"
                                [(ngModel)]="empPermanentAddressService.empPermanentAddress.districtId"
                                name="districtId" #districtId="ngModel" cFormControl id="validationCustom05"
                                aria-label="Default select example" cSelect
                                [class.readonly-select]="sameAsPresentAddress">
                                <option [ngValue]="null">Select District</option>

                                @for(district of permanentAddressdistricts; track district.id;let index=$index) {
                                <option [value]="district.id">
                                    {{ district.name }}
                                </option>
                                }
                            </select>

                            @if(!districtId.valid && districtId.touched){
                            <div class="text-left text-danger">District is required</div>
                            }
                        </div>
                    </c-col>

                    <c-col [md]="3">
                        <label cLabel for="validationCustom06">Upazila<span class="text-danger"></span></label>
                        <div class="input-wrapper">
                            <select
                                (change)="onPermanentAddressThanaNamesChangeByUpazilaId(empPermanentAddressService.empPermanentAddress.upazilaId)"
                                [(ngModel)]="empPermanentAddressService.empPermanentAddress.upazilaId" name="upazilaId"
                                #upazilaId="ngModel" cFormControl id="validationCustom06"
                                aria-label="Default select example" cSelect
                                [class.readonly-select]="sameAsPresentAddress">
                                <option [ngValue]="null">Select Upazila</option>

                                @for(upazila of permanentAddressupazilas; track upazila.id;let index=$index) {
                                <option [value]="upazila.id">
                                    {{ upazila.name }}
                                </option>
                                }
                            </select>

                            @if(!upazilaId.valid && upazilaId.touched){
                            <div class="text-left text-danger">Upazila is required</div>
                            }
                        </div>
                    </c-col>

                    <c-col [md]="3">
                        <label cLabel for="validationCustom07">Thana<span class="text-danger"></span></label>
                        <div class="input-wrapper">
                            <select
                                (change)="onPermanentAddressUnionNamesChangeByThanaId(empPermanentAddressService.empPermanentAddress.thanaId)"
                                [(ngModel)]="empPermanentAddressService.empPermanentAddress.thanaId" name="thanaId"
                                #thanaId="ngModel" cFormControl id="validationCustom07"
                                aria-label="Default select example" cSelect
                                [class.readonly-select]="sameAsPresentAddress">
                                <option [ngValue]="null">Select Thana</option>

                                @for(thana of permanentAddressthanas; track thana.id;let index=$index) {
                                <option [value]="thana.id">
                                    {{ thana.name }}
                                </option>
                                }
                            </select>

                            @if(!thanaId.valid && thanaId.touched){
                            <div class="text-left text-danger">Thana is required</div>
                            }
                        </div>
                    </c-col>

                    <c-col [md]="3">
                        <label cLabel for="unionName">Union<span class="text-danger"></span></label>
                        <input [(ngModel)]="empPermanentAddressService.empPermanentAddress.unionName" name="unionName" #unionName="ngModel"
                          placeholder="Enter Union Name" cFormControl id="unionName" type="text" 
                          [class.readonly-select]="sameAsPresentAddress" />
                        @if(!unionName.valid&&unionName.touched&&unionName.value){
                          <div class="text-left text-danger">Ward Name Required</div>
                        }
                      </c-col>
                
                      
                      <c-col [md]="3">
                        <label cLabel for="wardName">Ward<span class="text-danger"></span></label>
                        <input [(ngModel)]="empPermanentAddressService.empPermanentAddress.wardName" name="wardName" #wardName="ngModel"
                          placeholder="Enter Ward Name" cFormControl id="wardName" type="text" pattern="[0-9]*"
                          [class.readonly-select]="sameAsPresentAddress" />
                        @if(!wardName.valid&&wardName.touched&&wardName.value){
                          <div class="text-left text-danger">Ward Name Required</div>
                        }
                      </c-col>

                    <!-- <c-col [md]="3">
                        <label cLabel for="validationCustom08">Union<span class="text-danger"></span></label>
                        <div class="input-wrapper">
                            <select
                                (change)="onPermanentAddressWardNamesChangeByUnionId(empPermanentAddressService.empPermanentAddress.unionId)"
                                [(ngModel)]="empPermanentAddressService.empPermanentAddress.unionId" name="unionId"
                                #unionId="ngModel" cFormControl id="validationCustom08"
                                aria-label="Default select example" cSelect
                                [class.readonly-select]="sameAsPresentAddress">
                                <option [ngValue]="null">Select Union</option>

                                @for(union of permanentAddressunions; track union.id;let index=$index) {
                                <option [value]="union.id">
                                    {{ union.name }}
                                </option>
                                }
                            </select>

                            @if(!unionId.valid && unionId.touched){
                            <div class="text-left text-danger">Union is required</div>
                            }
                        </div>
                    </c-col>



                    <c-col [md]="3">
                        <label cLabel for="validationCustom09">Ward<span class="text-danger"></span></label>
                        <div class="input-wrapper">
                            <select [(ngModel)]="empPermanentAddressService.empPermanentAddress.wardId" name="wardId"
                                #wardId="ngModel" cFormControl id="validationCustom09"
                                aria-label="Default select example" cSelect
                                [class.readonly-select]="sameAsPresentAddress">
                                <option [ngValue]="null">Select Ward</option>

                                @for(ward of permanentAddresswards; track ward.id;let index=$index) {
                                <option [value]="ward.id">
                                    {{ ward.name }}
                                </option>
                                }
                            </select>

                            @if(!wardId.valid && wardId.touched){
                            <div class="text-left text-danger">Ward is required</div>
                            }
                        </div>
                    </c-col> -->

                    <c-col [md]="3">
                        <label cLabel for="zipCode">Post Code<span class="text-danger"></span></label>
                        <input [(ngModel)]="empPermanentAddressService.empPermanentAddress.zipCode" name="zipCode"
                            #zipCode="ngModel" placeholder="Enter Post Code" cFormControl id="zipCode" type="text"
                            pattern="[0-9]*"/>
                        <!-- @if(!zipCode.valid&&zipCode.touched){
                          <div class="text-left text-danger">Place of Birth is required</div>
                          } -->
                        @if(!zipCode.valid&&zipCode.touched&&zipCode.value){
                        <div class="text-left text-danger">Invalid Zip Code</div>
                        }
                    </c-col>

                    <c-col [md]="4">
                        <label cLabel for="address">Village/Road<span class="text-danger"></span></label>
                        <input [(ngModel)]="empPermanentAddressService.empPermanentAddress.address" name="address"
                            #address="ngModel" placeholder="Enter Village/Road" cFormControl id="address" type="text"/>
                        @if(!address.valid&&address.touched){
                        <div class="text-left text-danger">Village/Road is required</div>
                        }
                    </c-col>

                    <c-col [md]="4">
                        <label cLabel for="validationCustom08">Email<span class="text-danger"></span></label>
                        <input [(ngModel)]="empPermanentAddressService.empPermanentAddress.email" name="email"
                            #Email="ngModel" placeholder="Enter Email Address" cFormControl id="validationCustom08"
                            type="email" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"/>
                        <!-- @if(!Email.value&&Email.touched){
                          <div class="text-left text-danger">Email is required</div>
                          } -->
                        @if(!Email.valid&&Email.touched&&Email.value){
                        <div class="text-left text-danger">Email is not valid</div>
                        }
                    </c-col>

                    <c-col [md]="4">
                        <label cLabel for="remark">Remark<span class="text-danger"></span></label>
                        <input [(ngModel)]="empPermanentAddressService.empPermanentAddress.remark" name="remark"
                            #remark="ngModel" placeholder="Enter remark" cFormControl id="remark" type="text" />
                        @if(!remark.valid&&remark.touched){
                        <div class="text-left text-danger">Remark is required</div>
                        }
                    </c-col>
                </form>
            </c-card-body>
        </c-card>
        <div>
            <button [disabled]="loading" [disabled]="EmpPresentAddressForm.invalid && EmpPermanentAddressForm.invalid" cButton
                class="me-1" color="primary" (click)="onSubmit(EmpPresentAddressForm, EmpPermanentAddressForm)">
                <c-spinner [hidden]="loading == false" size="sm"></c-spinner>
                {{ btnText }}
            </button>
            <button cButton color="secondary" (click)="resetForm()">Reset</button>
        </div>
    </c-card-body>
</c-card>