<c-card>
  <c-card-header class=""> {{headerText}} </c-card-header>
  <c-card-body>
    <c-card class="shadow mb-3">
      <c-card-body cCollapse [visible]="updateWindowVisible">
        <form
          [gutter]="3"
          cForm
          #updateAtdform="ngForm"
          (ngSubmit)="onSubmit()"
        >

          <c-row [gutter]="3">
            <c-col md="3">
              <label for="Employee"
                >Employee<span class="text-danger">*</span></label
              >
              <select
                name="empId"
                id="Employee"
                cSelect
                required
                disabled
              >
              <option selected [value]="selectedEmp.id">{{selectedEmp.name}}</option>
              </select>
            </c-col>

            <c-col md="3">
              <label for="Shifts"
                >Shift<span class="text-danger">*</span></label
              >
              <select
                name="shiftId"
                id="Shifts"
                cSelect
                disabled
                required
              >
              <option [value]="selectedUpdateShift.id">{{selectedUpdateShift.name}}</option>
              </select>
            </c-col>

            <c-col md="4">
              <label for="AtdDate"
                >Date<span class="text-danger">*</span></label
              >
              <input
                name="attendanceDate"
                placeholder="Enter a date"
                id="AtdDate"
                type="date"
                [(ngModel)]="this.AtdRecordService.UpdateAtdModel.attendanceDate"
                required
                cFormControl
              />
            </c-col>
            <c-col md="4">
              <label for="AtdInTime">In Time</label>
              <input
                name="inTime"
                placeholder="Enter InTime"
                id="AtdInTime"
                [(ngModel)]="this.AtdRecordService.UpdateAtdModel.inTime"
                type="time"
                cFormControl
              />
            </c-col>
            <c-col md="4">
              <label for="AtdOutTime">Out Time</label>
              <input
                name="outTime"
                placeholder="Enter OutTime"
                [(ngModel)]="this.AtdRecordService.UpdateAtdModel.outTime"
                id="AtdOutTime"
                type="time"
                cFormControl
              />
            </c-col>

            <c-col md="4">
              <label for="AtdStatus">Status</label>
              <select
                name="attendanceStatusId"
                id="AtdStatus"
                [(ngModel)] = "this.AtdRecordService.UpdateAtdModel.attendanceStatusId"
                cSelect
              >

              <option [ngValue]="null">Set Automatically</option>
              @for (status of AtdStatusOption; track $index) {

                @if(status.id==this.AtdRecordService.UpdateAtdModel.attendanceStatusId) {
                    <option [value]="status.id" selected>{{status.name}}</option>
                } @else {
                    <option [value]="status.id">{{status.name}}</option>
                }
              }
              </select>
            </c-col>

            <c-col md="4">
              <label for="Remark">Remark</label>
              <input
                type="text"
                name="remark"
                id="Remark"
                [(ngModel)]="this.AtdRecordService.UpdateAtdModel.remark"
                cFormControl
              />
            </c-col>
            <c-col [xs]="12">
              <div class="d-flex justify-content-between">
                <div>
                  <button
                    cButton
                    [disabled]="loading"
                    class="me-1"
                    color="primary"
                    type="submit"
                  >
                    <c-spinner
                      [hidden]="loading == false"
                      size="sm"
                    ></c-spinner>
                    Update
                  </button>
                  <button cButton color="secondary">
                    Reset
                  </button>
                </div>
                <div>
                  <button  cButton color="danger" (click)="onCollapse()">
                    Cancel
                  </button>
                </div>
              </div>
            </c-col>
          </c-row>
        </form>
      </c-card-body>
    </c-card>
<!--     <c-row>
      <c-col md="3">
        <label for="selectOffice" cLabel>Office</label>
        <select
          name="office"
          id="selectOffice"
          [(ngModel)]="selectedOffice"
          cSelect
        >
          @for (office of OfficeOption; track $index) {
          <option [value]="office.id">office.name</option>
          }
        </select>
      </c-col>
      <c-col md="3">
        <label for="selectDepartment" cLabel>Department</label>
        <select
          name="department"
          id="selectDepartment"
          [(ngModel)]="selectedDepartment"
          cSelect
        >
          @for (department of DepartmentOption; track $index) {
          <option [value]="department.id">department.name</option>
          }
        </select>
      </c-col>
      <c-col md="3">
        <label for="selectShift" cLabel>Shift</label>
        <select
          name="shift"
          id="selectShift"
          [(ngModel)]="selectedShift"
          cSelect
        >
          @if (ShiftOption.length<=0) {
          <option value="" disabled>No Option Available</option>
          } @for (shift of ShiftOption; track $index) {
          <option [value]="shift.id">shift.name</option>
          }
        </select>
      </c-col>
    </c-row> -->

    <c-row>
      <c-row [gutter]="3">
        <c-col md="4">
          <c-input-group>
            <span cInputGroupText class="bg-white">
              <svg [cIcon]="icons.cilZoom" size="lg"></svg>
            </span>
            <input
              class="border-start-0 ps-0 shadow-none"
              cFormControl
              type="text"
              [(ngModel)]="searchKeyword"
              (input) = "onSearch()"
              placeholder="Search keyword"
            />
          </c-input-group>

        </c-col>

      </c-row>
      <c-row class="mt-3" [gutter]="3">
        <c-col md="3">
            <p-calendar
            [showClear]="true"
            [style]="{height: '2.37rem'}"
            name="dateRange"
            [(ngModel)]="selectedDate" 
            view="month"
            dateFormat="mm/yy"
            [readonlyInput]="true"
            showIcon="true"
            placeholder="Select Year and Month"
            (ngModelChange)="getFilteredAttendance(true)"
            (onClear)="getFilteredAttendance(true)"
            />
        </c-col>
        <c-col *ngIf="!isUser" md="3">
          <select 
          cSelect
          [(ngModel)]="selectedDepartment"
          (change)="onDepartmentChange()"
          name="department" 
          id="department">
            <option [ngValue]="null">Select Department</option>
            @for (item of DepartmentOption; track $index) {
              <option [ngValue]="item.id">{{item.name}}</option>
            }
          </select>
        </c-col>
        <c-col *ngIf="!isUser" md="3">
          <select 
          [(ngModel)]="selectedSection"
          (change)="onSectionChange()"
          cSelect 
          name="section" 
          id="section">
            <option [ngValue]="null">Select Section</option>
            @for (item of SectionOption; track $index) {
              <option [ngValue]="item.id">{{item.name}}</option>
            }
          </select>
        </c-col>
      </c-row>
      <div class="mt-3 mat-elevation-z8 table-responsive">
        <table class="mt-4" mat-table matSort [dataSource]="dataSource">
          <ng-container matColumnDef="slNo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Serial No</th>
            <td mat-cell *matCellDef="let element; let i = index">
              {{ i + 1 }}
            </td>
          </ng-container>

          <!--<ng-container matColumnDef="attendanceId">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Attendance ID</th>
            <td mat-cell *matCellDef="let element">
              {{ element.attendanceId }}
            </td>
          </ng-container>-->


          <ng-container matColumnDef="fullName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Employee Name</th>
            <td mat-cell *matCellDef="let element">
              {{element.fullName}} ({{element.idCardNo}})
            </td>
          </ng-container>

          <ng-container matColumnDef="attendanceDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
            <td mat-cell *matCellDef="let element">
              {{element.attendanceDate|date}}
            </td>
          </ng-container>

          <ng-container matColumnDef="inTime">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>In Time</th>
            <td mat-cell *matCellDef="let element">
              {{ element.inTime | timeFormat }}
            </td>
          </ng-container>

          <ng-container matColumnDef="outTime">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by outTime">Out Time</th>
            <td mat-cell *matCellDef="let element">
              {{ element.outTime | timeFormat }}
            </td>
          </ng-container>

          <ng-container matColumnDef="lateTime">
            <th mat-header-cell *matHeaderCellDef>Late</th>
            <td mat-cell *matCellDef="let element">
              {{element.lateTime}}m
            </td>
          </ng-container>

          <ng-container matColumnDef="dayTypeName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Day Type</th>
            <td mat-cell *matCellDef="let element">
              {{ element.dayTypeName }}
            </td>
          </ng-container>

          <ng-container matColumnDef="attendanceStatusName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
            <td mat-cell *matCellDef="let element">
              <label class="attendanceStatus" (click)="nevigateToApplication(element.leaveRequestId, element.siteVisitId)">{{ element.attendanceStatusName }}</label>
            </td>
          </ng-container>

          <ng-container matColumnDef="Action">
            <th mat-header-cell *matHeaderCellDef>Action</th>
            <td mat-cell *matCellDef="let element">
              <button *ngIf="featurePermission.update" class="custom-button" (click)="update(element)">
                <svg cIcon name="cilPencil"></svg>
              </button>
              <button *ngIf="featurePermission.delete" class="custom-button" (click)="delete(element)">
                <svg cIcon name="cilTrash"></svg>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </div>
    </c-row>
  </c-card-body>
  <c-card-footer class="text-medium-emphasis">
    <mat-paginator
      #paginator
      [pageIndex]="pageIndex"
      [pageSize]="pageSize"
      [length]="totalRecord"
      appBubblePagination
      [pageSizeOptions]="[5, 10, 25, 50, 100]"
      aria-label="Select page"
      (page)="onPageChange($event)"
    >
    </mat-paginator>
  </c-card-footer>
</c-card>
